<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/style.css"/>
        <script type="text/javascript" src="../../../../../resources/js/global.js"></script>
        
        <script type="text/javascript" src="../../../../../resources/js/printZPL/dependencies/rsvp-3.1.0.min.js?v=#{securityEngineData.versionApp}"></script>
        <script type="text/javascript" src="../../../../../resources/js/printZPL/dependencies/sha-256.min.js?v=#{securityEngineData.versionApp}"></script>
        <script type="text/javascript" src="../../../../../resources/js/printZPL/qz-tray.js?v=#{securityEngineData.versionApp}"></script> 
        
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <script type="text/javascript" src="../../../../../resources/js/formatCurrency/jquery.formatCurrency-1.4.0.js?v=#{securityEngineData.versionApp}"></script>
        <script type="text/javascript" >
          function onchangeInut(value){
              alert(value);
          }
        </script>

    </h:head>
    <h:body   styleClass="bodyContent">
        <f:view locale="#{securityEngineData.locale}" >             
                <h:form rendered="true" id="form">
                    <p:growl id="messages" autoUpdate="true" showDetail="true" sticky="true" />
                    <p:remoteCommand name="onblurEvent" process="@this ,  form:TableTarif" onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"                                 
                                     actionListener="#{catTarifController.validachangeInput()}"/>                      

                    <p:dataTable id="TableTarif" var="tarif" value="#{catTarifController.listDTListTarifMaster}" 
                                 rowKey="#{tarif.kms}"
                                 paginator="false" 
                                 selection="#{catTarifController.selectionListTarif}" 
                                 selectionMode="single"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rows="10" 
                                 emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}" 
                                 widgetVar="radbuzonWV"                             
                                 >
                        <f:facet name="header">
                            <div style="text-align: left;">
                                <p:commandButton value="Historico" process="@this , form:TableTarifDetail" 
                                                 id="getHistory"   styleClass="fa fa-calendar" 
                                                 onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" 
                                                 update="form:dialogDetailByZone"
                                                 actionListener="#{catTarifController.getHistoryByZone()}"
                                                 />                             
                            </div>
                        </f:facet>
                        
                        <p:ajax event="rowSelect" process="form:TableTarif"  />
<!--                        listener="{catTarifController.onRowSelect}"-->
                        <p:columnGroup type="header">
                            <p:row>
                                <p:column colspan="1" headerText=" " />
                                <p:column colspan="1" headerText=" " />
                                <p:column colspan="2" headerText="Estandar" />
                                <p:column colspan="2" headerText="Dia siguiente" />
                                <p:column colspan="2" headerText="Mismo día" />
                            </p:row>             
                            <p:row>
                                <p:column colspan="1" headerText="Zona" />
                                <p:column colspan="1" headerText="Kms" />
                                <p:column colspan="1" headerText="Normal" />
                                <p:column colspan="1" headerText="Kg ad" />                            

                                <p:column colspan="1" headerText="Normal" />
                                <p:column colspan="1" headerText="Kg ad" />                            

                                <p:column colspan="1" headerText="Normal" />
                                <p:column colspan="1" headerText="Kg ad" />                                                        
                            </p:row>
                        </p:columnGroup>
                        <p:column headerText="Zona" styleClass="width150 alginCenter" >
                            <h:outputText value="#{tarif.zone}" style="width:96%;color: #000!important;"/>
                        </p:column>      
                        <p:column headerText="Kms" styleClass="width150 alginCenter" >
                            <h:outputText value="#{tarif.kms}" style="width:96%;color: #000!important;"/>
                        </p:column>                                        
                        <p:column headerText="Estandar" styleClass="width150 alginCenter" >
                            <p:inputText id="estandar" onblur="checkValue(this)" maxlength="10" onkeypress="return isNumberKey(event, this)" value="#{tarif.estandar}" style="width: 50px;color: #000!important;text-align: right;" />
                        </p:column>
                        <p:column headerText="Estandar adicinal" styleClass="width150 alginCenter" >
                            <p:inputText id="estandarKgAdtxt" onblur="checkValue(this)" maxlength="10" onkeypress="return isNumberKey(event, this)" value="#{tarif.estandarKgAd}" style="width: 50px;color: #000!important;text-align: right;"/>
                        </p:column>                                
                        <p:column headerText="Día siguiente" styleClass="width150 alginCenter"  >
                            <p:inputText id="diaSiguiente" onblur="checkValue(this)" maxlength="10" onkeypress="return isNumberKey(event, this)"  value="#{tarif.diaSiguiente}" style="width:50px;color: #000!important;text-align: right;"/>                        
                        </p:column>
                        <p:column headerText="Dia siguiente adicinal" styleClass="width150 alginCenter" >
                            <p:inputText id="diaSiguienteKgAd" onblur="checkValue(this)" maxlength="10" onkeypress="return isNumberKey(event, this)"  value="#{tarif.diaSiguienteKgAd}" style="width:50px;color: #000!important;text-align: right;"/>                        
                        </p:column>                                
                        <p:column headerText="Mismo día" styleClass="width150 alginCenter" >
                            <p:inputText id="mismoDia" onblur="checkValue(this)" maxlength="10" onkeypress="return isNumberKey(event, this)" value="#{tarif.mismoDia}" style="width:50px;color: #000!important;text-align: right;"/>                    
                        </p:column>                              
                        <p:column headerText="Mismo dia kg ad" styleClass="width150 alginCenter" >
                            <p:inputText id="mismoDiaKgAd" onblur="checkValue(this)" maxlength="10" onkeypress="return isNumberKey(event, this)" value="#{tarif.mismoDiaKgAd}" style="width:50px;color: #000!important;text-align: right;"/>                    
                        </p:column>                              
                                                                       
                    </p:dataTable>
<!--                      <p:commandButton value="Prueba imprimir" process="@this" style=""
                                             id="prueba"   styleClass="fa fa-check-square-o divContentButtonsSave" 
                                             actionListener="{catTarifController.pruebaImpresion()}"
                                             oncomplete="initPrinterSEG();"
                                             />    -->
                      <p:inputTextarea id="txtZPLGrouping" autoResize="false" style="display: none;" value="#{catTarifController.zpl}" />
                    <div class="divContentButtons">

                        <p:commandButton value="#{msgs['enginedata.page.save-button-label']}" process="@this, form:TableTarif"
                                         id="Save"   styleClass="GreenButton fa fa-floppy-o divContentButtonsSave" 
                                         actionListener="#{catTarifController.saveCatTarif()}" 
                                         onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"
                                         />                         

                    </div>
                    
                    <p:dialog id="dialogDetailByZone" header="Historico de movimientos por zona" widgetVar="dialogDetailByZoneWV" modal="true" > 
                        <div>
                            <p:outputLabel value="Zona " style="color: #000!important;"/>
                            <p:outputLabel value="#{catTarifController.selectionListTarif.zone}."  style="font-family:'GothamPQXBold'!important;color: #000!important;"/>
                        </div>
                        <div style="margin-bottom: 10px;">
                            <p:outputLabel value=" Rango de km " style="color: #000!important;"/>
                            <p:outputLabel value="#{catTarifController.selectionListTarif.kms}."  style="font-family:'GothamPQXBold'!important;color: #000!important;"/>                            
                        </div>

                        <p:dataTable id="TableTarifDetail" var="tarif" value="#{catTarifController.listDetailByZone}" 
                                     rowKey="#{tarif.zone}" style="width: 600px;"
                                     paginator="false" 
                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     scrollable="true" scrollHeight="150"
                                     emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}" 
                                     styleClass="dtHeightRow40 dt-export dtHeight100 headerDtExportsHidden dtRowTooltip"                              
                                     >
                            <p:column headerText="Fecha" styleClass="width60" >
                                <p:outputLabel value="#{tarif.crtdOn}" style="color: #000!important;"/>
                            </p:column>                                             
                            <p:column headerText="Kgs" styleClass="width30" >
                                <p:outputLabel value="#{tarif.amnt}" style="color: #000!important;"/>
                            </p:column>                           
                            <p:column headerText="Kgs adicional" styleClass="width30" >
                                <p:outputLabel value="#{tarif.costoKgAdicional}" style="color: #000!important;"/>
                            </p:column>
                            <p:column headerText="Usuario" styleClass="width40" >
                                <p:outputLabel value="#{tarif.crtdBy}" style="color: #000!important;"/>
                            </p:column>                               
<!--                            <p:column headerText="Evento" styleClass="width30" >
                                <p:outputLabel value="{tarif.stusFlag}" style="color: #000!important;"/>
                            </p:column>                                                                      -->
                        </p:dataTable>
                    
                        <div class="divContentButtons">
       
                            <p:commandButton value="Aceptar" process="@this" style=""
                                             id="closeHistory"   styleClass="fa fa-check-square-o divContentButtonsSave" 
                                             onclick="PF('dialogDetailByZoneWV').hide()"
                                             />                         
  
                        </div>

                    </p:dialog>
           

                </h:form>
         </f:view> 

        <p:dialog widgetVar="statusDialog" style="border-radius: 50%; text-align: center;" modal="true" draggable="false" closable="false" resizable="false" showHeader="false" appendTo="@(#zoneDialogs)"  >
            <img src="../../../../../resources/images/i_g_fleet.gif" style="width: 200px;"/>
            <strong style="display: block; text-align: center;">#{msgs['enginedata.page.general.label.cargando']}</strong>
        </p:dialog>
        <script type="text/javascript" src="../../../../../resources/js/printZPL/printZPL.js"></script>
    </h:body>
</html>