<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/style.css"/>
        <script type="text/javascript" src="../../../../../resources/js/global.js"></script>
        <!--Este estilo oculta los filter de cada columna-->
        <style type="text/css">
            .ui-datatable .ui-column-filter{display: none;}
            .ui-chkbox .ui-chkbox-label{
                color: #FFFFFF !important;
            }
        </style>

    </h:head>

    <h:body onload="#{comConfigurationByCustomerController.onLoad()}" styleClass="bodyContent">
        <f:view locale="#{securityEngineData.locale}" >
            <h:form id="frmTable" rendered="true" onsubmit="return false;" onkeypress="return event.keyCode !== 13">
                <p:focus id="focus3" context="panel1" />
                <p:panel header="#{msgs['enginedata.page.commercial.configuration.comConfigurationByCustomer.title']}" id="panel1" styleClass="FiltrosHeader generic100Height" >
                    <p:growl id="message" showDetail="true" autoUpdate="true" life="4500" />
                    <!-- DATATABLE -->
                    <p:dataTable id="lazyDataTable" var="customerCtrlDTO" value="#{comConfigurationByCustomerController.ldmDefault}"  widgetVar="lazyDataTable"
                                 filteredValue="#{comConfigurationByCustomerController.filteredCustomerCtrlDTO}" rows="#{comConfigurationByCustomerController.numRowPaginator}"
                                 selection="#{comConfigurationByCustomerController.selectedCustomerCtrlDTO}" 
                                 rendered="true" lazy="true" selectionMode="single"
                                 reflow="true" paginator="true"
                                 rowKey="#{customerCtrlDTO.clntId}" paginatorPosition="bottom" 
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}"
                                 rowsPerPageTemplate="#{comConfigurationByCustomerController.arrayRowPaginator}" styleClass="dtHeight100 dt-reflow dt-selectedrow-1 dt-datos">
                        <p:ajax event="filter" listener="#{comConfigurationByCustomerController.filterListener}" update="@this"/>
                        <p:ajax event="rowDblselect" listener="#{comConfigurationByCustomerController.onRowDblClckSelect}" onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();" update=":docDlgUpdate :updateForm" global="false" />
                        <!-- COLUMNS -->
                        <f:facet name="header" class="headerDt" id="headerDt">
                            <div class="ui-grid ui-grid-responsive headerDTFilters">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-3">
                                        <p:commandButton process="@this" update=":docDlgUpdate :updateForm" id="addRow" actionListener="#{comConfigurationByCustomerController.configurarDialogOperacion('1')}"  onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();" icon="ui-icon-plusthick" value="#{msgs['enginedata.page.general.catalogs.lstUser.addRow']}">
                                            <!--<p:ajax update=":updateForm" resetValues="true" />-->
                                        </p:commandButton>
                                        <p:commandButton process="@this" update=":docDlgUpdate :updateForm" id="btnUpdate" action="#{comConfigurationByCustomerController.configurarDialogOperacion('2')}" icon="ui-icon-pencil"  value="#{msgs['enginedata.page.update-button-label']}">
                                            <p:ajax update=":updateForm" resetValues="true" />
                                        </p:commandButton>
                                    </div>
                                    <div class="ui-grid-col-5">
                                        <h:outputText id="lblBusqueda" value="#{msgs['enginedata.page.general.catalogs.lstUser.lblBusqueda']}" />
                                        <p:inputText id="globalFilter" onkeyup="PF('lazyDataTable').filter()" style="width:150px" placeholder="#{msgs['enginedata.page.general.catalogs.lstUser.globalFilter']}" >
                                        </p:inputText>
                                    </div>
                                    <div class="ui-grid-col-4">
                                        <h:commandLink>
                                            <p:graphicImage name="/images/excel.png" width="24"/>
                                            <p:dataExporter type="xls" target="lazyDataTable" fileName="lazyModel" />
                                        </h:commandLink>

                                        <h:commandLink>
                                            <p:graphicImage name="/images/pdf.png" width="24"/>
                                            <p:dataExporter type="pdf" target="lazyDataTable" fileName="lazyModel"/>
                                        </h:commandLink>

                                        <h:commandLink>
                                            <p:graphicImage name="/images/csv.png" width="24"/>
                                            <p:dataExporter type="csv" target="lazyDataTable" fileName="lazyModel" />
                                        </h:commandLink>

                                        <h:commandLink>
                                            <p:graphicImage name="/images/xml.png" width="24"/>
                                            <p:dataExporter type="xml" target="lazyDataTable" fileName="lazyModel" />
                                        </h:commandLink>
                                    </div>
                                </div>
                            </div>
                        </f:facet>

                        <p:column styleClass="width40" sortBy="#{customerCtrlDTO.clntId}" filterBy="#{customerCtrlDTO.clntId}" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.cliente']}" /></f:facet>
                            <h:outputText value="#{customerCtrlDTO.clntId}" />
                        </p:column>

                        <p:column sortBy="#{customerCtrlDTO.clntName}" filterBy="#{customerCtrlDTO.clntName}"  filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.utileria.busqueda.busquedaCliente.frmBusquedaCliente.column.nombre']}" /></f:facet>
                            <h:outputText value="#{customerCtrlDTO.clntName}" />
                        </p:column>
                    </p:dataTable>
                </p:panel>
            </h:form>          
        </f:view> 
        <!-- DIALOGS -->
        <p:dialog closeOnEscape="true" height="450" width="830" header="#{comConfigurationByCustomerController.titleDialogOperation}" responsive="true" widgetVar="updateDialog" resizable="true" id="docDlgUpdate" modal="true">
            <h:form id="updateForm" onkeypress="return event.keyCode !== 13" onsubmit="false">
                <p:panel id="pnelContenido"> 
                    <p:focus id="focus" context="pnelContenido"/>
                    <div id="capa"></div>
                    <div class="ui-grid ui-grid-responsive">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">  
                                <p:outputLabel for="txtCdClientReqID" value="#{msgs['enginedata.page.general.label.cliente']}" /><br></br>
                                <p:inputText id="txtCdClientReqID" autocomplete="off" label="#{msgs['enginedata.page.general.label.cliente']}" tabindex="1" value="#{comConfigurationByCustomerController.selectedCustomerCtrlDTO.clntId}" style="width: 83px;margin-right: 5px;" required="true"
                                             onfocus="$('#capa').data('valueCdClientReqID', this.value);"
                                             onblur="if (($('#capa').data('keyCode') != 120) &amp;&amp; ($('#capa').data('valueCdClientReqID') != this.value)){
                                                     document.getElementById('updateForm:cmdBtnReqClientIDDirecto').click();
                                                 }
                                                 $('#capa').removeData('keyCode');"
                                             onkeyup="if (event.keyCode == 13 || event.keyCode == 119) {
                                                     if ($(this).val() == '') {
                                                         recorreFocus(2);
                                                     } else {
                                                         event.target.blur();
                                                         event.stopPropagation();
                                                         return false;
                                                     }
                                                 } else if (event.keyCode == 120) {
                                                     $('#capa').data('keyCode', event.keyCode);
                                                     rcBtnReqClientID();
                                                     return false;
                                                 } else {
                                                     return true;
                                                 }"
                                             title="#{msgs['enginedata.page.general.label.f9']}"
                                             />

                                <p:tooltip id="txtCdClientReqIDTool" for="txtCdClientReqID" showEvent="focus" hideEvent="blur" />

                                <p:remoteCommand name="rcBtnReqClientID" onstart="document.getElementById('updateForm:btnReqClientID').click();PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();" process="@this, btnReqClientID" />
                                <p:remoteCommand name="rcBtnReqClientName" action="#{comConfigurationByCustomerController.clientNameF12()}" onstart="document.getElementById('updateForm:btnReqClientID').click();PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();"  process="@this, updateForm:txtCdClientNameReq" immediate="true" />
                                <p:commandButton id="btnReqClientID" onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();" oncomplete="PF('statusDialog').hide();" widgetVar="btnReqClientIDW" icon="ui-icon-search" tabindex="1" action="#{comConfigurationByCustomerController.chooseCustomer()}" immediate="true">
                                    <p:ajax event="dialogReturn" update="txtCdClientReqID txtCdClientNameReq"  onsuccess="PF('statusDialog').hide();" listener="#{comConfigurationByCustomerController.onCustomerChosen}" />
                                </p:commandButton>
                                <p:commandButton id="cmdBtnReqClientIDDirecto" onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();" style="display: none;" actionListener="#{comConfigurationByCustomerController.findClientByCode()}" process="@this, txtCdClientReqID" update="txtCdClientReqID txtCdClientNameReq">
                                    <p:ajax event="dialogReturn"  listener="#{comConfigurationByCustomerController.onCustomerChosen}" onsuccess="PF('statusDialog').hide()" update="txtCdClientReqID txtCdClientNameReq" />
                                </p:commandButton>
                            </div>
                            <div class="ui-grid-col-6">
                                <p:outputLabel  for="txtCdClientNameReq" value="#{msgs['enginedata.page.general.catalogs.lstUser.lazyDataTable.colum.nombreCliente']}" /><br></br>
                                <p:inputText id="txtCdClientNameReq" style="width: 90%" tabindex="2" value="#{comConfigurationByCustomerController.selectedCustomerCtrlDTO.clntName}" label="#{msgs['enginedata.page.general.catalogs.lstUser.lazyDataTable.colum.nombreCliente']}" required="true" autocomplete="off" maxlength="100" 
                                             binding="#{comConfigurationByCustomerController.txtCdClientNameReq}"
                                             onkeyup="if (event.keyCode == 120) {
                                                     $('#capa').data('keyCode', event.keyCode);
                                                     rcBtnReqClientName();
                                                     return false;
                                                 } else {
                                                     return true;
                                                 }
                                                 ;"
                                             title="#{msgs['enginedata.page.general.label.f9']}"/>
                                <p:tooltip id="txtCdClientNameReqTool" for="txtCdClientNameReq" showEvent="focus" hideEvent="blur" />
                            </div>
                        </div>
                        <div class="ui-grid-row" style="margin-top: 10px">
                            <div class="ui-grid-col-6">
                                <p:fieldset id="availableCarsField" legend="#{msgs['enginedata.page.commercial.configuration.comConfigurationByCustomer.fieldSetTitleParametrosNoPermitidos']}">
                                    <p:dataTable id="lstParameterSource" var="car" value="#{comConfigurationByCustomerController.ldmDefaultCustomerCtrlSource}"
                                                 selection="#{comConfigurationByCustomerController.selectedCustomerCtrlDTOSource}"
                                                 reflow="true" selectionMode="single"
                                                 rowKey="#{car.parmType}" lazy="true"  
                                                 rows="100" scrollable="true" scrollHeight="250" 
                                                 paginator="false" paginatorPosition="bottom" 
                                                 emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}"
                                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                 currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}"
                                                 rowsPerPageTemplate="#{comConfigurationByCustomerController.getArrayRowPaginator()}"
                                                 styleClass=" dt-datos dtResponsive dtpaginator100 seleccionarCPRow">
                                        <p:column style="width:20px">
                                            <h:outputText id="dragIcon" styleClass="ui-icon ui-icon-arrow-4" />
                                            <p:draggable  for="dragIcon" revert="true" helper="clone"/>
                                        </p:column>
                                        <p:column headerText="#{msgs['enginedata.page.general.label.parametro']}">
                                            <h:outputText value="#{car.parmName}" />
                                        </p:column>
                                    </p:dataTable>
                                </p:fieldset>
                            </div>
                            <div class="ui-grid-col-2" style="position: relative; " >
                                <div style="position: absolute; top: 37%;" >
                                    <p:commandButton id="ss" styleClass="fa fa-plus" style="margin-bottom: 10px;" value="#{msgs['enginedata.page.add-button-label']}" process="@this, lstParameterSource" actionListener="#{comConfigurationByCustomerController.operationProfileRoleDTO('1')}" update="lstParameterSource lstParameterTarget"/>
                                    <p:commandButton id="tt" styleClass="fa fa-times" value="#{msgs['enginedata.page.quitar-button-label']}" process="@this, lstParameterTarget" actionListener="#{comConfigurationByCustomerController.operationProfileRoleDTO('2')}" update="lstParameterTarget lstParameterSource"/>
                                </div>
                            </div>
                            <div class="ui-grid-col-6">
                                <p:fieldset id="selectedCars" legend="#{msgs['enginedata.page.commercial.configuration.comConfigurationByCustomer.fieldSetTitle']}">
                                    <p:dataTable id="lstParameterTarget" var="car" value="#{comConfigurationByCustomerController.ldmDefaultCustomerCtrlTarget}"
                                                 selection="#{comConfigurationByCustomerController.selectedCustomerCtrlDTOTarget}"
                                                 reflow="true" selectionMode="single" binding="#{comConfigurationByCustomerController.dtParameterTarget}"
                                                 rowKey="#{car.parmType}" lazy="true"  
                                                 rows="100" scrollable="true" scrollHeight="250" 
                                                 paginator="false" paginatorPosition="bottom" 
                                                 emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}"
                                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                 currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}"
                                                 rowsPerPageTemplate="#{comConfigurationByCustomerController.getArrayRowPaginator()}" editable="true" editMode="cell"
                                                 styleClass=" dt-datos dtResponsive dtpaginator100 seleccionarCPRow">">
                                        <f:facet name="header">
                                            <div class="ui-grid ui-grid-responsive">
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-12" style="text-align: right">
                                                            <p:selectBooleanCheckbox id="chkGeneraTODOS" valueChangeListener="#{comConfigurationByCustomerController.activeParameterAll}">
                                                                <p:ajax process="@this" update=":updateForm:lstParameterTarget" event="valueChange"  />
                                                            </p:selectBooleanCheckbox>
                                                        <p:outputLabel value="#{msgs['enginedata.page.label-active']}" style="color: #FFFFFF !important;"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </f:facet>
                                        <p:column style="width:20px">
                                            <h:outputText id="dragIcon" styleClass="ui-icon ui-icon-arrow-4" />
                                            <p:draggable for="dragIcon" revert="true" helper="clone"/>
                                        </p:column>
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="#{msgs['enginedata.page.general.label.parametro']}" /></f:facet>
                                            <h:outputText value="#{car.parmName}" />
                                        </p:column>
                                        <p:column headerText="#{msgs['enginedata.page.label-active']}" style="width:50px">
                                            <f:facet name="header">
                                                <h:outputText value="#{msgs['enginedata.page.label-active']}" /></f:facet>
                                            <p:selectBooleanCheckbox id="chxActivo" value="#{car.activo}" label="#{msgs['enginedata.page.label-active']}" valueChangeListener="#{comConfigurationByCustomerController.activeParameter}">
                                                <p:ajax process="@this" event="valueChange"  />
                                            </p:selectBooleanCheckbox>
                                        </p:column>
                                    </p:dataTable>
                                </p:fieldset>
                            </div>
                        </div>
                        <div class="ui-grid-row" style="margin-bottom: 15px;margin-top: 15px;" >
                            <div class="ui-grid-col-6" style="text-align: left;" >
                                <p:commandButton id="btnEliminar" process="@this" styleClass="RedButton boton fa fa-times" tabindex="4" value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.btnEliminar']}"  onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();" action="#{comConfigurationByCustomerController.deleteCustomerCtrl()}"  immediate="true" disabled="#{comConfigurationByCustomerController.activeBtnEliminar}" update="frmTable:lazyDataTable" >
                                    <p:confirm header="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.msgConfirmacionHeader']}" message="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.msgConfirmacion']}" icon="ui-icon-alert" />
                                </p:commandButton>
                                <p:confirmDialog global="true">
                                    <p:commandButton value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.msgConfirmacion.si']}" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                    <p:commandButton value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.msgConfirmacion.no']}" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                </p:confirmDialog>
                            </div>
                            <div class="ui-grid-col-6" style="text-align: right;">
                                <p:commandButton tabindex="5" value="#{msgs['enginedata.page.save-button-label']}" process="@this, updateForm:lstParameterTarget updateForm:selectedCars  updateForm:txtCdClientNameReq " styleClass="GreenButton fa fa-floppy-o" actionListener="#{comConfigurationByCustomerController.execOperation()}" update="frmTable:lazyDataTable" />
                            </div>
                        </div>
                    </div>
                    <p:droppable for="selectedCars" tolerance="touch" activeStyleClass="ui-state-highlight" datasource="lstParameterSource">
                        <p:ajax listener="#{comConfigurationByCustomerController.onCarDrop}" update="lstParameterSource lstParameterTarget" />
                    </p:droppable>
                    <p:droppable for="availableCarsField" tolerance="touch" activeStyleClass="ui-state-highlight" datasource="lstParameterTarget">
                        <p:ajax listener="#{comConfigurationByCustomerController.onCarDrop}" update="lstParameterSource lstParameterTarget" />
                    </p:droppable>
                </p:panel>
            </h:form>
        </p:dialog>
        <p:dialog widgetVar="statusDialog" style="border-radius: 50%; text-align: center;" modal="true" draggable="false" closable="false" resizable="false" showHeader="false" appendTo="@(#zoneDialogs)"  >
            <img src="../../../../../resources/images/i_g_fleet.gif" style="width: 200px;"/>
            <strong style="display: block; text-align: center;">#{msgs['enginedata.page.general.label.cargando']}</strong>
        </p:dialog>
    </h:body>
</html>