<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>#{msgs['enginedata.page.general.label.segConfValijas']}</title>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/styleGeneric.css?v=#{securityEngineData.versionApp}"/>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/style.css?v=#{securityEngineData.versionApp}"/>

        <script type="text/javascript" src="../../../../../resources/js/printZPL/dependencies/rsvp-3.1.0.min.js?v=#{securityEngineData.versionApp}"></script>
        <script type="text/javascript" src="../../../../../resources/js/printZPL/dependencies/sha-256.min.js?v=#{securityEngineData.versionApp}"></script>
        <script type="text/javascript" src="../../../../../resources/js/printZPL/qz-tray.js?v=#{securityEngineData.versionApp}"></script>                         
    </h:head>
    <h:body onload="#{segConfValijasController.onLoad()}" styleClass="bodyContent">
        <f:view locale="#{securityEngineData.locale}" >

            <h:form id="frmTable"  target="_blank">

                <p:panel header="#{msgs['enginedata.page.general.label.segConfValijas']}" id="panel1" styleClass="FiltrosHeader generic100Height" >
                    <div class="ui-grid ui-grid-responsive gridFiltrosGenericos">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-12 filtroGenericParent">
                                <div class="ui-grid ui-grid-responsive">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2 filtroCbx filtroGenericField">
                                            <p:outputLabel for="cmbTipo" value="#{msgs['enginedata.page.general.label.tipo']}" styleClass="LabelBuzon" /> 
                                            <p:selectOneMenu id="cmbTipo" value="#{segConfValijasController.filters.filter_7}">
                                                <f:selectItem itemLabel="Enviador" itemValue="1" />
                                                <f:selectItem itemLabel="Receptor" itemValue="2" />
                                            </p:selectOneMenu>
                                        </div> 

                                        <div class="ui-grid-col-2 filtroCbx filtroGenericField">
                                            <p:outputLabel for="cmbSiteSegContenedor" value="#{msgs['enginedata.page.general.label.plaza']}" styleClass="LabelBuzon" />
                                            <p:selectOneMenu id="cmbSiteSegContenedor" disabled="#{!segConfValijasController.actionPermitido('MULTISITE')}" editable="true" converter="genericConverter" value="#{segConfValijasController.selectSysSiteMstrDTO}" valueChangeListener="#{segConfValijasController.getBrncsByUser}" filter="true" filterMatchMode="startsWith" styleClass="full-width input-to-uppercase" required="true" requiredMessage="La Plaza es requerida.">
                                                <f:selectItems value="#{segConfValijasController.listSysSiteMstrDTO}" var="sysSiteMstrDTO" itemValue="#{sysSiteMstrDTO}" itemLabel="#{sysSiteMstrDTO.siteId}" />
                                                <p:ajax process="cmbSiteSegContenedor" partialSubmit="true" event="valueChange"  update="cmbBrncSegContenedor" />
                                            </p:selectOneMenu>
                                        </div>
                                        <div class="ui-grid-col-2 filtroCbx filtroGenericField">
                                            <p:outputLabel for="cmbBrncSegContenedor" value="#{msgs['enginedata.page.general.label.sucursal']}" styleClass="LabelBuzon" />
                                            <p:selectOneMenu id="cmbBrncSegContenedor" disabled="#{!segConfValijasController.actionPermitido('MULTISITE')}" editable="true" converter="genericConverter" value="#{segConfValijasController.selectSysBrncMstrDTO}"  filter="true" filterMatchMode="startsWith" styleClass="full-width input-to-uppercase" required="true" requiredMessage="La Sucursal es requerida.">
                                                <f:selectItems value="#{segConfValijasController.listSysBrncMstrDTO}" var="sysBrncMstrDTO" itemLabel="#{sysBrncMstrDTO.bmBrncID}" itemValue="#{sysBrncMstrDTO}"/>
                                                <p:ajax process="cmbBrncSegContenedor" partialSubmit="true" event="valueChange"/>
                                                <p:column style="width:10%">
                                                    <h:outputText value="#{sysBrncMstrDTO.bmBrncID}" />
                                                </p:column>
                                                <p:column>
                                                    <h:outputText value="#{sysBrncMstrDTO.bmBrncName}" />
                                                </p:column>                             
                                            </p:selectOneMenu>
                                        </div>
                                        
                                        <div class="ui-grid-col-2 filtroCalendar filtroGenericField">
                                            <p:outputLabel for="buzonRadF_fechaInicial" value="#{msgs['enginedata.page.label.startCreationDate']}" styleClass="LabelBuzon" /> 
                                            <p:calendar value="#{segConfValijasController.filters.filterFecha}"  mask="true" id="buzonRadF_fechaInicial" pattern="dd/MM/yyyy" mode="popup" showOn="button" maxdate="#{segConfValijasController.filters.filterFecha2}" required="true" lang="#{securityEngineData.locale}" locale="#{securityEngineData.locale}" />
                                        </div>

                                        <div class="ui-grid-col-2 filtroCalendar filtroGenericField">    
                                            <p:outputLabel for="buzonRadF_fechaFinal" value="#{msgs['enginedata.page.label.fechaFinal']}" styleClass="LabelBuzon" /> 
                                            <p:calendar value="#{segConfValijasController.filters.filterFecha2}" mask="true" id="buzonRadF_fechaFinal" pattern="dd/MM/yyyy" mode="popup" showOn="button"  required="true" lang="#{securityEngineData.locale}" locale="#{securityEngineData.locale}"/>
                                        </div>

                                        <div class="ui-grid-col-2 filtroCbx filtroGenericField">
                                            <p:outputLabel for="cmbStatus" value="#{msgs['enginedata.page.label.flagActive']}" styleClass="LabelBuzon" /> 
                                            <p:selectOneMenu id="cmbStatus" value="#{segConfValijasController.filters.filter_8}">
                                                <f:selectItem itemLabel="Pendientes" itemValue="pendiente" />
                                                <f:selectItem itemLabel="#{msgs['enginedata.page.general.label.enTransito']}" itemValue="transito" />
                                                <f:selectItem itemLabel="#{msgs['enginedata.page.general.label.recibidas']}" itemValue="recibida"/>
                                                <f:selectItem itemLabel="#{msgs['enginedata.page.general.label.canceladas']}" itemValue="cancelada"/>
                                                <f:selectItem itemLabel="#{msgs['enginedata.page.general.label.todos']}" itemValue="all" />                                                
                                                <p:ajax process="cmbStatus" partialSubmit="true" event="valueChange"  oncomplete="document.getElementById('frmTable:Buscar').click();"/>
                                            </p:selectOneMenu>
                                        </div>                                        
                                        <!--                                        <div class="ui-grid-col-2 filtroInputGuiaNo filtroGenericField">
                                                                                    <p:outputLabel for="txtGuia" styleClass="LabelBuzon" value="{msgs['enginedata.page.general.label.guia']} o {msgs['enginedata.page.general.label.rastreo']}" />
                                                                                    <p:inputText id="txtGuia" styleClass="onSelectColumnInputTxt" value="{segConfValijasController.filters.filter_6}" />                               
                                                                                </div>-->
                                        <div class="ui-grid-col-2 filtroButtonSearch filtroCalendar">
                                            <p:commandButton value="#{msgs['enginedata.page.search-button-label']}" process="@this, cmbTipo, cmbSiteSegContenedor, cmbStatus, buzonRadF_fechaInicial, buzonRadF_fechaFinal" update="lazyDataTable"  id="Buscar"  styleClass="fa fa-search-plus" actionListener="#{segConfValijasController.search('')}" oncomplete="InsertReflow();" onstart="PF('statusDialogCogMonitoreo').show()" onsuccess="PF('statusDialogCogMonitoreo').hide()"/>
                                            <p:inputTextarea id="txtZPLGrouping" autoResize="false" style="display: none;" value="#{segConfValijasController.zpl}" />

                                        </div>
                                    </div>
                                </div>                                        
                            </div>
                        </div>
                    </div> 

                    <p:growl id="message" showDetail="true" showSummary="false" autoUpdate="true" life="4500" />
                    <p:dataTable id="lazyDataTable" var="carS" value="#{segConfValijasController.lazyModel}"  widgetVar="lazyDataTable" 
                                 filteredValue="#{segConfValijasController.filtered}" rows="100" 
                                 selection="#{segConfValijasController.listSelected}" lazy="true" 
                                 rowKey="#{carS.rastreo}" paginatorPosition="bottom" paginator="true" 
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}" rowsPerPageTemplate="100,200,300,400" styleClass="dt-reflow dt-selectedrow-1 dt-datos" >

                        <p:ajax event="rowDblselect" listener="#{segConfValijasController.onRowDblClckSelect}" update=":docDlgUpdate"  resetValues="true" global="false" onstart="PF('statusDialogCogMonitoreo').show()" onsuccess="PF('statusDialogCogMonitoreo').hide()"/>
                        <p:ajax event="filter" listener="#{segConfValijasController.filterListener}" update="@this"/>                        
                        <f:facet name="header" class="headerDt" id="headerDt">
                            <div class="ui-grid ui-grid-responsive headerDTFilters">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-3">

                                        <p:commandButton update=":docDlgUpdate :updateForm frmTable:txtZPLGrouping" id="addRow" actionListener="#{segConfValijasController.configurarDialogOperacion('1','','')}" icon="ui-icon-plusthick" value="#{msgs['enginedata.page.general.catalogs.lstUser.addRow']}" rendered="#{segConfValijasController.actionPermitido('SAVE')}">
                                            <p:ajax update=":updateForm" resetValues="true" />
                                        </p:commandButton>

                                        <p:spacer width="5"/>
                                        <p:commandButton update=":docDlgUpdate :updateForm" id="btnUpdate" action="#{segConfValijasController.configurarDialogOperacion('2','','')}" icon="ui-icon-pencil"  value="#{msgs['enginedata.page.update-button-label']}" onstart="PF('statusDialogCogMonitoreo').show()" onsuccess="PF('statusDialogCogMonitoreo').hide()" rendered="#{segConfValijasController.actionPermitido('UPDATE')}">
                                            <p:ajax update=":updateForm" resetValues="true" />
                                        </p:commandButton>
                                    </div>
                                    <div class="ui-grid-col-4">
                                        <h:outputText id="lblBusqueda" value="#{msgs['enginedata.page.general.catalogs.lstUser.lblBusqueda']}" />
                                        <p:inputText id="globalFilter" 
                                                     onkeyup="PF('lazyDataTable').filter();"    
                                                     style="width:150px" placeholder="#{msgs['enginedata.page.general.catalogs.lstUser.globalFilter']}" >
                                        </p:inputText>
                                        <p:commandButton id="btnPrintOnConverter" rendered="#{segConfValijasController.actionPermitido('PRINT')}" action="#{segConfValijasController.printLabels()}" 
                                                         process=":frmTable:lazyDataTable" 
                                                         styleClass="fa fa-print btnNonPadding" 
                                                         value="#{msgs['enginedata.page.general.label.imprimir']}"  
                                                         style="float: left;" 
                                                         onstart="PF('statusDialogCogMonitoreo').show()" 
                                                         onsuccess="PF('statusDialogCogMonitoreo').hide();" 
                                                         oncomplete="initPrinterSEG();">
                                            <p:confirm header="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.msgConfirmacionHeader']}" message="#{msgs['enginedata.page.general.label.confirmaImpresion']}" icon="ui-icon-alert"  />
                                        </p:commandButton> 
                                    </div>
                                    <div class="ui-grid-col-3">
                                        <h:commandButton value="#{msgs['enginedata.page.general.label.imprimir']} reporte" 
                                                         id="gerReport"   
                                                         action="#{segConfValijasController.validatePrintReportContainer('')}"  
                                                         style="background: rgb(4 , 186, 203);
                                                         box-shadow: 0px 5px 9px rgba(50, 50, 50, 0.52);
                                                         display: inline-block;
                                                         position: relative;
                                                         padding: 0;
                                                         margin-right: .2em;
                                                         margin-top: .2em;
                                                         height: 26px;
                                                         text-decoration: none !important;
                                                         cursor: pointer;
                                                         text-align: center;
                                                         padding: 2px;
                                                         overflow: visible;
                                                         border: 1px solid #fff;
                                                         float: left;
                                                         color: #fff;"/>
                                        
                                        <p:commandButton update=":frmTable:lazyDataTable" id="btnCancel" action="#{segConfValijasController.cancel()}" styleClass="btnSave fa fa-ban" value="Cancelar" rendered="#{segConfValijasController.actionPermitido('CANCELREQUEST')}" onstart="PF('statusDialogCogMonitoreo').show()" onsuccess="PF('statusDialogCogMonitoreo').hide();">
                                            <p:ajax update=":updateForm" resetValues="true" />
                                            <p:confirm header="#{msgs['enginedata.page.general.label.aviso']}" message="#{msgs['enginedata.page.general.confirm.label.cancelar']}" icon="ui-icon-alert" />
                                        </p:commandButton>
                                    </div>                                        
                                    <div class="ui-grid-col-4">
                                        <h:commandLink id="exportExcel" title="Exportar a excel"  >
                                            <img src="../../../../../resources/images/excel.png" width="24"/>
                                            <p:dataExporter type="xls" target="lazyDataTable" fileName="exportExcel" postProcessor="#{dataExporterController.postProcessXLS}" />
                                            <p:tooltip for="exportExcel" />
                                        </h:commandLink>
                                        <h:commandLink id="exportPDF" title="Exportar a PDF" >
                                            <img src="../../../../../resources/images/pdf.png" width="24"/>
                                            <p:dataExporter  type="pdf" target="lazyDataTable" fileName="exportPDF" pageOnly="false" preProcessor="#{dataExporterController.preProcessPDF}" />
                                            <p:tooltip for="exportPDF" />
                                        </h:commandLink> 
                                        <h:commandLink id="exportCSV" title="Exportar a CSV"  >
                                            <img src="../../../../../resources/images/csv.png" width="24"/>
                                            <p:dataExporter type="csv" target="lazyDataTable" fileName="exportCSV" pageOnly="false" />
                                            <p:tooltip for="exportCSV" />
                                        </h:commandLink>
                                        <h:commandLink id="exportXML" title="Exportar a XML"  >
                                            <img src="../../../../../resources/images/xml.png" width="24"/>
                                            <p:dataExporter type="xml" target="lazyDataTable" fileName="exportXML" pageOnly="false" />
                                            <p:tooltip for="exportXML" />
                                        </h:commandLink>                                        
                                    </div>
                                </div>
                            </div>
                        </f:facet>
                        <p:column exportable="false" selectionMode="multiple" style="width:20px;text-align:center"/>
                        <p:column headerText="#{msgs['enginedata.page.general.label.origen']}" styleClass="width50px alginCenter" sortBy="#{carS.orgnBrncId}" filterBy="#{carS.orgnBrncId}" filterMatchMode="contains">
                            <h:outputText value="#{carS.orgnBrncId}"/>
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.general.label.destino']}" styleClass="width60px alginCenter" sortBy="#{carS.destBrncId}" filterBy="#{carS.destBrncId}" filterMatchMode="contains">
                            <h:outputText value="#{carS.destBrncId}" />
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.general.label.guia']}" styleClass="width20 alginCenter" sortBy="#{carS.guia}" filterBy="#{carS.guia}" filterMatchMode="contains">
                            <h:outputText value="#{carS.guia}" />
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.general.label.rastreo']}" styleClass="width10 alginCenter" sortBy="#{carS.rastreo}" filterBy="#{carS.rastreo}" filterMatchMode="contains">
                            <h:outputText value="#{carS.rastreo}" />
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.label.creationDate']}" styleClass="alginCenter width50" sortBy="#{carS.crtdOn}" filterBy="#{carS.crtdOn}" visible="true">
                            <h:outputText value="#{carS.crtdOn}" >
                                <f:convertDateTime type="date" pattern="dd/MM/yyyy HH:mm"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.label.flagActive']}" styleClass="alginCenter width30" sortBy="#{carS.status}" filterBy="#{carS.status}">
                            <h:outputText value="#{carS.status}" />
                        </p:column>                        
                    </p:dataTable>
                </p:panel>
            </h:form>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" styleClass="onShowDialog"  >
                <p:focus id="focusdlgGenericoGlobal" context="btnYesGlobal"/>
                <p:commandButton tabindex="105" value="#{msgs['enginedata.page.confirm-dialog-delete']}" type="button" id="btnYesGlobal" styleClass="ui-confirmdialog-yes GreenButton fa fa-check-square-o"/>
                <p:commandButton tabindex="106" value="#{msgs['enginedata.page.cancel-dialog-delete']}" type="button" id="btnNoGlobal" styleClass="ui-confirmdialog-no RedButton fa fa-times"/>
            </p:confirmDialog>             
            <!-- DIALOGS -->
            <p:dialog header="#{msgs['enginedata.page.general.label.segConfSelValijas']}" widgetVar="updateDialog" resizable="false" id="docDlgUpdate" modal="true" styleClass="modalWidth90" closable="false">
                <h:form id="updateForm" onkeypress="return event.keyCode !== 13" >
                    <div class="ui-grid ui-grid-responsive">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2 filtroCbx filtroGenericField">
                                <p:outputLabel for="cmbBrncSegContenedorOrgn" value="#{msgs['enginedata.page.general.label.sucursal']} #{msgs['enginedata.page.general.label.origen']}" styleClass="LabelBuzon" />
                                <p:selectOneMenu id="cmbBrncSegContenedorOrgn" disabled="#{!segConfValijasController.actionPermitido('MULTISITE') or segConfValijasController.typeRecord == 1}" editable="true" converter="genericConverter" value="#{segConfValijasController.selectSysBrncMstrDTOOrgn}" filter="true" filterMatchMode="startsWith" styleClass="full-width input-to-uppercase" valueChangeListener="#{segConfValijasController.getBrncHub}">
                                    <f:selectItems value="#{segConfValijasController.listSysBrncMstrDTO}" var="sysBrncMstrDTO" itemLabel="#{sysBrncMstrDTO.bmBrncID}" itemValue="#{sysBrncMstrDTO}"/>
                                    <p:ajax process="cmbBrncSegContenedorOrgn" update="cmbBrncSegContenedorOrgn, cmbBrncSegContenedorDest, lstSource, lstTarget" partialSubmit="true" event="valueChange"/>
                                    <p:column style="width:10%">
                                        <h:outputText value="#{sysBrncMstrDTO.bmBrncID}" />
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{sysBrncMstrDTO.bmBrncName}" />
                                    </p:column>                             
                                </p:selectOneMenu>
                            </div>
                            <div class="ui-grid-col-2">
                                <p:outputLabel for="cmbBrncSegContenedorDest" value="#{msgs['enginedata.page.general.label.sucursal']} #{msgs['enginedata.page.general.label.destino']}" styleClass="LabelBuzon" />
                                <p:selectOneMenu id="cmbBrncSegContenedorDest" editable="true" converter="genericConverter" value="#{segConfValijasController.selectSysBrncMstrDTODest}" valueChangeListener="#{segConfValijasController.getDetails}" filter="true" filterMatchMode="startsWith" styleClass="full-width input-to-uppercase" disabled="#{segConfValijasController.typeRecord == 1}">
                                    <f:selectItems value="#{segConfValijasController.listSysBrncMstrDTODest}" var="sysBrncMstrDTO" itemLabel="#{sysBrncMstrDTO.bmBrncID}" itemValue="#{sysBrncMstrDTO}"/>
                                    <p:ajax process="cmbBrncSegContenedorOrgn, cmbBrncSegContenedorDest" update="lstSource, lstTarget" partialSubmit="true" event="valueChange" onstart="PF('statusDialogCogMonitoreo').show()" onsuccess="PF('statusDialogCogMonitoreo').hide()"/>
                                    <p:column style="width:10%">
                                        <h:outputText value="#{sysBrncMstrDTO.bmBrncID}" />
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{sysBrncMstrDTO.bmBrncName}" />
                                    </p:column>                             
                                </p:selectOneMenu>

                            </div>
                            <div class="ui-grid-col-2 filtroCbx filtroGenericField">
                                <p:outputLabel for="txtBrnc" value="#{msgs['enginedata.page.general.label.sucursal']}" styleClass="LabelBuzon" />
                                <p:outputLabel id="txtBrnc" value="#{segConfValijasController.brncName}" styleClass="LabelBuzon" />                                
                            </div>                                
                        </div>

                        <div class="ui-grid-row" style="margin-top: 10px">
                            <p:fieldset legend="Guías" style="margin-bottom:10px; height: 90%">
                                <div>
                                    <p:commandButton id="btnRuta" styleClass="fa fa-chevron-left" style="margin-bottom: 10px;" value="Atrás" process="@this, lstSource, lstTarget" actionListener="#{segConfValijasController.returnRastreo()}" update=":updateForm:lstSource, :updateForm:lstTarget, :updateForm:txtRuta, @this" onstart="PF('statusDialogCogMonitoreo').show()" onsuccess="PF('statusDialogCogMonitoreo').hide()" title="Regresar" rendered="#{segConfValijasController.typeRecord == 1}"/> 
                                </div>
                                <div>
                                    <p:outputLabel id="txtRuta" value="#{segConfValijasController.rutaRastreo}" styleClass="LabelBuzon" />
                                </div>

                                <div class="#{segConfValijasController.typeRecord!=1? 'ui-grid-col-6':'ui-grid-col-12'}">
                                    <p:fieldset id="availableCarsField" legend="#{segConfValijasController.typeRecord!=1? 'No incluidas':'Incluida'}">

                                        <p:dataTable id="lstSource" widgetVar="lstSource" var="carA" value="#{segConfValijasController.lazyModelGB}" selection="#{segConfValijasController.selectedDtoB}" reflow="true" rowKey="#{carA.rastreo}" lazy="true" rows="200" scrollable="true" scrollHeight="250" paginator="true" paginatorPosition="bottom" emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}" rowsPerPageTemplate="200,300" styleClass=" dt-datos dtResponsive dtpaginator100 seleccionarCPRow" filteredValue="#{segConfValijasController.filteredSource}">
                                            <p:ajax event="filter" listener="#{segConfValijasController.filterListenerSource}" update="@this"/>
                                            <p:ajax event="rowDblselect" process="@this" listener="#{segConfValijasController.operationDTO('2')}" update=":updateForm:lstSource, :updateForm:lstTarget, :updateForm:txtRuta" onstart="PF('statusDialogCogMonitoreo').show()" onsuccess="PF('statusDialogCogMonitoreo').hide()"/>
                                            <f:facet name="header" class="headerDt" id="headerDt">
                                                <div class="ui-grid ui-grid-responsive headerDTFilters">
                                                    <div class="ui-grid-row">
                                                        <div class="ui-grid-col-12">

                                                            <h:outputText id="lblBusquedaA" value="#{msgs['enginedata.page.general.catalogs.lstUser.lblBusqueda']}" />
                                                            <p:remoteCommand name="btnEnter" 
                                                                             actionListener="#{segConfValijasController.operationDTO('2')}"   
                                                                             process="@this,globalFilter" update="@this, :updateForm:lstSource, :updateForm:lstTarget"
                                                                             />
                                                            <p:inputText id="globalFilter" style="width:150px" placeholder="#{msgs['enginedata.page.general.catalogs.lstUser.globalFilter']}"                                                                        
                                                                         onkeyup="
                                                                                 if (event.keyCode === 13) {
                                                                                     if ($(this).val() === '') {
                                                                                         return false;
                                                                                     } else {
                                                                                         btnEnter();
                                                                                     }
                                                                                 }
                                                                                 PF('lstSource').filter();
                                                                         "                                                                          
                                                                         value="#{segConfValijasController.inputSearch}"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </f:facet>
                                            <p:column exportable="false"  selectionMode="multiple"  style="width:10px;text-align:center" />
                                            <p:column headerText="Orig." styleClass="width40px alginCenter" sortBy="#{carA.orgnBrncId}" filterBy="#{carA.orgnBrncId}" filterMatchMode="contains">
                                                <h:outputText value="#{carA.orgnBrncId}"/>
                                            </p:column>

                                            <p:column headerText="Dest." styleClass="width40px alginCenter" sortBy="#{carA.destBrncId}" filterBy="#{carA.destBrncId}" filterMatchMode="contains">
                                                <h:outputText value="#{carA.destBrncId}" />
                                            </p:column>

                                            <p:column headerText="#{msgs['enginedata.page.general.label.guia']}" styleClass="width20 alginCenter" sortBy="#{carA.guia}" filterBy="#{carA.guia}" filterMatchMode="contains">
                                                <h:outputText value="#{carA.guia}" />
                                            </p:column>

                                            <p:column headerText="#{msgs['enginedata.page.general.label.rastreo']}" styleClass="width10 alginCenter" sortBy="#{carA.rastreo}" filterBy="#{carA.rastreo}" filterMatchMode="contains">
                                                <h:outputText value="#{carA.rastreo}" />
                                            </p:column>
                                            <!--                                            <p:column headerText="{msgs['enginedata.page.general.label.servicios']}" styleClass="width40px alginCenter" sortBy="{carA.servicio}" filterBy="{carA.servicio}" filterMatchMode="contains">
                                                                                            <h:outputText value="{carA.servicio}" />
                                                                                        </p:column>                                            -->
                                            <p:column headerText="#{msgs['enginedata.page.general.label.descripcion']}" styleClass="width70px alginCenter" sortBy="#{carA.servicioDesc}" filterBy="#{carA.servicioDesc}" filterMatchMode="contains">
                                                <h:outputText value="#{carA.servicioDesc}" />
                                            </p:column>                             

                                            <p:column headerText="Paq/Sob." styleClass="width60px alginCenter" sortBy="#{carA.tipo}" filterBy="#{carA.tipo}" filterMatchMode="contains">
                                                <h:outputText value="#{carA.tipo}" />
                                            </p:column>
                                            <p:column headerText="Tipo" styleClass="width40px alginCenter" sortBy="#{carA.flag1}" filterBy="#{carA.flag1}" filterMatchMode="contains">
                                                <h:outputText value="#{carA.flag1}" />
                                            </p:column>
                                        </p:dataTable>
                                    </p:fieldset>
                                </div>                                

                                <div class="ui-grid-col-1" >
                                    <div style="text-align: center;">
                                        <p:commandButton id="ss" styleClass="fa fa-chevron-right" style="margin-bottom: 10px;" value="" process="@this, lstSource, lstTarget, updateForm:lstSource:globalFilter" actionListener="#{segConfValijasController.operationDTO('2')}" update=":updateForm:lstSource, :updateForm:lstTarget, :updateForm:lstSource:globalFilter" title="Agregar" rendered="#{segConfValijasController.typeRecord != 1}"/>
                                        <p:tooltip id="toolTipFocus" for="ss"/>                                        
                                    </div>
                                    <div style="text-align: center;">
                                        <p:commandButton id="tt" styleClass="fa fa-chevron-left" style="margin-bottom: 10px;" value="" process="@this, lstTarget, lstSource" actionListener="#{segConfValijasController.operationDTO('1')}" update="lstTarget lstSource" title="Quitar" rendered="#{segConfValijasController.typeRecord != 1}"/>
                                        <p:tooltip id="toolTipFocusA" for="tt" />                                                                                
                                    </div>
                                </div>                                    
                                <div class="ui-grid-col-5">
                                    <p:fieldset id="noAvailable" legend="#{segConfValijasController.typeRecord!=1? 'Incluida':'No incluidas'}" rendered="#{segConfValijasController.typeRecord != 1}">
                                        <div>
                                            <p:commandButton id="btnRutaA" style="margin-bottom: 10px;" rendered="false"/> 
                                        </div>
                                        <div>
                                            <p:outputLabel id="txtRutaA" styleClass="LabelBuzon" rendered="false"/>
                                        </div>                                        
                                        <p:dataTable id="lstTarget" widgetVar="lstTarget" var="carS" value="#{segConfValijasController.lazyModelGA}" selection="#{segConfValijasController.selectedDtoA}" reflow="true" rowKey="#{carS.rastreo}" lazy="true" rows="200" scrollable="true" scrollHeight="250" paginator="true" paginatorPosition="bottom" emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}" rowsPerPageTemplate="200,300" styleClass=" dt-datos dtResponsive dtpaginator100 seleccionarCPRow" filteredValue="#{segConfValijasController.filteredSource}" >
                                            <p:ajax event="filter" listener="#{segConfValijasController.filterListenerTarget}" update="@this"/>
                                            <p:ajax event="rowDblselect" process="@this" listener="#{segConfValijasController.operationDTO('1')}" update=":updateForm:lstSource, :updateForm:lstTarget"/>
                                            <f:facet name="header" class="headerDt" id="headerDt">
                                                <div class="ui-grid ui-grid-responsive headerDTFilters">
                                                    <div class="ui-grid-row">
                                                        <div class="ui-grid-col-12">
                                                            <h:outputText id="lblBusquedaA" value="#{msgs['enginedata.page.general.catalogs.lstUser.lblBusqueda']}" />
                                                            <p:remoteCommand name="btnEnterB" 
                                                                             actionListener="#{segConfValijasController.operationDTO('1')}"   
                                                                             process="@this,globalFilter" update="@this, :updateForm:lstSource, :updateForm:lstTarget"
                                                                             />
                                                            <p:inputText id="globalFilter" style="width:150px" placeholder="#{msgs['enginedata.page.general.catalogs.lstUser.globalFilter']}"                                                                        
                                                                         onkeyup="
                                                                                 if (event.keyCode === 13) {
                                                                                     if ($(this).val() === '') {
                                                                                         return false;
                                                                                     } else {
                                                                                         btnEnterB();
                                                                                     }
                                                                                 }
                                                                                 PF('lstSource').filter();
                                                                         "                                                                          
                                                                         value="#{segConfValijasController.inputSearch}"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </f:facet>
                                            <p:column exportable="false"  selectionMode="multiple"  style="width:10px;text-align:center" />
                                            <p:column headerText="Orig." styleClass="width40px alginCenter" sortBy="#{carS.orgnBrncId}" filterBy="#{carS.orgnBrncId}" filterMatchMode="contains">
                                                <h:outputText value="#{carS.orgnBrncId}"/>
                                            </p:column>                        

                                            <p:column headerText="Dest." styleClass="width40px alginCenter" sortBy="#{carS.destBrncId}" filterBy="#{carS.destBrncId}" filterMatchMode="contains">
                                                <h:outputText value="#{carS.destBrncId}" />
                                            </p:column>

                                            <p:column headerText="#{msgs['enginedata.page.general.label.guia']}" styleClass="width20 alginCenter" sortBy="#{carS.guia}" filterBy="#{carS.guia}" filterMatchMode="contains">
                                                <h:outputText value="#{carS.guia}" />
                                            </p:column>

                                            <p:column headerText="#{msgs['enginedata.page.general.label.rastreo']}" styleClass="width10 alginCenter" sortBy="#{carS.rastreo}" filterBy="#{carS.rastreo}" filterMatchMode="contains">
                                                <h:outputText value="#{carS.rastreo}" />
                                            </p:column>
                                            <p:column headerText="#{msgs['enginedata.page.general.label.descripcion']}" styleClass="width70px alginCenter" sortBy="#{carS.servicioDesc}" filterBy="#{carS.servicioDesc}" filterMatchMode="contains">
                                                <h:outputText value="#{carS.servicioDesc}" />
                                            </p:column>                             

                                            <p:column headerText="Paq/Sob." styleClass="width60px alginCenter" sortBy="#{carS.tipo}" filterBy="#{carS.tipo}" filterMatchMode="contains">
                                                <h:outputText value="#{carS.tipo}" />
                                            </p:column>
                                            <!--                                            <p:column headerText="{msgs['enginedata.page.general.label.importe']}" styleClass="width60px alginRight" sortBy="{carS.amnt}" filterBy="{carS.amnt}" filterMatchMode="contains">
                                                                                            <h:outputText value="{carS.amnt}" />
                                                                                        </p:column>-->
                                            <p:column headerText="Tipo" styleClass="width40px alginCenter" sortBy="#{carS.flag1}" filterBy="#{carS.flag1}" filterMatchMode="contains">
                                                <h:outputText value="#{carS.flag1}" />
                                            </p:column>
                                        </p:dataTable>
                                    </p:fieldset>
                                </div>

                            </p:fieldset>
                        </div>
                        <div class="ui-grid ui-grid-responsive">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <div class="ui-grid-col-6" style="text-align: left;">
                                        <p:commandButton tabindex="5" value="#{msgs['enginedata.page.general.label.salir']}" process="@this" update=":frmTable:lazyDataTable" partialSubmit="true" styleClass="btnSave fa fa-sign-out" onstart="PF('updateDialog').show();" onsuccess="PF('updateDialog').hide();" rendered="#{segConfValijasController.actionPermitido('SAVE')}"> <!--actionListener="{segConfValijasController.search}"-->
                                            <p:resetInput target=":updateForm" />
                                        </p:commandButton>
                                    </div>
                                    <div class="ui-grid-col-6" style="text-align: right;">
                                        <p:commandButton tabindex="5"  value="#{msgs['enginedata.page.save-button-label']}" process="@this, lstSource, cmbBrncSegContenedorOrgn" partialSubmit="true" styleClass="GreenButton fa fa-floppy-o" actionListener="#{segConfValijasController.save()}" update=":frmTable" oncomplete="initPrinterSEG();" onstart="PF('statusDialogCogMonitoreo').show()" onsuccess="PF('statusDialogCogMonitoreo').hide();" rendered="#{segConfValijasController.actionPermitido('SAVE') and segConfValijasController.typeRecord != 1}">
                                            <p:confirm  header="#{msgs['enginedata.page.general.label.aviso']}" message="#{msgs['enginedata.page.general.confirm.label.guardar']}" 
                                                        icon="ui-icon-alert" />                                            
                                        </p:commandButton>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    
                    <p:inputText style="display: none;" value="#{segConfValijasController.flagMacAddr}" id="flagMacAddrInput" />
                    <p:inputText style="display: none;" id="labelTypePrint"  value="#{segConfValijasController.typePrintGlobal}"  />
                    
                    <p:remoteCommand name="myRemoteValidaCookiePrint" 
                                                         actionListener="#{segConfValijasController.getCookieTypePrinter()}"
                                                         oncomplete="handleChangeTypePrintOnLoadNew(xhr, '#updateForm\\:labelTypePrint', args)" 
                                                         />
                </h:form>
            </p:dialog>


            <p:dialog  style="width:300px;"  header="#{segConfValijasController.title}" widgetVar="dlgGuiasCreatedA" id="dlgGuiasCreatedA" modal="true" appendTo="@(#zoneDialogs)" closable="false">
                <div>
                    <h:outputText escape="false" value="#{segConfValijasController.mensaje}"/>
                </div>
                <div style="text-align: right; margin-top: 35px; margin-bottom: 16px; ">
                    <p:commandButton id="btnDlgGuiasCreated" value="#{msgs['enginedata.page.general.label.aceptar']}" type="button" styleClass="fa fa-check-square-o" onclick="PF('dlgGuiasCreatedA').hide()"/> 
                </div>
            </p:dialog>
            
            <p:dialog widgetVar="statusDialogCogMonitoreo" style="border-radius: 50%; text-align: center;" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
                <img src="../../../../../resources/images/i_g_fleet.gif" style="width: 200px;"/>
                <strong style="display: block; text-align: center;">#{msgs['enginedata.page.general.label.cargando']}</strong>
            </p:dialog>

            <p:dialog header="Mensaje de impresora" widgetVar="dlgImpresionError" id="impresionErrorDlg" modal="true" closable="true" style="width: 450px;" >
                <div style="text-align: center;" >
                    <img src="../../../../../resources/images/etiqueta/printer.png" style="width: 150px;" />
                </div>
                <div id="msjeErrorImpresion" style="color: #065195;text-align: justify;font-size: 12px;" ></div>
                <div style="margin-top: 10px;margin-bottom: 10px; " id="aceptarGenerico2" class="displayBlock" >
                    <p:commandButton value="#{msgs['enginedata.page.general.label.aceptar']}" style="float: right;margin-bottom: 10px;"  styleClass="fa fa-check-square-o GreenButton" onclick="PF('dlgImpresionError').hide();" />
                </div>
            </p:dialog>  

        </f:view>
        <script type="text/javascript" src="../../../../../resources/js/printZPL/printZPL.js"></script>
        <script type="text/javascript" src="../../../../../resources/js/global.js"></script>
        <script type="text/javascript" src="../../../../../resources/js/keyboardNavigation.js"></script>

    </h:body>
</html>