<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" 
      id="html123" class="htmlParent"   >
    <!--COmentario -->
  <h:head>
      
        <title>
            <h:outputText value="EngineData" />
        </title>
        <link rel="stylesheet" href="resources/joyride/joyride-2.1.css"/>
        <link href="resources/images/favico/favicon.ico?v=#{securityEngineData.versionApp}" rel="icon" type="image/x-icon" />
        <link href="resources/css/style.css?v=#{securityEngineData.versionApp}" rel="stylesheet" />
        <link href="resources/css/styleMultiDialog.css?v=#{securityEngineData.versionApp}" rel="stylesheet" />
        <h:outputStylesheet name="adamantium-layout/css/core-layout.css" library="Adamantium" />
        <h:outputStylesheet name="adamantium-layout/css/adamantium-layout.css" library="Adamantium" />        
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <ui:insert name="head" />
      
    </h:head>    
    <h:body styleClass="bodyParent" onload="#{favoriteController.onLoadPersonalizable()}">
        <f:view locale="#{securityEngineData.locale}" >
            <ui:include src="menu/topbar.xhtml"  />
            <ui:include src="menu/menu.xhtml"/>
            <ui:include src="mx/com/enginedata/utileria/help/helpAnotations.xhtml"/>
      
            <!--Usado apra almacenar una variable tmp-->
            <div id="uData"></div>
            <script>
                $('#uData').data('secTyp', "#{securityEngineData.typeUser.type}");
                $('#uData').data('secUID', "#{securityEngineData.userMstrDTO.umUserAccess}");
                $('#uData').data('cookieGA', "#{securityEngineData.idGA}");   
                
                $(window).bind("load", function () {
                    //ping();
                    remoteUrlWebSocketNtf(); 
                });                
            
            </script>
            
            <iframe id="ifrMainContext"  name="ifrMainContext" src="menu/inicio.jsf" style='border: medium none; height: 100%; width:100%; margin: 46px 0px 0px 0px;'  ></iframe>       
 
            <p:idleMonitor timeout="#{securityEngineData.timeout*1000}" onidle="PF('alertExpire').show();" />
            <p:dialog header="#{msgs['enginedata.page.general.label.aviso']}" widgetVar="alertExpire" resizable="false" modal="true" closable="false">
    
                <h:form>
                    <div style="text-align: center;">
                        <i class="fa fa-clock-o" style="font-size: 50px !important;color: rgb(4 , 186, 203);"></i>
                    </div>
                    <div style="text-align: center;margin: 0px 15px;">
                        <h:outputText style="font-size: 25px; display: block;color: #065195;" styleClass="fontWeightRequired" value="Su sesión ha caducado."/>
                        <h:outputText value="ha excedido el tiempo inactivo" />
                    </div>
                    <div style="margin-top: 10px;margin-bottom: 10px; text-align: right;">
                        <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only fa fa-check-square-o" oncomplete="parent.location.reload();" style="padding: 5px 10px;" >
                            <h:outputLabel value="#{msgs['enginedata.page.general.label.aceptar']}" />
                        </button>
                    </div>
                </h:form>                    
            </p:dialog>

        </f:view> 
 
        <script type="text/javascript">
            function idleLogout() {
                var t;
                window.onload = resetTimer;
                window.onmousemove = resetTimer;
                window.onmousedown = resetTimer; 
                window.onclick = resetTimer;     
                window.onscroll = resetTimer;    
                window.onkeypress = resetTimer;

                function logout() {
                    PF('alertNewLoginModal').show();
                }

                function resetTimer() {
                    clearTimeout(t);
                    t = setTimeout(logout, 1800000); 
                }
            }
            //idleLogout();
            

//var socket = null;
//    socket = new WebSocket("ws://172.16.14.12:8001/websocket/story/notifications");     
//    socket.onmessage = onSocketMessage;    
//function onSocketMessage(event) {
//   if (event.data) {
//      var receivedSticker = JSON.parse(event.data);
//      alert(receivedSticker.sticker);
//   }
//}


            
        </script>
        
        
<!--        <p:dialog header="{msgs['enginedata.page.general.label.aviso']}" styleClass="gridLoginModal" id="loginModal" widgetVar="alertNewLoginModal" resizable="false" modal="true" closable="false">
                 <h:form id="formLoginModal" rendered="true"  >

                    <div class="imgPqx">
                        <img src="resources/images/icons/login/logo.png" alt="logo_1"/>
                    </div>

                    <div class="ui-grid ui-grid-responsive">
                        <div class="gridLoginModalInputs">

                            <div class="">
                                <img src="resources/images/icons/login/user.png"/>
                                <p:inputText placeholder="USUARIO" id="txtUserAc" value="{securityEngineData.userAccessSession}" 
                                             autocomplete="false"
                                             size="20" required="true" styleClass="txtUsuario inputTxt"/>

                            </div>          

                            <div class="">
                                <img src="resources/images/icons/login/psw.png"/>
                                <p:password placeholder="CONTRASEÑA" 
                                            autocomplete="false"
                                            id="txtPsw" value="{securityEngineData.userPwdSession}" size="20" required="true" styleClass="txtPsw inputTxt" />
                            </div>
                        </div>
                    </div>
                    <div class="pnlEnd">    
                        <div class="pnlImg">    </div>
                        <div class="pnlbtn">
                            <p:commandButton id="btnLoadNewLogin" value="Entrar"   
                                             styleClass="fa fa-sign-in" partialSubmit="true"
                                             process="@this,formLoginModal:txtUserAc,formLoginModal:txtPsw"
                                             actionListener="{securityEngineData.authenticaGeneratingCredentials()}"
                                             update="menuform:menuBar , frmMenuGestions:modelGestins , frmMenuGestions , imagePanel"
                                             />                       
                        </div>  
                    </div>
                </h:form>
         </p:dialog>        -->
        
        <div id="zoneMinimizeBar"></div>
        <script src="resources/Adamantium/adamantium-layout/js/perfect-scrollbar.js?v=#{securityEngineData.versionApp}"></script>             
        <script src="resources/js/global.js?v=#{securityEngineData.versionApp}"></script>             
        <script src="resources/help/js/help.js?v=#{securityEngineData.versionApp}"></script>   
        <h:outputScript name="adamantium-layout/js/layout.js" library="Adamantium" />
        <script src="resources/js/websocket/websocket.js?v=#{securityEngineData.versionApp}"></script>
    </h:body>
</html>