<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      ng-app="logisticApp"
      >
    <h:head>
        <title>Monitoreo GPS</title>
        <script src="../js/shared/angular.min.js" type="text/javascript"></script>
        <script src="../js/app.js" type="text/javascript"></script>
        <script src="../js/controllers/logisticcontroller.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/Adamantium/adamantium-layout/css/font-awesome.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/style.css"/>
        <script type="text/javascript" src="../../../../../resources/js/global.js"></script>
        <script type="text/javascript" src="../../../../../resources/js/calendar-localization.js"></script>
        <style type="text/css">
            .ui-datatable .ui-column-filter{display: none;}
        </style>    
        <link href="../../../../../resources/css/logistic/logisticGPSStyle.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

        <script type="text/javascript">

            $(document).ready(function () {

                rcBtnReqClientID();
            });

            function doExport(selector, params) {
                var options = {
                    //ignoreRow: [1,11,12,-2],
                    //ignoreColumn: [0,-1],
                    tableName: 'TableBuzon',
                    worksheetName: 'Countries by population'
                };

                $.extend(true, options, params);

                $(selector).tableExport(options);
            }

            function DoOnCellHtmlData(cell, row, col, data) {
                var result = "";
                if (data != "") {
                    var html = $.parseHTML(data)

                    $.each(html, function () {
                        if (typeof $(this).html() === 'undefined')
                            result += $(this).text();
                        else if ($(this).is("input"))
                            result += $('#' + $(this).attr('id')).val();
                        else if (!$(this).hasClass('no_export'))
                            result += $(this).html();
                    });
                }
                return result;
            }

        </script>  
    </h:head>

    <h:body styleClass="buzonRad bodyContent" onload="#{LogisticaController.onLoad()}" > 

        <div class="logisticDialog">


            <p:dialog header="Ayuda y buletín"  widgetVar="dlg2"  modal="true" height="300" width="800">
                <p:tabView id="tabViewAyudayBuletin">
                    <p:tab title="Ayuda">
                           <p:dataTable id="tablaElementos" lazy="true" scrollable="true"  scrollHeight="400"  styleClass=" dt-datos dtResponsive dtpaginator100 seleccionarCPRow dt-Header"  rows="10"  widgetVar="table_element" rendered="true"  var="element" value="#{LogisticaController.lazyModel_UiElements}">
                    <p:column headerText="Imagen" styleClass="algincentro width40" >
                        <img src="#{element.nombredeimagen}" height="42" width="42"></img>

                    </p:column>

                    <p:column headerText="Nombre" styleClass="algincentro" >
                        <h:outputText value="#{element.nombre}" />
                    </p:column>

                    <p:column headerText="Descripción" styleClass="alginright" >
                        <h:outputText value="#{element.descripcion}" />
                    </p:column>

                </p:dataTable>
                    </p:tab>
                         <p:tab title="Buletín">
                        
                    </p:tab>
                </p:tabView>
             

            </p:dialog>  

            <!-- ///////////////////////////////////////////// -->
            <p:commandButton update="form1:TableTractos_GPS" id="rmc" value="Hide" style="display: none;"></p:commandButton>
            
            <div class="logisticDialog" id="logisticDialogID" ng-controller="logisticController">
                <p:dialog header="Segmento  {{selectedUdto.segmentsEdit.segmentsDTO.tsSegmId}} de viaje {{selectedUdto.segmentsEdit.segmentsDTO.tsTripNo}} con móvil {{selectedUdto.segmentsEdit.segmentsDTO.tsTruckNo}} a {{selectedUdto.posicion.datetime}}" id="fichaTecnica"   widgetVar="fichatecnica" height="450" width="1200" modal="true" showEffect="fade" hideEffect="fade"
                          onHide="document.getElementById('rmc').click();">
                    <p:growl id="growl" showDetail="true" redisplay="false" />
                    <div class="wrapper">
                        <p:tabView id="tabView">
                            <p:tab title="Datos generales">
                                <div>
                                    <Label> <b> Tracto: </b> {{selectedUdto.segmentsEdit.segmentsDTO.tsTruckNo}}  </Label> 
                                    <br></br> 
                                    <Label>   <b> Remolques: </b> {{selectedUdto.segmentsEdit.segmentsDTO.tsTral1}} {{selectedUdto.segmentsEdit.segmentsDTO.tsTral2}} </Label> 
                                    <br></br> 
                                    <Label> <b> Segmento: </b></Label>  {{selectedUdto.segmentsEdit.segmentsDTO.tsSegmId}}
                                    <br></br> 
                                    <Label> <b> Posición: </b></Label> {{selectedUdto.posicion.refLocality}}
                                    <br></br> 
                                    <h4>Tripulantes</h4>
                                    <ol type="1">
                                        <li class="nostyle">{{selectedUdto.segmentsEdit.segmentsDTO.nombreOperador1}}</li>
                                        <li class="nostyle">{{selectedUdto.segmentsEdit.segmentsDTO.nombreOperador2}}</li>
                                        <li class="nostyle">{{selectedUdto.segmentsEdit.segmentsDTO.nombreOperador3}}</li>
                                    </ol>
                                </div>
                            </p:tab>
                            <p:tab title="Historial de viaje">
                                    <p:dataTable id="tableTractosHistorial" widgetVar="table" rendered="true"
                                                 value="#{LogisticaController.lazyModelHistorial}"   var="segDTO"  
                                                 filteredValue="#{LogisticaController.filteredListSegments}" lazy="true"     rows="10"  paginator="true" scrollHeight="250"  paginatorPosition="bottom" 
                                                 emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                 currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}"  rowsPerPageTemplate="50,100,200,300" 
                                                 styleClass="dt-selectedrow-1 dt-datos dt-buzon dt-frozeen dt-Header dt-export"  >
                                        <p:ajax event="filter" listener="#{LogisticaController.filterListenerlazyModel_historial}" update="@this"/>
                                        <f:facet name="header" class="headerDt " id="headerDt">
                                            <div class="ui-grid ui-grid-responsive">
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-4">
                                                    </div>
                                                    <div class="ui-grid-col-4">

                                                        <p:commandButton id="toggler" type="button" value="#{msgs['enginedata.page.general.label.columnas']}" style="float:right" icon="ui-icon-calculator" />
                                                        <p:columnToggler datasource="tableTractosHistorial" trigger="toggler" />

                                                    </div>
                                                </div>
                                            </div>
                                        </f:facet>

                                        <p:column headerText="Segmento" filterMatchMode="contains" filterBy="#{segDTO.tsSegmId}" styleClass="algincentro width40"  sortBy="#{segDTO.tsSegmId}">
                                            <h:outputText value="#{segDTO.tsSegmId}" /> 
                                        </p:column> 
                                        <p:column headerText="Salida programada" filterMatchMode="contains" filterBy="#{segDTO.tsSchdDeprDate}" styleClass="algincentro width40"  sortBy="#{segDTO.tsSchdDeprDate}">
                                            <h:outputText value="#{segDTO.tsSchdDeprDate}" >
                                                <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                                            </h:outputText> 

                                        </p:column> 
                                        <p:column headerText="Salida SIPWEB" filterMatchMode="contains" filterBy="#{segDTO.tsActlDeprDate}" styleClass="algincentro width40"  sortBy="#{segDTO.tsActlDeprDate}">
                                            <h:outputText value="#{segDTO.tsActlDeprDate}" >
                                                <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                                            </h:outputText> 
                                        </p:column> 
                                        <p:column headerText="Salida GPS" filterMatchMode="contains" filterBy="#{segDTO.tsActlDeprGpsDate}" styleClass="algincentro width40"  sortBy="#{segDTO.tsActlDeprGpsDate}">
                                            <h:outputText value="#{segDTO.tsActlDeprGpsDate}" >
                                                <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                                            </h:outputText>

                                        </p:column> 
                                        <p:column headerText="Llegada programada" filterMatchMode="contains" filterBy="#{segDTO.tsSchdArvlDate}" styleClass="algincentro width40"  sortBy="#{segDTO.tsSchdArvlDate}">

                                            <h:outputText value="#{segDTO.tsSchdArvlDate}" >
                                                <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                                            </h:outputText>
                                        </p:column> 
                                        <p:column headerText="Llegada SIPWEB" filterMatchMode="contains" filterBy="#{segDTO.tsActlArvlDate}" styleClass="algincentro width40"  sortBy="#{segDTO.tsActlArvlDate}">

                                            <h:outputText value="#{segDTO.tsActlArvlDate}" >
                                                <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                                            </h:outputText>
                                        </p:column> 
                                        <p:column headerText="Llegada GPS" filterMatchMode="contains" filterBy="#{segDTO.tsActlArvlGpsDate}" styleClass="algincentro width40"  sortBy="#{segDTO.tsActlArvlGpsDate}">

                                            <h:outputText value="#{segDTO.tsActlArvlGpsDate}" >
                                                <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                                            </h:outputText>
                                        </p:column> 
                                    </p:dataTable>
 
                            </p:tab>
                        </p:tabView>
                    </div>
                    <h:form id="formGMapDialog">
                        <p:growl id="growl" showDetail="true" redisplay="false" />
                        <p:gmap id="gmapD" fitBounds="true" widgetVar="gMapDialog" center="#{LogisticaController.center}"  zoom="7"  type="terrain" model="#{LogisticaController.simpleModelDialog}"  style="width:100%;height:310px">
                            <p:ajax event="overlaySelect" listener="#{LogisticaController.onMarkerSelect}" update="growl" />
                        </p:gmap>
                    </h:form>
                </p:dialog>
            </div>
            <!-- ///////////////////////////////////////////// -->
        </div>    
        <p:panel collapsed="true" header="Mapa" id="mapaGPS" styleClass="FiltrosHeader" toggleable="true" >
            <p:commandButton value="Ayuda" update="tablaElementos" type="button" onclick="PF('dlg2').show();" />  
            <p:commandButton  style="display: none;" update="mapaGPS" value="Geocercas" id="helloworld" actionListener="#{LogisticaController.helloworld()}" />  

            <h:form id="formGMap">
                <p:growl id="growl" showDetail="true" redisplay="false" />
                <p:gmap id="gmap" fitBounds="true" widgetVar="gMapPanel" center="#{LogisticaController.center}"  zoom="#{LogisticaController.zoom}"  type="terrain" model="#{LogisticaController.simpleModel}"  style="width:100%;height:520px">
                    <p:ajax event="overlaySelect" listener="#{LogisticaController.onMarkerSelect}" update="growl" />

                </p:gmap>

            </h:form>


        </p:panel>  


        <h:form rendered="true" id="form1" onkeypress="return event.keyCode !== 13"  onsubmit="return false;">
            <p:idleMonitor timeout="30000">
            </p:idleMonitor>
            <p:idleMonitor timeout="30000">
                <p:ajax event="idle" listener="#{LogisticaController.unidadessipwebygurtam_obtenerviajecompleto()}" />
            </p:idleMonitor>
            <p:idleMonitor timeout="30000">
                <p:ajax event="idle" listener="#{LogisticaController.unidadessipwebygurtam_obtenerviajecompleto_usuarionormal_noinsert()}" update="TableTractos_GPS" />
            </p:idleMonitor>
            <p:remoteCommand name="rcBtnReqClientID" update="TableTractos_GPS" onstart="document.getElementById('form1:Btnhidden').click();" immediate="true"  />
            <p:growl id="message" showDetail="true" showSummary="false" autoUpdate="true" life="4500" />
            <p:panel header="GPS" id="panelGPS" styleClass="FiltrosHeader generic100HeightGPS" >
                <p:commandButton  update="TableTractos_GPS"  style="display: none;" value="BtnHidden" id="Btnhidden" actionListener="#{LogisticaController.unidadessipwebygurtam_obtenerviajecompleto_usuarionormal_noinsert()}" />   
                <p:commandButton  update="TableTractos_GPS" onsuccess="PF('statusDialog').hide()"  onstart="PF('statusDialog').show()"  styleClass="fa fa-refresh" value="Actualizar" id="unidadessipwebygurtam_obtenerviajecompleto" actionListener="#{LogisticaController.unidadessipwebygurtam_obtenerviajecompleto()}" />   
                <p:commandButton   update="TableTractos_GPS mapaGPS" style="display: none;" value="Actualizar" id="unidadessipwebygurtam_obtenerviajecompleto_usuarionormal_noinsert" actionListener="#{LogisticaController.unidadessipwebygurtam_obtenerviajecompleto_usuarionormal_noinsert()}" /> 
            <p:dataTable id="TableTractos_GPS" widgetVar="table" rendered="true" 
                             value="#{LogisticaController.lazyModel_gps}"   var="segGPSDTO"  rowKey="#{segGPSDTO.segmentsEdit.segmentsDTO.id}"  
                             filteredValue="#{LogisticaController.filteredListAddresses}" lazy="true"     rows="30" paginator="true"   paginatorPosition="bottom" 
                             emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}"  rowsPerPageTemplate="50,100,200,300" 
                             styleClass="dt-selectedrow-1 dt-datos dt-buzon dt-frozeen dt-Header dt-export"  
                             selectionMode="single" 
                             selection="#{LogisticaController.selectedUdto}" >
                    
                    <p:ajax event="filter" listener="#{LogisticaController.filterListener}" update="@this"/>
                    <p:ajax event="rowDblselect"  oncomplete="handleComplete(xhr, status, args); return false;" 
                            listener="#{LogisticaController.onRowSelect}" global="false"/>
                   <f:facet name="header" class="headerDt " id="headerDt">
                        <div class="ui-grid ui-grid-responsive">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-4">
                                   <h:commandLink rendered="#{LogisticaController.actionPermitido('EXPORT')}">
                                       <img src="../../../../../resources/images/excel.png" width="24"/>
                                        <p:dataExporter type="xls" target="TableTractos_GPS" fileName="GPSExcel" />
                                    </h:commandLink>
                                    <h:commandLink rendered="#{LogisticaController.actionPermitido('EXPORT')}">
                                        <img src="../../../../../resources/images/pdf.png" width="24"/>
                                        <p:dataExporter type="pdf" target="dtBuzon" fileName="GPSPDF" pageOnly="false" />
                                    </h:commandLink>
                                    <h:commandLink style="text-decoration: none;" rendered="#{LogisticaController.actionPermitido('EXPORT')}">
                                        <img src="../../../../../resources/images/csv.png" width="24"/>
                                        <p:dataExporter type="csv" target="TableTractos" fileName="TableTractos" pageOnly="true" />
                                    </h:commandLink>

                                    <h:commandLink style="text-decoration: none;" rendered="#{LogisticaController.actionPermitido('EXPORT')}">
                                        <img src="../../../../../resources/images/xml.png" width="24"/>
                                        <p:dataExporter type="xml" target="TableBuzon" fileName="TableTractos" pageOnly="true" />
                                    </h:commandLink>       


                                </div>
                                <div class="ui-grid-col-4">

                                    <h:outputText value="Búsqueda:" />
                                    <p:inputText id="globalFilter" widgetVar="globalFilterWv" style="width: 200px;" onkeyup="PF('table').filter()"  styleClass="input-to-uppercase busquedaGralRapidaInpuut" placeholder="Búsqueda por palabra clave" />


                                </div>
                                <div class="ui-grid-col-4">

                                    <p:commandButton id="toggler" type="button" value="#{msgs['enginedata.page.general.label.columnas']}" style="float:right" icon="ui-icon-calculator" />
                                    <p:columnToggler datasource="TableTractos_GPS" trigger="toggler" />

                                </div>
                            </div>
                        </div>                        


                    </f:facet>
                    <p:column headerText="Fuente" filterMatchMode="contains" filterBy="#{segGPSDTO.segmentsEdit.segmentsDTO.source}" styleClass="algincentro width20"  sortBy="#{segGPSDTO.segmentsEdit.segmentsDTO.source}">
                        <h:outputText value="#{segGPSDTO.segmentsEdit.segmentsDTO.source}" /> 
                    </p:column> 

                    <p:column headerText="Movil" filterMatchMode="contains" filterBy="#{segGPSDTO.segmentsEdit.segmentsDTO.tsTruckNo}" styleClass="alginCenter width20"  sortBy="#{segGPSDTO.segmentsEdit.segmentsDTO.tsTruckNo}">
                        <h:outputText value="#{segGPSDTO.segmentsEdit.segmentsDTO.tsTruckNo}" /> 
                    </p:column> 
                    <p:column headerText="Fecha de actualización" filterMatchMode="contains" filterBy="#{segGPSDTO.posicion.datetime}" styleClass="alginLeft width120"  sortBy="#{segGPSDTO.posicion.datetime}">

                        <h:outputText value="#{segGPSDTO.posicion.datetime}" >
                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                        </h:outputText>
                    </p:column>  
                    <p:column headerText="Segmento" filterMatchMode="contains" filterBy="#{segGPSDTO.segmentsEdit.segmentsDTO.tsSegmId}" styleClass="algincentro width60"  sortBy="#{segGPSDTO.segmentsEdit.segmentsDTO.tsSegmId}">
                        <h:outputText value="#{segGPSDTO.segmentsEdit.segmentsDTO.tsSegmId}" /> 
                    </p:column> 
                    <p:column headerText="Viaje" filterBy="#{segGPSDTO.segmentsEdit.segmentsDTO.tsTripNo}" styleClass="alginLeft width40"  sortBy="#{segGPSDTO.segmentsEdit.segmentsDTO.tsTripNo}">
                        <h:outputText value="#{segGPSDTO.segmentsEdit.segmentsDTO.tsTripNo}" /> 
                    </p:column>  
                    <p:column headerText="Vel.(km/h)" filterMatchMode="contains" filterBy="#{segGPSDTO.posicion.speed}" styleClass="alginRight width60"  sortBy="#{segGPSDTO.posicion.speed}">
                        <h:outputText value="#{segGPSDTO.posicion.speed}" /> 
                    </p:column> 

                    <p:column headerText="Localidad de referencia" filterMatchMode="contains" filterBy="#{segGPSDTO.posicion.refLocality}" styleClass="alginLeft width230 ellipsizeCellContent"  sortBy="#{segGPSDTO.posicion.refLocality}">

                        <h:outputText id="Localidad" value="#{segGPSDTO.posicion.refLocality}" />                                
                        <p:tooltip for="Localidad" value="#{segGPSDTO.posicion.refLocality}" trackMouse="true" />                                                                           

                    </p:column> 
                    <p:column headerText="Dist. (km)" filterMatchMode="contains" styleClass="alginRight width40"  filterBy="#{segGPSDTO.posicion.distanciaDeSucursal}" sortBy="#{segGPSDTO.posicion.distanciaDeSucursal}">
                        <h:outputText value="#{segGPSDTO.posicion.distanciaDeSucursal}" /> 
                    </p:column>  
                    <p:column headerText="Tiempo de llegada" filterMatchMode="contains" styleClass="alginRight width80"  filterBy="#{segGPSDTO.posicion.tiempoDeLlegada}" sortBy="#{segGPSDTO.posicion.tiempoDeLlegada}">
                        <h:outputText value="#{segGPSDTO.posicion.tiempoDeLlegada}" /> 
                    </p:column> 
                </p:dataTable>
            </p:panel>

        </h:form>
        <p:panel header="Tractos" id="tractos" styleClass="FiltrosHeader" style="display: none;" >
            <p:commandButton  style="" value="Tractos" id="metodotractos" actionListener="#{LogisticaController.tractosSWGU()}" />   
        </p:panel>
        <p:ajaxStatus onsuccess="PF('statusDialog').hide()" />
        <p:dialog widgetVar="statusDialog" style="border-radius: 0%;text-align: center; background: transparent; box-shadow: none !important;" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <img src="../../../../../resources/images/gif/rotating_cog.gif" style="width: 200px;width: 168px;"/>
            <strong style="display: block;">Cargando...</strong>
        </p:dialog>
        <p:commandButton  update="formGMap:gmap"  style="display: none;" value="btnMap" id="btnMap" actionListener="#{LogisticaController.mapa()}" />  
        <script src="../../../../../resources/js/logisticJavascript.js" type="text/javascript"></script>
    </h:body>
</html>

