<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>#{msgs['enginedata.page.general.label.segBrncRecpMaxDl']}</title>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/styleGeneric.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/styleDialog.css"/>
        <script type="text/javascript" src="../../../../../resources/js/global.js"></script>
        <script type="text/javascript" src="../../../../../resources/js/calendar-localization.js?v=#{securityEngineData.versionApp}"></script>
        <style>
            #updateForm\3a buzonRadF_fechaInicial input{
                width: 50px!important;
                text-align: center;
            }
        </style>
    </h:head>

    <h:body onload="#{segBrncRecpMaxController.onLoad()}" styleClass="bodyContent">
        <f:view locale="#{securityEngineData.locale}" >
            <h:form id="frmTable" rendered="true" onsubmit="return false;" >
                <p:focus id="focus3" context="panel1" />
                <p:panel  id="panel1" styleClass="FiltrosHeader generic100Height" >
                    <p:growl id="message" showDetail="true" showSummary="false" autoUpdate="true" life="4500" />
                    <p:dataTable id="lazyDataTable" var="dto" value="#{segBrncRecpMaxController.lazyModel}"  widgetVar="lazyDataTable" filteredValue="#{segBrncRecpMaxController.filtered}" rows="100" selection="#{segBrncRecpMaxController.selectedDto}" rendered="true" lazy="true" selectionMode="single" rowKey="#{dto.brncId}" paginatorPosition="bottom" paginator="true" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}" rowsPerPageTemplate="100,200,300,400" styleClass="dt-reflow dt-selectedrow-1 dt-datos" >
                        <p:ajax event="rowDblselect" listener="#{segBrncRecpMaxController.onRowDblClckSelect}" update=":docDlgUpdate"  resetValues="true" global="false" onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"/>
                        <p:ajax event="filter" listener="#{segBrncRecpMaxController.filterListener}" update="@this"/>                        
                        <f:facet name="header" class="headerDt" id="headerDt">
                            <div class="ui-grid ui-grid-responsive headerDTFilters">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-5">
                                        <h:outputText id="lblBusqueda" value="#{msgs['enginedata.page.general.catalogs.lstUser.lblBusqueda']}" />
                                        <p:inputText id="globalFilter" onkeyup="PF('lazyDataTable').filter()" style="width:150px" placeholder="#{msgs['enginedata.page.general.catalogs.lstUser.globalFilter']}" >
                                        </p:inputText>
                                    </div>
                                    <div class="ui-grid-col-4">
                                        <h:commandLink id="exportExcel" title="Exportar a excel"  rendered="#{segBrncRecpMaxController.actionPermitido('EXPORT')}">
                                            <img src="../../../../../resources/images/excel.png" width="24"/>
                                            <p:dataExporter type="xls" target="lazyDataTable" fileName="exportExcel" postProcessor="#{dataExporterController.postProcessXLS}" />
                                            <p:tooltip for="exportExcel" />
                                        </h:commandLink>
                                        <h:commandLink id="exportPDF" title="Exportar a PDF" rendered="#{segBrncRecpMaxController.actionPermitido('EXPORT')}">
                                            <img src="../../../../../resources/images/pdf.png" width="24"/>
                                            <p:dataExporter  type="pdf" target="lazyDataTable" fileName="exportPDF" pageOnly="false" preProcessor="#{dataExporterController.preProcessPDF}" />
                                            <p:tooltip for="exportPDF" />
                                        </h:commandLink> 
                                        <h:commandLink id="exportCSV" title="Exportar a CSV"  rendered="#{segBrncRecpMaxController.actionPermitido('EXPORT')}">
                                            <img src="../../../../../resources/images/csv.png" width="24"/>
                                            <p:dataExporter type="csv" target="lazyDataTable" fileName="exportCSV" pageOnly="false" />
                                            <p:tooltip for="exportCSV" />
                                        </h:commandLink>
                                        <h:commandLink id="exportXML" title="Exportar a XML"  rendered="#{segBrncRecpMaxController.actionPermitido('EXPORT')}">
                                            <img src="../../../../../resources/images/xml.png" width="24"/>
                                            <p:dataExporter type="xml" target="lazyDataTable" fileName="exportXML" pageOnly="false" />
                                            <p:tooltip for="exportXML" />
                                        </h:commandLink>                                        
                                    </div>
                                </div>
                            </div>
                        </f:facet>

                        <p:column styleClass="width20" sortBy="#{dto.brncId}" filterBy="#{dto.brncId}" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.clave']}" /></f:facet>
                            <h:outputText value="#{dto.brncId}" />
                        </p:column>

                        <p:column styleClass="width20" sortBy="#{dto.brncDesc}" filterBy="#{dto.brncDesc}" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.sucursal']}" /></f:facet>
                            <h:outputText value="#{dto.brncDesc}" />
                        </p:column>

                        <p:column styleClass="width20" sortBy="#{dto.std}" filterBy="#{dto.std}" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.estandar']}" /></f:facet>
                            <h:outputText value="#{dto.std}" />
                        </p:column>

                        <p:column styleClass="width20" sortBy="#{dto.segMd}" filterBy="#{dto.segMd}" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.mismoDia']}" /></f:facet>
                            <h:outputText value="#{dto.segMd}" />
                        </p:column>

                        <p:column styleClass="width20" sortBy="#{dto.segDs}" filterBy="#{dto.segDs}" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.sigDia']}" /></f:facet>
                            <h:outputText value="#{dto.segDs}" />
                        </p:column>                        

                    </p:dataTable>
                </p:panel>
            </h:form>

            <!-- DIALOGS -->
            <p:dialog header="#{msgs['enginedata.page.general.label.confSucServ']}" widgetVar="updateDialog" resizable="false" id="docDlgUpdate" modal="true"  width="600" closable="true">
                <h:form id="updateForm" onkeypress="return event.keyCode !== 13" >
                    <div class="ui-grid ui-grid-responsive">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-12" style="color: black; margin-bottom: 10px;">
                                <p:outputLabel for="txtBrnc" value="#{msgs['enginedata.page.general.label.sucursal']}:" style="color: black; margin-right: 10px;" />
                                <p:outputLabel id="txtBrnc" value="#{segBrncRecpMaxController.brncName}" style="color: black;" />                                
                            </div>
                        </div>
                        
                        <div class="ui-grid-row">
                            
                            <div class="ui-grid-col-2">
                                <p:outputLabel for="buzonRadF_fechaInicial" value="#{msgs['enginedata.page.general.label.horario']}" styleClass="LabelBuzon" /> 
                                <p:calendar id="buzonRadF_fechaInicial" style="width:80px;" required="true" label="Hora" title="Hora" requiredMessage="#{msgs['enginedata.page.general.label.horario']} #{msgs['enginedata.page.general.error.label.obligatorio']}" tabindex="61" pattern="HH:mm" timeOnly="true" placeholder="Hora" value="#{segBrncRecpMaxController.filters.filterFecha}" mask="true" lang="#{securityEngineData.locale}" locale="#{securityEngineData.locale}">
                                    <p:ajax event="dateSelect"  
                                            listener="#{segBrncRecpMaxController.hourValueChange}" 
                                            process="buzonRadF_fechaInicial, lstPerfilesRolesTarget"
                                            partialSubmit="true"
                                            update="lstPerfilesRolesTarget"
                                            />
                                </p:calendar>                                
                            </div>
                            
                            <div class="ui-grid-col-3">
                                <p:outputLabel for="cmbSegBrncRecpMax" value="#{msgs['enginedata.page.general.label.servicios']}" styleClass="LabelBuzon" />
                                <p:selectOneMenu id="cmbSegBrncRecpMax" editable="true" immediate="true" converter="genericConverter" value="#{segBrncRecpMaxController.selectedParm}" valueChangeListener="#{segBrncRecpMaxController.getInfo}" filter="true" filterMatchMode="startsWith" styleClass="full-width input-to-uppercase" required="true" requiredMessage="El Servicio es requerido.">
                                    <f:selectItems value="#{segBrncRecpMaxController.listSysParmDTO}" var="sysParmDTO" itemValue="#{sysParmDTO}" itemLabel="#{sysParmDTO.paramDesc}" />
                                    <p:ajax process="cmbSegBrncRecpMax" partialSubmit="true" event="valueChange" update="lstPerfilesRolesTarget" />
                                </p:selectOneMenu>
                            </div>
                            
                            <div class="ui-grid-col-2" style="margin-left: 10px;">
                                <p:outputLabel for="cmdBtnApply" value="invlbl" styleClass="LabelBuzon" style="visibility: hidden" />
                                <p:commandButton id="cmdBtnApply" value="#{msgs['enginedata.page.apply-button-label']}" icon="ui-icon-check" action="#{segBrncRecpMaxController.applyHrsToDaysByService()}" update="lstPerfilesRolesTarget" />
                            </div>
                            <div class="ui-grid-col-2">
                                <p:outputLabel for="cmdBtnApply" value="invlbl" styleClass="LabelBuzon" style="visibility: hidden" />
                                <p:commandButton id="cmbBtnUndo" value="#{msgs['enginedata.page.undo-button-label']}" icon="ui-icon-arrowreturnthick-1-w" action="#{segBrncRecpMaxController.undoHrsToDaysByService()}" update="lstPerfilesRolesTarget" />
                            </div>
                            
                        </div>
                        <div class="ui-grid-row" style="margin: 20px 0 30px 0">
                            <div >
                                <!--<p:fieldset id="selectedCars" legend="{msgs['enginedata.page.general.label.brncIncluded']}">-->
                                    <p:dataTable id="lstPerfilesRolesTarget" widgetVar="lstPerfilesRolesTargetWV" var="carT" value="#{segBrncRecpMaxController.lazyModelGB}" selection="#{segBrncRecpMaxController.selectedDtoB}" reflow="true" rowKey="#{carT.brncId}" lazy="true"  rows="200" scrollable="true" scrollHeight="100" paginator="false" paginatorPosition="bottom" emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}" rowsPerPageTemplate="200,300" editable="true" editMode="cell" styleClass=" dt-datos dtResponsive dtpaginator100 seleccionarCPRow">
                                        <p:ajax event="filter" listener="#{segBrncRecpMaxController.filterListenerTarget}" update="@this"/>
<!--                                        <f:facet name="header" class="headerDt" id="headerDt">
                                            <div class="ui-grid ui-grid-responsive headerDTFilters">
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-12">
                                                        <h:outputText id="lblBusquedaA" value="{msgs['enginedata.page.general.catalogs.lstUser.lblBusqueda']}" />
                                                        <p:inputText id="globalFilter" onkeyup="PF('lstPerfilesRolesTarget').filter()" style="width:150px" placeholder="{msgs['enginedata.page.general.catalogs.lstUser.globalFilter']}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </f:facet>                                    -->
                                        <!--<p:column exportable="false"  selectionMode="multiple"  style="width:20px;text-align:center" >
                                        </p:column>-->
<!--                                        <p:column headerText="{msgs['enginedata.page.general.label.clave']}" filterBy="{carT.brncId}" sortBy="#{carT.brncId}" filterable="true" filterMatchMode="contains">
                                            <h:outputText value="{carT.brncId}" />
                                        </p:column>-->
<!--                                        <p:column headerText="{msgs['enginedata.page.general.label.descripcion']}" filterBy="{carT.brncDesc}" sortBy="{carT.brncDesc}" filterable="true" filterMatchMode="contains">
                                            <h:outputText value="{carT.brncDesc}" />
                                        </p:column>-->
                                        <p:column headerText="#{msgs['enginedata.page.general.label.diaSemana.lunes']}" filterBy="#{carT.timeTillDateMday}" sortBy="#{carT.timeTillDateMday}">
                                            <p:calendar required="true" label="Hora" title="Hora" requiredMessage="#{msgs['enginedata.page.general.label.diaSemana.lunes']} #{msgs['enginedata.page.general.error.label.obligatorio']}" tabindex="61" pattern="HH:mm" timeOnly="true" styleClass="calendarFH"  placeholder="Hora" style="width: 45px;" 
                                                        value="#{carT.timeTillDateMday}" mask="true"/>
                                        </p:column>
                                        <p:column headerText="#{msgs['enginedata.page.general.label.diaSemana.martes']}" filterBy="#{carT.timeTillDateTuday}" sortBy="#{carT.timeTillDateTuday}">
                                            <p:calendar required="true" label="Hora" title="Hora" requiredMessage="#{msgs['enginedata.page.general.label.diaSemana.martes']} #{msgs['enginedata.page.general.error.label.obligatorio']}" tabindex="61" pattern="HH:mm" timeOnly="true" styleClass="calendarFH"  placeholder="Hora" style="width: 45px;" 
                                                        value="#{carT.timeTillDateTuday}" mask="true"/>
                                        </p:column>
                                        <p:column headerText="#{msgs['enginedata.page.general.label.diaSemana.miercoles']}" filterBy="#{carT.timeTillDateWday}" sortBy="#{carT.timeTillDateWday}">
                                            <p:calendar required="true" label="Hora" title="Hora" requiredMessage="#{msgs['enginedata.page.general.label.diaSemana.miercoles']} #{msgs['enginedata.page.general.error.label.obligatorio']}" tabindex="61" pattern="HH:mm" timeOnly="true" styleClass="calendarFH"  placeholder="Hora" style="width: 45px;" 
                                                        value="#{carT.timeTillDateWday}" mask="true"/>
                                        </p:column>
                                        <p:column headerText="#{msgs['enginedata.page.general.label.diaSemana.jueves']}" filterBy="#{carT.timeTillDateTrday}" sortBy="#{carT.timeTillDateTrday}">
                                            <p:calendar required="true" label="Hora" title="Hora" requiredMessage="#{msgs['enginedata.page.general.label.diaSemana.jueves']} #{msgs['enginedata.page.general.error.label.obligatorio']}" tabindex="61" pattern="HH:mm" timeOnly="true" styleClass="calendarFH"  placeholder="Hora" style="width: 45px;" 
                                                        value="#{carT.timeTillDateTrday}" mask="true"/>
                                        </p:column>
                                        <p:column headerText="#{msgs['enginedata.page.general.label.diaSemana.viernes']}" filterBy="#{carT.timeTillDateFday}" sortBy="#{carT.timeTillDateFday}">
                                            <p:calendar required="true" label="Hora" title="Hora" requiredMessage="#{msgs['enginedata.page.general.label.diaSemana.viernes']} #{msgs['enginedata.page.general.error.label.obligatorio']}" tabindex="61" pattern="HH:mm" timeOnly="true" styleClass="calendarFH"  placeholder="Hora" style="width: 45px;" 
                                                        value="#{carT.timeTillDateFday}" mask="true"/>
                                        </p:column>
                                        <p:column headerText="#{msgs['enginedata.page.general.label.diaSemana.sabado']}" filterBy="#{carT.timeTillDateSaday}" sortBy="#{carT.timeTillDateSaday}">
                                                <p:calendar label="Hora" title="Hora" tabindex="61" pattern="HH:mm" timeOnly="true" styleClass="calendarFH"  placeholder="Hora" style="width: 45px;" 
                                                        value="#{carT.timeTillDateSaday}" mask="true"/>
                                        </p:column>
                                        <p:column headerText="#{msgs['enginedata.page.general.label.diaSemana.domingo']}" filterBy="#{carT.timeTillDateSuday}" sortBy="#{carT.timeTillDateSuday}">
                                            <p:calendar label="Hora" title="Hora" tabindex="61" pattern="HH:mm" timeOnly="true" styleClass="calendarFH"  placeholder="Hora" style="width: 45px;" 
                                                        value="#{carT.timeTillDateSuday}" mask="true"/>
                                        </p:column>
                                    </p:dataTable>
                                <!--</p:fieldset>-->
                            </div>
                        </div>
                        <div class="ui-grid ui-grid-responsive">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <div class="ui-grid-col-6" style="text-align: left;">
                                        <p:commandButton tabindex="5" value="#{msgs['enginedata.page.general.label.salir']}" process="@this" update=":frmTable:lazyDataTable" partialSubmit="true" styleClass="btnSave fa fa-sign-out" onstart="PF('updateDialog').show();" onsuccess="PF('updateDialog').hide();" actionListener="#{segBrncRecpMaxController.loadInfo}"/>
                                    </div>
                                    <div class="ui-grid-col-6" style="text-align: right;">
                                        <p:commandButton tabindex="5" value="#{msgs['enginedata.page.save-button-label']}" process="@this, lstPerfilesRolesTarget" partialSubmit="true" styleClass="GreenButton fa fa-floppy-o" actionListener="#{segBrncRecpMaxController.save()}" update=":frmTable" onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" rendered="#{segBrncRecpMaxController.actionPermitido('SAVE')}"/>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>

                </h:form>
            </p:dialog>

            <p:dialog widgetVar="statusDialog" style="border-radius: 50%; text-align: center;" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
                <img src="../../../../../resources/images/i_g_fleet.gif" style="width: 200px;"/>
                <strong style="display: block; text-align: center;">#{msgs['enginedata.page.general.label.cargando']}</strong>
            </p:dialog>
        </f:view>
    </h:body>
</html>