<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>#{msgs['enginedata.page.general.label.corteSucursalSrvcSeg']}</title>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/style.css"/>
        <script type="text/javascript" src="../../../../../resources/js/global.js"></script>
        <script type="text/javascript" src="../../../../../resources/js/calendar-localization.js?v=#{securityEngineData.versionApp}"></script>
        <style>
            #updateForm\3a buzonRadF_fechaInicial input{
                width: 50px!important;
                text-align: center;
            }
        </style>
    </h:head>

    <h:body onload="#{segBrncSrvcController.onLoad()}" styleClass="bodyContent">
        <f:view locale="#{securityEngineData.locale}" >
            <h:form id="frmTable" rendered="true" onsubmit="return false;" >
                <p:focus id="focus3" context="panel1" />
                <p:panel  id="panel1" styleClass="FiltrosHeader generic100Height" >
                    <p:growl id="message" showDetail="true" showSummary="false" autoUpdate="true" life="4500" />
                    <p:dataTable id="lazyDataTable" var="dto" value="#{segBrncSrvcController.lazyModel}"  widgetVar="lazyDataTable" filteredValue="#{segBrncSrvcController.filtered}" rows="100" selection="#{segBrncSrvcController.selectedDto}" rendered="true" lazy="true" selectionMode="single" rowKey="#{dto.orgnBrncId}" paginatorPosition="bottom" paginator="true" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}" rowsPerPageTemplate="100,200,300,400" styleClass="dt-reflow dt-selectedrow-1 dt-datos" >
                        <p:ajax event="rowDblselect" listener="#{segBrncSrvcController.onRowDblClckSelect}" update=":docDlgUpdate"  resetValues="true" global="false" onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"/>
                        <p:ajax event="filter" listener="#{segBrncSrvcController.filterListener}" update="@this"/>                        
                        <f:facet name="header" class="headerDt" id="headerDt">
                            <div class="ui-grid ui-grid-responsive headerDTFilters">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-5">
                                        <h:outputText id="lblBusqueda" value="#{msgs['enginedata.page.general.catalogs.lstUser.lblBusqueda']}" />
                                        <p:inputText id="globalFilter" onkeyup="PF('lazyDataTable').filter()" style="width:150px" placeholder="#{msgs['enginedata.page.general.catalogs.lstUser.globalFilter']}" >
                                        </p:inputText>
                                    </div>
                                    <div class="ui-grid-col-4">
                                        <h:commandLink id="exportExcel" title="Exportar a excel" rendered="#{segBrncSrvcController.actionPermitido('EXPORT')}">
                                            <img src="../../../../../resources/images/excel.png" width="24"/>
                                            <p:dataExporter type="xls" target="lazyDataTable" fileName="exportExcel" postProcessor="#{dataExporterController.postProcessXLS}" />
                                            <p:tooltip for="exportExcel" />
                                        </h:commandLink>
                                        <h:commandLink id="exportPDF" title="Exportar a PDF" rendered="#{segBrncSrvcController.actionPermitido('EXPORT')}">
                                            <img src="../../../../../resources/images/pdf.png" width="24"/>
                                            <p:dataExporter  type="pdf" target="lazyDataTable" fileName="exportPDF" pageOnly="false" preProcessor="#{dataExporterController.preProcessPDF}" />
                                            <p:tooltip for="exportPDF" />
                                        </h:commandLink> 
                                        <h:commandLink id="exportCSV" title="Exportar a CSV"  rendered="#{segBrncSrvcController.actionPermitido('EXPORT')}">
                                            <img src="../../../../../resources/images/csv.png" width="24"/>
                                            <p:dataExporter type="csv" target="lazyDataTable" fileName="exportCSV" pageOnly="false" />
                                            <p:tooltip for="exportCSV" />
                                        </h:commandLink>
                                        <h:commandLink id="exportXML" title="Exportar a XML"  rendered="#{segBrncSrvcController.actionPermitido('EXPORT')}">
                                            <img src="../../../../../resources/images/xml.png" width="24"/>
                                            <p:dataExporter type="xml" target="lazyDataTable" fileName="exportXML" pageOnly="false" />
                                            <p:tooltip for="exportXML" />
                                        </h:commandLink>                                        
                                    </div>
                                </div>
                            </div>
                        </f:facet>

                        <p:column styleClass="width20" sortBy="#{dto.orgnBrncId}" filterBy="#{dto.orgnBrncId}" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.clave']}" /></f:facet>
                            <h:outputText value="#{dto.orgnBrncId}" />
                        </p:column>

                        <p:column styleClass="width20" sortBy="#{dto.orgnBrncDesc}" filterBy="#{dto.orgnBrncDesc}" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.sucursal']}" /></f:facet>
                            <h:outputText value="#{dto.orgnBrncDesc}" />
                        </p:column>

                        <p:column styleClass="width20" sortBy="#{dto.std}" filterBy="#{dto.std}" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.estandar']}" /></f:facet>
                            <h:outputText value="#{dto.std}" />
                        </p:column>

                        <p:column styleClass="width20" sortBy="#{dto.segMd}" filterBy="#{dto.segMd}" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.mismoDia']}" /></f:facet>
                            <h:outputText value="#{dto.segMd}" />
                        </p:column>

                        <p:column styleClass="width20" sortBy="#{dto.segDs}" filterBy="#{dto.segDs}" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.sigDia']}" /></f:facet>
                            <h:outputText value="#{dto.segDs}" />
                        </p:column>                        

                    </p:dataTable>
                </p:panel>
            </h:form>

            <!-- DIALOGS -->
            <p:dialog header="#{msgs['enginedata.page.general.label.confSucServ']}" widgetVar="updateDialog" resizable="false" id="docDlgUpdate" modal="true" styleClass="modalWidth70" closable="false">
                <h:form id="updateForm" onkeypress="return event.keyCode !== 13" >
                    <div class="ui-grid ui-grid-responsive">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2 filtroCbx filtroGenericField">
                                <p:outputLabel for="cmbSegSrvcBrnc" value="#{msgs['enginedata.page.general.label.servicios']}" styleClass="LabelBuzon" />
                                <p:selectOneMenu id="cmbSegSrvcBrnc" editable="true" immediate="true" converter="genericConverter" value="#{segBrncSrvcController.selectedParm}" valueChangeListener="#{segBrncSrvcController.getInfo}" filter="true" filterMatchMode="startsWith" styleClass="full-width input-to-uppercase" required="true" requiredMessage="El Servicio es requerido.">
                                    <f:selectItems value="#{segBrncSrvcController.listSysParmDTO}" var="sysParmDTO" itemValue="#{sysParmDTO}" itemLabel="#{sysParmDTO.paramDesc}" />
                                    <p:ajax process="cmbSegSrvcBrnc" partialSubmit="true" event="valueChange" update="lstPerfilesRolesSource lstPerfilesRolesTarget" />
                                </p:selectOneMenu>
                            </div>
                            <div class="ui-grid-col-2">
                                <p:outputLabel for="buzonRadF_fechaInicial" value="#{msgs['enginedata.page.general.label.horario']}" styleClass="LabelBuzon" /> 
                                <p:calendar id="buzonRadF_fechaInicial" style="width:80px;" required="true" label="Hora" title="Hora" requiredMessage="#{msgs['enginedata.page.general.label.horario']} #{msgs['enginedata.page.general.error.label.obligatorio']}" tabindex="61" pattern="HH:mm" timeOnly="true" placeholder="Hora" value="#{segBrncSrvcController.filters.filterFecha}" mask="true" lang="#{securityEngineData.locale}" locale="#{securityEngineData.locale}"/>                                
                            </div>
                            <div class="ui-grid-col-2 filtroCbx filtroGenericField">
                                <p:outputLabel for="txtBrnc" value="#{msgs['enginedata.page.general.label.sucursal']}" styleClass="LabelBuzon" />
                                <p:outputLabel id="txtBrnc" value="#{segBrncSrvcController.brncName}" styleClass="LabelBuzon" />                                
                            </div>                                
                        </div>
                        <div class="ui-grid-row" style="margin-top: 10px">
                            <div class="ui-grid-col-4">
                                <p:fieldset id="availableCarsField" legend="#{msgs['enginedata.page.general.label.brncNoIncluded']}">
                                    <p:dataTable id="lstPerfilesRolesSource" widgetVar="lstPerfilesRolesSource" var="carS" value="#{segBrncSrvcController.lazyModelGA}" selection="#{segBrncSrvcController.selectedDtoA}" reflow="true" rowKey="#{car.orgnBrncId}" lazy="true" rows="200" scrollable="true" scrollHeight="250" paginator="false" paginatorPosition="bottom" emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}" rowsPerPageTemplate="200,300" styleClass=" dt-datos dtResponsive dtpaginator100 seleccionarCPRow" filteredValue="#{segBrncSrvcController.filteredSource}">
                                        <p:ajax event="filter" listener="#{segBrncSrvcController.filterListenerSource}" update="@this"/>
                                        <f:facet name="header" class="headerDt" id="headerDt">
                                            <div class="ui-grid ui-grid-responsive headerDTFilters">
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-12">
                                                        <h:outputText id="lblBusquedaA" value="#{msgs['enginedata.page.general.catalogs.lstUser.lblBusqueda']}" />
                                                        <p:inputText id="globalFilter" onkeyup="PF('lstPerfilesRolesSource').filter()" style="width:150px" placeholder="#{msgs['enginedata.page.general.catalogs.lstUser.globalFilter']}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </f:facet>
                                        <p:column exportable="false"  selectionMode="multiple"  style="width:20px;text-align:center" >
                                        </p:column>
                                        <p:column headerText="#{msgs['enginedata.page.general.label.clave']}" filterBy="#{carS.destBrncId}" sortBy="#{carS.destBrncId}" filterable="true" filterMatchMode="contains">
                                            <h:outputText value="#{carS.destBrncId}" />
                                        </p:column>
                                        <p:column headerText="#{msgs['enginedata.page.general.label.descripcion']}" filterBy="#{carS.destBrncDesc}" sortBy="#{carS.destBrncDesc}" filterable="true" filterMatchMode="contains">
                                            <h:outputText value="#{carS.destBrncDesc}" />
                                        </p:column>
                                    </p:dataTable>
                                </p:fieldset>
                            </div>
                            <div class="ui-grid-col-1" style="position: relative; " >
                                <div style="position: absolute; top: 37%;text-align: center;    width: 100%;" >
                                    <div style="text-align: center;">
                                        <p:commandButton id="ss" styleClass="fa fa-chevron-right" style="margin-bottom: 10px;" value="" process="@this, lstPerfilesRolesSource, buzonRadF_fechaInicial" actionListener="#{segBrncSrvcController.operationProfileRoleDTO('1')}" update="lstPerfilesRolesSource lstPerfilesRolesTarget" title="Agregar"/>
                                        <p:tooltip id="toolTipFocus" for="ss"/>                                        
                                    </div>
                                    <div style="text-align: center;">
                                        <p:commandButton id="tt" styleClass="fa fa-chevron-left" style="margin-bottom: 10px;" value="" process="@this, lstPerfilesRolesTarget" actionListener="#{segBrncSrvcController.operationProfileRoleDTO('2')}" update="lstPerfilesRolesTarget lstPerfilesRolesSource" title="Quitar"/>
                                        <p:tooltip id="toolTipFocusA" for="tt" />                                                                                
                                    </div>
                                </div>
                            </div>
                            <div class="ui-grid-col-8">
                                <p:fieldset id="selectedCars" legend="#{msgs['enginedata.page.general.label.brncIncluded']}">
                                    <p:dataTable id="lstPerfilesRolesTarget" widgetVar="lstPerfilesRolesTarget" var="carT" value="#{segBrncSrvcController.lazyModelGB}" selection="#{segBrncSrvcController.selectedDtoB}" reflow="true" rowKey="#{carT.orgnBrncId}" lazy="true"  rows="200" scrollable="true" scrollHeight="250" paginator="false" paginatorPosition="bottom" emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}" rowsPerPageTemplate="200,300" editable="true" editMode="cell" styleClass=" dt-datos dtResponsive dtpaginator100 seleccionarCPRow">
                                        <p:ajax event="filter" listener="#{segBrncSrvcController.filterListenerTarget}" update="@this"/>
                                        <f:facet name="header" class="headerDt" id="headerDt">
                                            <div class="ui-grid ui-grid-responsive headerDTFilters">
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-12">
                                                        <h:outputText id="lblBusquedaA" value="#{msgs['enginedata.page.general.catalogs.lstUser.lblBusqueda']}" />
                                                        <p:inputText id="globalFilter" onkeyup="PF('lstPerfilesRolesTarget').filter()" style="width:150px" placeholder="#{msgs['enginedata.page.general.catalogs.lstUser.globalFilter']}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </f:facet>                                    
                                        <p:column exportable="false"  selectionMode="multiple"  style="width:20px;text-align:center" >
                                        </p:column>
                                        <p:column headerText="#{msgs['enginedata.page.general.label.clave']}" filterBy="#{carT.destBrncId}" sortBy="#{carT.destBrncId}" filterable="true" filterMatchMode="contains">
                                            <h:outputText value="#{carT.destBrncId}" />
                                        </p:column>
<!--                                        <p:column headerText="{msgs['enginedata.page.general.label.descripcion']}" filterBy="{carT.destBrncDesc}" sortBy="{carT.destBrncDesc}" filterable="true" filterMatchMode="contains">
                                            <h:outputText value="{carT.destBrncDesc}" />
                                        </p:column>-->
                                        <p:column headerText="#{msgs['enginedata.page.general.label.diaSemana.lunes']}" filterBy="#{carT.timeTillDateMday}" sortBy="#{carT.timeTillDateMday}">
                                            <p:calendar required="true" label="Hora" title="Hora" requiredMessage="#{msgs['enginedata.page.general.label.diaSemana.lunes']} #{msgs['enginedata.page.general.error.label.obligatorio']}" tabindex="61" pattern="HH:mm" timeOnly="true" styleClass="calendarFH"  placeholder="Hora" style="width: 45px;" 
                                                        value="#{carT.timeTillDateMday}" mask="true"/>
                                        </p:column>
                                        <p:column headerText="#{msgs['enginedata.page.general.label.diaSemana.martes']}" filterBy="#{carT.timeTillDateTuday}" sortBy="#{carT.timeTillDateTuday}">
                                            <p:calendar required="true" label="Hora" title="Hora" requiredMessage="#{msgs['enginedata.page.general.label.diaSemana.martes']} #{msgs['enginedata.page.general.error.label.obligatorio']}" tabindex="61" pattern="HH:mm" timeOnly="true" styleClass="calendarFH"  placeholder="Hora" style="width: 45px;" 
                                                        value="#{carT.timeTillDateTuday}" mask="true"/>
                                        </p:column>
                                        <p:column headerText="#{msgs['enginedata.page.general.label.diaSemana.miercoles']}" filterBy="#{carT.timeTillDateWday}" sortBy="#{carT.timeTillDateWday}">
                                            <p:calendar required="true" label="Hora" title="Hora" requiredMessage="#{msgs['enginedata.page.general.label.diaSemana.miercoles']} #{msgs['enginedata.page.general.error.label.obligatorio']}" tabindex="61" pattern="HH:mm" timeOnly="true" styleClass="calendarFH"  placeholder="Hora" style="width: 45px;" 
                                                        value="#{carT.timeTillDateWday}" mask="true"/>
                                        </p:column>
                                        <p:column headerText="#{msgs['enginedata.page.general.label.diaSemana.jueves']}" filterBy="#{carT.timeTillDateTrday}" sortBy="#{carT.timeTillDateTrday}">
                                            <p:calendar required="true" label="Hora" title="Hora" requiredMessage="#{msgs['enginedata.page.general.label.diaSemana.jueves']} #{msgs['enginedata.page.general.error.label.obligatorio']}" tabindex="61" pattern="HH:mm" timeOnly="true" styleClass="calendarFH"  placeholder="Hora" style="width: 45px;" 
                                                        value="#{carT.timeTillDateTrday}" mask="true"/>
                                        </p:column>
                                        <p:column headerText="#{msgs['enginedata.page.general.label.diaSemana.viernes']}" filterBy="#{carT.timeTillDateFday}" sortBy="#{carT.timeTillDateFday}">
                                            <p:calendar required="true" label="Hora" title="Hora" requiredMessage="#{msgs['enginedata.page.general.label.diaSemana.viernes']} #{msgs['enginedata.page.general.error.label.obligatorio']}" tabindex="61" pattern="HH:mm" timeOnly="true" styleClass="calendarFH"  placeholder="Hora" style="width: 45px;" 
                                                        value="#{carT.timeTillDateFday}" mask="true"/>
                                        </p:column>
                                        <p:column headerText="#{msgs['enginedata.page.general.label.diaSemana.sabado']}" filterBy="#{carT.timeTillDateSaday}" sortBy="#{carT.timeTillDateSaday}">
                                                <p:calendar label="Hora" title="Hora" tabindex="61" pattern="HH:mm" timeOnly="true" styleClass="calendarFH"  placeholder="Hora" style="width: 45px;" 
                                                        value="#{carT.timeTillDateSaday}" mask="true"/>
                                        </p:column>
                                        <p:column headerText="#{msgs['enginedata.page.general.label.diaSemana.domingo']}" filterBy="#{carT.timeTillDateSuday}" sortBy="#{carT.timeTillDateSuday}">
                                            <p:calendar label="Hora" title="Hora" tabindex="61" pattern="HH:mm" timeOnly="true" styleClass="calendarFH"  placeholder="Hora" style="width: 45px;" 
                                                        value="#{carT.timeTillDateSuday}" mask="true"/>
                                        </p:column>
                                        <p:column headerText="#{msgs['enginedata.page.general.catalogs.segBrncSrvcDL.tiempoReaccion']}" filterBy="#{carT.timeReactionDate}" sortBy="#{carT.timeReactionDate}">
                                            <p:calendar label="Hora" title="Hora" tabindex="62" pattern="HH:mm" timeOnly="true" styleClass="calendarFH"  placeholder="Hora" style="width: 45px;" 
                                                        value="#{carT.timeReactionDate}" mask="true"/>
                                        </p:column>
                                    </p:dataTable>
                                </p:fieldset>
                            </div>
                        </div>
                        <div class="ui-grid ui-grid-responsive">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <div class="ui-grid-col-6" style="text-align: left;">
                                        <p:commandButton tabindex="5" value="#{msgs['enginedata.page.general.label.salir']}" process="@this" update=":frmTable:lazyDataTable" partialSubmit="true" styleClass="btnSave fa fa-sign-out" onstart="PF('updateDialog').show();" onsuccess="PF('updateDialog').hide();" actionListener="#{segBrncSrvcController.loadInfo}"/>
                                    </div>
                                    <div class="ui-grid-col-6" style="text-align: right;">
                                        <p:commandButton tabindex="5" value="#{msgs['enginedata.page.save-button-label']}" process="@this, lstPerfilesRolesSource lstPerfilesRolesTarget" partialSubmit="true" styleClass="GreenButton fa fa-floppy-o" actionListener="#{segBrncSrvcController.save()}" update=":frmTable" onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" rendered="#{segBrncSrvcController.actionPermitido('SAVE')}"/>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>

                </h:form>
            </p:dialog>

            <p:dialog widgetVar="statusDialog" style="border-radius: 50%; text-align: center;" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
                <img src="../../../../../resources/images/i_g_fleet.gif" style="width: 200px;"/>
                <strong style="display: block; text-align: center;">#{msgs['enginedata.page.general.label.cargando']}</strong>
            </p:dialog>
        </f:view>
    </h:body>
</html>