<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>#{msgs['enginedata.page.general.label.cobertSrvcExp']}</title>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/style.css"/>
        <script type="text/javascript" src="../../../../../resources/js/global.js"></script>
    </h:head>

    <h:body onload="#{segZipcCoveController.onLoad()}" styleClass="bodyContent">
        <f:view locale="#{securityEngineData.locale}" >
            <h:form id="frmTable" rendered="true" onsubmit="return false;" >
                <p:focus id="focus3" context="panel1" />
                <p:panel header="#{msgs['enginedata.page.general.label.cobertSrvcExp']}" id="panel1" styleClass="FiltrosHeader generic100Height" >
                    <p:growl id="message" showDetail="true" showSummary="false" autoUpdate="true" life="4500" />
                    <p:dataTable id="lazyDataTable" var="dto" value="#{segZipcCoveController.lazyModel}"  widgetVar="lazyDataTable" filteredValue="#{segZipcCoveController.filtered}" rows="100" selection="#{segZipcCoveController.selectedDto}" rendered="true" lazy="true" selectionMode="single" rowKey="#{dto.brncId}" paginatorPosition="bottom" paginator="true" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}" rowsPerPageTemplate="100,200,300,400" styleClass="dt-reflow dt-selectedrow-1 dt-datos" >
                        <p:ajax event="rowDblselect" listener="#{segZipcCoveController.onRowDblClckSelect}" update=":docDlgUpdate"  resetValues="true" global="false" onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"/>
                        <p:ajax event="filter" listener="#{segZipcCoveController.filterListener}" update="@this"/>                        
                        <f:facet name="header" class="headerDt" id="headerDt">
                            <div class="ui-grid ui-grid-responsive headerDTFilters">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-5">
                                        <h:outputText id="lblBusqueda" value="#{msgs['enginedata.page.general.catalogs.lstUser.lblBusqueda']}" />
                                        <p:inputText id="globalFilter" onkeyup="PF('lazyDataTable').filter()" style="width:150px" placeholder="#{msgs['enginedata.page.general.catalogs.lstUser.globalFilter']}" >
                                        </p:inputText>
                                    </div>
                                    <div class="ui-grid-col-4">
                                        <h:commandLink id="exportExcel" title="Exportar a excel"  rendered="#{segZipcCoveController.actionPermitido('EXPORT')}">
                                            <img src="../../../../../resources/images/excel.png" width="24"/>
                                            <p:dataExporter type="xls" target="lazyDataTable" fileName="exportExcel" postProcessor="#{dataExporterController.postProcessXLS}" />
                                            <p:tooltip for="exportExcel" />
                                        </h:commandLink>
                                        <h:commandLink id="exportPDF" title="Exportar a PDF" rendered="#{segZipcCoveController.actionPermitido('EXPORT')}">
                                            <img src="../../../../../resources/images/pdf.png" width="24"/>
                                            <p:dataExporter  type="pdf" target="lazyDataTable" fileName="exportPDF" pageOnly="false" preProcessor="#{dataExporterController.preProcessPDF}" />
                                            <p:tooltip for="exportPDF" />
                                        </h:commandLink> 
                                        <h:commandLink id="exportCSV" title="Exportar a CSV"  rendered="#{segZipcCoveController.actionPermitido('EXPORT')}">
                                            <img src="../../../../../resources/images/csv.png" width="24"/>
                                            <p:dataExporter type="csv" target="lazyDataTable" fileName="exportCSV" pageOnly="false" />
                                            <p:tooltip for="exportCSV" />
                                        </h:commandLink>
                                        <h:commandLink id="exportXML" title="Exportar a XML"  rendered="#{segZipcCoveController.actionPermitido('EXPORT')}">
                                            <img src="../../../../../resources/images/xml.png" width="24"/>
                                            <p:dataExporter type="xml" target="lazyDataTable" fileName="exportXML" pageOnly="false" />
                                            <p:tooltip for="exportXML" />
                                        </h:commandLink>                                        
                                    </div>
                                </div>
                            </div>
                        </f:facet>

                        <p:column styleClass="width20" sortBy="#{dto.brncId}" filterBy="#{dto.brncId}" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.clave']}" /></f:facet>
                            <h:outputText value="#{dto.brncId}" />
                        </p:column>

                        <p:column styleClass="width20" sortBy="#{dto.brncDesc}" filterBy="#{dto.brncDesc}" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.sucursal']}" /></f:facet>
                            <h:outputText value="#{dto.brncDesc}" />
                        </p:column>

                        <p:column styleClass="width20" sortBy="#{dto.zipc}" filterBy="#{dto.zipc}" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.colonia']}s con cobertura" /></f:facet>
                            <h:outputText value="#{dto.zipc}" />
                        </p:column>

                    </p:dataTable>
                </p:panel>
            </h:form>

            <!-- DIALOGS -->
            <p:dialog header="#{msgs['enginedata.page.general.label.cobertConfSrvcExp']}" widgetVar="updateDialog" resizable="false" id="docDlgUpdate" modal="true" styleClass="modalWidth90" closable="false">
                <h:form id="updateForm" onkeypress="return event.keyCode !== 13" >
                    <div class="ui-grid ui-grid-responsive">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2 filtroCbx filtroGenericField">
                                <p:outputLabel for="txtBrnc" value="#{msgs['enginedata.page.general.label.sucursal']}" styleClass="LabelBuzon" />
                                <p:outputLabel id="txtBrnc" value="#{segZipcCoveController.brncName}" styleClass="LabelBuzon" />                                                                
                            </div>
                        </div>
                        <div class="ui-grid-row" style="margin-top: 10px">
                            <div class="ui-grid-col-6">
                                <p:fieldset id="availableCarsField" legend="#{msgs['enginedata.page.general.label.colNoIncluded']}">
                                    <p:dataTable id="lstPerfilesRolesSource" widgetVar="lstPerfilesRolesSource" var="carS" value="#{segZipcCoveController.lazyModelGA}" selection="#{segZipcCoveController.selectedDtoA}" reflow="true" rowKey="#{car.codColo}" lazy="true" rows="500" scrollable="true" scrollWidth="465" scrollHeight="250" paginator="true" paginatorPosition="bottom" emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}" rowsPerPageTemplate="200,300" styleClass=" dt-datos dtResponsive dtpaginator100 seleccionarCPRow" filteredValue="#{segZipcCoveController.filteredSource}">
                                        <p:ajax event="filter" listener="#{segZipcCoveController.filterListenerSource}" update="@this"/>
                                        <f:facet name="header" class="headerDt" id="headerDt">
                                            <div class="ui-grid ui-grid-responsive headerDTFilters">
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-12">
                                                        <h:outputText id="lblBusquedaA" value="#{msgs['enginedata.page.general.catalogs.lstUser.lblBusqueda']}" />
                                                        <p:inputText id="globalFilter" onkeyup="PF('lstPerfilesRolesSource').filter()" style="width:150px" placeholder="#{msgs['enginedata.page.general.catalogs.lstUser.globalFilter']}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </f:facet>
                                        <p:column exportable="false"  selectionMode="multiple" styleClass="width15px" style="width:20px;text-align:center" >
                                        </p:column>
                                        <p:column headerText="#{msgs['enginedata.page.general.label.cp']}" styleClass="width50px" filterBy="#{carS.zipc}" sortBy="#{carS.zipc}" filterable="true" filterMatchMode="contains">
                                            <h:outputText value="#{carS.zipc}" />
                                        </p:column>
                                        <p:column headerText="#{msgs['enginedata.page.general.label.colonia']}" styleClass="width200" filterBy="#{carS.colDesc}" sortBy="#{carS.colDesc}" filterable="true" filterMatchMode="contains">
                                            <h:outputText value="#{carS.colDesc}" />
                                        </p:column>
                                        <p:column headerText="#{msgs['enginedata.page.general.label.ciudadPoblacion']}" styleClass="width80" filterBy="#{carS.ciudad}" sortBy="#{carS.ciudad}" filterable="true" filterMatchMode="contains">
                                            <h:outputText value="#{carS.ciudad}" />
                                        </p:column>
                                        <p:column headerText="#{msgs['enginedata.page.general.label.delegacionMunicipio']}" styleClass="width80" filterBy="#{carS.delmun}" sortBy="#{carS.delmun}" filterable="true" filterMatchMode="contains">
                                            <h:outputText value="#{carS.delmun}" />
                                        </p:column>
                                        <p:column headerText="#{msgs['enginedata.page.general.label.estado']}" styleClass="width50" filterBy="#{carS.delmun}" sortBy="#{carS.delmun}" filterable="true" filterMatchMode="contains">
                                            <h:outputText value="#{carS.estado}" />
                                        </p:column>
                                    </p:dataTable>
                                </p:fieldset>
                            </div>
                            <div class="ui-grid-col-1" style="position: relative; " >
                                <div style="position: absolute; top: 37%;text-align: center;    width: 100%;" >
                                    <div style="text-align: center;">
                                        <p:commandButton id="ss" styleClass="fa fa-chevron-right" style="margin-bottom: 10px;" value="" process="@this, lstPerfilesRolesSource" actionListener="#{segZipcCoveController.operationProfileRoleDTO('1')}" update="lstPerfilesRolesSource lstPerfilesRolesTarget" title="Agregar"/>
                                        <p:tooltip id="toolTipFocus" for="ss"/>                                        
                                    </div>
                                    <div style="text-align: center;">
                                        <p:commandButton id="tt" styleClass="fa fa-chevron-left" style="margin-bottom: 10px;" value="" process="@this, lstPerfilesRolesTarget" actionListener="#{segZipcCoveController.operationProfileRoleDTO('2')}" update="lstPerfilesRolesTarget lstPerfilesRolesSource" title="Quitar"/>
                                        <p:tooltip id="toolTipFocusA" for="tt" />                                                                                
                                    </div>
                                </div>
                            </div>
                            <div class="ui-grid-col-6">
                                <p:fieldset id="selectedCars" legend="#{msgs['enginedata.page.general.label.colIncluded']}">
                                    <p:dataTable id="lstPerfilesRolesTarget" widgetVar="lstPerfilesRolesTarget" var="carT" value="#{segZipcCoveController.lazyModelGB}" selection="#{segZipcCoveController.selectedDtoB}" reflow="true" rowKey="#{carT.codColo}" lazy="true"  rows="500" scrollable="true" scrollWidth="465" scrollHeight="250" paginator="true" paginatorPosition="bottom" emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}" rowsPerPageTemplate="200,300" editable="true" editMode="cell" styleClass=" dt-datos dtResponsive dtpaginator100 seleccionarCPRow">
                                        <p:ajax event="filter" listener="#{segZipcCoveController.filterListenerTarget}" update="@this"/>
                                       <f:facet name="header" class="headerDt" id="headerDt">
                                            <div class="ui-grid ui-grid-responsive headerDTFilters">
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-12">
                                                        <h:outputText id="lblBusquedaA" value="#{msgs['enginedata.page.general.catalogs.lstUser.lblBusqueda']}" />
                                                        <p:inputText id="globalFilter" onkeyup="PF('lstPerfilesRolesTarget').filter()" style="width:150px" placeholder="#{msgs['enginedata.page.general.catalogs.lstUser.globalFilter']}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </f:facet>                                    
                                        <p:column exportable="false"  selectionMode="multiple" styleClass="width15px" style="width:20px;text-align:center" >
                                        </p:column>
                                        <p:column headerText="#{msgs['enginedata.page.general.label.cp']}" styleClass="width50px" filterBy="#{carT.zipc}" sortBy="#{carT.zipc}" filterable="true" filterMatchMode="contains">
                                            <h:outputText value="#{carT.zipc}" />
                                        </p:column>
                                        <p:column headerText="#{msgs['enginedata.page.general.label.colonia']}" styleClass="width200" filterBy="#{carT.colDesc}" sortBy="#{carT.colDesc}" filterable="true" filterMatchMode="contains">
                                            <h:outputText value="#{carT.colDesc}" />
                                        </p:column>
                                        <p:column headerText="#{msgs['enginedata.page.general.label.ciudadPoblacion']}" styleClass="width80" filterBy="#{carT.ciudad}" sortBy="#{carT.ciudad}" filterable="true" filterMatchMode="contains">
                                            <h:outputText value="#{carT.ciudad}" />
                                        </p:column>
                                        <p:column headerText="#{msgs['enginedata.page.general.label.delegacionMunicipio']}" styleClass="width80" filterBy="#{carT.delmun}" sortBy="#{carT.delmun}" filterable="true" filterMatchMode="contains">
                                            <h:outputText value="#{carT.delmun}" />
                                        </p:column>
                                        <p:column headerText="#{msgs['enginedata.page.general.label.estado']}" styleClass="width50" filterBy="#{carT.delmun}" sortBy="#{carT.delmun}" filterable="true" filterMatchMode="contains">
                                            <h:outputText value="#{carT.estado}" />
                                        </p:column>                                  
                                    </p:dataTable>
                                </p:fieldset>
                            </div>
                        </div>
                        <div class="ui-grid ui-grid-responsive">
                           <div class="ui-grid-row">
                               <div class="ui-grid-col-12">
                                    <div class="ui-grid-col-6" style="text-align: left;">
                                        <p:commandButton tabindex="5" value="#{msgs['enginedata.page.general.label.salir']}" process="@this" update=":frmTable:lazyDataTable" partialSubmit="true" styleClass="btnSave fa fa-sign-out" onstart="PF('updateDialog').show();" onsuccess="PF('updateDialog').hide();" actionListener="#{segZipcCoveController.loadInfo}"/>
                                    </div>
                                     <div class="ui-grid-col-6" style="text-align: right;">
                                        <p:commandButton tabindex="5" value="#{msgs['enginedata.page.save-button-label']}" process="@this, lstPerfilesRolesSource lstPerfilesRolesTarget" partialSubmit="true" styleClass="GreenButton fa fa-floppy-o" actionListener="#{segZipcCoveController.save()}" update=":frmTable:lazyDataTable" onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" rendered="#{segZipcCoveController.actionPermitido('SAVE')}"/>
                                    </div>
                               </div>
                           </div>
                       </div>                        
                    </div>
                   
                </h:form>
            </p:dialog>

            <p:dialog widgetVar="statusDialog" style="border-radius: 50%; text-align: center;" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
                <img src="../../../../../resources/images/i_g_fleet.gif" style="width: 200px;"/>
                <strong style="display: block; text-align: center;">#{msgs['enginedata.page.general.label.cargando']}</strong>
            </p:dialog>
        </f:view>
    </h:body>
</html>