<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Nuevo contacto</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/styleDialog.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/style.css"/>
        <script type="text/javascript" src="../../../../../resources/js/global.js"></script>
    </h:head>
    <h:body onkeydown="if (event.keyCode === 27) {
                rcCloseOnEscape();
            }">
        <f:view locale="#{securityEngineData.locale}">
            <p:growl id="growl" autoUpdate="true" life="5000" showDetail="true" sticky="true" showSummary="true" />
            <h:form id="frmContact" onkeypress="return event.keyCode !== 13"  onsubmit="return false;"> 
                <p:remoteCommand name="rcCloseOnEscape" immediate="true" process="@this" action="#{createNewContactController.closeOnEscape()}" />
                <div class="ui-grid ui-grid-responsive">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <p:panel header="#{msgs['enginedata.page.general.label.cliente']}">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2">
                                        <p:outputLabel for="txtTipoClient"  value="#{msgs['enginedata.page.general.label.tipo']}" /> <br />
                                        <p:inputText  id="txtTipoClient" size="15" tabindex="1" label="#{msgs['enginedata.page.general.label.tipo']}" disabled="true" value="#{createNewContactController.tipoCustomer}" />
                                    </div>
                                    <div class="ui-grid-col-2">
                                        <p:outputLabel for="txtClientID"  value="#{msgs['enginedata.page.general.label.idCliente']}" /> <br />
                                        <p:inputText  id="txtClientID" size="15" label="#{msgs['enginedata.page.general.label.idCliente']}" tabindex="2" disabled="true" value="#{createNewContactController.newContactMstr.entyId}" />
                                    </div>
                                    <div class="ui-grid-col-6">
                                        <p:outputLabel for="txtClientName" value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.lblNombreCliente']}" /> <br />
                                        <p:inputText id="txtClientName" label="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.lblNombreCliente']}" disabled="true" tabindex="3"  size="50"  value="#{createNewContactController.newContactMstr.entyName}" required="true" />
                                        <p:focus context="frmContact"/>
                                    </div>
                                </div>
                            </p:panel>
                        </div>
                    </div>
                    <p:panel header="#{msgs['enginedata.page.general.catalogs.createNewContact.pnel.InformacionContacto']}">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <p:outputLabel for="txtContactID"  value="#{msgs['enginedata.page.general.label.clave']}" /> <br />
                                <p:inputText  id="txtContactID"  size="15" tabindex="4" label="#{msgs['enginedata.page.general.label.clave']}" disabled="true" value="#{createNewContactController.newContactMstr.concId}" />
                            </div>
                            <div class="ui-grid-col-6">
                                <p:outputLabel for="txtContactName" value="#{msgs['enginedata.page.general.catalogs.createNewContact.lblNombreContacto']}" /> <br />
                                <p:inputText id="txtContactName" label="#{msgs['enginedata.page.general.catalogs.createNewContact.lblNombreContacto']}" tabindex="5"  maxlength="50" size="50"  value="#{createNewContactController.newContactMstr.concName}" required="true" />
                            </div>
                            <div class="ui-grid-col-3">
                                <p:outputLabel for="chkContactDefault" value="#{msgs['enginedata.page.general.catalogs.createNewContact.lblContactoPredeterminado']}" />
                                <p:selectBooleanCheckbox id="chkContactDefault" label="#{msgs['enginedata.page.general.catalogs.createNewContact.lblContactoPredeterminado']}" tabindex="6"  value="#{createNewContactController.activeContactDefault}" />
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-3">
                                <p:outputLabel for="txtTelefono"  value="#{msgs['enginedata.page.general.label.telefono']}" /> <br />
                                <p:inputText id="txtTelefono" style="width: 80%" label="#{msgs['enginedata.page.general.label.telefono']}" tabindex="7" maxlength="15" size="15" value="#{createNewContactController.newContactMstr.phno}" />
                            </div>
                            <div class="ui-grid-col-3">
                                <p:outputLabel for="txtFax"  value="#{msgs['enginedata.page.general.label.fax']}" /> <br />
                                <p:inputText id="txtFax" style="width: 80%" label="#{msgs['enginedata.page.general.label.fax']}" tabindex="8" maxlength="15" size="15" value="#{createNewContactController.newContactMstr.fxno}" />
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-3">
                                <p:outputLabel for="txtCelular"  value="#{msgs['enginedata.page.general.label.Celular']}" /> <br />
                                <p:inputText id="txtCelular" style="width: 80%" label="#{msgs['enginedata.page.general.label.Celular']}" tabindex="9" maxlength="15" size="15" value="#{createNewContactController.newContactMstr.mbno}"/>
                            </div>
                            <div class="ui-grid-col-4">
                                <p:outputLabel for="txtEmail"  value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblEmail']}" /> <br />
                                <p:inputText id="txtEmail" label="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblEmail']}" style="width: 90%; margin-bottom: 10px;" tabindex="10" maxlength="60" value="#{createNewContactController.newContactMstr.mailId}" >
                                    <f:attribute name="typeValidation" value="1" />
                                    <f:validator validatorId="custom.genericValidator" />
                                </p:inputText>

                            </div>
                        </div>
                        <p:panel id="pnelIdentificaciones" header="#{msgs['enginedata.page.general.catalogs.createNewContact.lblIdentificaciones']}">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-3" style="margin-right: 50px;">
                                    <p:outputLabel for="cbxTipoIdentificacion1" value="#{msgs['enginedata.page.general.catalogs.createNewContact.lblTipoI']}" /> <br />
                                    <p:selectOneMenu  id="cbxTipoIdentificacion1"  var="t" tabindex="11"  value="#{createNewContactController.newContactMstr.concIdenType1}" style="width:80%" required="true">
                                        <f:selectItem itemValue="SELECCION" itemLabel="#{msgs['enginedata.page.label-default-combo']}" noSelectionOption="true" />
                                        <f:selectItems value="#{createNewContactController.listIdentificaciones}" var="ConcMstrDTO" itemLabel="#{ConcMstrDTO.vlue1Desc}" itemValue="#{ConcMstrDTO.parmCode1}" />
                                        <p:column>
                                            <h:outputText value="#{t.vlue1Desc}" />
                                        </p:column>
                                        <p:ajax process="cbxTipoIdentificacion1" partialSubmit="true" event="valueChange" />
                                        <p:ajax process="cbxTipoIdentificacion1" partialSubmit="true" event="itemSelect" />   
                                    </p:selectOneMenu>
                                </div>
                                <div class="ui-grid-col-4">
                                    <p:outputLabel for="txtNoIdentifiacion1"  value="#{msgs['enginedata.page.general.catalogs.createNewContact.lblNumero']}" /> <br />
                                    <p:inputText id="txtNoIdentifiacion1" label="#{msgs['enginedata.page.general.catalogs.createNewContact.lblNumero']}" maxlength="15" tabindex="12" style="width: 80%" size="15" value="#{createNewContactController.newContactMstr.concIdenNo1}"  required="true"/>
                                </div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-3" style="margin-right: 50px;">
                                    <p:outputLabel for="cbxTipoIdentificacion2" value="#{msgs['enginedata.page.general.catalogs.createNewContact.lblTipoII']}" /> <br />
                                    <p:selectOneMenu  id="cbxTipoIdentificacion2" var="t" tabindex="13"  value="#{createNewContactController.newContactMstr.concIdenType2}" style="width:80%">
                                        <f:selectItem itemValue="SELECCION" itemLabel="#{msgs['enginedata.page.label-default-combo']}"  noSelectionOption="true" />
                                        <f:selectItems value="#{createNewContactController.listIdentificaciones}" var="ConcMstrDTO" itemLabel="#{ConcMstrDTO.vlue1Desc}" itemValue="#{ConcMstrDTO.parmCode1}" />
                                        <p:column>
                                            <h:outputText value="#{t.vlue1Desc}" />
                                        </p:column>
                                        <p:ajax process="cbxTipoIdentificacion2" partialSubmit="true" event="valueChange" update="lblNoIdentifiacion2 txtNoIdentifiacion2" />
                                        <p:ajax process="cbxTipoIdentificacion2" partialSubmit="true" event="itemSelect" update="lblNoIdentifiacion2 txtNoIdentifiacion2"/>   
                                    </p:selectOneMenu>
                                </div>
                                <div class="ui-grid-col-4">
                                    <p:outputLabel id="lblNoIdentifiacion2" for="txtNoIdentifiacion2"  value="#{msgs['enginedata.page.general.catalogs.createNewContact.lblNumero']}" /> <br />
                                    <p:inputText id="txtNoIdentifiacion2" maxlength="15" required="#{!(createNewContactController.newContactMstr.concIdenType2 eq 'SELECCION' || createNewContactController.newContactMstr.concIdenType2 == null)}" label="#{msgs['enginedata.page.general.catalogs.createNewContact.lblNumero']}" tabindex="14"  size="15" style="width: 80%;" value="#{createNewContactController.newContactMstr.concIdenNo2}" />
                                </div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-3" style="margin-right: 50px;">
                                    <p:outputLabel for="cbxTipoIdentificacion3" value="#{msgs['enginedata.page.general.catalogs.createNewContact.lblTipoIII']}" /> <br />
                                    <p:selectOneMenu  id="cbxTipoIdentificacion3" var="t" tabindex="15"  value="#{createNewContactController.newContactMstr.concIdenType3}" style="width:80%">
                                        <f:selectItem itemValue="SELECCION" itemLabel="#{msgs['enginedata.page.label-default-combo']}"  noSelectionOption="true" />
                                        <f:selectItems value="#{createNewContactController.listIdentificaciones}" var="ConcMstrDTO" itemLabel="#{ConcMstrDTO.vlue1Desc}" itemValue="#{ConcMstrDTO.parmCode1}" />
                                        <p:column>
                                            <h:outputText value="#{t.vlue1Desc}" />
                                        </p:column>
                                        <p:ajax process="cbxTipoIdentificacion3" partialSubmit="true" event="itemSelect" update="lblNoIdentifiacion3 txtNoIdentifiacion3"/>   
                                    </p:selectOneMenu>
                                </div>
                                <div class="ui-grid-col-4">
                                    <p:outputLabel id="lblNoIdentifiacion3" for="txtNoIdentifiacion3"  value="#{msgs['enginedata.page.general.catalogs.createNewContact.lblNumero']}" /> <br />
                                    <p:inputText id="txtNoIdentifiacion3" maxlength="15" required="#{!(createNewContactController.newContactMstr.concIdenType3 eq 'SELECCION' || createNewContactController.newContactMstr.concIdenType3 == null)}" label="#{msgs['enginedata.page.general.catalogs.createNewContact.lblNumero']}" tabindex="16" style="width: 80%" size="15" value="#{createNewContactController.newContactMstr.concIdenNo3}"/>
                                </div>
                            </div>
                        </p:panel>
                    </p:panel>
                </div>
                <div class="ui-grid ui-grid-responsive">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12"  align="right">
                            <p:commandButton tabindex="17" styleClass="GreenButton fa fa-floppy-o" value="#{msgs['enginedata.page.save-button-label']}" actionListener="#{createNewContactController.saveContactMstr}" process="@this, @form " update="@form"/>
                        </div>
                    </div>
                </div>
            </h:form>
        </f:view>
    </h:body>
</html>
