<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/style.css?v=#{securityEngineData.versionApp}"/>
        <script type="text/javascript" src="../../../../../resources/js/global.js?v=#{securityEngineData.versionApp}"></script>
        <!--Este estilo oculta los filter de cada columna-->
        <style type="text/css">
            .ui-datatable .ui-column-filter{display: none;}
        </style>
        
        <title>#{msgs['menu.page.menu.menuBar.itemFuncionesGlp']}</title>        
    </h:head>

    <h:body onload="#{lgnFuncionesController.onLoad()}" styleClass="bodyContent">
        <f:view locale="#{securityEngineData.locale}" >
            <h:form id="frmTable" rendered="true" onsubmit="return false;" >
                <p:focus id="focus3" context="panel1" />
                <p:panel header="#{msgs['menu.page.menu.menuBar.itemFuncionesGlp']}" id="panel1" styleClass="FiltrosHeader generic100Height" >
                    <p:growl id="message" showDetail="true" autoUpdate="true" life="4500" />
                    <!-- DATATABLE -->
                    <p:dataTable id="lazyDataTable" var="lgnFuncionDTO" value="#{lgnFuncionesController.ldm}"  widgetVar="lazyDataTable"
                                 rows="#{lgnFuncionesController.numRowPaginator}"
                                 selection="#{lgnFuncionesController.selectedDTO}" 
                                 rendered="true" lazy="true"
                                 selectionMode="single"
                                 reflow="true"
                                 rowKey="#{lgnFuncionDTO.idFunction}" paginatorPosition="bottom" 
                                 paginator="true"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}"
                                 rowsPerPageTemplate="#{lgnFuncionesController.getArrayRowPaginator()}" styleClass="dtHeight100 dt-reflow dt-selectedrow-1 dt-datos">
                        <p:ajax event="filter" listener="#{lgnFuncionesController.filterListener}" update="@this"/>
                        <p:ajax event="rowDblselect" listener="#{lgnFuncionesController.onRowDblClckSelect}"  update=":docDlgUpdate, :updateForm:cmbIcono" resetValues="true" />
                        <!-- COLUMNS -->
                        <f:facet name="header" class="headerDt" id="headerDt">
                            <div class="ui-grid ui-grid-responsive headerDTFilters">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-3">
                                        <p:commandButton update=":docDlgUpdate :updateForm :updateForm:cmbIcono" id="addRow" actionListener="#{lgnFuncionesController.configurarDialogOperacion('1')}" icon="ui-icon-plusthick" value="#{msgs['enginedata.page.general.catalogs.lstUser.addRow']}">
                                            <p:ajax update=":updateForm " resetValues="true" />
                                        </p:commandButton>
                                        <p:commandButton update=":docDlgUpdate" id="btnUpdate" action="#{lgnFuncionesController.configurarDialogOperacion('2')}" icon="ui-icon-pencil"  value="#{msgs['enginedata.page.update-button-label']}">
                                            <p:ajax update=":updateForm" resetValues="true" />
                                        </p:commandButton>
                                    </div>
                                    <div class="ui-grid-col-5">
                                        <h:outputText id="lblBusqueda" value="#{msgs['enginedata.page.general.catalogs.lstUser.lblBusqueda']}" />
                                        <p:inputText id="globalFilter" onkeyup="PF('lazyDataTable').filter()" style="width:150px" placeholder="#{msgs['enginedata.page.general.catalogs.lstUser.globalFilter']}" >
                                        </p:inputText>
                                    </div>
                                    <div class="ui-grid-col-4">
                                        <h:commandLink>
                                            <p:graphicImage name="/images/excel.png" width="24"/>
                                            <p:dataExporter type="xls" target="lazyDataTable" fileName="lazyModel" />
                                        </h:commandLink>

                                        <h:commandLink>
                                            <p:graphicImage name="/images/pdf.png" width="24"/>
                                            <p:dataExporter type="pdf" target="lazyDataTable" fileName="lazyModel"/>
                                        </h:commandLink>

                                        <h:commandLink>
                                            <p:graphicImage name="/images/csv.png" width="24"/>
                                            <p:dataExporter type="csv" target="lazyDataTable" fileName="lazyModel" />
                                        </h:commandLink>

                                        <h:commandLink>
                                            <p:graphicImage name="/images/xml.png" width="24"/>
                                            <p:dataExporter type="xml" target="lazyDataTable" fileName="lazyModel" />
                                        </h:commandLink>
                                    </div>
                                </div>
                            </div>
                        </f:facet>

                        <p:column styleClass="width40" sortBy="#{lgnFuncionDTO.idFunction}" filterBy="#{lgnFuncionDTO.idFunction}" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.catalogs.lstFunciones.colFunciones']}" /></f:facet>
                            <h:outputText value="#{lgnFuncionDTO.idFunction}" />
                        </p:column>

                        <p:column styleClass="width230 ellipsizeCellContent" sortBy="#{lgnFuncionDTO.structIdiomaDTO.idioma}" filterBy="#{lgnFuncionDTO.structIdiomaDTO.idioma}"  filterMatchMode="contains">
                            <f:facet name="header"><h:outputText id="titleNombre" value="#{msgs['enginedata.page.general.catalogs.lstFunciones.colTituloFuncion']}" /></f:facet>
                            <h:outputText id="Nombre" value="#{lgnFuncionDTO.structIdiomaDTO.idioma}" />
                            <p:tooltip for="Nombre" value="#{lgnFuncionDTO.structIdiomaDTO.idioma}" trackMouse="true" />
                        </p:column>

                        <p:column styleClass="width20" style="text-align:right" sortBy="#{lgnFuncionDTO.lfLevel}" filterBy="#{lgnFuncionDTO.lfLevel}"  filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.nivel']}" /></f:facet>
                            <h:outputText value="#{lgnFuncionDTO.lfLevel}" />
                        </p:column>

                        <p:column sortBy="#{lgnFuncionDTO.lfUrl}" filterBy="#{lgnFuncionDTO.lfUrl}"  filterMatchMode="contains" styleClass="ellipsizeCellContent">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.catalogs.lstFunciones.colURL']}" /></f:facet>
                            <h:outputText id="URL" value="#{lgnFuncionDTO.lfUrl}" />
                            <p:tooltip for="URL" value="#{lgnFuncionDTO.lfUrl.length()}" trackMouse="true" />
                        </p:column>

                        <p:column styleClass="width100" sortBy="#{lgnFuncionDTO.idRolesDTO.lrName}" filterBy="#{lgnFuncionDTO.idRolesDTO.lrName}"  filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.rol']}" /></f:facet>
                            <h:outputText value="#{lgnFuncionDTO.idRolesDTO.lrName}" />
                        </p:column>
                    </p:dataTable>
                </p:panel>
            </h:form>          
        </f:view> 
        <!-- DIALOGS -->
        <p:dialog header="#{lgnFuncionesController.titleDialogOperation}" widgetVar="updateDialog" resizable="false" id="docDlgUpdate" modal="true" styleClass="modalWidth70">
            <h:form id="updateForm" onkeypress="return event.keyCode !== 13" >
                <p:focus id="focus" context="updateForm"/>
                <div class="ui-grid ui-grid-responsive">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-3">
                            <p:outputLabel for="idRol" value="#{msgs['enginedata.page.general.label.clave']}" /><br/>
                            <p:inputText id="idRol" tabindex="1" size="17" label="idRol" disabled="true" value="#{lgnFuncionesController.selectedDTO.idFunction}"/>
                        </div>
                        <div class="ui-grid-col-5">
                            <p:outputLabel for="cmbStructIdiomaFuncion" value="#{msgs['enginedata.page.general.catalogs.lstFunciones.label.funcion']}" /><br/>
                            <p:selectOneMenu id="cmbStructIdiomaFuncion" value="#{lgnFuncionesController.selectStructIdioma}"  label="cmbStructIdiomaFuncion"
                                             converter="genericConverter" panelStyle="width:200px" tabindex="2" required="true"
                                             var="t" style="width:180px" filter="true">
                                <f:selectItems value="#{lgnFuncionesController.listStructIdioma}" var="structIdioma" itemLabel="#{structIdioma.idioma}" itemValue="#{structIdioma}" />
                                <p:column>
                                    <h:outputText value="#{t.idioma}" />
                                </p:column>
                            </p:selectOneMenu>
                        </div>
                        <div class="ui-grid-col-2">
                            <p:outputLabel for="txtLevel" value="#{msgs['enginedata.page.general.label.nivel']}" /><br/>
                            <p:inputText id="txtLevel" onkeypress="return onlyNumbers(event);" maxlength="2" tabindex="3" label="level" size="4" value="#{lgnFuncionesController.selectedDTO.lfLevel}" required="true"/>
                        </div>
                        <div class="ui-grid-col-4">
                            <p:outputLabel for="cmbTipoFuncion" value="#{msgs['enginedata.page.general.label.tipoFuncion']}"  /><br/>
                            <p:selectOneMenu id="cmbTipoFuncion" tabindex="7" value="#{lgnFuncionesController.selectFuncType}" converter="genericConverter">
                                <f:selectItems value="#{lgnFuncionesController.listFuncTypeDTO}" var="lgnFuncTypeDTO" itemLabel="#{lgnFuncTypeDTO.ftName}" itemValue="#{lgnFuncTypeDTO}" />
                            </p:selectOneMenu>
                        </div>
                        <div class="ui-grid-col-1">
                            <p:outputLabel for="chbStatus"  value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.chbStatus']}" /><br/>
                            <p:selectBooleanCheckbox tabindex="4" label="chbStatus" id="chbStatus" value="#{lgnFuncionesController.activeChbStatus}" />
                        </div>
                    </div>
                    
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-3">
                            <p:outputLabel for="cmbRol" value="Rol"  /><br/>
                            <p:selectOneMenu id="cmbRol" style="width:120px" tabindex="7" value="#{lgnFuncionesController.selectRoles}" converter="genericConverter"
                                              var="lgnRolesDTO" filter="true" filterMatchMode="startsWith">
                                <f:selectItems value="#{lgnFuncionesController.listRolesDTO}" var="lgnRolesDTO" itemLabel="#{lgnRolesDTO.lrName}" itemValue="#{lgnRolesDTO}" />
                                <p:column>
                                    <h:outputText value="#{lgnRolesDTO.lrName}" />
                                </p:column>
                            </p:selectOneMenu>
                        </div>
                        <div class="ui-grid-col-5">
                            <p:outputLabel for="txtUrl" value="#{msgs['enginedata.page.general.catalogs.lstFunciones.colURL']}" /><br/>
                            <p:inputText styleClass="omitirChangeUppercase" id="txtUrl" tabindex="5" label="url" size="40" value="#{lgnFuncionesController.selectedDTO.lfUrl}" required="true"/>
                        </div>
                        <div class="ui-grid-col-0">
                            <p:outputLabel for="cmbModulo" value="#{msgs['enginedata.page.general.label.modulos']}"  /><br/>
                            <p:selectOneMenu id="cmbModulo" tabindex="6" value="#{lgnFuncionesController.selectModule}" converter="genericConverter">
                                <f:selectItems value="#{lgnFuncionesController.listModuleDTO}" var="module" itemLabel="#{module.lmName}" itemValue="#{module}" />
                            </p:selectOneMenu>
                        </div>
                        <div class="ui-grid-col-1" style="margin-top: 15px;" >
                            <p:commandButton tabindex="5" styleClass="GreenButton fa fa-plus" value="" actionListener="#{lgnFuncionesController.openLgnModule()}" style="height: 20px;" />
                        </div>
                        <div class="ui-grid-col-2">
                            <p:outputLabel for="cmbIcono" styleClass="LabelBuzon" value="Icono"  />

                            <p:selectOneMenu id="cmbIcono" editable="true" value="#{lgnFuncionesController.selectedIcon}" converter="genericConverter" panelStyle="width:180px"
                                             effect="fade" var="t" style="width:100px" filter="true" filterMatchMode="startsWith">
                                <f:selectItems value="#{lgnFuncionesController.listIcon}" var="theme" itemLabel="#{theme.paramDesc}" itemValue="#{theme}" />
                                  <p:ajax process="cmbIcono" partialSubmit="true" event="valueChange" />
                                <p:column style="width:10%">
                                    <h:outputText styleClass="#{t.paramDesc}" />
                                </p:column>

                                <p:column>
                                    <h:outputText value="#{t.paramDesc}" />
                                </p:column>
                            </p:selectOneMenu>                            


                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-3">
                            <p:outputLabel for="chbStatuss"  value="#{msgs['enginedata.page.general.label.multidalogo']}" /><br/>
                            <p:selectBooleanCheckbox tabindex="4" label="chbStatuss" id="chbStatuss" value="#{lgnFuncionesController.activeMultiStatus}" />
                        </div>
                        <div class="ui-grid-col-3">
                            
                            <p:outputLabel  for="txtWidht" value="#{msgs['enginedata.page.general.label.anchura']}" /><br/>
                            <p:inputText styleClass="omitirChangeUppercase" id="txtWidht" tabindex="5" style="width: 100px;" label="txtWidht" size="30" value="#{lgnFuncionesController.selectedDTO.lfWidht}"/>
                        </div>
                        <div class="ui-grid-col-3">
                            <p:outputLabel for="txtHeight" value="#{msgs['enginedata.page.general.label.altura']}" /><br/>
                            <p:inputText styleClass="omitirChangeUppercase" id="txtHeight" tabindex="5" style="width: 100px;" label="txtHeight" size="30" value="#{lgnFuncionesController.selectedDTO.lfHeight}"/>
                        </div>
                    </div>
                    <div class="ui-grid-row" style="margin-top: 10px">
                        <div class="ui-grid-col-12">
                            <p:pickList style="width: 100%;" id="pickList" showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains" value="#{lgnFuncionesController.listActionDTO}" 
                                        var="functionsDTO" itemLabel="#{functionsDTO.name}" itemValue="#{functionsDTO}"  converter="PickListConverter" >
                                <f:facet name="sourceCaption">Accciones</f:facet>
                                <f:facet name="targetCaption">Acciones utilizadas en la funcion</f:facet>  
                            </p:pickList>
                        </div>
                    </div>
                    <div class="ui-grid-row" style="margin-top: 10px">
                        <div class="ui-grid-col-6" style="text-align: left;" >
                            <p:commandButton id="btnEliminar" styleClass="RedButton boton fa fa-times" tabindex="4" value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.btnEliminar']}" action="#{lgnFuncionesController.delete()}"  immediate="true" disabled="#{lgnFuncionesController.activeBtnEliminar}" update=":frmTable:lazyDataTable :updateForm" >
                                <p:confirm header="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.msgConfirmacionHeader']}" message="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.msgConfirmacion']}" icon="ui-icon-alert" />
                            </p:commandButton>
                            <p:confirmDialog global="true">
                                <p:commandButton value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.msgConfirmacion.si']}" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                <p:commandButton value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.msgConfirmacion.no']}" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                            </p:confirmDialog>
                        </div>
                        <div class="ui-grid-col-6" style="text-align: right;" >
                            <p:commandButton tabindex="5" process="@this,cmbStructIdiomaFuncion txtLevel cmbTipoFuncion chbStatus chbStatuss cmbRol txtUrl txtWidht txtHeight cmbModulo pickList cmbIcono" value="#{msgs['enginedata.page.save-button-label']}" styleClass="GreenButton fa fa-floppy-o" action="#{lgnFuncionesController.execOperation()}" update=":frmTable:lazyDataTable :updateForm focus" />
                        </div>
                    </div>
                </div>

            </h:form>
        </p:dialog>
        <p:dialog id="dialog1"  widgetVar="ex" modal="true"  styleClass="modalWidth70">
            <p:ajax event="close"  listener="#{lgnFuncionesController.updateLgnModule()}" />
            <iframe frameborder="0" align="left" 
                 src="lstModule.jsf?Desarrollo"
                 name="someName" id="someId" scrolling="auto" width="100%"
                 height="500" marginheight="5" marginwidth="10">
             </iframe>
        </p:dialog>

    </h:body>
</html>