<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Captura de perfiles y roles</title>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/style.css"/>
        <script type="text/javascript" src="../../../../../resources/js/global.js"></script>
        <style type="text/css">
            .ui-datatable .ui-column-filter{display: none;}
        </style>

    </h:head> 

    <h:body onload="#{lgnPerfilesRolesController.onload()}" styleClass="bodyContent">
        <f:view locale="#{securityEngineData.locale}" >
            <h:form id="frmTable" rendered="true" onsubmit="return false;" >
                <p:focus id="focus3" context="panel1" />
                <p:panel header="Perfiles" id="panel1" styleClass="FiltrosHeader generic100Height" >
                    <p:growl id="message" showDetail="true" autoUpdate="true" life="4500" />
                    <!-- DATATABLE -->
                    <p:dataTable id="lazyDataTable" var="lgnProfileDTO" value="#{lgnPerfilesRolesController.ldmDefault}"  widgetVar="lazyDataTable"
                                 filteredValue="#{lgnPerfilesRolesController.filteredProfilesDTO}" rows="50"
                                 selection="#{lgnPerfilesRolesController.selectedProfilesDTO}" 
                                 rendered="true" lazy="true"
                                 selectionMode="single"
                                 reflow="true"
                                 rowKey="#{lgnProfileDTO.idProfile}" paginatorPosition="bottom" 
                                 paginator="true"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}"
                                 rowsPerPageTemplate="50,100,200,300" styleClass="dtHeight100 dt-reflow dt-selectedrow-1 dt-datos">
                        <p:ajax event="filter" listener="#{lgnPerfilesRolesController.filterListener}" update="@this"/>
                        <p:ajax event="rowDblselect" listener="#{lgnPerfilesRolesController.onRowDblClckSelect}" onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();" update=":docDlgUpdate :updateForm" global="false" />
                        <!-- COLUMNS -->
                        <f:facet name="header" class="headerDt" id="headerDt">
                            <div class="ui-grid ui-grid-responsive headerDTFilters">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-3">
                                        <p:commandButton update=":docDlgUpdate :updateForm" id="addRow" actionListener="#{lgnPerfilesRolesController.configurarDialogOperacion('1')}"  onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();" icon="ui-icon-plusthick" value="#{msgs['enginedata.page.general.catalogs.lstUser.addRow']}">
                                            <p:ajax update=":updateForm" resetValues="true" />
                                        </p:commandButton>
                                        <p:commandButton update=":docDlgUpdate :updateForm" id="btnUpdate" action="#{lgnPerfilesRolesController.configurarDialogOperacion('2')}" icon="ui-icon-pencil"  value="#{msgs['enginedata.page.update-button-label']}">
                                            <p:ajax update=":updateForm" resetValues="true" />
                                        </p:commandButton>
                                    </div>
                                    <div class="ui-grid-col-5">
                                        <h:outputText id="lblBusqueda" value="#{msgs['enginedata.page.general.catalogs.lstUser.lblBusqueda']}" />
                                        <p:inputText id="globalFilter" onkeyup="PF('lazyDataTable').filter()" style="width:150px" placeholder="#{msgs['enginedata.page.general.catalogs.lstUser.globalFilter']}" >
                                        </p:inputText>
                                    </div>
                                    <div class="ui-grid-col-4">
                                        <h:commandLink>
                                            <p:graphicImage name="/images/excel.png" width="24"/>
                                            <p:dataExporter type="xls" target="lazyDataTable" fileName="lazyModel" />
                                        </h:commandLink>

                                        <h:commandLink>
                                            <p:graphicImage name="/images/pdf.png" width="24"/>
                                            <p:dataExporter type="pdf" target="lazyDataTable" fileName="lazyModel"/>
                                        </h:commandLink>

                                        <h:commandLink>
                                            <p:graphicImage name="/images/csv.png" width="24"/>
                                            <p:dataExporter type="csv" target="lazyDataTable" fileName="lazyModel" />
                                        </h:commandLink>

                                        <h:commandLink>
                                            <p:graphicImage name="/images/xml.png" width="24"/>
                                            <p:dataExporter type="xml" target="lazyDataTable" fileName="lazyModel" />
                                        </h:commandLink>
                                    </div>
                                </div>
                            </div>
                        </f:facet>

                        <p:column styleClass="width40" sortBy="#{lgnProfileDTO.idProfile}" filterBy="#{lgnProfileDTO.idProfile}" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="Perfiles" /></f:facet>
                            <h:outputText value="#{lgnProfileDTO.idProfile}" />
                        </p:column>

                        <p:column sortBy="#{lgnProfileDTO.lpName}" filterBy="#{lgnProfileDTO.lpName}"  filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="Nombre" /></f:facet>
                            <h:outputText value="#{lgnProfileDTO.lpName}" />
                        </p:column>
                    </p:dataTable>
                </p:panel>
            </h:form>          
        </f:view> 
        <!-- DIALOGS -->
        <p:dialog closeOnEscape="true" height="470"  width="1200" dynamic="true" header="#{lgnPerfilesRolesController.titleDialogOperation}" responsive="true" widgetVar="updateDialog" resizable="true" id="docDlgUpdate" modal="true">
            <h:form id="updateForm" onkeypress="return event.keyCode !== 13" >
                <p:focus id="focus" context="updateForm"/>
                <div class="ui-grid ui-grid-responsive">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-3">
                            <p:outputLabel for="idPerfil" value="Clave del perfil" /><br/>
                            <p:inputText id="idPerfil" tabindex="1" label="idPerfil" disabled="true" value="#{lgnPerfilesRolesController.selectedProfilesDTO.idProfile}"/>
                        </div>
                        <div class="ui-grid-col-5">
                            <p:outputLabel for="nombrePerfil" value="Perfil" /><br/>
                            <p:inputText id="nombrePerfil" tabindex="2" label="nombrePerfil" size="40" value="#{lgnPerfilesRolesController.selectedProfilesDTO.lpName}" required="true"/>
                        </div>
                        <div class="ui-grid-col-4">
                            <p:outputLabel for="chbStatus"  value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.chbStatus']}" /><br/>
                            <p:selectBooleanCheckbox tabindex="3" label="chbStatus" id="chbStatus" value="#{lgnPerfilesRolesController.activeChbStatus}" />
                        </div>
                    </div>
                    <div class="ui-grid-row" style="margin-top: 10px">
                        <div class="ui-grid-col-6">
                            <p:fieldset id="availableCarsField" legend="Roles No permitidos">
                                <p:dataTable id="lstPerfilesRolesSource" var="car" value="#{lgnPerfilesRolesController.ldmDefaultProfilesRolesSource}"
                                             selection="#{lgnPerfilesRolesController.selectedProfileRoleDTOSource}"
                                             reflow="true"
                                             selectionMode="single"
                                             rowKey="#{car.idRolesDTO.idRol}" lazy="true"  
                                             rows="50" scrollable="true" scrollHeight="250" 
                                             paginator="false"
                                             paginatorPosition="bottom" 
                                             emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}"
                                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                             currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}"
                                             rowsPerPageTemplate="50,100,200,300" 
                                             styleClass=" dt-datos dtResponsive dtpaginator100 seleccionarCPRow">
                                    <p:column style="width:20px">
                                        <h:outputText id="dragIcon" styleClass="ui-icon ui-icon-arrow-4" />
                                        <p:draggable  for="dragIcon" revert="true" helper="clone"/>
                                    </p:column>
                                    <p:column headerText="Rol">
                                        <h:outputText value="#{car.idRolesDTO.lrName}" />
                                    </p:column>
                                </p:dataTable>
                            </p:fieldset>
                        </div>
                        <div class="ui-grid-col-1" style="position: relative; " >
                            <div style="position: absolute; top: 37%;" >
                                <p:commandButton id="ss" styleClass="fa fa-plus" style="margin-bottom: 10px;" value="#{msgs['enginedata.page.add-button-label']}" process="@this, lstPerfilesRolesSource" actionListener="#{lgnPerfilesRolesController.operationProfileRoleDTO('1')}" update="lstPerfilesRolesSource lstPerfilesRolesTarget"/>
                                <p:commandButton id="tt" styleClass="fa fa-times" value="#{msgs['enginedata.page.quitar-button-label']}" process="@this, lstPerfilesRolesTarget" actionListener="#{lgnPerfilesRolesController.operationProfileRoleDTO('2')}" update="lstPerfilesRolesTarget lstPerfilesRolesSource"/>
                            </div>
                        </div>
                        <div class="ui-grid-col-6">
                            <p:fieldset id="selectedCars" legend="Roles permitidos">
                                <p:dataTable id="lstPerfilesRolesTarget" var="car" value="#{lgnPerfilesRolesController.ldmDefaultProfilesRolesTarget}"
                                             selection="#{lgnPerfilesRolesController.selectedProfileRoleDTOTarget}"
                                             reflow="true"
                                             selectionMode="single"
                                             rowKey="#{car.idRolesDTO.idRol}" lazy="true"  
                                             rows="50" scrollable="true" scrollHeight="250" 
                                             paginator="false"
                                             paginatorPosition="bottom" 
                                             emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}"
                                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                             currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}"
                                             rowsPerPageTemplate="50,100,200,300" editable="true" editMode="cell"
                                             styleClass=" dt-datos dtResponsive dtpaginator100 seleccionarCPRow">">
                                    <!--<p:ajax event="cellEdit" listener="{lgnPerfilesRolesController.onCellEdit}" />-->

                                    <p:column style="width:20px">
                                        <h:outputText id="dragIcon" styleClass="ui-icon ui-icon-arrow-4" />
                                        <p:draggable for="dragIcon" revert="true" helper="clone"/>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{msgs['enginedata.page.general.catalogs.lstUser.lazyDataTable.colum.nombreUsuario']}" /></f:facet>
                                        <h:outputText value="#{car.idRolesDTO.lrName}" />
                                    </p:column>
                                    <p:column headerText="Nivel" style="width:50px">
                                        <p:inputText id="txtNivel" required="true" onkeypress="return onlyNumbers(event);" maxlength="2" value="#{car.prLevl}" label="Year"/>
                                        <p:slider for="txtNivel" step="5" />
                                    </p:column>
                                    <p:column styleClass="width20">
                                        <p:commandButton id="btnAdd" value="#{msgs['enginedata.page.general.catalogs.lstPerfilesRoles.btnPermisos']}"  onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();" actionListener="#{lgnPerfilesRolesController.asignarPermisos(car.idRolesDTO)}"/>
                                    </p:column>
                                </p:dataTable>
                            </p:fieldset>
                        </div>
                    </div>
                    <div class="ui-grid-row" style="margin-bottom: 15px;margin-top: 15px;" >
                        <div class="ui-grid-col-6" style="text-align: left;" >
                            <p:commandButton id="btnEliminar" styleClass="RedButton boton fa fa-times" tabindex="4" value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.btnEliminar']}"  onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();" action="#{lgnPerfilesRolesController.deleteUserMstr()}"  immediate="true" disabled="#{lgnPerfilesRolesController.activeBtnEliminar}" update=":frmTable:lazyDataTable :updateForm" >
                                <p:confirm header="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.msgConfirmacionHeader']}" message="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.msgConfirmacion']}" icon="ui-icon-alert" />
                            </p:commandButton>
                            <p:confirmDialog global="true">
                                <p:commandButton value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.msgConfirmacion.si']}" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                <p:commandButton value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.msgConfirmacion.no']}" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                            </p:confirmDialog>
                        </div>
                        <div class="ui-grid-col-6" style="text-align: right;">
                            <p:commandButton tabindex="5" value="#{msgs['enginedata.page.save-button-label']}" process="@this, updateForm:lstPerfilesRolesTarget updateForm:selectedCars  updateForm:nombrePerfil  updateForm:chbStatus " partialSubmit="true" styleClass="GreenButton fa fa-floppy-o" actionListener="#{lgnPerfilesRolesController.execOperation()}" update=":frmTable:lazyDataTable :updateForm focus" />
                        </div>
                    </div>
                </div>
                <p:droppable for="selectedCars" tolerance="touch" activeStyleClass="ui-state-highlight" datasource="lstPerfilesRolesSource">
                    <p:ajax listener="#{lgnPerfilesRolesController.onCarDrop}" update="lstPerfilesRolesSource lstPerfilesRolesTarget" />
                </p:droppable>
                <p:droppable for="availableCarsField" tolerance="touch" activeStyleClass="ui-state-highlight" datasource="lstPerfilesRolesTarget">
                    <p:ajax listener="#{lgnPerfilesRolesController.onCarDrop}" update="lstPerfilesRolesSource lstPerfilesRolesTarget" />
                </p:droppable>
            </h:form>
        </p:dialog>
        <p:dialog header="#{msgs['enginedata.page.general.catalogs.lstPerfilesRoles.dialogPermisos']}" position="100,100" closeOnEscape="true" dynamic="true" responsive="true" widgetVar="permisosDialog" id="docDlgPermisos" styleClass="modalWidth70">
            <h:form id="permisosForm" onkeypress="return event.keyCode !== 13" >
                <div class="ui-grid ui-grid-responsive">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6">
                            <p:dataTable id="lstFunctionCurrent"  var="functio" value="#{lgnPerfilesRolesController.ldmDefaultFunction}"
                                         selection="#{lgnPerfilesRolesController.selectedFunctionsDTOCurrent}"
                                         reflow="true" lazy="true"
                                         selectionMode="single" 
                                         rowKey="#{functio.idFunction}" 
                                         rows="50" scrollable="true" scrollHeight="180" 
                                         paginator="false"
                                         paginatorPosition="bottom" 
                                         emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}"
                                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}"
                                         rowsPerPageTemplate="50,100,200,300" 
                                         styleClass=" dt-datos dtResponsive dtpaginator100 seleccionarCPRow">
                                <p:ajax event="rowSelect" process="@this, :permisosForm:lstActionPermisos"  onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();" listener="#{lgnPerfilesRolesController.onRowSelect}" update=":permisosForm:lstActionPermisos" />
                                <p:column sortBy="#{functio.lfName}" filterBy="#{functio.lfName}" filterMatchMode="contains">
                                    <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.catalogs.lstFunciones.colFunciones']}" /></f:facet>
                                    <h:outputText value="#{msgs[functio.lfName]}" />
                                </p:column>
                                <p:column sortBy="#{functio.lfLevel}" filterBy="#{functio.lfLevel}" filterMatchMode="contains">
                                    <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.nivel']}" /></f:facet>
                                    <h:outputText value="#{functio.lfLevel}" />
                                </p:column>
                            </p:dataTable>
                        </div>
                        <div class="ui-grid-col-6">
                            <p:outputLabel for="lstActionPermisos" value="#{msgs['enginedata.page.general.catalogs.lstPerfilesRoles']}" />
                            <p:selectManyMenu scrollHeight="150" id="lstActionPermisos" value="#{lgnPerfilesRolesController.selectedActionCurrent}" converter="genericConverter"
                                              var="t" filter="true" filterMatchMode="contains" showCheckbox="true" valueChangeListener="#{lgnPerfilesRolesController.fireSelection}">
                                <f:selectItems  value="#{lgnPerfilesRolesController.listActionCurrent}" var="theme" itemLabel="#{theme.name}" itemValue="#{theme}" />
                                <!--<p:ajax event="change" listener="{lgnPerfilesRolesController.changeSelectionChanged}" />-->
                                <p:ajax event="valueChange" immediate="true" process="@this"/>
                                <p:column>
                                    <h:outputText value="#{t.name}" />
                                </p:column>
                            </p:selectManyMenu>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-8" align="right">
                            <p:commandButton tabindex="5" value="#{msgs['enginedata.page.general.label.aceptar']}" styleClass="GreenButton" actionListener="#{lgnPerfilesRolesController.asignarPermisos()}" oncomplete="PF('permisosDialog').hide();" />
                        </div>
                    </div>
                </div>
            </h:form>
        </p:dialog>
        <p:dialog widgetVar="statusDialog" style="border-radius: 50%; text-align: center;" modal="true" draggable="false" closable="false" resizable="false" showHeader="false" appendTo="@(#zoneDialogs)"  >
            <img src="../../../../../resources/images/i_g_fleet.gif" style="width: 200px;"/>
            <strong style="display: block; text-align: center;">#{msgs['enginedata.page.general.label.cargando']}</strong>
        </p:dialog>
    </h:body>
</html>