<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/style.css"/>
        <script type="text/javascript" src="../../../../../resources/js/global.js"></script>
        <!--Este estilo oculta los filter de cada columna-->
        <style type="text/css">
            .ui-datatable .ui-column-filter{display: none;}
            .ui-picklist-buttons-cell > button{
                margin: auto;
            }
        </style>
    </h:head>

    <h:body onload="#{lgnRolesFuncionesController.onLoad()}" styleClass="bodyContent">
        <f:view locale="#{securityEngineData.locale}" >
            <h:form id="frmTable" rendered="true" onsubmit="return false;" >
                <p:focus id="focus3" context="panel1" />
                <p:panel header="Roles" id="panel1" styleClass="FiltrosHeader generic100Height" >
                    <p:growl id="message" showDetail="true" autoUpdate="true" life="4500" />
                    <!-- DATATABLE -->
                    <p:dataTable id="lazyDataTable" var="lgnRolesDTO" value="#{lgnRolesFuncionesController.ldmRoles}"  widgetVar="lazyDataTable"
                                 filteredValue="#{lgnRolesFuncionesController.filteredRolesDTO}" rows="#{lgnFuncionesController.numRowPaginator}"
                                 selection="#{lgnRolesFuncionesController.selectedRolesDTO}" 
                                 rendered="true" lazy="true"
                                 selectionMode="single"
                                 reflow="true"
                                 rowKey="#{lgnRolesDTO.idRol}" paginatorPosition="bottom" 
                                 paginator="true"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}"
                                 rowsPerPageTemplate="#{lgnFuncionesController.getArrayRowPaginator()}" styleClass="dtHeight100 dt-reflow dt-selectedrow-1 dt-datos">
                        <p:ajax event="filter" listener="#{lgnRolesFuncionesController.filterListener}" update="@this"/>
                        <p:ajax event="rowDblselect" listener="#{lgnRolesFuncionesController.onRowDblClckSelect}"  update=":docDlgUpdate :updateForm" global="false" />
                        <!-- COLUMNS -->
                        <f:facet name="header" class="headerDt" id="headerDt">
                            <div class="ui-grid ui-grid-responsive headerDTFilters">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-3">
                                        <p:commandButton update=":docDlgUpdate :updateForm" id="addRow" actionListener="#{lgnRolesFuncionesController.configurarDialogOperacion('1')}" icon="ui-icon-plusthick" value="#{msgs['enginedata.page.general.catalogs.lstUser.addRow']}">
                                            <p:ajax update=":updateForm" resetValues="true" />
                                        </p:commandButton>
                                        <p:commandButton update=":docDlgUpdate :updateForm" id="btnUpdate" action="#{lgnRolesFuncionesController.configurarDialogOperacion('2')}" icon="ui-icon-pencil"  value="#{msgs['enginedata.page.update-button-label']}">
                                            <p:ajax update=":updateForm" resetValues="true" />
                                        </p:commandButton>
                                    </div>
                                    <div class="ui-grid-col-5">
                                        <h:outputText id="lblBusqueda" value="#{msgs['enginedata.page.general.catalogs.lstUser.lblBusqueda']}" />
                                        <p:inputText id="globalFilter" onkeyup="PF('lazyDataTable').filter()" style="width:150px" placeholder="#{msgs['enginedata.page.general.catalogs.lstUser.globalFilter']}" >
                                        </p:inputText>
                                    </div>
                                    <div class="ui-grid-col-4">
                                        <h:commandLink>
                                            <p:graphicImage name="/images/excel.png" width="24"/>
                                            <p:dataExporter type="xls" target="lazyDataTable" fileName="lazyModel" />
                                        </h:commandLink>

                                        <h:commandLink>
                                            <p:graphicImage name="/images/pdf.png" width="24"/>
                                            <p:dataExporter type="pdf" target="lazyDataTable" fileName="lazyModel"/>
                                        </h:commandLink>

                                        <h:commandLink>
                                            <p:graphicImage name="/images/csv.png" width="24"/>
                                            <p:dataExporter type="csv" target="lazyDataTable" fileName="lazyModel" />
                                        </h:commandLink>

                                        <h:commandLink>
                                            <p:graphicImage name="/images/xml.png" width="24"/>
                                            <p:dataExporter type="xml" target="lazyDataTable" fileName="lazyModel" />
                                        </h:commandLink>
                                    </div>
                                </div>
                            </div>
                        </f:facet>

                        <p:column styleClass="width40" sortBy="#{lgnRolesDTO.idRol}" filterBy="#{lgnRolesDTO.idRol}" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="Rol" /></f:facet>
                            <h:outputText value="#{lgnRolesDTO.idRol}" />
                        </p:column>

                        <p:column sortBy="#{lgnRolesDTO.lrName}" filterBy="#{lgnRolesDTO.lrName}"  filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="Nombre" /></f:facet>
                            <h:outputText value="#{lgnRolesDTO.lrName}" />
                        </p:column>
                    </p:dataTable>
                </p:panel>
            </h:form>          
        </f:view> 
        <!-- DIALOGS -->
        <p:dialog header="#{lgnRolesFuncionesController.titleDialogOperation}" onHide="" widgetVar="updateDialog" resizable="false" id="docDlgUpdate" modal="true" styleClass="modalWidth70">
            <h:form id="updateForm" onkeypress="return event.keyCode !== 13" >
                <p:focus id="focus" context="updateForm"/>
                <div class="ui-grid ui-grid-responsive">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-3">
                            <p:outputLabel for="idRol" value="Clave del rol" /><br/>
                            <p:inputText id="idRol" tabindex="1" label="idRol" disabled="true" value="#{lgnRolesFuncionesController.selectedRolesDTO.idRol}"/>
                        </div>
                        <div class="ui-grid-col-5">
                            <p:outputLabel for="nombreRol" value="Rol" /><br/>
                            <p:inputText id="nombreRol" tabindex="2" label="nombreRol" size="40" value="#{lgnRolesFuncionesController.selectedRolesDTO.lrName}" required="true"/>
                        </div>
                        <div class="ui-grid-col-4">
                            <p:outputLabel for="chbStatus"  value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.chbStatus']}" /><br/>
                            <p:selectBooleanCheckbox tabindex="3" label="chbStatus" id="chbStatus" value="#{lgnRolesFuncionesController.activeChbStatus}" />
                        </div>
                    </div>
                    <div class="ui-grid-row" style="margin-top: 10px">
                        <div class="ui-grid-col-12">
                            <p:pickList id="pickList" style="width: 100%;" showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains" value="#{lgnRolesFuncionesController.listFunctionsDTO}" 
                                        var="functionsDTO" itemLabel="#{msgs[functionsDTO.lfName]}" itemValue="#{functionsDTO}"  converter="PickListConverter" >
                                <f:facet name="sourceCaption">Funciones NO permitidas</f:facet>
                                <f:facet name="targetCaption">Funciones permitidas</f:facet>  
                            </p:pickList>
                        </div>
                    </div>
                    <div class="ui-grid-row" style="margin-top: 15px;margin-bottom: 15px;">
                        <div class="ui-grid-col-6" style="text-align: left;" >
                            <p:commandButton id="btnEliminar" styleClass="RedButton boton fa fa-times" tabindex="4" value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.btnEliminar']}" action="#{lgnRolesFuncionesController.deleteUserMstr()}"  immediate="true" disabled="#{lgnRolesFuncionesController.activeBtnEliminar}" update=":frmTable:lazyDataTable :updateForm" >
                                <p:confirm header="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.msgConfirmacionHeader']}" message="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.msgConfirmacion']}" icon="ui-icon-alert" />
                            </p:commandButton>
                            <p:confirmDialog global="true">
                                <p:commandButton value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.msgConfirmacion.si']}" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                <p:commandButton value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.msgConfirmacion.no']}" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                            </p:confirmDialog>
                        </div>
                        <div class="ui-grid-col-6" style="text-align: right;" >
                            <p:commandButton tabindex="5" value="#{msgs['enginedata.page.save-button-label']}" styleClass="GreenButton fa fa-floppy-o" action="#{lgnRolesFuncionesController.execOperation()}" update=":frmTable:lazyDataTable :updateForm focus" />
                        </div>
                    </div>
                </div>

            </h:form>
        </p:dialog>

    </h:body>
</html>