<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <f:metadata>
        <f:viewParam name="type" value="#{lgnUserMstrController.typeUser}" converter="parameterConverter" />
    </f:metadata>
    <h:head>
        <title>Catalogo de usuarios</title>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/style.css"/>
        <script type="text/javascript" src="../../../../../resources/js/global.js"></script>
        <style type="text/css">
            .ui-datatable .ui-column-filter{display: none;}
        </style>
    </h:head>

    <h:body onload="#{lgnUserMstrController.onLoad()}" styleClass="bodyContent">
        <f:view locale="#{securityEngineData.locale}" >
            <h:form id="frmTable" rendered="true" onsubmit="return false;" >
                <p:focus id="focus3" context="panel1" />
                <p:panel header="#{msgs['enginedata.page.general.catalogs.lstUser.panel1.header']}" id="panel1" styleClass="FiltrosHeader generic100Height" >
                    <p:growl id="message" showDetail="true" autoUpdate="true" life="4500" />
                    <!-- DATATABLE -->
                    <p:dataTable id="lazyDataTable" var="lgnUserMstrDTO" value="#{lgnUserMstrController.ldm}"  widgetVar="lazyDataTable"
                                 filteredValue="#{lgnUserMstrController.filteredLgnUserMstrDTO}" rows="#{lgnUserMstrController.numRowPaginator}"
                                 selection="#{lgnUserMstrController.selectedUserMstr}" 
                                 rendered="true" lazy="true"
                                 selectionMode="single"
                                 rowKey="#{lgnUserMstrDTO.umUserId}" paginatorPosition="bottom" 
                                 paginator="true"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}"
                                 rowsPerPageTemplate="#{lgnUserMstrController.getArrayRowPaginator()}" styleClass="dt-reflow dt-selectedrow-1 dt-datos" 
                                 binding="#{lgnUserMstrController.dtLazyDataTable}" >
                        <p:ajax event="rowDblselect" listener="#{lgnUserMstrController.onRowDblClckSelect}"  update=":docDlgUpdate :updateForm" resetValues="true" global="false" />
                        <p:ajax event="filter" listener="#{lgnUserMstrController.filterListener}" update="@this"/>
                        <!-- COLUMNS -->
                        <f:facet name="header" class="headerDt" id="headerDt">
                            <div class="ui-grid ui-grid-responsive headerDTFilters">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-3">
                                        <p:commandButton update=":docDlgUpdate :updateForm" id="addRow" actionListener="#{lgnUserMstrController.configurarDialogOperacion('1')}" icon="ui-icon-plusthick" value="#{msgs['enginedata.page.general.catalogs.lstUser.addRow']}">
                                            <p:ajax update=":updateForm" resetValues="true" />
                                        </p:commandButton>
                                        <p:commandButton update=":docDlgUpdate :updateForm" id="btnUpdate" action="#{lgnUserMstrController.configurarDialogOperacion('2')}" icon="ui-icon-pencil"  value="#{msgs['enginedata.page.update-button-label']}">
                                            <p:ajax update=":updateForm" resetValues="true" />
                                        </p:commandButton>
                                    </div>
                                    <div class="ui-grid-col-5">
                                        <h:outputText id="lblBusqueda" value="#{msgs['enginedata.page.general.catalogs.lstUser.lblBusqueda']}" />
                                        <p:inputText id="globalFilter" onkeyup="PF('lazyDataTable').filter()" style="width:150px" placeholder="#{msgs['enginedata.page.general.catalogs.lstUser.globalFilter']}" >
                                        </p:inputText>
                                    </div>
                                    <div class="ui-grid-col-4">
                                 
                                        <h:commandLink id="exportExcel" title="Exportar a excel"  >
                                            <img src="../../../../../resources/images/excel.png" width="24"/>
                                            <p:dataExporter type="xls" target="lazyDataTable" fileName="exportExcel" postProcessor="#{dataExporterController.postProcessXLS}" />
                                            <p:tooltip for="exportExcel" />
                                        </h:commandLink>

                                        <h:commandLink id="exportPDF" title="Exportar a PDF" >
                                            <img src="../../../../../resources/images/pdf.png" width="24"/>
                                            <p:dataExporter  type="pdf" target="lazyDataTable" fileName="exportPDF" pageOnly="false" preProcessor="#{dataExporterController.preProcessPDF}" />
                                            <p:tooltip for="exportPDF" />
                                        </h:commandLink> 

                                        <h:commandLink id="exportCSV" title="Exportar a CSV"  >
                                            <img src="../../../../../resources/images/csv.png" width="24"/>
                                            <p:dataExporter type="csv" target="lazyDataTable" fileName="exportCSV" pageOnly="false" />
                                            <p:tooltip for="exportCSV" />
                                        </h:commandLink>

                                        <h:commandLink id="exportXML" title="Exportar a XML"  >
                                            <img src="../../../../../resources/images/xml.png" width="24"/>
                                            <p:dataExporter type="xml" target="lazyDataTable" fileName="exportXML" pageOnly="false" />
                                            <p:tooltip for="exportXML" />
                                        </h:commandLink>                                        
                                                                            
                                    </div>
                                </div>
                            </div>
                        </f:facet>

                        <p:column styleClass="width20" sortBy="#{lgnUserMstrDTO.umUserAccess}" filterBy="#{lgnUserMstrDTO.umUserAccess}" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.catalogs.lstUser.lazyDataTable.colum.usuario']}" /></f:facet>
                            <h:outputText value="#{lgnUserMstrDTO.umUserAccess}" />
                        </p:column>

                        <p:column styleClass="width120" sortBy="#{lgnUserMstrDTO.umUserName}" filterBy="#{lgnUserMstrDTO.umUserName}"  filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.catalogs.lstUser.lazyDataTable.colum.nombreUsuario']}" /></f:facet>
                            <h:outputText value="#{lgnUserMstrDTO.umUserName}" />
                        </p:column>

                        <p:column styleClass="width20" rendered="#{lgnUserMstrController.typeUser != 'INTERNO'}" sortBy="#{lgnUserMstrDTO.idClntMstrDTO.clntId}" filterBy="#{lgnUserMstrDTO.idClntMstrDTO.clntId}" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.catalogs.lstUser.lazyDataTable.colum.cliente']}" /></f:facet>
                            <h:outputText value="#{lgnUserMstrDTO.idClntMstrDTO.clntId}" />
                        </p:column>

                        <p:column styleClass="width120" rendered="#{lgnUserMstrController.typeUser != 'INTERNO'}" sortBy="#{lgnUserMstrDTO.idClntMstrDTO.clntName}" filterBy="#{lgnUserMstrDTO.idClntMstrDTO.clntName}" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.catalogs.lstUser.lazyDataTable.colum.nombreCliente']}" /></f:facet>
                            <h:outputText value="#{lgnUserMstrDTO.idClntMstrDTO.clntName}" />
                        </p:column>

                        <p:column styleClass="width120" sortBy="#{lgnUserMstrDTO.umUserEmail}" filterBy="#{lgnUserMstrDTO.umUserEmail}" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.correo']}" /></f:facet>
                            <h:outputText value="#{lgnUserMstrDTO.umUserEmail}" />
                        </p:column>

                        <p:column styleClass="width60" sortBy="#{lgnUserMstrDTO.idProfileDTO.lpName}" filterBy="#{lgnUserMstrDTO.idProfileDTO.lpName}" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.lblPerfil']}" /></f:facet>
                            <h:outputText value="#{lgnUserMstrDTO.idProfileDTO.lpName}" />
                        </p:column>
                        
                        <p:column styleClass="width40px" sortBy="#{lgnUserMstrDTO.umUserStus}" filterBy="#{lgnUserMstrDTO.umUserStus}" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.label.flagActive']}" /></f:facet>
                            <h:outputText value="#{lgnUserMstrDTO.umUserStus == 'ACTI'?msgs['enginedata.page.label-active']:(lgnUserMstrDTO.umUserStus == 'PREACTI'?msgs['enginedata.page.label-preActive']:msgs['enginedata.page.label-inactive'])}" />
                        </p:column>

                        <p:column styleClass="width40" rendered="#{lgnUserMstrController.typeUser == 'INTERNO'}" sortBy="#{lgnUserMstrDTO.idEmployee}" filterBy="#{lgnUserMstrDTO.idEmployee}" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.catalogs.lstUser.lazyDataTable.colum.idEmpleado']}" /></f:facet>
                            <h:outputText value="#{lgnUserMstrDTO.idEmployee}" />
                        </p:column>
                    </p:dataTable>
                </p:panel>
                <p:confirmDialog  id="dialogReactivarUsuario" closable="false" message="#{msgs['enginedata.page.general.catalogs.lstUser.msjConfirmarUsuarioReactivado']}"  header="#{msgs['enginedata.page.general.label.aviso']}" global="false" showEffect="fade" hideEffect="fade" widgetVar="widgetReactivarUsuario">
                    <p:focus id="focusdlgGenerico" context="btnYes"/>
                    <p:commandButton id="btnYes" tabindex="87" process="@this" actionListener="#{lgnUserMstrController.reactivarUsuario('1')}" value="#{msgs['enginedata.page.confirm-dialog-delete']}" styleClass="ui-confirmdialog-yes GreenButton fa fa-check-square-o" update="lazyDataTable"/>
                    <p:commandButton  tabindex="88" process="@this"  actionListener="#{lgnUserMstrController.reactivarUsuario('2')}" value="#{msgs['enginedata.page.cancel-dialog-delete']}" update="updateForm" styleClass="ui-confirmdialog-no RedButton fa fa-times" oncomplete="PF('widgetReactivarUsuario').hide();$(function(){PrimeFaces.focus('updateForm:nombreUsuario');})"/>
                </p:confirmDialog>
            </h:form>
            <!-- DIALOGS -->
            <p:dialog header="#{lgnUserMstrController.titleDialogOperation}" widgetVar="updateDialog" resizable="false" id="docDlgUpdate" modal="true" styleClass="modalWidth70">
                <h:form id="updateForm" onkeypress="return event.keyCode !== 13" >
                    <p:focus id="focus" context="updateForm" />
                    <!--Usado apra almacenar una variable tmp-->
                    <div id="capa"></div>
                    <div class="ui-grid gridAddUsers">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-3">
                                <!--EN LA TABLA SYS_CLNT_USER  EL CAMPO CU_USER_ID ES DE 15 CARACTERES-->
                                <p:outputLabel for="usuario" value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.lblUsuario']}" /><br/>
                                <p:inputText id="usuario" tabindex="1" maxlength="15" label="usuario" disabled="#{lgnUserMstrController.activeUsuario}" value="#{lgnUserMstrController.selectedUserMstr.umUserAccess}" required="true"/>
                            </div>
                            <div class="ui-grid-col-6">
                                <p:outputLabel for="nombreUsuario" value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.lblNombreUsuario']}" /><br/>
                                <p:inputText id="nombreUsuario" tabindex="2" label="nombreUsuario" size="50" value="#{lgnUserMstrController.selectedUserMstr.umUserName}" required="true"/>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-8">
                                <p:outputLabel for="email" value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.lblEmail']}" /><br/>
                                <p:inputText  id="email" tabindex="3" label="email" size="50" value="#{lgnUserMstrController.selectedUserMstr.umUserEmail}" required="true">
                                    <f:attribute name="typeValidation" value="1" />
                                    <f:validator validatorId="custom.genericValidator" />
                                </p:inputText>
                            </div>
                            <div class="ui-grid-col-9">
                                <p:outputLabel value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.lblPerfil']}" for="cbxPerfil" /><br/>
                                <p:autoComplete id="cbxPerfil" tabindex="4" dropdown="true" value="#{lgnUserMstrController.selectedUserMstr.idProfileDTO}"
                                                completeMethod="#{lgnUserMstrController.queryByName}"
                                                var="player"
                                                itemValue="#{player}"
                                                itemLabel="#{player.lpName}"
                                                converter="profileConverter"  size="40" required="true" />
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-3">
                                <p:outputLabel for="cliente" value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.lblCliente']}" rendered="#{lgnUserMstrController.typeUser != 'INTERNO'}" /><br/>
                                <p:inputText id="cliente" label="cliente" tabindex="5"  size="15"  rendered="#{lgnUserMstrController.typeUser != 'INTERNO'}" value="#{lgnUserMstrController.selectedUserMstr.idClntMstrDTO.clntId}" required="#{lgnUserMstrController.requiredCustomer}"  
                                             onfocus="$('#capa').data('cliente', this.value);"
                                             onblur="if (($('#capa').data('keyCode') != 120) &amp;&amp; ($('#capa').data('cliente') != this.value)){
                                                     document.getElementById('updateForm:cmdBtnClientIDDirecto').click();
                                                 }
                                                 $('#capa').removeData('keyCode');"
                                             onkeyup="if (event.keyCode == 13 || event.keyCode == 119) {
                                                     if ($(this).val() == '') {
                                                         rcEnter();
                                                     } else {
                                                         event.target.blur();
                                                         event.stopPropagation();
                                                         return false;
                                                     }
                                                 } else if (event.keyCode == 120) {
                                                     $('#capa').data('keyCode', event.keyCode);
                                                     rcBtnClientID();
                                                     return false;
                                                 } else {
                                                     return true;
                                                 }"
                                             title="#{msgs['enginedata.page.general.label.f9']}"
                                             />
                                <p:remoteCommand name="rcEnter" onsuccess="#{lgnUserMstrController.posicionFocus()};PF('statusDialog').hide();"
                                                 actionListener="#{lgnUserMstrController.clntMstrSelectionAll()}" 
                                                 process="@this, :updateForm:cliente"
                                                 update=":updateForm:cliente :updateForm:nombreCliente" onstart="PF('statusDialog').show();"/> 
                                <p:remoteCommand name="rcBtnClientID" onstart="document.getElementById('updateForm:btnClientID').click();PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();" process="@this" />
                                <p:commandButton id="cmdBtnClientIDDirecto" style="display: none;" onstart="PF('statusDialog').show();" actionListener="#{lgnUserMstrController.findClientByCode()}" process="@this,:updateForm:cliente" update=":updateForm:cliente :updateForm:nombreCliente" onsuccess="PF('statusDialog').hide();">
                                    <p:ajax event="dialogReturn"  listener="#{lgnUserMstrController.onCustomerChosen}" update=":updateForm:cliente :updateForm:nombreCliente" />
                                </p:commandButton>
                                <p:commandButton id="btnClientID" icon="ui-icon-search"  tabindex="6" rendered="#{lgnUserMstrController.typeUser != 'INTERNO'}" actionListener="#{lgnUserMstrController.chooseCustomer}" immediate="true" onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();">
                                    <p:ajax event="dialogReturn" listener="#{lgnUserMstrController.onCustomerChosen}" update=":updateForm:cliente :updateForm:nombreCliente" />
                                </p:commandButton>                                
                            </div>
                            <div class="ui-grid-col-9">
                                <p:outputLabel for="nombreCliente" value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.lblNombreCliente']}" rendered="#{lgnUserMstrController.typeUser != 'INTERNO'}" /><br/>
                                <p:inputText  id="nombreCliente" size="50" disabled="true" rendered="#{lgnUserMstrController.typeUser != 'INTERNO'}" label="nombreCliente" value="#{lgnUserMstrController.selectedUserMstr.idClntMstrDTO.clntName}" required="#{lgnUserMstrController.requiredCustomer}" />  
                                <p:commandButton update=":docDlgCliente"  tabindex="7" id="btnClientNew" rendered="#{lgnUserMstrController.typeUser != 'INTERNO'}" actionListener="#{lgnUserMstrController.configurarDialogCliente}" icon="ui-icon-plusthick" value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.btnClientNew']}" immediate="true" >
                                    <p:ajax update=":clienteForm" resetValues="true" />
                                </p:commandButton>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-3">
                                <p:outputLabel for="idEmpleado" value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.lblIdEmpleado']}" rendered="#{lgnUserMstrController.typeUser == 'INTERNO'}"/><br/>
                                <p:inputText  id="idEmpleado" size="15" tabindex="8" label="idEmpleado" rendered="#{lgnUserMstrController.typeUser == 'INTERNO'}" value="#{lgnUserMstrController.selectedUserMstr.idEmployee}" required="#{lgnUserMstrController.requiredEmployee}" />  
                            </div>
                            <div class="ui-grid-col-6">
                                <p:outputLabel for="chbStatus"  value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.chbStatus']}" /><br/>
                                <p:selectBooleanCheckbox disabled="#{lgnUserMstrController.disabledChbStatusUserMstr}" tabindex="9" label="chbStatus" id="chbStatus" value="#{lgnUserMstrController.activeChbStatusUserMstr}" />
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid ui-grid-responsive">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4">
                                <p:commandButton id="btnEliminar" styleClass="RedButton boton" tabindex="10" value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.btnEliminar']}" action="#{lgnUserMstrController.deleteUserMstr()}"  immediate="true" disabled="#{lgnUserMstrController.activeBtnEliminar}" update=":frmTable:lazyDataTable :updateForm" >
                                    <p:confirm header="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.msgConfirmacionHeader']}" message="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.msgConfirmacion']}" icon="ui-icon-alert" />
                                </p:commandButton>
                                <p:confirmDialog global="true">
                                    <p:commandButton value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.msgConfirmacion.si']}" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                    <p:commandButton value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.msgConfirmacion.no']}" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                </p:confirmDialog>
                            </div>
                            <div class="ui-grid-col-8" align="right">
                                <p:commandButton tabindex="11" value="#{msgs['enginedata.page.save-button-label']}" styleClass="GreenButton" action="#{lgnUserMstrController.execOperationUserMstr()}" update=":frmTable:lazyDataTable :updateForm focus" >
                                </p:commandButton>
                                <p:commandButton id="btnEmailSend" tabindex="12" process="@this,email " disabled="#{lgnUserMstrController.disabledBtnEmailSend}" value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.btnEnvioCorreo']}" action="#{lgnUserMstrController.envioEmail()}" update=":updateForm:btnEmailSend" onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();"/>
                            </div>
                        </div>
                    </div>
                </h:form>
            </p:dialog>

            <p:dialog  onShow="document.getElementById('clienteForm:txtClientName').focus()" header="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.header']}" widgetVar="clienteDialog" resizable="false" id="docDlgCliente" modal="true" showEffect="fade" hideEffect="explode" width="800">
                <h:form id="clienteForm" onkeypress="return event.keyCode !== 13"> 
                    <p:focus id="focus2" context="clienteForm" />
                    <div class="ui-grid">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <p:outputLabel for="txtClientID"  value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblIdCliente']}" /> <br />
                                <p:inputText  id="txtClientID" size="15" tabindex="13" disabled="true" value="#{lgnUserMstrController.newClntMstr.clntId}" />
                            </div>
                            <div class="ui-grid-col-9">
                                <p:outputLabel for="txtClientName" value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblNombreCliente']}" /> <br />
                                <p:inputText id="txtClientName" label="clientName" tabindex="14"  size="50"  value="#{lgnUserMstrController.newClntMstr.clntName}" required="true" />
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <p:outputLabel for="txtTelefono"  value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblTelefono']}" /> <br />
                                <p:inputText id="txtTelefono" label="telefono" tabindex="15"  size="15" value="#{lgnUserMstrController.newAddrMstr.amPhno1}" required="true" />
                            </div>
                            <div class="ui-grid-col-4">
                                <p:outputLabel for="txtEmail"  value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblEmail']}" /> <br />
                                <p:inputText id="txtEmail" label="email"  tabindex="16"  size="40" value="#{lgnUserMstrController.newAddrMstr.amMailId}" required="true" >
                                    <f:attribute name="typeValidation" value="1" />
                                    <f:validator validatorId="custom.genericValidator" />
                                </p:inputText>

                            </div>
                            <div class="ui-grid-col-2">
                                <p:outputLabel for="cbxTipoCliente" value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblTipoCliente']}" /> <br />
                                <p:selectOneMenu  id="cbxTipoCliente"  tabindex="17"  value="#{lgnUserMstrController.newClntMstr.clntType}"  valueChangeListener="#{lgnUserMstrController.changeCbxTipoCliente}" style="width:60px" immediate="true">
                                    <f:selectItem itemLabel="Individuo" itemValue="I" />
                                    <f:selectItem itemLabel="Compañia" itemValue="C" />
                                    <p:ajax process="cbxTipoCliente" partialSubmit="true" event="valueChange"  update="clienteForm:txtRfc"/>
                                </p:selectOneMenu>
                            </div>
                            <div class="ui-grid-col-3">
                                <p:outputLabel for="txtRfc" value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblRFC']}" /> <br />
                                <p:inputMask  id="txtRfc" label="rfc"  tabindex="18" size="10" value="#{lgnUserMstrController.newClntMstr.taxId}" mask="#{lgnUserMstrController.maskRFC}">
                                    <f:attribute name="typeValidation" value="2" />
                                    <f:validator validatorId="custom.genericValidator" />
                                </p:inputMask>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-3">
                                <p:outputLabel for="txtCalle" value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblCalle']}" /> <br />
                                <p:inputText  id="txtCalle" label="calle"  tabindex="19"  size="25" value="#{lgnUserMstrController.newAddrMstr.amStrtName}" />
                            </div>
                            <div class="ui-grid-col-1">
                                <p:outputLabel for="txtNumero"  value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblNumero']}" /><br />
                                <p:inputText  id="txtNumero" label="numero" tabindex="20"  size="5" value="#{lgnUserMstrController.newAddrMstr.amDrnr}"/>
                            </div>
                            <div class="ui-grid-col-2">
                                <p:outputLabel for="txtCodigoPostal"  value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblCodigoPostal']}" /> <br />
                                <p:inputText id="txtCodigoPostal" label="codigoPostal" tabindex="21"  size="10" value="#{lgnUserMstrController.newClntMstr.dwCoberturaViewDTO.coloZipCode}" required="true" 
                                             onkeypress="if (event.keyCode === 13) {
                                                     rcEnter();
                                                 } else {
                                                     return true;
                                                 }"  />
                                <p:remoteCommand name="rcEnter" 
                                                 actionListener="#{lgnUserMstrController.findAddressByZipCodeEnter()}" 
                                                 process="@this, :clienteForm:txtCodigoPostal"
                                                 update=":clienteForm:txtColonia :clienteForm:txtCiudad :clienteForm:txtMunicipio :clienteForm:txtZona :clienteForm:txtPais :clienteForm:txtSucursalAsignada :clienteForm:txtCodigoPostal"/>
                                <p:commandButton icon="ui-icon-search"  tabindex="22" actionListener="#{lgnUserMstrController.chooseZipCode}" immediate="true">
                                    <p:ajax event="dialogReturn" listener="#{lgnUserMstrController.onZipCodeChosen}" update=":clienteForm:txtColonia :clienteForm:txtCiudad :clienteForm:txtMunicipio :clienteForm:txtZona :clienteForm:txtPais :clienteForm:txtSucursalAsignada :clienteForm:txtCodigoPostal" />
                                </p:commandButton>
                            </div>
                            <div class="ui-grid-col-3">
                                <p:outputLabel for="txtColonia"  value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblColonia']}" /> <br />
                                <p:inputText id="txtColonia" label="colonia" size="30" disabled="true" value="#{lgnUserMstrController.newClntMstr.dwCoberturaViewDTO.coloDes}" />
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-3">
                                <p:outputLabel for="txtCiudad" value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblCiudad']}" /> <br />
                                <p:inputText id="txtCiudad" label="ciudad" disabled="true" size="20" value="#{lgnUserMstrController.newClntMstr.dwCoberturaViewDTO.ciudad}"/>
                            </div>
                            <div class="ui-grid-col-3">
                                <p:outputLabel for="txtMunicipio" value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblMunicipio']}" /> <br />
                                <p:inputText  id="txtMunicipio" disabled="true" label="municipio" size="20" value="#{lgnUserMstrController.newClntMstr.dwCoberturaViewDTO.delMun}" />
                            </div>
                            <div class="ui-grid-col-3">
                                <p:outputLabel for="txtZona" value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblZona']}" /> <br />
                                <p:inputText  id="txtZona" label="zona" disabled="true" size="25" value="#{lgnUserMstrController.newClntMstr.dwCoberturaViewDTO.zona}" />
                            </div>
                            <div class="ui-grid-col-2">
                                <p:outputLabel for="txtPais" value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblPais']}" /> <br />
                                <p:inputText  id="txtPais" label="pais" disabled="true" size="15" value="#{lgnUserMstrController.newClntMstr.dwCoberturaViewDTO.pais}" />
                            </div>
                            <div class="ui-grid-col-2">
                                <p:outputLabel for="txtSucursalAsignada" value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblSucursalAsignada']}" /> <br />
                                <p:inputText  id="txtSucursalAsignada" disabled="true" size="15"  label="sucursalAsignada" value="#{lgnUserMstrController.newClntMstr.dwCoberturaViewDTO.sucursal}" />
                            </div>
                        </div>
                        <div>
                            <p:outputLabel for="chkEAD" value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblEAD']}" />
                            <p:selectBooleanCheckbox id="chkEAD" label="chkEAD" tabindex="23"  value="#{lgnUserMstrController.activeChbEAD}" />
                            <p:outputLabel for="chkFXC" value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblFXC']}" />
                            <p:selectBooleanCheckbox id="chkFXC" label="chkFXC" tabindex="24"  value="#{lgnUserMstrController.activeChbFXC}" />
                            <p:outputLabel for="chkRAD" value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblRAD']}" />
                            <p:selectBooleanCheckbox id="chkRAD" label="chkRAD"  tabindex="25" value="#{lgnUserMstrController.activeChbRAD}" />
                        </div>
                        <div class="ui-grid ui-grid-responsive">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12"  align="right">
                                    <p:commandButton  tabindex="26" value="#{msgs['enginedata.page.save-button-label']}" actionListener="#{lgnUserMstrController.saveClntMstr()}" styleClass="GreenButton" update=":updateForm:cliente :updateForm:nombreCliente :clienteForm focus2"/>		
                                </div>
                            </div>
                        </div>
                    </div>
                </h:form>    
            </p:dialog>

            <p:dialog widgetVar="statusDialog" style="border-radius: 50%; text-align: center;" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
                <img src="../../../../../resources/images/i_g_fleet.gif" style="width: 200px;"/>
                <strong style="display: block; text-align: center;">#{msgs['enginedata.page.general.label.cargando']}</strong>
            </p:dialog>
        </f:view>
    </h:body>
</html>