<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/styleDialog.css"/>
        <style type="text/css">
            .ui-datatable .ui-column-filter{display: none;}
            .dropdown-filters{
                /*float: left; */
                display: inline-block; }

            .full-width{ 
                width: auto !important; 
            }
            .input-to-uppercase{
                text-transform: uppercase;
            }
            .ui-dialog .ui-dialog-content {
                padding: 5px !important;
            }
        </style>
        <script type="text/javascript">
        $(document).on('keydown', '#table_div', function (e) {  
            var code = e.which;
             verificaTecla('frmHelpZipCode:suburbsLazyDataTable:btnHelpZipCode', code , 'table' );
        });
            
        </script>
        <link rel="stylesheet" href="../../../../../resources/joyride/joyride-2.1.css"/>
        <link rel="stylesheet" href="../../../../../resources/joyride/demo-style.css"/>
        <link rel="stylesheet" href="../../../../../resources/joyride/mobile.css"/>
        <title>#{msgs['enginedata.page.utileria.busqueda.busquedaCodigoPostal.title']}</title>
     </h:head>

     <h:body onload="validaCookie();#{busquedaCodigoPostalController.onLoad()};" onkeydown="if(event.keyCode === 27){ rcCloseOnEscape(); }">        
        <div class="btnFixedHelp btnFixedHelpCP btnFixedWidthAyuda btnFixedWhite" onclick="helpSystem();" >
            <i class="fa fa-question-circle"></i>
            <span>#{msgs['enginedata.page.general.label.ayuda']}</span>
        </div>     
        
        <f:view locale="#{securityEngineData.locale}" >
            <h:form id="frmHelpZipCode"  rendered="true" onkeypress="return event.keyCode !== 13" >
                    <p:focus context="frmHelpZipCode" for="txtGeneralSearchText"/>
                    <p:growl id="message" showDetail="true" showSummary="false" autoUpdate="true" life="4500" severity="info, error, fatal" />
                    <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" escape="false" severity="warn"/>
                    <p:remoteCommand name="rcCloseOnEscape" action="#{busquedaCodigoPostalController.closeOnEscape()}" />
                    <div style="width: 100%; padding-bottom: 5px;" class="dropdown-filters busquedaGralInpuut">
                        <p:outputLabel for="txtGeneralSearchText" value="#{msgs['enginedata.page.general.label.busquedaRapida']}" /> <br />
                    <p:inputText id="txtGeneralSearchText" value="#{busquedaCodigoPostalController.generalSearchText}" valueChangeListener="#{busquedaCodigoPostalController.generalSearchTextOnValueChange}" placeholder="#{msgs['enginedata.page.general.label.busquedaRapida']}" autocomplete="off" onkeydown="if (event.keyCode === 13 || event.keyCode === 119) {
                                    document.getElementById('frmHelpZipCode:btnGeneralSearchText').click();
                                }" styleClass="input-to-uppercase inputSearchGeneric" />
                        <p:commandButton id="btnGeneralSearchText" icon="ui-icon-search" partialSubmit="true" process="@this, txtGeneralSearchText" update="suburbsLazyDataTable, messages" action="#{busquedaCodigoPostalController.getAddressesByGeneralSearchText()}" onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide(); getAddressesByGeneralSearchTextFinished();" ignoreAutoUpdate="true">
                        </p:commandButton>
                        <p:remoteCommand name="setFocusOnDataTableGlobalFilter" partialSubmit="true" onstart="document.getElementById('frmHelpZipCode:suburbsLazyDataTable:globalFilter').focus()" />
                        <p:remoteCommand name="getAddressesByGeneralSearchTextFinished" partialSubmit="true" action="#{busquedaCodigoPostalController.setGeneralSearchTextActioned(false)}" onsuccess="showMessagesOfSearchByGeneralText()" />
                        <p:remoteCommand name="showMessagesOfSearchByGeneralText" partialSubmit="true" action="#{busquedaCodigoPostalController.showMessagesOfSearchByGeneralText()}" />
                    </div>
                <p:panel id="pnlFactura" header="Busqueda especifica"  toggleable="true" collapsed="true" toggleOrientation="horizontal" closeTitle="Busqueda especifica" toggleTitle="Busqueda especifica" menuTitle="Busqueda especifica" style="text-align: left;" >
                    <p:ajax event="toggle" update="pnlFactura" listener="#{busquedaCodigoPostalController.toggleHandle}"></p:ajax>
                    <p:ajax event="close" update="pnlFactura" listener="#{busquedaCodigoPostalController.closeHandle}"></p:ajax>  

                    <div class="ui-grid ui-grid-responsive gridFilterPadding">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <p:outputLabel for="hlpCountry" value="#{msgs['enginedata.page.general.label.pais']}" /> <br />
                                <p:selectOneMenu id="hlpCountry" disabled="#{busquedaCodigoPostalController.disabledComponentsBusquedaEspecifica}" widgetVar="hlpCountryx" value="#{busquedaCodigoPostalController.dwCoberturaViewCountry}" editable="true" converter="genericConverter" valueChangeListener="#{busquedaCodigoPostalController.getZonesOfCountry}" filter="true" filterMatchMode="startsWith" styleClass="full-width input-to-uppercase">
                                    <f:selectItems value="#{busquedaCodigoPostalController.listCoberturaViewCountries}" var="dwCoberturaViewPais" itemValue="#{dwCoberturaViewPais}" itemLabel="#{dwCoberturaViewPais.pais}" />
                                    <p:ajax process="hlpCountry" partialSubmit="true" event="valueChange"  update="hlpZone hlpState hlpCounty hlpCity" />
                                </p:selectOneMenu>            
                            </div>
                            <div class="ui-grid-col-2">
                                <p:outputLabel for="hlpZone" value="#{msgs['enginedata.page.general.label.zona']}" /> <br />
                                <p:selectOneMenu id="hlpZone" widgetVar="hlpZonex" value="#{busquedaCodigoPostalController.dwCoberturaViewZone}" editable="true" converter="genericConverter" valueChangeListener="#{busquedaCodigoPostalController.getStatesOfZone}" filter="true" filterMatchMode="startsWith" styleClass="full-width input-to-uppercase" disabled="#{busquedaCodigoPostalController.dwCoberturaViewCountry.codPais == '1'}">
                                    <f:selectItems value="#{busquedaCodigoPostalController.listCoberturaViewZones}" var="zona" itemValue="#{zona}" itemLabel="#{zona.zona}" />
                                    <p:ajax process="hlpZone" partialSubmit="true" event="valueChange"  update="hlpState hlpCounty hlpCity"/>
                                </p:selectOneMenu>            
                            </div>
                            <div class="ui-grid-col-2">
                                <p:outputLabel for="hlpState" value="#{msgs['enginedata.page.general.label.estado']}" /> <br />
                                <p:selectOneMenu id="hlpState" disabled="#{busquedaCodigoPostalController.disabledComponentsBusquedaEspecifica}" widgetVar="hlpStatex" value="#{busquedaCodigoPostalController.dwCoberturaViewState}" editable="true" converter="genericConverter" valueChangeListener="#{busquedaCodigoPostalController.getCountiesOfState}" filter="true" filterMatchMode="startsWith" styleClass="full-width input-to-uppercase">
                                    <f:selectItems value="#{busquedaCodigoPostalController.listCoberturaViewStates}" var="estado" itemValue="#{estado}" itemLabel="#{estado.estado}" />
                                    <p:ajax process="hlpState" partialSubmit="true" event="valueChange"  update="hlpCounty hlpCity"/>
                                </p:selectOneMenu>            
                            </div>
                            <div class="ui-grid-col-2">
                                <p:outputLabel for="hlpCounty" value="#{msgs['enginedata.page.general.label.delegacionMunicipio']}" /> <br />
                                <p:selectOneMenu id="hlpCounty" disabled="#{busquedaCodigoPostalController.disabledComponentsBusquedaEspecifica}" value="#{busquedaCodigoPostalController.dwCoberturaViewCounty}" editable="true" converter="genericConverter" valueChangeListener="#{busquedaCodigoPostalController.getCitiesOfCounty}"  filter="true" filterMatchMode="contains" styleClass="full-width input-to-uppercase">
                                    <f:selectItems value="#{busquedaCodigoPostalController.listCoberturaViewCounties}" var="delmun" itemValue="#{delmun}" itemLabel="#{delmun.delMun}" />
                                    <p:ajax process="hlpCounty" partialSubmit="true" event="valueChange"  update="hlpCity"/>
                                </p:selectOneMenu>            
                            </div>
                            <div class="ui-grid-col-2">
                                <p:outputLabel for="hlpCity" value="#{msgs['enginedata.page.general.label.ciudadPoblacion']}" /> <br />
                                <p:selectOneMenu id="hlpCity" disabled="#{busquedaCodigoPostalController.disabledComponentsBusquedaEspecifica}" value="#{busquedaCodigoPostalController.dwCoberturaViewCity}" editable="true" converter="genericConverter" valueChangeListener="#{busquedaCodigoPostalController.getSuburbsOfCity}" filter="true" filterMatchMode="contains" styleClass="full-width input-to-uppercase">
                                    <f:selectItems value="#{busquedaCodigoPostalController.listCoberturaViewCities}" var="ciudad" itemValue="#{ciudad}" itemLabel="#{ciudad.ciudad}" />
                                    <p:ajax process="hlpCity" partialSubmit="true" event="valueChange"  update="suburbsLazyDataTable"/>
                                </p:selectOneMenu>            
                            </div>
                            <div class="ui-grid-col-1">
                                <p:commandButton id="btnSearchByFilters" disabled="#{busquedaCodigoPostalController.disabledComponentsBusquedaEspecifica}" icon="ui-icon-search" actionListener="#{busquedaCodigoPostalController.getAddressesByFilters}" process="@this, hlpCountry, hlpZone, hlpState, hlpCounty, hlpCity" update="suburbsLazyDataTable" onstart="PF('statusDialog').show();" oncomplete="PF('statusDialog').hide()" />            
                                <p:remoteCommand name="selectFirstRow" action="#{busquedaCodigoPostalController.dataTableSelectFirstRow()}" process="@this" update="suburbsLazyDataTable" />
                            </div>
                        </div>
                    </div>
                </p:panel>

                    <div id="table_div" tabindex="1">
                        <p:dataTable id="suburbsLazyDataTable" widgetVar="table" rendered="true" reflow="true" selectionMode="single" value="#{busquedaCodigoPostalController.suburbsLazyModel}" selection="#{busquedaCodigoPostalController.dwCoberturaViewAddress}" rowKey="#{suburb.coloId}" filteredValue="#{busquedaCodigoPostalController.filteredlistAddresses}" var="suburb" lazy="true" rows="#{radController.numRowPaginator}" scrollable="true" scrollHeight="180" paginator="true" paginatorPosition="bottom" emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}" rowsPerPageTemplate="#{radController.getArrayRowPaginator()}" styleClass=" dt-datos dtResponsive dtpaginator100 seleccionarCPRow"
                                     disabledSelection="#{(suburb.sucursal==null)?'true':'false'}"
                                     rowStyleClass="#{(suburb.sucursal==null) ? 'incompletas' : null}">
                            <p:ajax event="filter" listener="#{busquedaCodigoPostalController.filterListener}" update="@this"/>
                            <p:ajax event="rowDblselect" listener="#{busquedaCodigoPostalController.onRowDblClckSelect}"  global="false" />
                            <f:facet name="header" class="headerDt " id="headerDt">
                                <h:outputText value="#{msgs['enginedata.page.general.catalogs.lstUser.lblBusqueda']}" />
                                <p:inputText id="globalFilter" autocomplete="off" widgetVar="globalFilterWv" binding="#{busquedaCodigoPostalController.dataTableGlogalFilter}" onkeyup="PF('table').filter()" size="50" placeholder="#{msgs['enginedata.page.general.catalogs.lstUser.globalFilter']}" styleClass="input-to-uppercase busquedaGralRapidaInpuut" />
                                <p:commandButton id="toggler" type="button" styleClass="hiidenMobiles" value="Columna" style="float:right;margin-right: 15px;" icon="ui-icon-calculator" />
                                <p:columnToggler datasource="suburbsLazyDataTable" trigger="toggler"   />
                            </f:facet>

                            <p:column sortBy="#{suburb.coloZipCode}" headerText="#{msgs['enginedata.page.general.label.codigoPostal']}" styleClass="width80" filterBy="#{suburb.coloZipCode}"  filterMatchMode="contains">
                                <h:outputText id="coloZipCode" value="#{suburb.coloZipCode}" />
                            </p:column>

                            <p:column sortBy="#{suburb.coloDes}" headerText="#{msgs['enginedata.page.general.label.colonia']}" styleClass="width150" filterBy="#{suburb.coloDes}" filterMatchMode="contains">
                                <h:outputText id="coloDes" value="#{suburb.coloDes.length() gt 25 ? suburb.coloDes.substring(0,23).concat('...') : suburb.coloDes}" />                                
                                <p:tooltip for="coloDes" value="#{suburb.coloDes}" trackMouse="true" />                              
                            </p:column>

                            <p:column sortBy="#{suburb.sucursal}" headerText="#{msgs['enginedata.page.general.label.sucursal']}" styleClass="width40" filterBy="#{suburb.sucursal}" filterMatchMode="contains">
                                <h:outputText id="sucursal" value="#{suburb.sucursal}" />
                            </p:column>

                            <p:column sortBy="#{suburb.ciudad}" headerText="#{msgs['enginedata.page.general.label.ciudadPoblacion']}" styleClass="width150" filterBy="#{suburb.ciudad}" filterMatchMode="contains">
                                <h:outputText id="ciudad" value="#{suburb.ciudad.length() gt 25 ? suburb.ciudad.substring(0,23).concat('...') : suburb.ciudad}" />                                
                                <p:tooltip for="ciudad" value="#{suburb.ciudad}" trackMouse="true" />                                                                               
                            </p:column>

                            <p:column sortBy="#{suburb.delMun}" headerText="#{msgs['enginedata.page.general.label.delegacionMunicipio']}" styleClass="width150" filterBy="#{suburb.delMun}" filterMatchMode="contains">
                                <h:outputText id="delMun" value="#{suburb.delMun.length() gt 25 ? suburb.delMun.substring(0,23).concat('...') : suburb.delMun}" />                                
                                <p:tooltip for="delMun" value="#{suburb.delMun}" trackMouse="true" /> 
                            </p:column>

                            <p:column sortBy="#{suburb.estado}" headerText="#{msgs['enginedata.page.general.label.estado']}" styleClass="width100" filterBy="#{suburb.estado}" filterMatchMode="contains">
                                <h:outputText id="estado" value="#{suburb.estado.length() gt 25 ? suburb.estado.substring(0,23).concat('...') : suburb.estado}" />                                
                                <p:tooltip for="estado" value="#{suburb.estado}" trackMouse="true" />                             
                            </p:column>

                            <p:column sortBy="#{suburb.pais}" headerText="#{msgs['enginedata.page.general.label.pais']}" styleClass="width40" filterBy="#{suburb.pais}" filterMatchMode="contains">
                                <h:outputText id="pais" value="#{suburb.pais}" />
                            </p:column>

                            <f:facet name="footer" >
                                <p:commandButton id="btnHelpZipCode" icon="ui-icon-check" value="#{msgs['enginedata.page.label-default-combo']}" actionListener="#{busquedaCodigoPostalController.fillSelectedAddress}" styleClass="btnCP GreenButton" />
                            </f:facet>

                        </p:dataTable>
                    </div>

                    <p:remoteCommand name="addKeyDownEvent" onstart="
                                     if(document.getElementById('frmHelpZipCode:suburbsLazyDataTable_data') != undefined){
                                     alert(document.getElementById('frmHelpZipCode:suburbsLazyDataTable_data')); 
                                     try{
                                     document.getElementById('frmHelpZipCode:suburbsLazyDataTable_data').addEventListener('keydown', function(){
                                     alert('Enter presionado');
                                     });
                                     alert('evento agregado');
                                     }
                                     catch(err){
                                     alert('error');
                                     }
                                     } 
                                     else{
                                     alert('id no encontrado');
                                     }" />

                </h:form>
            <p:dialog widgetVar="statusDialog" style="border-radius: 50%;text-align: center;" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
                <img src="../../../../../resources/images/i_g_fleet.gif" style="width: 200px;"/>
                <strong style="display: block; text-align: center;">#{msgs['enginedata.page.general.label.cargando']}</strong>            
            </p:dialog>
        </f:view>  
        
       <ol id="joyRideTipContent">
             <li data-class="busquedaGralInpuut" data-text="Siguiente" class="Panel2" data-options="tipLocation:top">     
                <h2>Búsqueda rápida</h2>
                <p>Ingrese una palabra clave para buscar por:<br/>Código postal<br/>Ciudad o población<br/>Delegación o Municipio.<br/>También puede utilizar las siguientes combinaciones usando el símbolo más (+):<br/> 1.-Ciudad/Población/Delegación/Municipio + Estado.<br/>2.-Colonia + Ciudad/Población/Delegación/Municipio + Estado.</p>        
            </li>
           
             <li data-class="busquedaGralRapidaInpuut" data-text="Siguiente" class="Panel2" data-options="tipLocation:top">     
                <h2>Búsqueda por palabra clave</h2>
                <p>Especifique más su búsqueda ingresando ya sea el estado, colonia, sucursal, país, etc.</p>        
            </li> 
           
             <li data-class="seleccionarCPRow" data-text="Siguiente" class="Panel2" data-options="tipLocation:bottom">     
                <h2>Seleccióne el código postal</h2>
                <p>Clic sobre la dirección buscada. </p>        
            </li>       
           
             <li data-class="btnCP" data-text="Siguiente" data-options="tipLocation:top">     
                <h2>Clic en el botón</h2>
                <p>Clic sobre el botón para continuar. </p>        
            </li>             
           
             <li data-class="btnCP" data-text="Siguiente" data-options="tipLocation:top">     
                <h2>Clic en el botón</h2>
                <p>Clic sobre el botón para continuar. </p>        
            </li>                 
   
        </ol>        
        
        <script type="text/javascript">
            document.getElementById('frmHelpZipCode:hlpZone').classList.add('input-to-uppercase');
            function addDataTableKeyDownEvent(){
                document.getElementById("frmHelpZipCode:suburbsLazyDataTable_data").addEventListener("keydown", function(){
                    if(event.keyCode === 13){
                        alert('Enter presionado');
                    }
                });
            }
        </script>
        
        <script type="text/javascript" src="../../../../../resources/joyride/jquery.cookie.js"></script>
        <script type="text/javascript" src="../../../../../resources/joyride/modernizr.mq.js"></script>
        <script type="text/javascript" src="../../../../../resources/joyride/jquery.joyride-2.1.js"></script>
        <script type="text/javascript" src="../../../../../resources/js/global.js"></script>
        <script type="text/javascript" src="../../../../../resources/js/keyboardNavigation.js"/>
    </h:body>
</html>