<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/styleDialog.css"/>
        <link rel="stylesheet" type="text/css"  href="../../../../../resources/joyride/joyride-2.1.css"/>
        <link rel="stylesheet" type="text/css"  href="../../../../../resources/joyride/demo-style.css"/>
        <link rel="stylesheet" type="text/css"  href="../../../../../resources/joyride/mobile.css"/>                 

        <style type="text/css">
            .ui-datatable .ui-column-filter{display: none;}
        </style>
 
        <script type="text/javascript">
        $(document).on('keydown', '#table_div', function (e) {  
            var code = e.which;
             verificaTecla('frmBusquedaCliente:dtBusquedaCliente:btnHelpZipCode', code , 'dtBusquedaCliente');
        });
        </script>        
        <title>Búsqueda de clientes</title>
    </h:head>

    <h:body onload="validaCookie();#{busquedaClienteController.onLoad()};" onkeydown="if (event.keyCode === 27) {rcCloseOnEscape();}" >
        <div class="btnFixedHelp btnFixedHelpClnt btnFixedWidthAyuda btnFixedWhite" onclick="helpSystem();" >
            <i class="fa fa-question-circle"></i>
            <span>#{msgs['enginedata.page.general.label.ayuda']}</span>
        </div>    

        <f:view locale="#{securityEngineData.locale}" >
            <h:form id="frmBusquedaCliente" rendered="true" onkeypress="return event.keyCode !== 13"  onsubmit="return false;">
                <p:growl id="message" showDetail="true" showSummary="false" autoUpdate="true" life="4500" severity="info, error, fatal" />
                <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" escape="false" severity="warn">
                </p:messages>
                <p:remoteCommand name="rcCloseOnEscape" action="#{busquedaClienteController.closeOnEscape()}" />
                <p:panel id="panel1">
                    <p:focus context="panel1"/>
                    <div class="ui-grid ui-grid-responsive gridFilterPadding gridFilterClientes">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-5">
                                <p:outputLabel for="nombreCliente" value="#{msgs['enginedata.page.utileria.busqueda.busquedaCliente.frmBusquedaCliente.lblNombreCliente']}" />
                                <p:inputText id="nombreCliente" styleClass="busquedaNombre" label="nombreCliente" tabindex="1" required="false" value="#{busquedaClienteController.filters.filter_2}" autocomplete="off"
                                             onkeydown="if ($(this).val() == ''?false :(event.keyCode === 13 || event.keyCode === 119)) {
                                             document.getElementById('frmBusquedaCliente:btnFindCustomerByParams').click();
                                         }"  title="#{msgs['enginedata.page.general.label.busquedaNameClientePlaceHolder']}">
                                </p:inputText>
                                <p:tooltip id="toolTipNombreCliente" for="nombreCliente" showEvent="focus" hideEvent="blur" />
                            </div>
                            <div class="ui-grid-col-2">
                                <p:outputLabel for="cliente" value="#{msgs['enginedata.page.utileria.busqueda.busquedaCliente.frmBusquedaCliente.lblCliente']}" />
                                <p:inputText id="cliente" styleClass="busquedaID" binding="#{busquedaClienteController.customerId}" label="cliente" tabindex="2" required="false"   value="#{busquedaClienteController.filters.filter_1}"
                                             onkeydown="if (event.keyCode === 13 || event.keyCode === 119) {
                                             document.getElementById('frmBusquedaCliente:btnFindCustomerByParams').click();
                                         }"/>            

                            </div>
                            <div class="ui-grid-col-3" align="center">
                                <p:commandButton style="margin-top: 11px;" id="btnFindCustomerByParams" binding="#{busquedaClienteController.btnFindCustomerByParams}" tabindex="3" process="@this,cliente,nombreCliente" value="#{msgs['enginedata.page.utileria.busqueda.busquedaCliente.frmBusquedaCliente.btnConsulta']}"  icon="ui-icon-search" action="#{busquedaClienteController.clntMstrSelectionAll()}" update=":frmBusquedaCliente:dtBusquedaCliente dtBusquedaCliente :frmBusquedaCliente:dtBusquedaCliente:globalFilter" onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide(); showMessagesOfSearchByGeneralText();" ignoreAutoUpdate="true"/>
                                <p:commandButton style="margin-top: 11px;" id="btnCreateNewCustomer" styleClass="hiddeMobile" value="Cliente" icon="ui-icon-plusthick" action="#{busquedaClienteController.showDialogCreateNewCustomer()}" rendered="#{busquedaClienteController.btnNuevoCliente}" />            
                                <p:remoteCommand name="showMessagesOfSearchByGeneralText" partialSubmit="true" action="#{busquedaClienteController.showMessagesOfSearchByGeneralText()}" />
                            </div>
                        </div>
                    </div>                    
                    <div id="table_div" tabindex="1">
                        <p:dataTable id="dtBusquedaCliente" var="sysClntMstrDTO" value="#{busquedaClienteController.lazyModel}"  widgetVar="dtBusquedaCliente"
                                     filteredValue="#{busquedaClienteController.filteredSysClntMstrDTO}" scrollable="true" reflow="true" scrollHeight="250" lazy="true"
                                     selection="#{busquedaClienteController.selectedClntMstr}" rendered="true" selectionMode="single" rowKey="#{sysClntMstrDTO.rowNumber}" 
                                     paginatorPosition="bottom" paginator="true" emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}"
                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}" rows="#{radController.numRowPaginator}" rowsPerPageTemplate="#{radController.getArrayRowPaginator()}" styleClass="dt-reflow dt-selectedrow-1 dt-datos"  >
                            <p:ajax event="rowDblselect" listener="#{busquedaClienteController.onRowDblClckSelect}"  global="false" />
                            <p:ajax event="filter" listener="#{busquedaClienteController.filterListener}" update="@this"/>
                            <f:facet name="header">
                                <h:outputText value="#{msgs['enginedata.page.general.catalogs.lstUser.lblBusqueda']}" />
                                <p:inputText id="globalFilter" tabindex="4" styleClass="busquedaGralRapidaInpuut" onkeyup="PF('dtBusquedaCliente').filter()" size="50" placeholder="#{msgs['enginedata.page.general.catalogs.lstUser.globalFilter']}" autocomplete="off"/>
                            </f:facet>
                            <p:column sortBy="#{sysClntMstrDTO.clntId}" filterBy="#{sysClntMstrDTO.clntId}" filterMatchMode="contains" styleClass="width60px" >
                                <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.clave']}" /></f:facet>
                                <h:outputText value="#{sysClntMstrDTO.clntId}" />
                            </p:column>
                            <p:column sortBy="#{sysClntMstrDTO.clntName}" filterBy="#{sysClntMstrDTO.clntName}" styleClass="width200" filterMatchMode="contains">
                                <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.utileria.busqueda.busquedaCliente.frmBusquedaCliente.column.nombre']}" /></f:facet>
                                <h:outputText id="clntName" value="#{sysClntMstrDTO.clntName.length() gt 25 ? sysClntMstrDTO.clntName.substring(0,23).concat('...') : sysClntMstrDTO.clntName}" />                                
                                <p:tooltip for="clntName" value="#{sysClntMstrDTO.clntName}" trackMouse="true" />                                                                               
                            </p:column>
                            <p:column sortBy="#{sysClntMstrDTO.taxId}" filterBy="#{sysClntMstrDTO.taxId}" styleClass="width40" filterMatchMode="contains">
                                <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.utileria.busqueda.busquedaCliente.frmBusquedaCliente.column.rfc']}" /></f:facet>
                                <h:outputText value="#{sysClntMstrDTO.taxId}" />
                            </p:column>
                            <p:column sortBy="#{sysClntMstrDTO.clntType}" filterBy="#{sysClntMstrDTO.clntType}" styleClass="width20 alginCenter" filterMatchMode="contains">
                                <f:facet name="header"><h:outputText value="Tipo" /></f:facet>
                                <h:outputText value="#{sysClntMstrDTO.clntType}" style="text-transform: uppercase;" />
                            </p:column>                            
                            <p:column sortBy="#{sysClntMstrDTO.credStusId}" filterBy="#{sysClntMstrDTO.credStusId}" styleClass="width20 alginCenter" filterMatchMode="contains">
                                <f:facet name="header"><h:outputText value="Credito" /></f:facet>                                 
                                <h:outputText rendered="#{sysClntMstrDTO.credStusId == 'Y'}" id="iconCredit" styleClass="fa fa-check-square-o" style="color: green;" />                                 
                                <h:outputText rendered="#{sysClntMstrDTO.credStusId == 'N'}" id="iconCreditX" styleClass="fa fa-times" style="color: red;" />                                 
                            </p:column>                               
                            <p:column sortBy="#{sysClntMstrDTO.addrMstrDTO.amPhno1}" filterBy="#{sysClntMstrDTO.addrMstrDTO.amPhno1}" styleClass="width40" filterMatchMode="contains">
                                <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.utileria.busqueda.busquedaCliente.frmBusquedaCliente.column.telefono']}" /></f:facet>
                                <h:outputText value="#{sysClntMstrDTO.addrMstrDTO.amPhno1}" />
                            </p:column>
                            <p:column sortBy="#{sysClntMstrDTO.addrMstrDTO.amStrtName}" filterBy="#{sysClntMstrDTO.addrMstrDTO.amStrtName}" styleClass="width200" filterMatchMode="contains">
                                <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.utileria.busqueda.busquedaCliente.frmBusquedaCliente.column.calle']}" /></f:facet>
                                <h:outputText id="calle" value="#{sysClntMstrDTO.addrMstrDTO.amStrtName.length() gt 28 ? sysClntMstrDTO.addrMstrDTO.amStrtName.substring(0,25).concat('...') : sysClntMstrDTO.addrMstrDTO.amStrtName}" />                                
                                <p:tooltip for="calle" value="#{sysClntMstrDTO.addrMstrDTO.amStrtName}" trackMouse="true" />                                                                               
                            </p:column>                            
                            <p:column sortBy="#{sysClntMstrDTO.dwCoberturaViewDTO.coloDes}" filterBy="#{sysClntMstrDTO.dwCoberturaViewDTO.coloDes}" styleClass="width150" filterMatchMode="contains">
                                <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.utileria.busqueda.busquedaCliente.frmBusquedaCliente.column.colonia']}" /></f:facet>
                                <h:outputText id="coloDes" value="#{sysClntMstrDTO.dwCoberturaViewDTO.coloDes.length() gt 23 ? sysClntMstrDTO.dwCoberturaViewDTO.coloDes.substring(0,20).concat('...') : sysClntMstrDTO.dwCoberturaViewDTO.coloDes}" />                                
                                <p:tooltip for="coloDes" value="#{sysClntMstrDTO.dwCoberturaViewDTO.coloDes}" trackMouse="true" />                                                                               
                            </p:column>
                            <p:column sortBy="#{sysClntMstrDTO.dwCoberturaViewDTO.ciudad}" filterBy="#{sysClntMstrDTO.dwCoberturaViewDTO.ciudad}" styleClass="width50" filterMatchMode="contains">
                                <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.utileria.busqueda.busquedaCliente.frmBusquedaCliente.column.ciudad']}" /></f:facet>
                                <h:outputText id="ciudad" value="#{sysClntMstrDTO.dwCoberturaViewDTO.ciudad.length() gt 20 ? sysClntMstrDTO.dwCoberturaViewDTO.ciudad.substring(0,18).concat('...') : sysClntMstrDTO.dwCoberturaViewDTO.ciudad}" />                                
                                <p:tooltip for="ciudad" value="#{sysClntMstrDTO.dwCoberturaViewDTO.ciudad}" trackMouse="true" />                                                                               
                            </p:column>
                            <p:column sortBy="#{sysClntMstrDTO.dwCoberturaViewDTO.coloZipCode}" filterBy="#{sysClntMstrDTO.dwCoberturaViewDTO.coloZipCode}" styleClass="width60px" filterMatchMode="contains">
                                <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.cp']}" /></f:facet>
                                <h:outputText value="#{sysClntMstrDTO.dwCoberturaViewDTO.coloZipCode}" />
                            </p:column>                            
                            <p:column sortBy="#{sysClntMstrDTO.dwCoberturaViewDTO.delMun}" filterBy="#{sysClntMstrDTO.dwCoberturaViewDTO.delMun}" styleClass="width100" filterMatchMode="contains">
                                <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.utileria.busqueda.busquedaCliente.frmBusquedaCliente.column.municipio']}" /></f:facet>
                                <h:outputText id="delMun" value="#{sysClntMstrDTO.dwCoberturaViewDTO.delMun.length() gt 20 ? sysClntMstrDTO.dwCoberturaViewDTO.delMun.substring(0,18).concat('...') : sysClntMstrDTO.dwCoberturaViewDTO.delMun}" />                                
                                <p:tooltip for="delMun" value="#{sysClntMstrDTO.dwCoberturaViewDTO.delMun}" trackMouse="true" />                                                                               
                            </p:column>

                            <p:column sortBy="#{sysClntMstrDTO.dwCoberturaViewDTO.plaza}" filterBy="#{sysClntMstrDTO.dwCoberturaViewDTO.plaza}" styleClass="width20" filterMatchMode="contains">
                                <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.utileria.busqueda.busquedaCliente.frmBusquedaCliente.column.plaza']}" /></f:facet>
                                <h:outputText value="#{sysClntMstrDTO.dwCoberturaViewDTO.plaza}" />
                            </p:column>
                            <p:column sortBy="#{sysClntMstrDTO.addrMstrDTO.amAddrStyp}" filterBy="#{sysClntMstrDTO.addrMstrDTO.amAddrStyp}" styleClass="width20" filterMatchMode="contains">
                                <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.tipo']}" /></f:facet>
                                <h:outputText value="#{sysClntMstrDTO.addrMstrDTO.amAddrStyp}" />
                            </p:column>                          
                            <f:facet name="footer" >
                                 <p:commandButton id="btnHelpZipCode" icon="ui-icon-check" value="#{msgs['enginedata.page.general.btn.label.seleccionar']}" action="#{busquedaClienteController.rowSelect()}" styleClass="btnCP GreenButton" />
                            </f:facet>
                        </p:dataTable>
                    </div>
                </p:panel>
            </h:form>  
        </f:view>

        <ol id="joyRideTipContent">
            <li data-class="busquedaID" data-text="Siguiente" class="Panel2" data-options="tipLocation:top">     
                <h2>Búsqueda por ID</h2>
                <p>Ingrese una palabra clave para buscar por Ciudad o publación, o bien por Delegación o Municipio.</p>        
            </li>           
            <li data-class="busquedaNombre" data-text="Siguiente" class="Panel2" data-options="tipLocation:top">     
                <h2>Búsqueda por nombre</h2>
                <p>Ingrese una palabra clave para buscar por Ciudad o publación, o bien por Delegación o Municipio.</p>        
            </li>
            <li data-class="busquedaGralRapidaInpuut" data-text="Siguiente" class="Panel2" data-options="tipLocation:top">     
                <h2>Búsqueda por palabra clave</h2>
                <p>Especifique más su búsqueda ingresando ya sea el estado, colonia, sucursal, país, etc.</p>        
            </li> 
        </ol> 

        <script type="text/javascript" src="../../../../../resources/joyride/jquery.cookie.js"></script>
        <script type="text/javascript" src="../../../../../resources/joyride/modernizr.mq.js"></script>
        <script type="text/javascript" src="../../../../../resources/joyride/jquery.joyride-2.1.js"></script>
        <script type="text/javascript" src="../../../../../resources/js/global.js"></script>        
        <script type="text/javascript" src="../../../../../resources/js/keyboardNavigation.js"></script>
        <p:dialog widgetVar="statusDialog" style="border-radius: 50%;text-align: center;" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <img src="../../../../../resources/images/i_g_fleet.gif" style="width: 200px;"/>
            <strong style="display: block; text-align: center;">#{msgs['enginedata.page.general.label.cargando']}</strong>
        </p:dialog>

    </h:body>
</html>