<!DOCTYPE html>
<html mlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui">

    <h:head>        
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/styleDialog.css"/>
        <!--Este estilo oculta los filter de cada columna-->
        <style type="text/css">
            .ui-datatable .ui-column-filter{display: none;}
            .input-to-uppercase{
                text-transform: uppercase;
            }
        </style>
        <script type="text/javascript">
        $(document).on('keydown', '#table_div', function (e) {  
            var code = e.which;
             verificaTecla('frmChooseSuburb:suburbsLazyDataTable:btnSelectAddress', code , 'suburbsLazyDataTableWv');
        });
  
        </script>                   
        <title>#{msgs['enginedata.page.utileria.busqueda.busquedaColoniasPorCodigoPostal.title']}</title>
     </h:head>
    <body onkeydown="if(event.keyCode === 27){ rcCloseOnEscape(); }">
    <f:view locale="#{securityEngineData.locale}">
           
        <h:form id="frmChooseSuburb">
            <p:remoteCommand name="rcCloseOnEscape" action="#{findSuburbByZipCodeController.closeOnEscape()}" />
            <p:focus context="frmChooseSuburb"/>
            <div id="table_div" tabindex="1">
                <p:dataTable id="suburbsLazyDataTable" widgetVar="suburbsLazyDataTableWv" rendered="true" selectionMode="single"
                             value="#{findSuburbByZipCodeController.suburbsLazyModel}" style="width: 100%" var="suburb"
                             selection="#{findSuburbByZipCodeController.selectedAddress}" rowKey="#{suburb.coloId}"
                             emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}" lazy="true" reflow="true" rows="50" scrollable="true" scrollHeight="300"
                             paginator="true" paginatorPosition="bottom" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}" rowsPerPageTemplate="50,100,200,300" styleClass="dt-reflow dt-selectedrow-1 dt-datos dtResponsive dtpaginator100">

                    <p:ajax event="filter" listener="#{findSuburbByZipCodeController.filterListener}" update="@this"/>
                    <p:ajax event="rowDblselect" listener="#{findSuburbByZipCodeController.onRowDblClckSelectAddress}"  global="false" />

                    <f:facet name="header" class="headerDt" id="headerDt" >
                        <h:outputText value="#{msgs['enginedata.page.general.catalogs.lstUser.lblBusqueda']}" />
                        <p:inputText id="globalFilter" widgetVar="globalFilterWv" onkeyup="PF('suburbsLazyDataTableWv').filter()" placeholder="#{msgs['enginedata.page.general.catalogs.lstUser.globalFilter']}" autocomplete="off" styleClass="input-to-uppercase inputBusquedaGeneric" />
                        <p:commandButton id="toggler" styleClass="hiidenMobiles" type="button" value="#{msgs['enginedata.page.general.label.columnas']}" style="float:right" icon="ui-icon-calculator" />
                        <p:columnToggler datasource="suburbsLazyDataTable" trigger="toggler" />
                    </f:facet>

                    <p:column sortBy="#{suburb.coloZipCode}" headerText="#{msgs['enginedata.page.general.label.cp']}" styleClass="width10 alginCenter" filterBy="#{suburb.coloZipCode}">
                         <h:outputText id="coloZipCode" value="#{suburb.coloZipCode}"  />
                    </p:column>

                    <p:column sortBy="#{suburb.coloDes}" headerText="#{msgs['enginedata.page.general.label.colonia']}" styleClass="width150" filterBy="#{suburb.coloDes}">
                         <h:outputText id="coloDes" value="#{suburb.coloDes.length() gt 25 ? suburb.coloDes.substring(0,23).concat('...') : suburb.coloDes}" />                                
                        <p:tooltip for="coloDes" value="#{suburb.coloDes}" trackMouse="true" />                      
                    </p:column>

                    <p:column sortBy="#{suburb.sucursal}" filterBy="#{suburb.sucursal}" styleClass="width30 alginCenter" headerText="#{msgs['enginedata.page.general.label.sucursal']}" >
                        <h:outputText id="sucursal" value="#{suburb.sucursal}" />
                    </p:column>
                    
                    <p:column sortBy="#{suburb.sucursalRad}" filterBy="#{suburb.sucursalRad}" styleClass="width40 alginCenter" headerText="#{msgs['enginedata.page.general.label.sucursal']} RAD" >
                        <h:outputText id="sucursalRad" value="#{suburb.sucursalRad}" />
                    </p:column>                    

                    <p:column sortBy="#{suburb.ciudad}" filterBy="#{suburb.ciudad}"  styleClass="width150" headerText="#{msgs['enginedata.page.general.label.ciudadPoblacion']}" >
                        <h:outputText id="ciudad" value="#{suburb.ciudad.length() gt 25 ? suburb.ciudad.substring(0,23).concat('...') : suburb.ciudad}" />                                
                        <p:tooltip for="ciudad" value="#{suburb.ciudad}" trackMouse="true" />                                                                               
                    </p:column>

                    <p:column sortBy="#{suburb.delMun}" filterBy="#{suburb.delMun}" headerText="#{msgs['enginedata.page.general.label.delegacionMunicipio']}" styleClass="width150" >
                        <h:outputText id="delMun" value="#{suburb.delMun.length() gt 25 ? suburb.delMun.substring(0,23).concat('...') : suburb.delMun}" />                                
                        <p:tooltip for="delMun" value="#{suburb.delMun}" trackMouse="true" /> 
                    </p:column>

                    <p:column sortBy="#{suburb.estado}" filterBy="#{suburb.estado}" headerText="#{msgs['enginedata.page.general.label.estado']}" styleClass="width80" >
                        <h:outputText id="estado" value="#{suburb.estado.length() gt 25 ? suburb.estado.substring(0,23).concat('...') : suburb.estado}" />                                
                        <p:tooltip for="estado" value="#{suburb.estado}" trackMouse="true" />  
                    </p:column>

<!--                    <p:column sortBy="{suburb.pais}" filterBy="{suburb.pais}" headerText="{msgs['enginedata.page.general.label.pais']}" styleClass="width40" >
                        <h:outputText id="pais" value="{suburb.pais}" />
                    </p:column>-->

                    <f:facet name="footer" >
                        <p:commandButton id="btnSelectAddress" styleClass="GreenButton" value="#{msgs['enginedata.page.general.btn.label.seleccionar']}" icon="ui-icon-check" actionListener="#{findSuburbByZipCodeController.fillSelectedAddress}" />
                    </f:facet>

                </p:dataTable>
            </div>
        </h:form>
        <script type="text/javascript" src="../../../../../resources/js/keyboardNavigation.js"></script>
        <p:dialog widgetVar="statusDialog" style="border-radius: 50%;text-align: center;" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <img src="../../../../../resources/images/i_g_fleet.gif" style="width: 200px;"/>
            <strong style="display: block; text-align: center;">#{msgs['enginedata.page.general.label.cargando']}</strong>            
        </p:dialog>
    </f:view>
</body>
</html>
