<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.header']}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/styleDialog.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/style.css"/>
        <script type="text/javascript" src="../../../../../resources/js/global.js"></script>
    </h:head>
    <h:body onkeydown="if(event.keyCode === 27){ rcCloseOnEscape(); }">
        <f:view locale="#{securityEngineData.locale}">
            <p:growl id="growl" autoUpdate="true" life="5000" showDetail="true" showSummary="true" />
            <h:form id="clienteForm" onkeypress="return event.keyCode !== 13"  onsubmit="return false;"> 
                <p:remoteCommand name="rcCloseOnEscape" immediate="true" process="@this" action="#{createNewCustomerController.closeOnEscape()}" />
                <div class="ui-grid">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            <p:outputLabel for="txtClientID"  value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblIdCliente']}" /> <br />
                            <p:inputText  id="txtClientID" binding="#{createNewCustomerController.txtClientID}" size="15" tabindex="1" disabled="true" value="#{createNewCustomerController.newClntMstr.clntId}" />
                        </div>
                        <div class="ui-grid-col-9">
                            <p:outputLabel for="txtClientName" value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblNombreCliente']}" /> <br />
                            <p:inputText id="txtClientName" binding="#{createNewCustomerController.txtClientName}" label="clientName" tabindex="2"  size="50"  value="#{createNewCustomerController.newClntMstr.clntName}" required="true" maxlength="80"/>
                            <p:focus context="clienteForm"/>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            <p:outputLabel for="txtTelefono"  value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblTelefono']}" /> <br />
                            <p:inputText id="txtTelefono" binding="#{createNewCustomerController.txtTelefono}" label="telefono" tabindex="3"  size="15" value="#{createNewCustomerController.newAddrMstr.amPhno1}" required="true" maxlength="20"/>
                        </div>
                        <div class="ui-grid-col-4">
                            <p:outputLabel for="txtEmail"  value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblEmail']}" /> <br />
                            <p:inputText id="txtEmail" binding="#{createNewCustomerController.txtEmail}" label="email"  tabindex="4"  size="40" value="#{createNewCustomerController.newAddrMstr.amMailId}" required="true" maxlength="80">
                                <f:attribute name="typeValidation" value="1" />
                                <f:validator validatorId="custom.genericValidator" />
                            </p:inputText>

                        </div>
                        <div class="ui-grid-col-2">
                            <p:outputLabel for="cbxTipoCliente" value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblTipoCliente']}" /> <br />
                            <p:selectOneMenu  id="cbxTipoCliente"  tabindex="5"  value="#{createNewCustomerController.newClntMstr.clntType}"  valueChangeListener="#{createNewCustomerController.changeCbxTipoCliente}" style="width:60px" immediate="true">
                                <f:selectItem itemLabel="Individuo" itemValue="I" />
                                <f:selectItem itemLabel="Compañia" itemValue="C" />
                                <p:ajax process="cbxTipoCliente" partialSubmit="true" event="valueChange"  update="clienteForm:txtRfc"/>
                            </p:selectOneMenu>
                        </div>
                        <div class="ui-grid-col-3">
                            <p:outputLabel for="txtRfc" value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblRFC']}" /> <br />
                            <p:inputMask  id="txtRfc" binding="#{createNewCustomerController.txtRfc}" label="rfc"  tabindex="6" size="10" value="#{createNewCustomerController.newClntMstr.taxId}" mask="#{createNewCustomerController.maskRFC}" onblur="this.value = this.value.toUpperCase();" style="text-transform: uppercase">
                                <f:attribute name="typeValidation" value="2" />
                                <f:validator validatorId="custom.genericValidator" />
                            </p:inputMask>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-3">
                            <p:outputLabel for="txtCalle" value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblCalle']}" /> <br />
                            <p:inputText  id="txtCalle" binding="#{createNewCustomerController.txtCalle}" label="calle"  tabindex="7"  size="25" value="#{createNewCustomerController.newAddrMstr.amStrtName}" maxlength="80"/>
                        </div>
                        <div class="ui-grid-col-1">
                            <p:outputLabel for="txtNumero"  value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblNumero']}" /><br />
                            <p:inputText  id="txtNumero" binding="#{createNewCustomerController.txtNumero}" label="numero" tabindex="8"  size="5" value="#{createNewCustomerController.newAddrMstr.amDrnr}" maxlength="15"/>
                        </div>
                        <div class="ui-grid-col-2">
                            <p:outputLabel for="txtCodigoPostal"  value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblCodigoPostal']}" /> <br />
                            <p:inputText id="txtCodigoPostal" binding="#{createNewCustomerController.txtCodigoPostal}" label="codigoPostal" tabindex="9"  size="10" value="#{createNewCustomerController.newClntMstr.dwCoberturaViewDTO.coloZipCode}" required="true" 
                                         onkeydown="if (event.keyCode === 13 || event.keyCode === 119) {
                                                     rcEnter();
                                                 } else if (event.keyCode === 120) {
                                                     rcSearchZipCode();
                                                 } else {
                                                     return true;
                                                 }"  />
                            <p:remoteCommand name="rcEnter" 
                                             onstart="document.getElementById('clienteForm:cbEnterFindByZipCode').click()"
                                             partialSubmit="true" immediate="true"
                                             process="@this, :clienteForm:txtClientID, :clienteForm:txtClientName, :clienteForm:txtTelefono, :clienteForm:txtEmail, :clienteForm:cbxTipoCliente, :clienteForm:txtRfc, :clienteForm:txtCalle, :clienteForm:txtNumero, :clienteForm:chkEAD, :clienteForm:chkFXC, :clienteForm:chkRAD, :clienteForm:txtCodigoPostal"
                                             update="clienteForm"/>
                            <p:remoteCommand name="rcSearchZipCode" 
                                             onstart="document.getElementById('clienteForm:btnSearchZipCode').click()"
                                             partialSubmit="true" immediate="true"
                                             process="@this, :clienteForm:txtClientID, :clienteForm:txtClientName, :clienteForm:txtTelefono, :clienteForm:txtEmail, :clienteForm:cbxTipoCliente, :clienteForm:txtRfc, :clienteForm:txtCalle, :clienteForm:txtNumero, :clienteForm:chkEAD, :clienteForm:chkFXC, :clienteForm:chkRAD, :clienteForm:txtCodigoPostal"
                                             update="clienteForm"/>
                            <p:commandButton id="btnSearchZipCode" icon="ui-icon-search" process="@this, :clienteForm:txtClientID, :clienteForm:txtClientName, :clienteForm:txtTelefono, :clienteForm:txtEmail, :clienteForm:cbxTipoCliente, :clienteForm:txtRfc, :clienteForm:txtCalle, :clienteForm:txtNumero, :clienteForm:chkEAD, :clienteForm:chkFXC, :clienteForm:chkRAD, :clienteForm:txtCodigoPostal" actionListener="#{createNewCustomerController.chooseZipCode()}" immediate="true">
                                <p:ajax event="dialogReturn" listener="#{createNewCustomerController.onZipCodeChosen}" update=":clienteForm:txtColonia :clienteForm:txtCiudad :clienteForm:txtMunicipio :clienteForm:txtZona :clienteForm:txtPais :clienteForm:txtSucursalAsignada :clienteForm:txtCodigoPostal" />
                            </p:commandButton>
                            <p:commandButton id="cbEnterFindByZipCode" widgetVar="cbEnterFindByZipCodeW" action="#{createNewCustomerController.findAddressByZipCodeEnter()}" style="display: none;" styleClass="btnModalHideScroll" immediate="true" process="@this, :clienteForm:txtClientID, :clienteForm:txtClientName, :clienteForm:txtTelefono, :clienteForm:txtEmail, :clienteForm:cbxTipoCliente, :clienteForm:txtRfc, :clienteForm:txtCalle, :clienteForm:txtNumero, :clienteForm:chkEAD, :clienteForm:chkFXC, :clienteForm:chkRAD, :clienteForm:txtCodigoPostal">
                                <p:ajax event="dialogReturn" listener="#{createNewCustomerController.onZipCodeChosen}" update=":clienteForm:txtColonia :clienteForm:txtCiudad :clienteForm:txtMunicipio :clienteForm:txtZona :clienteForm:txtPais :clienteForm:txtSucursalAsignada :clienteForm:txtCodigoPostal" />
                            </p:commandButton>
                        </div>
                        <div class="ui-grid-col-3">
                            <p:outputLabel for="txtColonia"  value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblColonia']}" /> <br />
                            <p:inputText id="txtColonia" binding="#{createNewCustomerController.txtColonia}" label="colonia" size="30" disabled="true" value="#{createNewCustomerController.newClntMstr.dwCoberturaViewDTO.coloDes}" />
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-3">
                            <p:outputLabel for="txtCiudad" value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblCiudad']}" /> <br />
                            <p:inputText id="txtCiudad" binding="#{createNewCustomerController.txtCiudad}" label="ciudad" disabled="true" size="20" value="#{createNewCustomerController.newClntMstr.dwCoberturaViewDTO.ciudad}"/>
                        </div>
                        <div class="ui-grid-col-3">
                            <p:outputLabel for="txtMunicipio" value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblMunicipio']}" /> <br />
                            <p:inputText  id="txtMunicipio" binding="#{createNewCustomerController.txtMunicipio}" disabled="true" label="municipio" size="20" value="#{createNewCustomerController.newClntMstr.dwCoberturaViewDTO.delMun}" />
                        </div>
                        <div class="ui-grid-col-3">
                            <p:outputLabel for="txtZona" value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblZona']}" /> <br />
                            <p:inputText  id="txtZona" binding="#{createNewCustomerController.txtZona}" label="zona" disabled="true" size="25" value="#{createNewCustomerController.newClntMstr.dwCoberturaViewDTO.zona}" />
                        </div>
                        <div class="ui-grid-col-2">
                            <p:outputLabel for="txtPais" value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblPais']}" /> <br />
                            <p:inputText  id="txtPais" binding="#{createNewCustomerController.txtPais}" label="pais" disabled="true" size="15" value="#{createNewCustomerController.newClntMstr.dwCoberturaViewDTO.pais}" />
                        </div>
                        <div class="ui-grid-col-2">
                            <p:outputLabel for="txtSucursalAsignada" value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblSucursalAsignada']}" /> <br />
                            <p:inputText  id="txtSucursalAsignada" binding="#{createNewCustomerController.txtSucursalAsignada}" disabled="true" size="15"  label="sucursalAsignada" value="#{createNewCustomerController.newClntMstr.dwCoberturaViewDTO.sucursal}" />
                        </div>
                    </div>
                    <div>
                        <p:outputLabel for="chkEAD" value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblEAD']}" />
                        <p:selectBooleanCheckbox id="chkEAD" binding="#{createNewCustomerController.chkEAD}" label="chkEAD" tabindex="10"  value="#{createNewCustomerController.activeChbEAD}" />
                        <p:outputLabel for="chkFXC" value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblFXC']}" />
                        <p:selectBooleanCheckbox id="chkFXC" binding="#{createNewCustomerController.chkFXC}" label="chkFXC" tabindex="11"  value="#{createNewCustomerController.activeChbFXC}" />
                        <p:outputLabel for="chkRAD" value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblRAD']}" />
                        <p:selectBooleanCheckbox id="chkRAD" binding="#{createNewCustomerController.chkRAD}" label="chkRAD"  tabindex="12" value="#{createNewCustomerController.activeChbRAD}" />
                    </div>

                    <div class="ui-grid ui-grid-responsive">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-12"  align="right">
                                <p:commandButton tabindex="13" styleClass="GreenButton fa fa-floppy-o" value="#{msgs['enginedata.page.save-button-label']}" actionListener="#{createNewCustomerController.saveClntMstr}" process="@this, :clienteForm:txtClientID, :clienteForm:txtClientName, :clienteForm:txtTelefono, :clienteForm:txtEmail, :clienteForm:cbxTipoCliente, :clienteForm:txtRfc, :clienteForm:txtCalle, :clienteForm:txtNumero, :clienteForm:chkEAD, :clienteForm:chkFXC, :clienteForm:chkRAD, :clienteForm:txtCodigoPostal, :clienteForm:txtColonia, :clienteForm:txtCiudad, :clienteForm:txtMunicipio, :clienteForm:txtZona, :clienteForm:txtPais, :clienteForm:txtSucursalAsignada" update=":clienteForm:txtClientID, :clienteForm:txtClientName, :clienteForm:txtTelefono, :clienteForm:txtEmail, :clienteForm:cbxTipoCliente, :clienteForm:txtRfc, :clienteForm:txtCalle, :clienteForm:txtNumero, :clienteForm:chkEAD, :clienteForm:chkFXC, :clienteForm:chkRAD, :clienteForm:txtCodigoPostal, :clienteForm:txtColonia, :clienteForm:txtCiudad, :clienteForm:txtMunicipio, :clienteForm:txtZona, :clienteForm:txtPais, :clienteForm:txtSucursalAsignada"/>
                            </div>
                        </div>
                    </div>
                </div>
            </h:form>
        </f:view>
    </h:body>
</html>