<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html mlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/styleDialog.css"/>
        <!--Este estilo oculta los filter de cada columna-->
        
        <title>Trazabilidad de mercancía por guía</title>
     </h:head>
    <body>
    <f:view locale="#{securityEngineData.locale}">
           
        <h:form id="frmInfoGuia"> 

            <table>
                <tr>
                    <td>
                <p:outputLabel value="Número de guia"/>
                </td>
                <td>
                    <h:outputText value="#{searchTraceabilityController.historyDTO.guiaOrRastreo}"/>
                </td>                
                </tr>
                <tr>
                    <td>
                <p:outputLabel value="Origen - Destino"/>
                </td>
                <td>
                    <h:outputText value="#{searchTraceabilityController.historyDTO.orig} - #{searchTraceabilityController.historyDTO.dest}"/>
                </td>                
                </tr>  
                <tr>
                    <td>
                        <p:outputLabel value="Solicitó"/>
                    </td>
                    <td>
                        <h:outputText value="#{searchTraceabilityController.historyDTO.solicito}"/>
                    </td>                
                    </tr> 
                <tr>
                <td>
                    <p:outputLabel value="Ultimo evento"/>
                </td>
                <td>
                <h:outputText value="#{searchTraceabilityController.historyDTO.fecha}"/>
                </td>                
                </tr>               
            </table>

            <img src="../../../../../resources/images/status/#{searchTraceabilityController.historyDTO.imagen}" style="max-width: 500px;" />

            <p:dataTable id="historyEventos"  var="historyDetalle" value="#{searchTraceabilityController.historyDTO.listHistoryDetails}"  widgetVar="lazyDataTable"            
                         style="width: 850px;"
                         >
                    <p:column headerText="Fecha" styleClass="width150" >
                        <h:outputText value="#{historyDetalle.dia} #{historyDetalle.dianum} de #{historyDetalle.mes} del #{historyDetalle.anio}" />
                    </p:column>
                    <p:column headerText="Hora" styleClass="width20" >
                        <h:outputText value="#{historyDetalle.hora}" />
                    </p:column>            
                    <p:column headerText="Sucursal" styleClass="width100" >
                        <h:outputText value="#{historyDetalle.sucursal}" />

                    </p:column>                        
                    <p:column headerText="Evento" styleClass="width200">
                        <h:outputText value="#{historyDetalle.status}" />
                    </p:column>                        
            </p:dataTable>


        </h:form>
         
    </f:view>
</body>
</html>
