<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/styleDialog.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/style.css"/>
        <!--Este estilo oculta los filter de cada columna-->
        <style type="text/css">
            .ui-datatable .ui-column-filter{display: none;}
        </style>
        <title>BUSQUEDA DE EMPLEADOS</title>
    </h:head>

    <h:body >
        <f:view locale="#{securityEngineData.locale}"  >
            <h:form id="frmSearchEmployee" rendered="true">
                <p:panel id="panel1">
                    <p:growl id="message" showDetail="true" autoUpdate="true" life="4500" />
                    <div class="gridResponsive">
                        <div class="gridResponsive1_2">
                            <p:outputLabel for="empleado" value="EMPLEADO" />
                            <p:inputText id="empleado" label="EMPLEADO" required="false" size="20" value="#{searchEmployeeController.filters.filter_1}"/>
                        </div>
                        <div class="gridResponsive1_2">
                            <p:outputLabel for="nombreEmpleado" value="NOMBRE" />
                            <p:inputText id="nombreEmpleado" label="nombreEmpleado" size="80" required="false" value="#{searchEmployeeController.filters.filter_2}"/>
                            <p:commandButton value="Consultar"  icon="ui-icon-search" action="#{searchEmployeeController.employeeSelectionAll}" update=":frmSearchEmployee:dtSearchEmployee :frmSearchEmployee:dtSearchEmployee:globalFilter" onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"/>		
                        </div>
                    </div>
                    <p:dataTable id="dtSearchEmployee" var="sysEmployeeDTO" value="#{searchEmployeeController.listSysEmployee}"  widgetVar="dtSearchEmployee"
                                 filteredValue="#{searchEmployeeController.filteredSysEmployee}" rows="50" scrollable="true" scrollHeight="250"
                                 selection="#{searchEmployeeController.selectedSysEmployee}" 
                                 rendered="true"
                                 selectionMode="single"
                                 rowKey="#{sysEmployeeDTO.employeeId}" paginatorPosition="bottom" 
                                 paginator="true"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}"
                                 rowsPerPageTemplate="50,100,200,300" styleClass="dt-reflow dt-selectedrow-1 dt-datos"  >
                        <p:ajax event="rowDblselect" listener="#{searchEmployeeController.onRowDblClckSelect}"  global="false" />
                        <!-- COLUMNS -->
                        <f:facet name="header" class="headerDt" id="headerDt">
                            <h:outputText value="BUSQUEDA:" />
                            <p:inputText id="globalFilter" onkeyup="PF('dtSearchEmployee').filter()" size="50" placeholder="Enter keyword" />                            
                        </f:facet>

                        <p:column sortBy="#{sysEmployeeDTO.employeeId}" filterBy="#{sysEmployeeDTO.employeeId}" width="70" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="CLIENTE" /></f:facet>
                            <h:outputText value="#{sysEmployeeDTO.employeeId}" />
                        </p:column>

                        <p:column sortBy="#{sysEmployeeDTO.employeeName}" filterBy="#{sysEmployeeDTO.employeeName}"  width="180" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="NOMBRE" /></f:facet>
                            <h:outputText value="#{sysEmployeeDTO.employeeName}" />
                        </p:column>
                    </p:dataTable>
                </p:panel>
            </h:form>  
        </f:view>

        <p:dialog widgetVar="statusDialog" style="border-radius: 50%;text-align: center;" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <img src="../../../../../resources/images/i_g_fleet.gif" style="width: 200px;"/>
            <strong style="display: block;">Cargando...</strong>
        </p:dialog>

    </h:body>
</html>