<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/styleDialog.css"/>
        <!--Este estilo oculta los filter de cada columna-->

        <style>
            .marginLeftLabelRelative{
                /*width: 100%;*/
                margin-left: 3px;
            }
            .itemAlignRight{
                text-align: right;
            }
            .keyLabelStyle{
                font-weight: bolder !important;
                color: darkblue !important;
            }
        </style>
        
        <title>Detalle de guía</title>
    </h:head>
    <h:body>
        <f:view locale="#{securityEngineData.locale}">
            <h:form id="frmInfoGuia">

                <!--<p:dialog header="Detalle de guía" widgetVar="modalDetalleGuia" width="850" modal="true" id="modalDetalle" styleClass="modalDetalleGuia">-->
                <p:panel id="panelGuiaDetail" styleClass="ui-grid ui-grid-responsive">

                    <p:tabView style="height: 500px;" styleClass="ui-grid ui-grid-responsive"  activeIndex="#{guiaDetailInfoController.tabIdx}">
                        <div class="grid gridDetallesBuzon">

                            <p:tab title="#{msgs['enginedata.page.label.General']}" >

                                <div class="ui-grid ui-grid-responsive">
                                    <p:panel header="#{msgs['enginedata.page.general.label.guia']}">
                                        <div>
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-4">
                                                    <div class="ui-grid-col-6">
                                                        <p:outputLabel for="gralGuiaNo" value="#{msgs['enginedata.page.general.label.rastreo']}" styleClass="keyLabelStyle" />
                                                    </div>
                                                    <div class="ui-grid-col-6">
                                                        <p:outputLabel id="gralGuiaNo" value="#{guiaDetailInfoController.searchedBokGuiaHead.guiaNo}" />
                                                    </div>
                                                </div>
                                                <div class="ui-grid-col-4">
                                                    <div class="ui-grid-col-6">
                                                        <p:outputLabel for="gralFormNo" value="#{msgs['enginedata.page.general.label.guia']}" styleClass="keyLabelStyle" />
                                                    </div>
                                                    <div class="ui-grid-col-6">
                                                        <p:outputLabel id="gralFormNo" styleClass="marginLeftLabelRelative" value="#{guiaDetailInfoController.forma}" />
                                                    </div>
                                                </div>
                                                <div class="ui-grid-col-4">
                                                    <div class="ui-grid-col-4">
                                                        <p:outputLabel for="gralGuiaStus" value="#{msgs['enginedata.page.label.flagActive']}" styleClass="keyLabelStyle" />
                                                    </div>
                                                    <div class="ui-grid-col-8">
                                                        <p:outputLabel id="gralGuiaStus" styleClass="marginLeftLabelRelative ellipsizeCellContent" value="#{guiaDetailInfoController.searchedBokGuiaHead.guiaStus.concat(' - ').concat(guiaDetailInfoController.guiaStusName)}" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-4">
                                                    <div class="ui-grid-col-6">
                                                        <p:outputLabel for="gralDueDate" value="#{msgs['enginedata.page.general.label.dueDate']}" styleClass="keyLabelStyle" />
                                                    </div>
                                                    <div class="ui-grid-col-6">
                                                        <p:outputLabel id="gralDueDate" styleClass="marginLeftLabelRelative" value="#{guiaDetailInfoController.searchedBokGuiaHead.dueDate}">
                                                            <f:convertDateTime type="date" pattern="dd/MM/yyyy"/>
                                                        </p:outputLabel>
                                                    </div>
                                                </div>
                                                <div class="ui-grid-col-4">
                                                    <div class="ui-grid-col-6">
                                                        <p:outputLabel for="gralIsseDate" value="#{msgs['enginedata.page.general.label.EmissionDate']}" styleClass="keyLabelStyle" />
                                                    </div>
                                                    <div class="ui-grid-col-6">
                                                        <p:outputLabel id="gralIsseDate" styleClass="marginLeftLabelRelative" value="#{guiaDetailInfoController.searchedBokGuiaHead.isseDate}">
                                                            <f:convertDateTime type="both" pattern="dd/MM/yyyy HH:mm"/>
                                                        </p:outputLabel>
                                                    </div>
                                                </div>
                                                <div class="ui-grid-col-4">
                                                    <div class="ui-grid-col-4">
                                                        <p:outputLabel for="gralGuiaType" value="#{msgs['enginedata.page.general.label.guiaType']}" styleClass="keyLabelStyle" />
                                                    </div>
                                                    <div class="ui-grid-col-8">
                                                        <p:outputLabel id="gralGuiaType" styleClass="marginLeftLabelRelative" value="#{guiaDetailInfoController.searchedBokGuiaHead.guiaType.concat(' - ').concat(guiaDetailInfoController.guiaTypeName)}" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-4">
                                                    <div class="ui-grid-col-6">
                                                        <p:outputLabel for="gralCurrLoca" value="#{msgs['enginedata.page.general.label.currentLocation']}" styleClass="keyLabelStyle" />
                                                    </div>
                                                    <div class="ui-grid-col-6">
                                                        <p:outputLabel id="gralCurrLoca" value="#{guiaDetailInfoController.searchedBokGuiaHead.currLoca}" />
                                                    </div>
                                                </div>
                                                <div class="ui-grid-col-4">
                                                    <div class="ui-grid-col-6">
                                                        <p:outputLabel for="gralCurrTrip" value="#{msgs['enginedata.page.general.label.currentTrip']}" styleClass="keyLabelStyle" />
                                                    </div>
                                                    <div class="ui-grid-col-6">
                                                        <p:outputLabel id="gralCurrTrip" value="#{guiaDetailInfoController.searchedBokGuiaHead.currTrip}" />
                                                    </div>
                                                </div>
                                                <div class="ui-grid-col-4">
                                                    <div class="ui-grid-col-4">
                                                        <p:outputLabel for="gralDocuType"  value="#{msgs['enginedata.page.general.label.documentType']}" styleClass="keyLabelStyle" />
                                                    </div>
                                                    <div class="ui-grid-col-8">
                                                        <p:outputLabel id="gralDocuType" value="#{guiaDetailInfoController.searchedBokGuiaHead.docuType.concat(' - ').concat(guiaDetailInfoController.docuTypeName)}" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-4">
                                                    <div class="ui-grid-col-6">
                                                        <p:outputLabel for="gralPymtMode" value="#{msgs['enginedata.page.general.label.paymentMode']}" styleClass="keyLabelStyle" />
                                                    </div>
                                                    <div class="ui-grid-col-6">
                                                        <p:outputLabel id="gralPymtMode" value="#{guiaDetailInfoController.searchedBokGuiaHead.pymtMode == 'PAID' ? msgs['enginedata.page.general.label.pagado'] : guiaDetailInfoController.searchedBokGuiaHead.pymtMode == 'TO_PAY' ? msgs['enginedata.page.general.label.porPagar'] : guiaDetailInfoController.searchedBokGuiaHead.pymtMode}" />
                                                    </div>
                                                </div>
                                                <div class="ui-grid-col-4">
                                                    <div class="ui-grid-col-6">
                                                        <p:outputLabel value="#{msgs['enginedata.page.general.label.tipoPago']}" styleClass="keyLabelStyle" />
                                                    </div>
                                                    <div class="ui-grid-col-6">
                                                        <p:outputLabel value="#{guiaDetailInfoController.searchedBokGuiaHead.pymtType.concat(' - ').concat(guiaDetailInfoController.paymentTypeName)}">
                                                        </p:outputLabel>
                                                    </div>
                                                </div>
                                                <div class="ui-grid-col-4">
                                                    <div class="ui-grid-col-4">
                                                        <p:outputLabel value="#{msgs['enginedata.page.general.label.taxApportion']}" styleClass="keyLabelStyle" />
                                                    </div>
                                                    <div class="ui-grid-col-8">
                                                        <p:outputLabel value="#{guiaDetailInfoController.searchedBokGuiaHead.invcFlag}" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-4">
                                                    <div class="ui-grid-col-6">
                                                        <p:outputLabel value="#{msgs['enginedata.page.general.label.CODValue']}" styleClass="keyLabelStyle" />
                                                    </div>
                                                    <div class="ui-grid-col-6">
                                                        <p:outputLabel styleClass="currency" value="#{guiaDetailInfoController.searchedBokGuiaHead.rcptRefCod != null ? guiaDetailInfoController.searchedBokGuiaHead.rcptRefCod : 0}">
                                                            <f:convertNumber pattern="¤#0.00" locale="#{securityEngineData.locale}"/>
                                                        </p:outputLabel>
                                                    </div>
                                                </div>
                                                <div class="ui-grid-col-4">
                                                    <div class="ui-grid-col-6">
                                                        <p:outputLabel value="#{msgs['enginedata.page.general.label.valorDeclarado']}" styleClass="keyLabelStyle" />
                                                    </div>
                                                    <div class="ui-grid-col-6">
                                                        <p:outputLabel styleClass="currency" value="#{guiaDetailInfoController.searchedBokGuiaHead.totlDeclVlue != null ? guiaDetailInfoController.searchedBokGuiaHead.totlDeclVlue : 0}">
                                                            <f:convertNumber pattern="¤#0.00" locale="#{securityEngineData.locale}"/>
                                                        </p:outputLabel>
                                                    </div>
                                                </div>
                                                <div class="ui-grid-col-4">
                                                    <div class="ui-grid-col-4">
                                                        <p:outputLabel value="#{msgs['enginedata.page.general.label.SEG']}" styleClass="keyLabelStyle" />
                                                    </div>
                                                    <div class="ui-grid-col-8">
                                                        <p:outputLabel value="#{guiaDetailInfoController.segSrvcId} - #{guiaDetailInfoController.segSrvcTypeName}" />
                                                    </div>
                                                </div>
                                            </div>
                                            
                                             <div class="ui-grid-row">
                                                 <div class="ui-grid-col-4">
                                                 </div>
                                                 <div class="ui-grid-col-4">
                                                     <div class="ui-grid-col-6">
                                                        <p:outputLabel value="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.ent']}" styleClass="keyLabelStyle" />
                                                    </div>
                                                    <div class="ui-grid-col-6">
                                                        <p:outputLabel rendered="#{guiaDetailInfoController.searchedBokGuiaHead.eadFlag == null or guiaDetailInfoController.searchedBokGuiaHead.eadFlag == '0'}" value="#{msgs['enginedata.page.general.label.ocurre']}" />
                                                        <p:outputLabel rendered="#{guiaDetailInfoController.searchedBokGuiaHead.eadFlag == '1'}" value="#{msgs['enginedata.page.general.label.ead']}" />
                                                    </div>
                                                 </div>
                                                 <div class="ui-grid-col-4">
                                                     <div class="ui-grid-col-8">
                                                        <p:outputLabel value="#{msgs['enginedata.page.general.label.fechaEstimada']}" styleClass="keyLabelStyle" />
                                                    </div>
                                                    <div class="ui-grid-col-4">
                                                        <p:outputLabel value="#{guiaDetailInfoController.promiseDelivery}">
                                                            <f:convertDateTime type="date" pattern="dd/MM/yyyy"/>
                                                        </p:outputLabel>
                                                    </div>
                                                 </div>
                                             </div>

                                        </div>

                                    </p:panel>
                                </div>  

                                <div class="ui-grid ui-grid-responsive" style="padding-top: 5px;">
                                    <div class="ui-grid-col-6">
                                        <p:panel header="#{msgs['enginedata.page.general.label.origen']}">
                                            <div>
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-3">
                                                        <p:outputLabel for="gralOrgnBrnc" value="#{msgs['enginedata.page.general.label.sucursal']}"  styleClass="keyLabelStyle" />
                                                    </div>
                                                    <div class="ui-grid-col-9">
                                                        <p:outputLabel id="gralOrgnBrnc" value="#{guiaDetailInfoController.searchedBokGuiaHead.orgnBrncId.concat('  -  ').concat(guiaDetailInfoController.orgnBrnc.bmBrncName)}" /> 
                                                    </div>
                                                </div>
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-3">
                                                        <p:outputLabel for="gralOrgnClnt" value="#{msgs['enginedata.page.general.label.cliente']}" styleClass="keyLabelStyle" />
                                                    </div>
                                                    <div class="ui-grid-col-9 ellipsizeCellContent">
                                                        <p:outputLabel id="gralOrgnClnt" value="#{guiaDetailInfoController.searchedBokGuiaHead.orgnClntId.concat('  -  ').concat(guiaDetailInfoController.searchedBokGuiaHead.orgnClntName)}" /> 
                                                    </div>
                                                </div>
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-3">
                                                        <p:outputLabel for="gralOrgnAddr" value="#{msgs['enginedata.page.general.label.direccion']}" styleClass="keyLabelStyle" />
                                                    </div>
                                                    <div class="ui-grid-col-9 ellipsizeCellContent">
                                                        <p:outputLabel id="gralOrgnAddr" value="#{guiaDetailInfoController.orgnAddr.strtName.concat(',  #').concat(guiaDetailInfoController.orgnAddr.drnr)}" /> 
                                                    </div>
                                                </div>
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-3">
                                                        <p:outputLabel for="gralOrgnCol" value="#{msgs['enginedata.page.general.label.colonia']}" styleClass="keyLabelStyle" />
                                                    </div>
                                                    <div class="ui-grid-col-9 ellipsizeCellContent">
                                                        <p:outputLabel id="gralOrgnCol" value="#{guiaDetailInfoController.orgnAddr.addrLin5.concat(', ').concat(guiaDetailInfoController.orgnAddr.addrLin6)}" /> 
                                                    </div>
                                                </div>
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-3">
                                                        <p:outputLabel for="gralOrgnRFC" value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblRFC']}" styleClass="keyLabelStyle" />
                                                    </div>
                                                    <div class="ui-grid-col-9">
                                                        <p:outputLabel id="gralOrgnRFC" value="#{guiaDetailInfoController.orgnClient.taxId.concat(', ').concat(guiaDetailInfoController.orgnAddr.phno1)}" /> 
                                                    </div>
                                                </div>
                                            </div>
                                        </p:panel>
                                    </div>

                                    <div class="ui-grid-col-6">
                                        <p:panel header="#{msgs['enginedata.page.general.label.destino']}">
                                            <div>
                                                <div class="ui-grid-col-3">
                                                    <p:outputLabel for="gralDestBrnc" value="#{msgs['enginedata.page.general.label.sucursal']}"  styleClass="keyLabelStyle" />
                                                </div>
                                                <div class="ui-grid-col-9">
                                                    <p:outputLabel id="gralDestBrnc" value="#{guiaDetailInfoController.searchedBokGuiaHead.destBrncId.concat('  -  ').concat(guiaDetailInfoController.destBrnc.bmBrncName)}" />
                                                </div>
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-3">
                                                        <p:outputLabel for="gralDestClnt" value="#{msgs['enginedata.page.general.label.cliente']}" styleClass="keyLabelStyle" />
                                                    </div>
                                                    <div class="ui-grid-col-9 ellipsizeCellContent">
                                                        <p:outputLabel id="gralDestClnt" value="#{guiaDetailInfoController.searchedBokGuiaHead.destClntId.concat('  -  ').concat(guiaDetailInfoController.searchedBokGuiaHead.destClntName)}" /> 
                                                    </div>
                                                </div>
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-3">
                                                        <p:outputLabel for="gralDestAddr" value="#{msgs['enginedata.page.general.label.direccion']}" styleClass="keyLabelStyle" />
                                                    </div>
                                                    <div class="ui-grid-col-9 ellipsizeCellContent">
                                                        <p:outputLabel id="gralDestAddr" value="#{guiaDetailInfoController.destAddr.strtName.concat(',  #').concat(guiaDetailInfoController.destAddr.drnr)}" /> 
                                                    </div>
                                                </div>
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-3">
                                                        <p:outputLabel for="gralDestCol" value="#{msgs['enginedata.page.general.label.colonia']}" styleClass="keyLabelStyle" />
                                                    </div>
                                                    <div class="ui-grid-col-9 ellipsizeCellContent">
                                                        <p:outputLabel id="gralDestCol" value="#{guiaDetailInfoController.destAddr.addrLin5.concat(', ').concat(guiaDetailInfoController.destAddr.addrLin6)}" /> 
                                                    </div>
                                                </div>
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-3">
                                                        <p:outputLabel for="gralDestRFC" value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblRFC']}" styleClass="keyLabelStyle" />
                                                    </div>
                                                    <div class="ui-grid-col-9">
                                                        <p:outputLabel id="gralDestRFC" value="#{guiaDetailInfoController.destClient.taxId.concat(', ').concat(guiaDetailInfoController.destAddr.phno1)}" /> 
                                                    </div>
                                                </div>
                                            </div>
                                        </p:panel>
                                    </div>
                                </div>

                                <div class="ui-grid ui-grid-responsive" style="padding-top: 5px;">
                                    <div class="ui-grid-col-6">
                                        <p:panel header="#{msgs['enginedata.page.label.cobranza']}">
                                            <div>
                                                <div class="ui-grid-col-3">
                                                    <p:outputLabel for="gralBillBrnc" value="#{msgs['enginedata.page.general.label.sucursal']}" styleClass="keyLabelStyle" />
                                                </div>
                                                <div class="ui-grid-col-9">
                                                    <p:outputLabel id="gralBillBrnc" value="#{guiaDetailInfoController.searchedBokGuiaHead.billBrncId.concat('  -  ').concat(guiaDetailInfoController.billBrnc.bmBrncName)}" />
                                                </div>
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-3">
                                                        <p:outputLabel for="gralBillClnt" value="#{msgs['enginedata.page.general.label.cliente']}" styleClass="keyLabelStyle" />
                                                    </div>
                                                    <div class="ui-grid-col-9 ellipsizeCellContent">
                                                        <p:outputLabel id="gralBillClnt" value="#{guiaDetailInfoController.searchedBokGuiaHead.billClntId.concat('  -  ').concat(guiaDetailInfoController.searchedBokGuiaHead.billClntName)}" /> 
                                                    </div>
                                                </div>
                                            </div>
                                        </p:panel>
                                    </div>

                                    <div class="ui-grid-col-6">
                                        <p:panel header="#{msgs['enginedata.page.label.preparacion']}">
                                            <div>
                                                <div class="ui-grid-col-3">
                                                    <p:outputLabel for="gralPrepBrnc" value="#{msgs['enginedata.page.general.label.sucursal']}" styleClass="keyLabelStyle" />
                                                </div>
                                                <div class="ui-grid-col-9">
                                                    <p:outputLabel id="gralPrepBrnc" value="#{guiaDetailInfoController.searchedBokGuiaHead.prepBrncId.concat('  -  ').concat(guiaDetailInfoController.prepBrnc.bmBrncName)}" />
                                                </div>
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-3">
                                                        <p:outputLabel for="gralPrepUser" value="#{msgs['enginedata.page.general.label.usuario']}" styleClass="keyLabelStyle" />
                                                    </div>
                                                    <div class="ui-grid-col-9">
                                                        <p:outputLabel id="gralPrepUser" value="#{guiaDetailInfoController.searchedBokGuiaHead.bookUserId.concat('  -  ').concat(guiaDetailInfoController.bokUserName)}" /> 
                                                    </div>
                                                </div>
                                            </div>
                                        </p:panel>
                                    </div>
                                </div>

                                <div class="ui-grid ui-grid-responsive" style="padding-top: 5px;">
                                    <div class="ui-grid-col-6">
                                        <p:panel header="#{msgs['enginedata.page.label.billingInfo']}">
                                            <div>
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-3">
                                                        <p:outputLabel for="gralBillAddr" value="#{msgs['enginedata.page.general.label.direccion']}" styleClass="keyLabelStyle" />
                                                    </div>
                                                    <div class="ui-grid-col-9 ellipsizeCellContent">
                                                        <p:outputLabel id="gralBillAddr" value="#{guiaDetailInfoController.billAddr.strtName.concat(',  #').concat(guiaDetailInfoController.billAddr.drnr)}" /> 
                                                    </div>
                                                </div>
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-3">
                                                        <p:outputLabel for="gralBillCol" value="#{msgs['enginedata.page.general.label.colonia']}" styleClass="keyLabelStyle" />
                                                    </div>
                                                    <div class="ui-grid-col-9 ellipsizeCellContent">
                                                        <p:outputLabel id="gralBillCol" value="#{guiaDetailInfoController.billAddr.addrLin5.concat(', ').concat(guiaDetailInfoController.billAddr.addrLin6)}" /> 
                                                    </div>
                                                </div>
                                                <div class="ui-grid-row">
                                                    <div class="ui-grid-col-3">
                                                        <p:outputLabel for="gralBillRFC" value="#{msgs['enginedata.page.general.catalogs.lstUser.clienteForm.lblRFC']}" styleClass="keyLabelStyle" />
                                                    </div>
                                                    <div class="ui-grid-col-9">
                                                        <p:outputLabel id="gralBillRFC" value="#{guiaDetailInfoController.billClient.taxId.concat(', ').concat(guiaDetailInfoController.billAddr.phno1)}" /> 
                                                    </div>
                                                </div>
                                            </div>
                                        </p:panel>
                                    </div>
                                </div>

                            </p:tab>


                            <p:tab title="#{msgs['enginedata.page.general.label.servicios']}" >
                                <p:panel header="#{msgs['enginedata.page.general.label.detalleDeEnvio']}">
                                <p:dataTable var="serviceItem" value="#{guiaDetailInfoController.lazyModelBokGuiaSrvItem}"
                                             id="t3" rendered="true" 
                                             lazy="true" rows="4" scrollable="true"
                                             emptyMessage="Guía incompleta" styleClass="modalDetalleGuia-t3"
                                             style="overflow: hidden;margin-bottom: 20px; margin-top: 10px;"
                                             >

                                    <p:column headerText="#{msgs['enginedata.page.general.label.cantidad']}"  style="width: 50px;" styleClass="alginCenter">
                                        <h:outputText value="#{serviceItem.qunt}" />
                                    </p:column>
                                    <p:column  headerText="#{msgs['enginedata.page.rad.radSolicitud.tableDiscount.colDescuento']}"  styleClass="width30 alginCenter">
                                        <h:outputText value="#{serviceItem.descrip}" />                               
                                    </p:column>                              
                                    <p:column  headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.cont']}"  styleClass="width50 alginCenter">
                                        <h:outputText value="#{serviceItem.cont}" />                               
                                    </p:column>
                                    <p:column  headerText="#{msgs['enginedata.page.general.label.tarifa']}"  styleClass="width25 alginCenter">
                                        <h:outputText value="#{serviceItem.slabNo}" />                               
                                    </p:column>                                                    
                                    <p:column  headerText="#{msgs['enginedata.page.general.label.weigt']}"  styleClass="width25 alginCenter">
                                        <h:outputText styleClass="currency" value="#{serviceItem.vlue1} KG" />                               
                                    </p:column> 
                                    <p:column  headerText="#{msgs['enginedata.page.general.label.volum']}"  styleClass="width25 alginCenter">
                                        <h:outputText value="#{serviceItem.vlue2}" />                               
                                    </p:column> 
                                    <p:column  headerText="#{msgs['enginedata.page.general.label.importe']}"  styleClass="width25 alginCenter">
                                        <h:outputText styleClass="currency" value="#{serviceItem.srvcChrg}">
                                             <f:convertNumber pattern="¤#0.00" locale="#{securityEngineData.locale}"/>
                                        </h:outputText>                               
                                    </p:column> 


                                </p:dataTable>
                                    
                                </p:panel>

                                <div class="ui-grid-row" style="padding-top: 20px;">
                                    <div class="ui-grid-col-8">
                                        <div > 
                                        <p:panel style="margin-left: 0px; margin-right: 0px;" id="bokGuiaSrv" header="#{msgs['enginedata.page.general.label.servicios']}"> <!-- width: 520px;  -->
                                            <p:dataTable var="srvData" value="#{guiaDetailInfoController.lazyModelBokGuiaSrv}" 
                                                         id="t4" rendered="true"
                                                         lazy="true" rows="10" scrollable="true"
                                                         emptyMessage="Guía Incompleta" styleClass="modalDetalleGuia-t3"
                                                         
                                                         > <!-- style="width: 550px;" -->

                                                <p:column headerText="#{msgs['enginedata.page.general.label.clave']}" styleClass="width25 alginCenter">
                                                    <h:outputText rendered="#{srvData.srvcId !='SHP-G' and srvData.srvcId !='SHP-E' and srvData.srvcId !='PACKETS' and srvData.srvcId !='ENVELOPES' }" value="#{srvData.srvcId}" />
                                                </p:column>
                                                <p:column  headerText="#{msgs['enginedata.page.general.label.descripcion']}"  styleClass="width50 alginCenter">
                                                    <h:outputText rendered="#{srvData.srvcId !='SHP-G' and srvData.srvcId !='SHP-E' and srvData.srvcId !='PACKETS' and srvData.srvcId !='ENVELOPES' }" value="#{srvData.name}">
                                                        <f:convertNumber pattern="¤#0.00" locale="#{securityEngineData.locale}"/>
                                                    </h:outputText>                               
                                                </p:column>                              
                                                <p:column  headerText="#{msgs['enginedata.page.general.label.subtotal']}"  styleClass="width25 alginCenter">
                                                    <h:outputText rendered="#{srvData.srvcId !='SHP-G' and srvData.srvcId !='SHP-E' and srvData.srvcId !='PACKETS' and srvData.srvcId !='ENVELOPES' }" styleClass="currency" value="#{srvData.subTotl}">
                                                        <f:convertNumber pattern="¤#0.00" locale="#{securityEngineData.locale}"/>
                                                    </h:outputText>                              
                                                </p:column> 
                                                <p:column  headerText="#{msgs['enginedata.page.general.label.descuento']}"  styleClass="width25 alginCenter">
                                                    <h:outputText rendered="#{srvData.srvcId !='SHP-G' and srvData.srvcId !='SHP-E' and srvData.srvcId !='PACKETS' and srvData.srvcId !='ENVELOPES' }" styleClass="currency" value="#{srvData.disc}">
                                                        <f:convertNumber pattern="¤#0.00" locale="#{securityEngineData.locale}"/>
                                                    </h:outputText>                               
                                                </p:column> 
                                                <!--                            <p:column  headerText="I.V.A"  styleClass="width25 alginCenter">
                                                                                <h:outputText styleClass="currency" value="$ {srvData.tax}" />                              
                                                                            </p:column> 
                                                                            <p:column  headerText="IVA Ret."  styleClass="width25 alginCenter">
                                                                                <h:outputText styleClass="currency" value="$ {srvData.disc}" />                               
                                                                            </p:column>-->
                                                <p:column  headerText="#{msgs['enginedata.page.general.label.total']}"  styleClass="width25 alginCenter">
                                                    <h:outputText rendered="#{srvData.srvcId !='SHP-G' and srvData.srvcId !='SHP-E' and srvData.srvcId !='PACKETS' and srvData.srvcId !='ENVELOPES' }" styleClass="currency" value="#{srvData.subTotl - srvData.disc}" >
                                                        <f:convertNumber pattern="¤#0.00" locale="#{securityEngineData.locale}"/>
                                                    </h:outputText>                              
                                                </p:column>                            

                                            </p:dataTable>
                                        </p:panel>
                                    </div> 
                                        </div>
                                    <div class="ui-grid-col-1"></div>
                                    
                                    <div class="ui-grid-col-3">
                                        <!--   PANEL AGREGAR DETALLES style="width: 25%; float: right;" -->
                                    <p:panel header="#{msgs['enginedata.page.general.label.importes']}" >
                                        <div class="paneltoTable">
                                            <div>
                                                <p:outputLabel value="#{msgs['enginedata.page.general.label.flete']}" />
                                                <p:inputText value="#{guiaDetailInfoController.totFlete}" styleClass="currency" disabled="true">
                                                    <f:convertNumber pattern="¤#0.00" locale="#{securityEngineData.locale}"/>
                                                </p:inputText>   
                                            </div>
                                            <div>
                                                <p:outputLabel value="#{msgs['enginedata.page.general.label.descuento']}" />
                                                <p:inputText value="#{guiaDetailInfoController.totDesc}" styleClass="currency"  disabled="true">
                                                    <f:convertNumber pattern="¤#0.00" locale="#{securityEngineData.locale}"/>
                                                </p:inputText>   
                                            </div>
                                            <div >
                                                <p:outputLabel value="#{msgs['enginedata.page.general.label.servicios']}" />
                                                <p:inputText value="#{guiaDetailInfoController.totServ}" styleClass="currency" disabled="true">
                                                    <f:convertNumber pattern="¤#0.00" locale="#{securityEngineData.locale}"/>
                                                </p:inputText>   
                                            </div>
                                            <div>
                                                <p:outputLabel value="#{msgs['enginedata.page.general.label.subtotal']}" />
                                                <p:inputText value="#{guiaDetailInfoController.totSub}" styleClass="currency" disabled="true">
                                                    <f:convertNumber pattern="¤#0.00" locale="#{securityEngineData.locale}"/>
                                                </p:inputText>   
                                            </div>
                                            <div>                             
                                                <p:outputLabel value="#{msgs['enginedata.page.general.label.iva']}" />
                                                <p:inputText value="#{guiaDetailInfoController.totIva}" styleClass="currency" disabled="true">
                                                    <f:convertNumber pattern="¤#0.00" locale="#{securityEngineData.locale}"/>
                                                </p:inputText>   
                                            </div>
                                            <div>
                                                <p:outputLabel value="#{msgs['enginedata.page.general.label.ivaRetenido']}" />
                                                <p:inputText value="#{guiaDetailInfoController.totIvaR}" styleClass="currency" disabled="true">
                                                    <f:convertNumber pattern="¤#0.00" locale="#{securityEngineData.locale}"/>
                                                </p:inputText>   
                                            </div>
                                            <div>                             
                                                <p:outputLabel value="#{msgs['enginedata.page.general.label.total']}" />
                                                <p:inputText value="#{guiaDetailInfoController.totalguias}" styleClass="currency" disabled="true">
                                                    <f:convertNumber pattern="¤#0.00" locale="#{securityEngineData.locale}"/>
                                                </p:inputText>   
                                            </div>
                                        </div>
                                    </p:panel>
                                    </div>

                                    


                                    

                                </div> 
                            </p:tab>
                            
                            <p:tab title="#{msgs['enginedata.page.general.label.history']}" >

                                <table>
                                    <tr>
                                        <td>
                                            <p:outputLabel value="#{msgs['enginedata.page.general.label.rastreo']}" styleClass="keyLabelStyle" />
                                        </td>
                                        <td>
                                            <h:outputText value="#{guiaDetailInfoController.historyDTO.guiaOrRastreo}"/>
                                        </td>                
                                    </tr>
                                    <tr>
                                        <td>
                                            <p:outputLabel value="#{msgs['enginedata.page.general.label.origen']} - #{msgs['enginedata.page.general.label.destino']}" styleClass="keyLabelStyle" />
                                        </td>
                                        <td>
                                            <h:outputText value="#{guiaDetailInfoController.historyDTO.orig} - #{guiaDetailInfoController.historyDTO.dest}"/>
                                        </td>                
                                    </tr>  
                                    <tr>
                                        <td>
                                            <p:outputLabel value="#{msgs['enginedata.page.general.label.solicitante']}" styleClass="keyLabelStyle" />
                                        </td>
                                        <td>
                                            <h:outputText value="#{guiaDetailInfoController.historyDTO.solicito}"/>
                                        </td>                
                                    </tr> 
                                    <tr>
                                        <td>
                                            <p:outputLabel value="#{msgs['enginedata.page.label.lastEvent']}" styleClass="keyLabelStyle" />
                                        </td>
                                        <td>
                                            <h:outputText value="#{guiaDetailInfoController.historyDTO.fecha}"/>
                                        </td>                
                                    </tr>               
                                </table>

                                <div style="text-align: center;">
                                <img src="../../../../../resources/images/status/#{guiaDetailInfoController.historyDTO.imagen}" style="max-width: 100%;" />
                                </div>

                                <p:dataTable id="historyEventos"  var="historyDetalle" value="#{guiaDetailInfoController.historyDTO.listHistoryDetails}"  widgetVar="lazyDataTable" scrollHeight="230" scrollable="true"
                                             
                                             >
                                    <p:column headerText="#{msgs['enginedata.page.general.label.fecha']}" styleClass="width150" >
                                        <h:outputText value="#{historyDetalle.dia} #{historyDetalle.dianum} de #{historyDetalle.mes} del #{historyDetalle.anio}" />
                                    </p:column>
                                    <p:column headerText="#{msgs['enginedata.page.general.label.hora']}" styleClass="width20" >
                                        <h:outputText value="#{historyDetalle.hora}" />
                                    </p:column>            
                                    <p:column headerText="#{msgs['enginedata.page.general.label.sucursal']}" styleClass="width100" >
                                        <h:outputText value="#{historyDetalle.sucursal}" />

                                    </p:column>                        
                                    <p:column headerText="#{msgs['enginedata.page.label.event']}" styleClass="width200">
                                        <h:outputText value="#{historyDetalle.status}" />
                                    </p:column>                        
                                </p:dataTable>

                            </p:tab>
                            
                        </div>
                    </p:tabView>
                </p:panel>

                <p:remoteCommand autoRun="true" action="#{guiaDetailInfoController.searchFromExteralCall()}" update="panelGuiaDetail" />
                <!--</p:dialog>-->  
            </h:form>

        </f:view>
    </h:body>
</html>
