<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui">        
    <h:head>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/styleDialog.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/style.css"/>
        <script type="text/javascript" src="../../../../../resources/js/keyboardNavigation.js"></script>
        <!--Este estilo oculta los filter de cada columna-->
        <style type="text/css">
            .ui-datatable .ui-column-filter{display: none;}
        </style>
        <script type="text/javascript">
        $(document).on('keydown', '#table_div', function (e) {  
            var code = e.which;
             verificaTecla('frmBusquedaCliente:dtBusquedaCliente:btnSi', code , 'wVdtBusquedaCliente');
        });
        </script>            
        <title>#{searchCustomerNotFilterController.titleDialog}</title>
    </h:head>

    <h:body onload="PF('wVdtBusquedaCliente').selectRow(0); " onkeydown="if(event.keyCode === 27){ rcCloseOnEscape(); }">
        <f:view locale="#{securityEngineData.locale}"  >
            <h:form id="frmBusquedaCliente" rendered="true">
                    <p:remoteCommand name="rcCloseOnEscape" action="#{searchCustomerNotFilterController.closeOnEscape()}" />
                    <p:focus context="dtBusquedaCliente"/>
                    <p:growl id="message" showDetail="true" autoUpdate="true" life="4500" />
                    <div id="table_div" tabindex="1">
                    <p:dataTable id="dtBusquedaCliente" var="sysClntMstrDTO" value="#{searchCustomerNotFilterController.lazyModel}"  widgetVar="wVdtBusquedaCliente"
                                 rows="#{radController.numRowPaginator}" rowsPerPageTemplate="#{radController.getArrayRowPaginator()}"
                                 scrollable="true"  reflow="true" lazy="true" scrollHeight="300" selection="#{searchCustomerNotFilterController.selectedSysClntMstr}" 
                                 rendered="true" selectionMode="single" rowKey="#{sysClntMstrDTO.addrMstrDTO.amAddrCode}" paginatorPosition="bottom" paginator="true"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}" styleClass=" dt-datos dtResponsive dtpaginator100 seleccionarCPRow"  >
                        <p:ajax event="rowDblselect" listener="#{searchCustomerNotFilterController.onRowDblClckSelect}"  global="false" />
                        <p:ajax event="filter" listener="#{searchCustomerNotFilterController.filterListener}" update="@this"/>
                        <f:facet name="header">
                            <h:outputText value="#{msgs['enginedata.page.general.catalogs.lstUser.lblBusqueda']}" />
                            <p:inputText id="globalFilter" tabindex="4" onkeyup="PF('wVdtBusquedaCliente').filter()" autocomplete="off" size="50" placeholder="#{msgs['enginedata.page.general.catalogs.lstUser.globalFilter']}" />                            
                        </f:facet>

                        <p:column sortBy="#{sysClntMstrDTO.clntId}" filterBy="#{sysClntMstrDTO.clntId}" styleClass="width60px" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.clave']}" /></f:facet>
                            <h:outputText value="#{sysClntMstrDTO.clntId}" />
                        </p:column>

                        <p:column sortBy="#{sysClntMstrDTO.clntName}" filterBy="#{sysClntMstrDTO.clntName}"  styleClass="width200" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.utileria.busqueda.busquedaCliente.frmBusquedaCliente.column.nombre']}" /></f:facet>
                            <h:outputText value="#{sysClntMstrDTO.clntName}" />
                        </p:column>

                        <p:column sortBy="#{sysClntMstrDTO.addrMstrDTO.amPhno1}" filterBy="#{sysClntMstrDTO.addrMstrDTO.amPhno1}" styleClass="width40" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.utileria.busqueda.busquedaCliente.frmBusquedaCliente.column.telefono']}" /></f:facet>
                            <h:outputText value="#{sysClntMstrDTO.addrMstrDTO.amPhno1}" />
                        </p:column>

                        <p:column sortBy="#{sysClntMstrDTO.addrMstrDTO.amStrtName} ##{sysClntMstrDTO.addrMstrDTO.amDrnr}" filterBy="#{sysClntMstrDTO.addrMstrDTO.amStrtName} ##{sysClntMstrDTO.addrMstrDTO.amDrnr}" styleClass="width200" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.calle']}" /></f:facet>
                            <h:outputText value="#{sysClntMstrDTO.addrMstrDTO.amStrtName} ##{sysClntMstrDTO.addrMstrDTO.amDrnr}" />
                        </p:column>

                        <p:column sortBy="#{sysClntMstrDTO.dwCoberturaViewDTO.coloDes}" filterBy="#{sysClntMstrDTO.dwCoberturaViewDTO.coloDes}" styleClass="width80" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.utileria.busqueda.busquedaCliente.frmBusquedaCliente.column.colonia']}" /></f:facet>
                            <h:outputText value="#{sysClntMstrDTO.dwCoberturaViewDTO.coloDes}" />
                        </p:column>

                        <p:column sortBy="#{sysClntMstrDTO.dwCoberturaViewDTO.coloZipCode}" filterBy="#{sysClntMstrDTO.dwCoberturaViewDTO.coloZipCode}" styleClass="width50px" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.cp']}" /></f:facet>
                            <h:outputText value="#{sysClntMstrDTO.dwCoberturaViewDTO.coloZipCode}" />
                        </p:column>

                        <p:column sortBy="#{sysClntMstrDTO.dwCoberturaViewDTO.ciudad}" filterBy="#{sysClntMstrDTO.dwCoberturaViewDTO.ciudad}" styleClass="width80" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.utileria.busqueda.busquedaCliente.frmBusquedaCliente.column.ciudad']}" /></f:facet>
                            <h:outputText value="#{sysClntMstrDTO.dwCoberturaViewDTO.ciudad}" />
                        </p:column>

                        <p:column sortBy="#{sysClntMstrDTO.dwCoberturaViewDTO.delMun}" filterBy="#{sysClntMstrDTO.dwCoberturaViewDTO.delMun}" styleClass="width80" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.utileria.busqueda.busquedaCliente.frmBusquedaCliente.column.municipio']}" /></f:facet>
                            <h:outputText value="#{sysClntMstrDTO.dwCoberturaViewDTO.delMun}" />
                        </p:column>
                        
                        <p:column sortBy="#{sysClntMstrDTO.addrMstrDTO.amAddrStyp}" filterBy="#{sysClntMstrDTO.addrMstrDTO.amAddrStyp}" styleClass="width50px" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.tipo']}" /></f:facet>
                            <h:outputText value="#{sysClntMstrDTO.addrMstrDTO.amAddrStyp}" />
                        </p:column>                        

                        <p:column sortBy="#{sysClntMstrDTO.addrMstrDTO.amMailId}" filterBy="#{sysClntMstrDTO.addrMstrDTO.amMailId}" styleClass="width100" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.correo']}" /></f:facet>
                            <h:outputText value="#{sysClntMstrDTO.addrMstrDTO.amMailId}" />
                        </p:column>

                        <p:column sortBy="#{sysClntMstrDTO.addrMstrDTO.amFlorNo}" filterBy="#{sysClntMstrDTO.addrMstrDTO.amFlorNo}" styleClass="width50px" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.piso']}" /></f:facet>
                            <h:outputText value="#{sysClntMstrDTO.addrMstrDTO.amFlorNo}" />
                        </p:column>

                        <p:column sortBy="#{sysClntMstrDTO.addrMstrDTO.amSuitNo}" filterBy="#{sysClntMstrDTO.addrMstrDTO.amSuitNo}" styleClass="width50px" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.numeroExterior']}" /></f:facet>
                            <h:outputText value="#{sysClntMstrDTO.addrMstrDTO.amSuitNo}" />
                        </p:column>
                        
                        <p:column sortBy="#{sysClntMstrDTO.dwCoberturaViewDTO.plaza}" filterBy="#{sysClntMstrDTO.dwCoberturaViewDTO.plaza}" styleClass="width50px" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.utileria.busqueda.busquedaCliente.frmBusquedaCliente.column.plaza']}" /></f:facet>
                            <h:outputText value="#{sysClntMstrDTO.dwCoberturaViewDTO.plaza}" />
                        </p:column>

                        <f:facet name="footer" >
                            <p:commandButton id="btnSi" styleClass="ui-confirmdialog-yes GreenButton" value="#{searchCustomerNotFilterController.cmdSiLabel}" icon="ui-icon-check"  action="#{searchCustomerNotFilterController.fillSelectedAddress('1')}" />
                            <p:commandButton id="btnNO" styleClass="ui-confirmdialog-no RedButton" value="#{searchCustomerNotFilterController.cmdNoLabel}" icon="ui-icon-close" action="#{searchCustomerNotFilterController.fillSelectedAddress('2')}" />
                        </f:facet>
                    </p:dataTable>
                </div>
            </h:form>  
        </f:view>

        <p:dialog widgetVar="statusDialog" style="border-radius: 50%;text-align: center;" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <img src="../../../../../resources/images/i_g_fleet.gif" style="width: 200px;"/>
            <strong style="display: block; text-align: center;">#{msgs['enginedata.page.general.label.cargando']}</strong>            
        </p:dialog>
    </h:body>
</html>