<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html mlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/styleDialog.css"/>
        <!--Este estilo oculta los filter de cada columna-->

        <title>Historico de guía</title>
    </h:head>
    <body>
    <f:view locale="#{securityEngineData.locale}">
        <h:form id="frmInfoGuia" rendered="true" onkeypress="return event.keyCode !== 13"  onsubmit="return false;">
            <p:focus id="focus" />
            <p:dataTable id="dtHistoricGuia"  var="historicGuia" value="#{searchHistoryGuideController.listBokGuiaStusDTO}"   widgetVar="wgetHistoricGuia" style="width: 850px;">
                <f:facet name="header">
                    <h:outputText value="#{msgs['enginedata.page.general.catalogs.lstUser.lblBusqueda']}" />
                    <p:inputText id="globalFilter" tabindex="4" onkeyup="PF('wgetHistoricGuia').filter()" size="50" placeholder="#{msgs['enginedata.page.general.catalogs.lstUser.globalFilter']}" autocomplete="off"/>
                </f:facet>
                <p:column styleClass="width40px" sortBy="#{historicGuia.stusCodeName}" filterBy="#{historicGuia.stusCodeName}" filterMatchMode="contains">
                    <f:facet name="header"><h:outputText value="STATUS1" /></f:facet>
                    <h:outputText value="#{historicGuia.stusCodeName}"/>
                </p:column>
                <p:column styleClass="width20px" sortBy="#{historicGuia.onlyDate}" filterBy="#{historicGuia.onlyDate}" filterMatchMode="contains">
                    <f:facet name="header"><h:outputText value="FECHA1" /></f:facet>
                    <h:outputText value="#{historicGuia.onlyDate}"/>
                </p:column>
                <p:column styleClass="width15px" sortBy="#{historicGuia.onlyTime}" filterBy="#{historicGuia.onlyTime}" filterMatchMode="contains">
                    <f:facet name="header"><h:outputText value="HORA1" /></f:facet>
                    <h:outputText value="#{historicGuia.onlyTime}"/>
                </p:column>
                <p:column styleClass="width15px" sortBy="#{historicGuia.currLoca}" filterBy="#{historicGuia.currLoca}" filterMatchMode="contains">
                    <f:facet name="header"><h:outputText value="SUCURSAL1" /></f:facet>
                    <h:outputText value="#{historicGuia.currLoca}"/>
                </p:column>
                <p:column styleClass="width40px" sortBy="#{historicGuia.crtdBy}" filterBy="#{historicGuia.crtdBy}" filterMatchMode="contains">
                    <f:facet name="header"><h:outputText value="USUARIO1" /></f:facet>
                    <h:outputText value="#{historicGuia.crtdBy}"/>
                </p:column>
                <p:column styleClass="width60px" sortBy="#{historicGuia.crtdByNameComplet}" filterBy="#{historicGuia.crtdByNameComplet}" filterMatchMode="contains">
                    <f:facet name="header"><h:outputText value="NOMBRE1" /></f:facet>
                    <h:outputText value="#{historicGuia.crtdByNameComplet}"/>
                </p:column>
                <p:column styleClass="width60px" sortBy="#{historicGuia.comentario}" filterBy="#{historicGuia.comentario}" filterMatchMode="contains">
                    <f:facet name="header"><h:outputText value="COMENTARIO1" /></f:facet>
                    <h:outputText value="#{historicGuia.comentario}"/>
                </p:column>
            </p:dataTable>
        </h:form>
    </f:view>
</body>
</html>
