/*@CHARSET "UTF-8";*/

/*========================= 
    PrimeFaces Override 
===========================*/
.gridDatos .ui-grid-row > :nth-child(1).ui-grid-col-6 > div:nth-child(1) {
    width: auto;
}
.ui-grid-responsive-txtblock > .ui-grid-row > div .ui-selectonemenu {
    width: auto !important;
}


