/*Titulos del panel*/
.wizardTabs .ui-panel .ui-panel-titlebar {
    background-color: #fff !important;
}
.wizardTabs .ui-wizard-step-titles li.ui-state-highlight {
    background-color: #fff;
    padding: 0;
}
.wizardTabs .ui-panel-title ,
#frmTable\:pnlServicios_header .ui-panel-title{
    color: #3C478A;
    font-size: 22px;
}

/*boton next*/
.ui-wizard-nav-next {
/*    background: #3C478A;*/
    padding: 6px;   
}
/*boton back*/
.ui-wizard-nav-back{
/*    background: #3C478A;*/
    padding: 6px;       
}
.wizardTabs .ui-wizard-step-titles li {
    width: 16%;
    background: transparent;
    color: #999;
    text-align: center;
}
/*Tab Activo*/
.wizardTabs .ui-wizard-step-titles li.ui-state-highlight:before{
    border: 1px solid #4284b6;
    background: #4284b6;
    color: #fff;
}
.wizardTabs .ui-wizard-step-titles li.ui-state-highlight{
    color: #4284b6;
}
/*Tab todos no activos*/
.wizardTabs .ui-wizard-step-titles li:before {
    display: block;
    width: 50px;
    line-height: 50px;
    margin: auto;
    border: 1px solid #d7d7d7;
    border-radius: 50%;
}
.wizardTabs .ui-wizard-step-titles li:nth-child(1):before {
    content: "1";
}
.wizardTabs .ui-wizard-step-titles li:nth-child(2):before {
    content: "2";
}
.wizardTabs .ui-wizard-step-titles li:nth-child(3):before {
    content: "3";
}
.wizardTabs .ui-wizard-step-titles li:nth-child(4):before {
    content: "4";
}
.wizardTabs .ui-wizard-step-titles li:nth-child(5):before {
    content: "5";
}
.wizardTabs.gridOrgDest .ui-grid-col-1 .ui-inputtext {
/*    width: 39px;*/
    width: 63%;
}
.wizardTabs.gridOrgDest .ui-grid-col-5 .ui-inputfield {
    width: 95%;
}
/*Sucursales que aparecen en el header del panel */
.wizardTabs .LblSucursal * {
    color: #032772 !important;
}
.wizardTabs .ui-wizard-navbar{
    margin-top: 10px;
    margin-bottom: 10px;
}
.wizardTabs .inputIDWithButton .ui-inputtext {
    width: 64px !important;
}
.wizardTabs .Input2-12.ui-grid-col-2 .ui-inputtext {
    width: 91%;
}
.wizardTabs .panelDetalleEnvio .ui-grid-col-10 {
    width: 78%;
}
.wizardTabs .panelDetalleEnvio .ui-grid-col-2 {
    width: 22%;
}
/*Se quita el ancho al combo de embalajees*/
.wizardTabs .gridDatos span.ui-autocomplete {
    width: 83%;
}
/*Se quita el ancho contenido*/
.wizardTabs .gridDatos > .ui-grid-row > .ui-grid-col-6:nth-child(1) > div:nth-child(3) > .ui-inputtext {
    width: 88%;
}
/*Se quita el ancho Largo alto ancho*/
.wizardTabs .gridDatos > .ui-grid-row > .ui-grid-col-6:nth-child(2) .srvcItemCants .ui-grid-col-2 > .ui-inputtext {
    width: 78%;
}

.wizardTabs .gridOtrosSrv .ui-panel-title {
    font-size: 16px !important;
}
.wizardTabs .Panel5 .ui-grid-responsive-txtblock > .ui-grid-row > div {
    padding: 0;
}
/*Fecha */
.wizardTabs .calendarF input {
    width: 62px;
}

.wizardTabs .resumen {
    position: absolute;
    top: 93px;
    right: 170px;
}
/*.wizardTabs .ui-wizard-content {
    margin: 3px 0;
    height: 74%;
 }*/
.ui-dialog-titlebar-close .ui-icon-closethick {
    background-image: url("../images/icons/close-icon.png");
}
.wizardTabs .ui-panel {
    border: none;
    border-bottom: 1px solid #ccc;
}
/*#img1{
    width: 47px;
    position: absolute;
    left: 325px;
    top: 80px;
}*/
.inputIDWithButton {
    width: 158px!important;
}
.LblDest{
  width: 242px;
  top: 8px;    
} 
.LblDest .fa-map-marker{
    position: absolute;
    top: 8px;
    right: 137px;
}
.LblOrg {
  width: 115px;
  top: 8px;
}
#frmTable\:txtCdSucursal{
    position: absolute;
    top: 0px;
    right: 37px;
    background: transparent !important;
    color: #000 !important;
    border: none;
}
#frmTable\:txtDdSucursal{
    position: absolute;
    top: 0px;
    right: 163px;
    background: transparent !important;
    color: #000 !important;
    border: none;    
}

#frmTable\:txtTimeDelivery{
    position: absolute;
    right: 0;
    top: 0;
    background: transparent !important;
    color: #000 !important;
    border: none;    
}
.resumen {
    background-image: url("../../resources/images/icons/truckCantidad.png")!important;
    width: 70px!important;
    height: 38px!important;
    top: 30px !important;
}

.totalResumen {
   font-size: 24px;
   margin-left: 34px !important;
}
.otrosServiciosGrid .ui-grid-col-3{
    width: 30%;
}
.otrosServiciosGrid .ui-grid-col-9{
    width: 70%;
    overflow-x: scroll;
}
.panel80MargAuto{
    width: 80%;
    margin: auto;
}

.InputMail.ui-grid-col-2 {
    width: 21.4% !important;
}
 .gridOrgDest .fieldColonia {
    width: 20.66%!important;
}
.gridFiltrosGenericos .ui-panel-content{
    padding: 0!important;
}
.filtroGenericField .panelFilter {
        padding: 0!important;
}
 

@media (max-width : 1190px){
    .gridSolicitante1 > .gridSolicitanteIdClnt {
        width: auto;
    }
}
@media (max-width : 999px) and (min-width : 767px){
    .Input2-12.ui-grid-col-2:not(.InputMail) {
        width: 23%!important;
    }
    .gridOrgDest .fieldColonia {
        width: 28.667%!important;
    }
    .row2v2 > .ui-grid-col-2:nth-child(1), .row2v2 > .ui-grid-col-2:nth-child(2), .row2v2 > .ui-grid-col-2:nth-child(3), .row2v2 > .ui-grid-col-2:nth-child(4), .row2v2 > .ui-grid-col-2:nth-child(5) {
        width: 19.4% !important;
    }
}
@media (max-width : 953px){
    .gridOrgDest .fieldColonia {
        width: 30.667% !important;
    }
    .row2v2 > .ui-grid-col-2:nth-child(1), .row2v2 > .ui-grid-col-2:nth-child(2), .row2v2 > .ui-grid-col-2:nth-child(3), .row2v2 > .ui-grid-col-2:nth-child(4), .row2v2 > .ui-grid-col-2:nth-child(5) {
        width: 19.9% !important;
    }
}
@media (max-width : 917px){
    .inputIDWithButton {
        width: 146px !important;
    }
}
@media (max-width : 1101px){
    #frmTable\:collectionReq .ui-grid-col-4 {
        width: 29.333%;
    }
    .panel80MargAuto {
        width: 98%;
        margin: auto;
    }
    .resumen {
        right: 34px !important;
    }
 
}
@media (min-width : 1101px){
    .resumen {
        right: 163px !important;
    }
}
@media (max-width : 810px){
    .wizardTabs .ui-wizard-step-titles li {
        width: 17%;
    }
}
 
@media (max-width : 767px){
    .fieldHiddenMobile{
        display: none;       
    }
    .ui-grid-responsive-txtblock > .ui-grid-row > div .ui-inputtext {
        width: 70% !important;
    }
}
@media (max-width : 666px){
    .wizardTabs .ui-wizard-step-titles li {
        width: 40%;
    }
    .wizardTabs .ui-wizard-step-titles li.ui-state-highlight {
        display: block;
    }    
    .wizardTabs .ui-wizard-step-titles li:not(.ui-state-highlight) {
        display: none;
    }
}
@media (max-width : 666px){
    .wizardTabs .ui-wizard-step-titles li {
        width: 100%;
        text-align: center;
    }
}
@media (max-width : 472px){
    .LblSucursal  {
        display: none;
    }
}

@media (max-width : 431px){
    .resumen {
        display: none;
    }
}