/*@CHARSET "UTF-8";*/

/*========================= 
    PrimeFaces Override 
===========================*/
.gridDatos .ui-grid-row > :nth-child(1).ui-grid-col-6 > div:nth-child(1) {
    width: auto;
}
.ui-grid-responsive-txtblock > .ui-grid-row > div .ui-selectonemenu {
    width: auto;
}
@media (max-width: 560px){
    .ui-grid-responsive-txtblock > .ui-grid-row > div .ui-selectonemenu {
        width: 73%!important;
    }    
}
/*.filtroGenericParent{
    width: auto!important;
}*/
.gridFiltrosGenericos > .ui-grid-row > .filtroGenericParent .ui-grid-col-2{
    width: 9.7%;
}
 
