/*@CHARSET "UTF-8";*/
.multiDialog:not(.ui-dialog-minimized):not(.ui-dialog-maximized) , #frmFavoritos\:remoteLink_dlg:not(.ui-dialog-minimized){
/*    min-width: 99%!important;*/
/*    height: calc(100% - 50px) !important;*/
    top: 50px!important;
}
.multiDialog-100:not(.ui-dialog-minimized):not(.ui-dialog-maximized) 
/*, #frmFavoritos\:remoteLink_dlg:not(.ui-dialog-minimized){*/{
    min-width: 99%!important;
    height: calc(100% - 50px) !important;
}
.multiDialog-50:not(.ui-dialog-minimized):not(.ui-dialog-maximized) , #frmFavoritos\:remoteLink_dlg:not(.ui-dialog-minimized){
    min-width: 50%!important;
    height: calc(100% - 200px) !important;
}
.multiDialog:not(.ui-dialog-minimized) iframe , #frmFavoritos\:remoteLink_dlg:not(.ui-dialog-minimized) iframe{
    width: 100%!important;
    height: 88vh !important;
}
.multiDialog .ui-dialog-content{
    padding: 0!important;
    overflow: visible;
}
.multiDialog.ui-dialog-maximized iframe{
    height: 94vh!important;
}
.ui-dialog-docking-zone{
    z-index: 1500 !important;
}
.dialogsDL.ui-datalist{
    background: transparent;
    border: none;
    z-index: 0 !important;
    width: 10px;
}
.dialogsDL .ui-datalist-data{
    padding: 0 !important;
}
.ui-dialog-maximized.multiDialog{
    z-index: 12000 !important;
}
.iconDialog .fa::before {
    margin-left: 00px!important;
    margin-right: 3px;
}
.iconDialog .iconGeneric{
/*    background: rgb(4 , 186, 203);*/
    border-radius: 50%;
    padding: 2px !important;
    color: #fff !important;    
    cursor: pointer;
    display: block;
    width: 18px;
    float: right;
}
.iconDialog{
    width: 50px;
    text-align: right;
    position: absolute;
    top: -25px;
    right: 54px;
}
#zoneMinimizeBar{
    position: absolute;
    bottom: 3px;
    width: auto;
    display: flex;
    clear: both;
    z-index: 1000000;
}
#zoneMinimizeBar .minimizeChild *{
    color: #fff!important;
}
#zoneMinimizeBar .minimizeChild{
    width: 180px;
    height: 25px;
    margin-right: 5px;
    cursor: pointer;
 
    background-color: #005677 !important;
    border-bottom: 3px solid rgb(4 , 186, 203) !important;
    border-radius: 5px;
    overflow: hidden;
  
}
#zoneMinimizeBar .minimizeChild *{
    font-size: 11px;
    line-height: 25px;
    margin-left: 5px;
}
#zoneMinimizeBar .minimizeChild:hover{
    background: #00629f;
/*    background: -webkit-gradient(linear, left top, left bottom, from(#008dc0), to(#00629f));
    background: -webkit-linear-gradient(top, #008dc0, #00629f);
    background: -moz-linear-gradient(top, #008dc0, #00629f);
    background: -ms-linear-gradient(top, #008dc0, #00629f);
    background: -o-linear-gradient(top, #008dc0, #00629f);
    background: -moz-linear-gradient(top, #008ec1, #0068a4);
    opacity: 1;*/
}
#zoneMinimizeBar .minimizeChild strong i.fa::before {
    margin-left: 0px;
    margin-right: 5px;
}
.multiDialog50{
    width: 50%;
}

.ui-tooltip {
    z-index: 10000!important;
}