<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"        
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      > 
 
    <h:head>

        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>

        <title>Consulta de recolecciones</title>
        <meta name="viewport" content="initial-scale=1.0001, minimum-scale=1.0001, maximum-scale=1.0001, user-scalable=no"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>         
<!-- NO QUITAR!!! esuna hoja de estilo para que solo lo resuelva en Internet Explorer -->
        <!--[if IE]>  
           <link rel="stylesheet" type="text/css" href="../../../../resources/css/styleIE.css" />
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="../../../../resources/css/styleGeneric.css?v=#{securityEngineData.versionApp}"/>
        <link rel="stylesheet" type="text/css" href="../../../../resources/css/style.css?v=#{securityEngineData.versionApp}"/>

        <link rel="stylesheet" type="text/css" href="../../../../resources/Adamantium/adamantium-layout/css/core-layout.css?v=#{securityEngineData.versionApp}"/>
        <link rel="stylesheet" type="text/css" href="../../../../resources/Adamantium/adamantium-layout/css/animate.css?v=#{securityEngineData.versionApp}"/>
        <link rel="stylesheet" type="text/css" href="../../../../resources/Adamantium/adamantium-layout/css/adamantium-font.css?v=#{securityEngineData.versionApp}"/>
        <link rel="stylesheet" type="text/css" href="../../../../resources/Adamantium/adamantium-layout/css/ripple-effect.css?v=#{securityEngineData.versionApp}"/>
        <link rel="stylesheet" type="text/css" href="../../../../resources/Adamantium/adamantium-layout/css/perfect-scrollbar.css?v=#{securityEngineData.versionApp}"/>
        <link rel="stylesheet" type="text/css" href="../../../../resources/Adamantium/adamantium-layout/css/font-awesome.css?v=#{securityEngineData.versionApp}"/>
        <link rel="stylesheet" type="text/css" href="../../../../resources/Adamantium/adamantium-layout/css/adamantium-layout.css?v=#{securityEngineData.versionApp}"/>    

        <script src="../../../../resources/help/js/help.js?v=#{securityEngineData.versionApp}" />
        <script type="text/javascript" src="../../../../resources/js/global.js?v=#{securityEngineData.versionApp}"></script>        

        <style type="text/css">
            .ui-datatable .ui-column-filter{display: none;}
        </style>

        <ui:insert name="head" />
    </h:head>
    <h:body styleClass="bodyContent buzonRad allModal80" onload="#{radController.onLoad()}" > 
        <p:outputLabel value="#{securityEngineData.typeUser}" styleClass="typeUser" style="display:none;"/> 
        <p:dialog widgetVar="statusDialog" id="ajaxStatus" style="border-radius: 50%;text-align: center;box-shadow: 10px 10px 95px 0px rgba(0,0,0,0.75) !important;" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <img src="../../../../resources/images/i_g_fleet.gif" style="width: 200px;"/>
            <strong style="display: block;">Cargando...</strong>
        </p:dialog>

        <h:form id="form" style="margin: 5px;" onkeypress="return event.keyCode !== 13"  onsubmit="return false;" >
            <!--RASTREO DETALLE INICIO-->
            <div id="result"></div>

            <p:dialog id="tableRastreo" closeOnEscape="true" header="Detalle de guía" widgetVar="DialogHistory"  modal="true" styleClass="modalDetalleGuia">
                <table class="tableGuiaDetail">
                    <tr>
                        <td>
                            <p:outputLabel value="Número de rastreo"/>
                        </td>
                        <td>
                            <h:outputText value="#{radController.historyDTO.guiaOrRastreo}"/>
                        </td>                
                    </tr>
                    <tr>
                        <td>
                            <p:outputLabel value="Origen - Destino"/>
                        </td>
                        <td>
                            <h:outputText value="#{radController.historyDTO.orig} - #{radController.historyDTO.dest}"/>
                        </td>                
                    </tr>  
                    <tr>
                        <td>
                            <p:outputLabel value="Solicitó"/>
                        </td>
                        <td>
                            <h:outputText value="#{radController.historyDTO.solicito}"/>
                        </td>                
                    </tr> 
                    <tr>
                        <td>
                            <p:outputLabel value="Ultimo evento"/>
                        </td>
                        <td>
                            <h:outputText value="#{radController.historyDTO.dia} #{radController.historyDTO.dianum} de #{radController.historyDTO.mes} del #{radController.historyDTO.anio}"/>
                        </td>                
                    </tr>               
                </table>


                <p:dataTable id="historyEventos"  var="historyDetalle" value="#{radController.historyDTO.listHistoryDetails}"  widgetVar="lazyDataTable"            
                             style="width: 850px; overflow: hidden; margin-bottom: 20px;"
                             >
                    <p:column headerText="Fecha" styleClass="width150" >
                        <h:outputText value="#{historyDetalle.dia} #{historyDetalle.dianum} de #{historyDetalle.mes} del #{historyDetalle.anio}" />
                    </p:column>
                    <p:column headerText="Hora" styleClass="width20" >
                        <h:outputText value="#{historyDetalle.hora}" />
                    </p:column>            
                    <p:column headerText="Sucursal" styleClass="width100" >
                        <h:outputText value="#{historyDetalle.sucursal}" />

                    </p:column>                        
                    <p:column headerText="Evento" styleClass="width200">
                        <h:outputText value="#{historyDetalle.status}" />
                    </p:column>                        
                </p:dataTable>

            </p:dialog>
            <!--RASTREO DETALLE FIN-->
            <p:panel header="#{msgs['menu.page.menu.menuBar.itemConsultaRAD']}" id="panel1" styleClass="FiltrosHeader generic100Height DTToggleSort" >
                <div class="ui-grid ui-grid-responsive gridFiltrosGenericos enterSubmitRad" style="margin-bottom: 5px;">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12 filtroGenericParent">
                            <div class="ui-grid ui-grid-responsive">
                                <div class="ui-grid-row">


                                    <div class="ui-grid-col-2 filtroInputGuiaNo filtroGenericField" >
                                        <!--                Filtro por numero de guia-->                        
                                        <p:outputLabel for="buzonRadFNoGuia" value="#{msgs['enginedata.page.general.label.guia']}" styleClass="LabelBuzon"/> 
                                        <p:inputText id="buzonRadFNoGuia" value="#{radController.filters.filter_1}" />   
                                    </div>   

                                    <div class="ui-grid-col-2 filtroCalendar filtroGenericField">
                                        <!--                Filtro por Fecha inicial-->  
                                        <p:outputLabel for="buzonRadF_fechaInicial" value="#{msgs['enginedata.page.label.startCreationDate']}" styleClass="LabelBuzon"/> 
                                        <p:calendar value="#{radController.filters.filterFecha}"
                                                    id="buzonRadF_fechaInicial" pattern="dd/MM/yyyy" mode="popup" showOn="button"
                                                    maxdate="#{radController.filters.filterFecha}" lang="#{securityEngineData.locale}" locale="#{securityEngineData.locale}"                           
                                                    >
                                        </p:calendar>  
                                    </div>

                                    <div class="ui-grid-col-2 filtroCalendar filtroGenericField">    
                                        <!--                Filtro por Fecha Final-->      
                                        <p:outputLabel for="buzonRadF_fechaFinal" value="#{msgs['enginedata.page.label.fechaFinal']}" styleClass="LabelBuzon"/> 
                                        <p:calendar value="#{radController.filters.filterFecha2}"
                                                    id="buzonRadF_fechaFinal" pattern="dd/MM/yyyy" mode="popup" showOn="button"
                                                    maxdate="#{radController.filters.filterFecha}" lang="#{securityEngineData.locale}" locale="#{securityEngineData.locale}"                                                      
                                                    >
                                        </p:calendar>    
                                    </div>                    

                                    
                                    <p:panel style="border: none; padding: 0!important;" rendered="#{securityEngineData.typeUser == 'INTERNO'}" styleClass="panelFilter ui-grid-col-6 disabledCliente filtroClienteIDName filtroGenericField" >

                                        <!--                Filtro por Cliente -->   
                                        <p:outputLabel for="buzonRadFClient" value="#{msgs['enginedata.page.general.catalogs.lstUser.lazyDataTable.colum.cliente']}" styleClass="LabelBuzon"/>
                                        <p:inputText id="buzonRadFClient" tabindex="4"
                                                     styleClass="onSelectColumnInputTxt" value="#{radController.filters.filter_4}" style="width:70px; margin-right: 5px;" >
                                            <p:ajax event="change" update="form:cbxContact , form:buzonRadFClientName" process="@this , form:cbxContact " listener="#{radController.getContactoByCliente('html')}"/>

                                        </p:inputText> 
                                        <p:commandButton id="btnHiddenSearchByID" style="display: none;" update="form:cbxContact" actionListener="#{radController.getContactoByCliente('html')}" />                                                  
                                        <p:inputText id="buzonRadFClientName" tabindex="5" readonly="true" value="#{radController.filters.filter_7}" style="width: 202px;" styleClass="inputhidden"/> 

                                        <p:commandButton icon="ui-icon-zoomin" tabindex="6" rendered="#{lgnUserMstrController.typeUser != 'INTERNO'}" actionListener="#{lgnUserMstrController.chooseCustomer}" immediate="true">
                                            <p:ajax event="dialogReturn" listener="#{radController.onCustomerSelect}" update=" form:buzonRadFClientName, form:buzonRadFClient, form:TableBuzon , cbxContact" />
                                        </p:commandButton>
                                    </p:panel>
                                    <div class="ui-grid-col-2 filtroCbx filtroGenericField">
                                        <!--                Filtro por Contacto -->                       
                                        <p:outputLabel for="cbxContact" value="#{msgs['enginedata.page.general.label.contacto']}" styleClass="LabelBuzon" />
                                        <p:selectOneMenu id="cbxContact" value="#{radController.filters.filter_5}"  editable="true" style="width: 75px;"
                                                         effect="fade"  filter="true" filterMatchMode="startsWith">
                                            <f:selectItems value="#{radController.listLgnUserMstrDTO}" var="theme" itemLabel="#{theme.umUserAccess}" itemValue="#{theme}" />
                                        </p:selectOneMenu>     

                                    </div> 
                                    <p:panel style="border: none; padding: 0!important;" rendered="#{securityEngineData.typeUser == 'INTERNO'}" styleClass="ui-grid-col-2 filtroCbx filtroGenericField panelFilter" >

                                        <!--                Filtro por Sucursal -->                            
                                        <p:outputLabel for="buzonRadFSuc" value="#{msgs['enginedata.page.general.label.sucursal']}" styleClass="LabelBuzon" />
                                        <p:selectOneMenu id="buzonRadFSuc" value="#{radController.filters.filter_3}"  editable="true" style="width: 75px;" 
                                                         effect="fade" var="t" filter="true" filterMatchMode="startsWith">
                                            <f:selectItems value="#{radController.listSysBrncMstrDTO}" var="theme" itemValue="#{theme.bmBrncID}" itemLabel="#{theme.bmBrncID}"  />
                                        </p:selectOneMenu>  

                                    </p:panel>

                                    <div class="ui-grid-col-2 filtroCbx filtroGenericField">

                                        <!--                Filtro por Tipo de Cliente-->                                                   
                                        <p:outputLabel for="TipoCliente" value="#{msgs['enginedata.page.general.label.tipoEnvio']}" styleClass="LabelBuzon" />
                                        <p:selectOneMenu id="TipoCliente" value="#{radController.filters.filter_6}" style="width: 75px;" >
                                            <f:selectItem itemLabel="#{msgs['enginedata.page.general.label.todos']}" itemValue="Todos" noSelectionOption="true" />                        
                                            <f:selectItem itemLabel="#{msgs['enginedata.page.general.label.origen']}" itemValue="ORIGIN" noSelectionOption="true" />
                                            <f:selectItem itemLabel="#{msgs['enginedata.page.general.label.solicitud']}" itemValue="REQUEST" noSelectionOption="true" />  
                                            <f:selectItem itemLabel="#{msgs['enginedata.page.general.label.destino']}" itemValue="DESTINATION" noSelectionOption="true" />                                               
                                        </p:selectOneMenu>    

                                    </div>

                                    <div class="ui-grid-col-2 filtroButtonSearch filtroGenericField">

                                        <p:commandButton value="#{msgs['enginedata.page.general.label.buscar']}" inline="true"
                                                         process="@this :form:panel1" oncomplete="PF('statusDialog').hide()" style="margin-top: 10px;"
                                                         onstart="PF('statusDialog').show();"
                                                         update="form:TableBuzon"  id="Buscar" styleClass="fa fa-search-plus" action="#{radController.radGuiaHEADACTION()}" />                                                                                            

                                    </div>

                                </div>
                            </div>                                        
                        </div>
                    </div>
                </div>  
                <div id="cloneToggle" style="display: none;" >
                    <ul></ul>
                </div>
                <p:dataTable id="TableBuzon" var="radBuzon" value="#{radController.lazyModel}" selection="#{radController.selectRadHead}" rowKey="#{radBuzon.guiaNo}"
                             paginator="true" paginatorPosition="bottom" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rows="#{radController.numRowPaginator}" 
                             rowsPerPageTemplate="#{radController.getArrayRowPaginator()}" 
                             emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}" 
                             styleClass="dtHeightRow40 dt-export dtHeight100 headerDtExportsHidden dtRowTooltip" 
                             filteredValue="#{radController.filterBokGuiaHead}" widgetVar="radbuzonWV"
                             scrollable="true" stickyHeader="true" reflow="true"
                             currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}">
                    <f:facet name="header">
                        <div class="ui-grid ui-grid-responsive">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-3"></div>
                                <div class="ui-grid-col-5">

                                    <h:outputLabel value="#{msgs['enginedata.page.general.catalogs.lstUser.lblBusqueda']}" />
                                    <p:inputText id="globalFilter" onkeyup="PF('radbuzonWV').filter()" style="width:150px" 
                                                 placeholder="#{msgs['enginedata.page.general.catalogs.lstUser.globalFilter']}"
                                                 />

                                </div>
                                <div class="ui-grid-col-4">
                                    <h:commandLink id="exportExcel" title="Exportar a excel" rendered="#{radController.actionPermitido('EXPORT')}">
                                        <img src="../../../../resources/images/excel.png" width="24"/>
                                        <p:dataExporter type="xls" target="TableBuzon" fileName="BusquedaRADExcel" postProcessor="#{dataExporterController.postProcessXLS}" />
                                        <p:tooltip for="exportExcel" />
                                    </h:commandLink>

                                    <h:commandLink id="exportPDF" title="Exportar a PDF" rendered="#{radController.actionPermitido('EXPORT')}">
                                        <img src="../../../../resources/images/pdf.png" width="24"/>
                                        <p:dataExporter  type="pdf" target="TableBuzon" fileName="BusquedaRADPDF" pageOnly="false" preProcessor="#{dataExporterController.preProcessPDF}" />
                                        <p:tooltip for="exportPDF" />
                                    </h:commandLink> 

                                    <h:commandLink id="exportCSV" title="Exportar a CSV" rendered="#{radController.actionPermitido('EXPORT')}">
                                        <img src="../../../../resources/images/csv.png" width="24"/>
                                        <p:dataExporter type="csv" target="TableBuzon" fileName="BusquedaRADCSV" pageOnly="false" />
                                        <p:tooltip for="exportCSV" />
                                    </h:commandLink>

                                    <h:commandLink id="exportXML" title="Exportar a XML" rendered="#{radController.actionPermitido('EXPORT')}">
                                        <img src="../../../../resources/images/xml.png" width="24"/>
                                        <p:dataExporter type="xml" target="TableBuzon" fileName="BusquedaRADXML" pageOnly="false" />
                                        <p:tooltip for="exportXML" />
                                    </h:commandLink> 

                                    <p:commandButton id="toggler" type="button" value="#{msgs['enginedata.page.general.label.columnas']}" style="float:right;height:auto;" icon="ui-icon-calculator" styleClass="columntoggler" />
                                    <p:columnToggler datasource="TableBuzon" trigger="toggler" />           
                                </div>
                            </div>
                        </div>                        

                    </f:facet>

                    <p:column filterBy="#{radBuzon.crtdOn}" id="row1" headerText="Fecha emisión" styleClass="width80 alginLeft" sortBy="#{radBuzon.crtdOn}" >
                        <p:outputLabel value="#{radBuzon.crtdOn}" /> 
                    </p:column>                 


                    <p:column headerText="Orden de rad" filterBy="#{radBuzon.radRefrNo}"  styleClass="width80 alginLeft" sortBy="#{radBuzon.guiaNo}">
                        <p:outputLabel value="#{radBuzon.radRefrNo}" />
                    </p:column>

                    <p:column headerText="Guía" exportable="false" filterBy="#{radBuzon.formNo}" styleClass="width80 alginLeft onSelectColumnInput" sortBy="#{radBuzon.guiaNo}">

                        <p:commandLink title="Seleccione para más información de guía" rendered="#{radBuzon.convFlag == 'Y'}" id="nonAjax2" update=":form:modalDetalle" oncomplete="PF('modalDetalleGuia').show();" actionListener="#{radController.onRowSelect(radBuzon.guiaNo)}" >
                            <p:outputLabel value="#{radBuzon.orgnBrncId}#{radBuzon.formNo}" />   
                            <p:tooltip for="nonAjax2" />
                        </p:commandLink>                

                        <p:outputLabel rendered="#{radBuzon.convFlag != 'Y'}" value="#{radBuzon.orgnBrncId}#{radBuzon.formNo}" /> 

                    </p:column>

                    <p:column headerText="Rastreo" exportable="true" filterBy="#{radBuzon.guiaNo}" styleClass="width80 alginLeft" sortBy="#{radBuzon.guiaNo}">
                        <p:commandLink title="Seleccione para saber más sobre su paquete." rendered="#{radBuzon.convFlag == 'Y'}" id="rastreoLink" actionListener="#{radController.getHistotyByGuiaNoOrRastreo(radBuzon.guiaNo)}" >
                            <p:outputLabel value="#{radBuzon.guiaNo}" />   
                            <p:tooltip for="rastreoLink" />
                        </p:commandLink>                
                        <h:outputText rendered="#{radBuzon.convFlag != 'Y'}" value="#{radBuzon.guiaNo}" />  

                    </p:column>

                    <p:column headerText="Solicitud" filterBy="#{radBuzon.prepBrncId}"  styleClass="width40 alginLeft hiddenMobile" sortBy="#{radBuzon.orgnBrncId}">
                        <p:outputLabel value="#{radBuzon.prepBrncId}" /> 
                    </p:column>

                    <p:column headerText="Emisión" filterBy="#{radBuzon.orgnBrncId}" styleClass="width40 alginLeft hiddenMobile" sortBy="#{radBuzon.prepBrncId}">
                        <p:outputLabel value="#{radBuzon.orgnBrncId}" /> 
                    </p:column>

                    <p:column headerText="Dirección de recolección" filterBy="#{radBuzon.direccionSolicitante}" styleClass="width200 alginLeft hiddenMobile ellipsizeCellContent" sortBy="#{radBuzon.direccionSolicitante}">
                        <p:outputLabel id="direRecoleccion" title="#{radBuzon.direccionSolicitante}" value="#{radBuzon.direccionSolicitante}" />                                
                        <p:tooltip for="direRecoleccion" trackMouse="true" />                                                   
                    </p:column>     

                    <p:column headerText="Destino" filterBy="#{radBuzon.destBrncId}" styleClass="width100 alginLeft hiddenMobile" sortBy="#{radBuzon.destBrncId}">
                        <p:outputLabel value="#{radBuzon.destBrncId}" /> 
                    </p:column>

                    <p:column headerText="Nombre Solicitante" filterBy="#{radBuzon.nombreSolicitante}" styleClass="width200 alginLeft hiddenMobile ellipsizeCellContent" sortBy="#{radBuzon.nombreSolicitante}">
                        <p:outputLabel id="nombreSolicita" title="#{radBuzon.nombreSolicitante}" value="#{radBuzon.nombreSolicitante}" />                                
                        <p:tooltip for="nombreSolicita" trackMouse="true" />                   
                    </p:column>      

                    <p:column headerText="Nombre Origen" filterBy="#{radBuzon.nombreOrigen}" styleClass="width200 alginLeft hiddenMobile ellipsizeCellContent" sortBy="#{radBuzon.nombreOrigen}">
                        <p:outputLabel id="nombreOrigen" title="#{radBuzon.nombreOrigen}" value="#{radBuzon.nombreOrigen}" />                                
                        <p:tooltip for="nombreOrigen" trackMouse="true" />                
                    </p:column>   

                    <p:column headerText="Nombre Destino" filterBy="#{radBuzon.nombreDestinatario}" styleClass="width200 alginLeft hiddenMobile ellipsizeCellContent" sortBy="#{radBuzon.nombreDestinatario}">
                        <p:outputLabel id="nombreDestino" title="#{radBuzon.nombreDestinatario}" value="#{radBuzon.nombreDestinatario.length() gt 30 ? radBuzon.nombreDestinatario.substring(0,27).concat('...') : radBuzon.nombreDestinatario}" />                
                        <p:tooltip for="nombreDestino" trackMouse="true" />                                
                    </p:column>   

                    <p:column headerText="Fecha entrega" filterBy="#{radBuzon.planCollDate}" styleClass="width80 alginCenter hiddenMobile" sortBy="#{radBuzon.planCollDate}">
                        <p:outputLabel value="#{radBuzon.planCollDate}" />                
                    </p:column>                           

                    <p:column headerText="Status" filterBy="#{radBuzon.radStus}" styleClass="width100 alginLeft onSelectColumnInput ellipsizeCellContent" sortBy="#{radBuzon.radStus}">                
                        <p:outputLabel id="status" title="#{radBuzon.radStus}" value="#{radBuzon.radStus.length() gt 23 ? radBuzon.radStus.substring(0,20).concat('...') : radBuzon.radStus}" />                
                        <p:tooltip for="status" trackMouse="true" />                                                     
                    </p:column>

                </p:dataTable> 
            </p:panel>
            <!--VENTANA MODAL CON INFORMACION DE LA GUIA INICIO-->
            <p:dialog header="Detalle de guía" widgetVar="modalDetalleGuia" modal="true" id="modalDetalle" styleClass="modalDetalleGuia">
                <img src="../../../../resources/images/logo_1.png" alt="logo_1" height="44" width="177"></img>
                <div class="grid gridDetallesBuzon">
                    <div>
                        <div>

                            <div class="ui-grid ui-grid-responsive">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-3">
                                        <h:outputLabel value="Número de guía"/>
                                    </div>
                                    <div class="ui-grid-col-9">
                                        <h:outputText value="#{radController.selectedBokGuiaHead.orgnBrncId}#{radController.selectedBokGuiaHead.formNo}" />
                                    </div>
                                </div>
                            </div>                                

                        </div>
                        <div>

                            <div class="ui-grid ui-grid-responsive">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-3">
                                        <h:outputLabel value="Número de rastreo"/>
                                    </div>
                                    <div class="ui-grid-col-9">
                                        <h:outputText value="#{radController.selectedBokGuiaHead.guiaNo}" />
                                    </div>
                                </div>
                            </div>                                  

                        </div>   

                        <div>

                            <div class="ui-grid ui-grid-responsive">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-3">
                                        <h:outputLabel value="Remitente"/>
                                    </div>
                                    <div class="ui-grid-col-9">
                                        <h:outputText value="#{radController.selectedBokGuiaHead.orgnClntName}" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div>

                            <div class="ui-grid ui-grid-responsive">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-3">
                                        <h:outputLabel value="Destinatario"/>
                                    </div>
                                    <div class="ui-grid-col-9">
                                        <h:outputText value="#{radController.selectedBokGuiaHead.destClntName}" />
                                    </div>
                                </div>
                            </div>                                

                        </div>    
                        <div>

                            <div class="ui-grid ui-grid-responsive">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-3">
                                        <h:outputLabel value="Fiscal:"/>
                                    </div>
                                    <div class="ui-grid-col-9">
                                        <h:outputText value="#{radController.selectedBokGuiaHead.billClntName}" />
                                    </div>
                                </div>
                            </div>                                   

                        </div>    
                        <div style="margin-top: 10px;">

                            <div class="ui-grid ui-grid-responsive">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-3">
                                        <h:outputLabel value="Tipo de pago:"/>
                                    </div>
                                    <div class="ui-grid-col-9">
                                        <p:row rendered="#{radController.selectedBokGuiaHead.pymtMode == 'TO_PAY'}">
                                            <h:outputText value="POR COBRAR" /> 
                                        </p:row> 
                                        <p:row rendered="#{radController.selectedBokGuiaHead.pymtMode != 'TO_PAY'}">
                                            <h:outputText value="PAGADA" /> 
                                        </p:row>                                              

                                    </div>
                                </div>
                            </div>                                  

                        </div> 
                        <div>

                            <div class="ui-grid ui-grid-responsive">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-3">
                                        <h:outputLabel value="Importe:"/>
                                    </div>
                                    <div class="ui-grid-col-9">
                                        <h:outputText styleClass="currency" value="$ #{radController.selectedBokGuiaHead.guiaAmnt}" />
                                    </div>
                                </div>
                            </div>                                  

                        </div>    
                        <div>

                            <div class="ui-grid ui-grid-responsive">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-3">
                                        <h:outputLabel value="Observaciones:"/>
                                    </div>
                                    <div class="ui-grid-col-9">

                                        <p:row rendered="#{radController.selectedBokGuiaHead.comt == null}">
                                            <h:outputText value="Sin observaciones" />             
                                        </p:row>     
                                        <p:row rendered="#{radController.selectedBokGuiaHead.comt != ''}">
                                            <h:outputText value="#{radController.selectedBokGuiaHead.comt}" /> 
                                        </p:row>                                               

                                    </div>
                                </div>
                            </div>                                   


                        </div>                              
                    </div> 


                    <p:dataTable var="serviceItem" value="#{radController.lazyModelBokGuiaSrvItem}"
                                 id="t3" rendered="true" 
                                 lazy="true" rows="4" scrollable="true"
                                 emptyMessage="Guía incompleta" styleClass="modalDetalleGuia-t3"
                                 style="width: 750px;overflow: hidden;margin-bottom: 20px;"
                                 >

                        <p:column headerText="Cantidad"  style="width: 103px;" styleClass="alginCenter">
                            <h:outputText value="#{serviceItem.qunt}" />
                        </p:column>
                        <p:column  headerText="Descripción"  styleClass="width100 alginCenter">
                            <h:outputText value="#{serviceItem.descrip}" />                               
                        </p:column>                              
                        <p:column  headerText="Contenido"  styleClass="width100 alginCenter">
                            <h:outputText value="#{serviceItem.cont}" />                               
                        </p:column>                                                    


                    </p:dataTable>                       

                </div>


            </p:dialog>  
            <!--VENTANA MODAL CON INFORMACION DE LA GUIA FIN-->
        </h:form>
        <!--LISTA DE CLIENTES INICIO-->
        <p:dialog header="Búsqueda de Clientes" widgetVar="buzonRadFClient-Modal" modal="true" styleClass="modalDetalleGuia" >
            <h:form id="frmTable" rendered="true" onkeypress="return event.keyCode !== 13" >
                <div class="gridResponsive FiltrosHeader FiltrosModal">
                    <div class="gridResponsive1_2">
                        <p:outputLabel for="cliente" value="Id" styleClass="LabelBuzon" rendered="#{radController.securityUser.typeUser == 'INTERNO'}" />
                        <p:inputText id="cliente" label="cliente" required="false" tabindex="70" style="margin-right: 5px;width: 53px;" value="#{radController.idClnt}" />
                    </div>
                    <div class="gridResponsive1_2">
                        <p:outputLabel for="nombreCliente" value="Nombre" styleClass="LabelBuzon" />
                        <p:inputText id="nombreCliente" tabindex="71" label="nombreCliente" style="width: 200px;" required="false" value="#{radController.nameClnt}"/>
                        <p:commandButton value="Consultar" tabindex="72" icon="ui-icon-search" action="#{radController.getListClient()}" update="TableClnt" />		
                    </div>
                </div>   

                <p:dataTable id="TableClnt" var="clntMstr" value="#{radController.listClntMstr}"  selection="#{radController.selectClntDTOs}" rowKey="#{clntMstr.clntId}" 
                             rows="25" paginator="true" paginatorPosition="bottom" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,15" emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}"  selectionMode="single" styleClass="dt-hiddenInput"
                             scrollHeight="250"  style="width: 500px;" widgetVar="TableClnt" filteredValue="#{radController.filteredSysClntMstrDTO}"
                             >

                    <f:facet name="header" class="headerDt" id="headerDt">
                        <h:outputText value="Busqueda:" />
                        <p:inputText id="globalFilter" onkeyup="PF('TableClnt').filter()" style="width:150px" placeholder="Búsqueda por palabra clave" >
                        </p:inputText>                                
                    </f:facet>   

                    <!-- COLUMNS -->         
                    <p:ajax event="rowSelect" listener="#{radController.onRowSelectCliente}" update=":form"  /> 
                    <p:column  headerText="Id" sortBy="#{clntMstr.clntId}" filterBy="#{clntMstr.clntId}"  styleClass="onSelectColumnInput dt-widthAuto" style="width: 120px;">
                        <h:outputText value="#{clntMstr.clntId}" />
                    </p:column>

                    <p:column headerText="Nombre" sortBy="#{clntMstr.clntName}" filterBy="#{clntMstr.clntName}" filterMatchMode="contains">
                        <h:outputText value="#{clntMstr.clntName}" />
                    </p:column>

                </p:dataTable>               


            </h:form>  


        </p:dialog>  
        <!--LISTA DE CLIENTES FIN-->
        <div id="anotations"></div>
    </h:body>
</html>
