<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="../../../../resources/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../resources/css/styleDialog.css"/>
        <link rel="stylesheet" type="text/css"  href="../../../../resources/joyride/joyride-2.1.css"/>
        <link rel="stylesheet" type="text/css"  href="../../../../resources/joyride/demo-style.css"/>
        <link rel="stylesheet" type="text/css"  href="../../../../resources/joyride/mobile.css"/>                 
        <script type="text/javascript" src="../../../../resources/js/global.js"></script>
        <style type="text/css">
            .ui-datatable .ui-column-filter{display: none;}
        </style>    
        <title>#{msgs['enginedata.page.rad.radAdministratorGuiaSimple.title']}</title>
    </h:head>

    <h:body onload="validaCookie();#{radAdministratorGuiaSimpleController.onLoad()};" onkeydown="if (event.keyCode === 27) {
                rcCloseOnEscape();
            }" styleClass="bodyContent">
        <f:view locale="#{securityEngineData.locale}" >
            <h:form id="frmAdministrator" rendered="true" onkeypress="return event.keyCode !== 13" onsubmit="return false;" >
                <p:focus id="focus" />
                <p:growl id="message" showDetail="true" showSummary="false" autoUpdate="true" life="4500" severity="info, error, fatal,warn" />
                <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" escape="false" severity="warn">
                </p:messages>
                <div class="ui-grid ui-grid-responsive">
                    <div class="ui-grid-row" >
                        <div class="ui-grid-col-12">
                            <!-- DATATABLE -->
                            <p:dataTable id="dtAdministratorPP" var="ppgBokGuiaMstrDTO" value="#{radAdministratorGuiaSimpleController.ldm}"  widgetVar="ppAdministratorDt"
                                         rows="50" scrollable="true"  scrollHeight="300" filteredValue="#{radAdministratorGuiaSimpleController.filteredPpgBokGuiaAsigDTO}"
                                         selection="#{radAdministratorGuiaSimpleController.selectedListDTO}" 
                                         rendered="true" lazy="true"
                                         emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}"
                                         rowKey="#{ppgBokGuiaMstrDTO.tracNo}" paginatorPosition="bottom" 
                                         paginator="true" binding="#{radAdministratorGuiaSimpleController.dtAdministratorPP}"
                                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}"
                                         rowsPerPageTemplate="50,100,200,300"  styleClass="dt-reflow dt-selectedrow-1 dt-datos">
                                <p:ajax event="rowDblselect" listener="#{radAdministratorGuiaSimpleController.onRowDblClckSelect}"  global="false" />
                                <p:ajax event="filter" listener="#{radAdministratorGuiaSimpleController.filterListener}" update="@this"/>
                                <!-- COLUMNS -->
                                <f:facet name="header" class="headerDt" id="headerDt">
                                    <div class="ui-grid ui-grid-responsive">
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-12">
                                                <h:outputText id="lblBusqueda" value="#{msgs['enginedata.page.general.catalogs.lstUser.lblBusqueda']}" />
                                                <p:inputText id="globalFilter" onkeyup="PF('ppAdministratorDt').filter()" style="width:150px" placeholder="#{msgs['enginedata.page.general.catalogs.lstUser.globalFilter']}" >
                                                </p:inputText>
                                            </div>
                                        </div>
                                    </div>
                                </f:facet>
                                <p:column exportable="false"  selectionMode="multiple"  style="width:20px;text-align:center" >
                                </p:column> 
                                <p:column styleClass="width70px alginCenter" headerText="#{msgs['enginedata.page.rad.radAdministratorGuiaSimple.colIdSet']}" sortBy="#{ppgBokGuiaMstrDTO.refNo}" filterBy="#{ppgBokGuiaMstrDTO.refNo}" filterMatchMode="contains">
                                    <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.rad.radAdministratorGuiaSimple.colIdSet']}" /></f:facet>
                                    <h:outputText id="clntName" value="#{ppgBokGuiaMstrDTO.refNo}" />                                
                                </p:column>
                                <p:column headerText="#{msgs['enginedata.page.general.label.rastreos']}" styleClass="width40 alginCenter" sortBy="#{ppgBokGuiaMstrDTO.tracNo}" filterBy="#{ppgBokGuiaMstrDTO.tracNo}" filterMatchMode="contains">
                                    <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.rastreos']}" /></f:facet>
                                    <h:outputText  value="#{ppgBokGuiaMstrDTO.tracNo}"/>
                                </p:column>
                                <p:column styleClass="width70px alginCenter" sortBy="#{ppgBokGuiaMstrDTO.zone}" filterBy="#{ppgBokGuiaMstrDTO.zone}" filterMatchMode="contains">
                                    <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.zonaKM']}" /></f:facet>
                                    <h:outputText value="#{ppgBokGuiaMstrDTO.zone}" />
                                </p:column>
                                <p:column styleClass="width40px alginCenter" sortBy="#{ppgBokGuiaMstrDTO.tarifa}" filterBy="#{ppgBokGuiaMstrDTO.tarifa}" filterMatchMode="contains">
                                    <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.tarifa']}" /></f:facet>
                                    <h:outputText value="#{ppgBokGuiaMstrDTO.tarifa}" />
                                </p:column>

                                <p:column styleClass="width20 alginRight" sortBy="#{ppgBokGuiaMstrDTO.wght}" filterBy="#{ppgBokGuiaMstrDTO.wght}" filterMatchMode="contains">
                                    <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.pesoKG']}"/></f:facet>
                                    <h:outputText  value="#{ppgBokGuiaMstrDTO.wght}">
                                        <f:convertNumber locale="#{securityEngineData.locale}"  maxFractionDigits="2"/>
                                    </h:outputText>
                                </p:column>
                                <p:column styleClass="width20 alginRight" sortBy="#{ppgBokGuiaMstrDTO.vlum}" filterBy="#{ppgBokGuiaMstrDTO.vlum}" filterMatchMode="contains">
                                    <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.volum']}" /></f:facet>
                                    <h:outputText  value="#{ppgBokGuiaMstrDTO.vlum}">
                                        <f:converter converterId="doubleConverter2" />
                                    </h:outputText>
                                </p:column>
                                <p:column styleClass="width60px alginCenter" sortBy="#{ppgBokGuiaMstrDTO.totalRastreos}" filterBy="#{ppgBokGuiaMstrDTO.totalRastreos}" filterMatchMode="contains">
                                    <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.numRastreos']}" /></f:facet>
                                    <h:outputText  value="#{ppgBokGuiaMstrDTO.totalRastreos}"/>
                                </p:column>
                                <p:column styleClass="width20 alginCenter" sortBy="#{ppgBokGuiaMstrDTO.ackService}" filterBy="#{ppgBokGuiaMstrDTO.ackService}" filterMatchMode="contains">
                                    <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.AcuseRecibo']}" /></f:facet>
                                    <h:outputText  value="#{ppgBokGuiaMstrDTO.ackService}"/>
                                </p:column>
                                <p:column styleClass="width20 alginRight" sortBy="#{ppgBokGuiaMstrDTO.insurService}" filterBy="#{ppgBokGuiaMstrDTO.insurService}" filterMatchMode="contains">
                                    <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.valorDeclarado']}" /></f:facet>
                                    <h:outputText  value="#{ppgBokGuiaMstrDTO.insurService}">
                                         <f:converter converterId="doubleConverter2" />
                                    </h:outputText>
                                </p:column>
                                <p:column styleClass="width40px alginCenter" sortBy="#{ppgBokGuiaMstrDTO.eadService}" filterBy="#{ppgBokGuiaMstrDTO.eadService}" filterMatchMode="contains">
                                    <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.ead']}" /></f:facet>
                                    <p:selectBooleanCheckbox disabled="true" value="#{ppgBokGuiaMstrDTO.eadService != 'N'}"/>
                                </p:column>
                                <p:column styleClass="width40px alginCenter" sortBy="#{ppgBokGuiaMstrDTO.radService}" filterBy="#{ppgBokGuiaMstrDTO.radService}" filterMatchMode="contains">
                                    <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.RAD']}" /></f:facet>
                                    <p:selectBooleanCheckbox disabled="true" value="#{ppgBokGuiaMstrDTO.radService != 'N'}"/>
                                </p:column>
                                <p:column styleClass="width40px alginCenter" sortBy="#{ppgBokGuiaMstrDTO.extService}" filterBy="#{ppgBokGuiaMstrDTO.extService}" filterMatchMode="contains">
                                    <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.zonaExtendida']}" /></f:facet>
                                    <p:selectBooleanCheckbox disabled="true" value="#{ppgBokGuiaMstrDTO.extService != 'N'}"/>
                                </p:column>
                                <p:column styleClass="width70px alginCenter" sortBy="#{ppgBokGuiaMstrDTO.refNoOld}" filterBy="#{ppgBokGuiaMstrDTO.refNoOld}" filterMatchMode="contains">
                                    <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.setOriginal']}" /></f:facet>
                                    <h:outputText  value="#{ppgBokGuiaMstrDTO.refNoOld}"/>
                                </p:column>
                                <p:column styleClass="width40 alginCenter" sortBy="#{ppgBokGuiaMstrDTO.numInvoices}" filterBy="#{ppgBokGuiaMstrDTO.numInvoices}" filterMatchMode="contains">
                                    <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.factura']}" /></f:facet>
                                    <h:outputText  value="#{ppgBokGuiaMstrDTO.numInvoices}"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                    <div class="ui-grid-row" >
                        <div class="ui-grid-col-12" style="text-align: center">
                            <p:commandButton id="btnSelection" icon="ui-icon-check" process="@this, :frmAdministrator:dtAdministratorPP" value="#{msgs['enginedata.page.label-default-combo']}" action="#{radAdministratorGuiaSimpleController.onSelectionRows()}" update="@this message" styleClass="GreenButton" />
                            <p:commandButton id="btnClosed" icon="ui-icon-close" value="#{msgs['enginedata.page.general.btn.label.cerrar']}" action="#{radAdministratorGuiaSimpleController.onClose()}" styleClass="RedButton" />
                        </div>
                    </div>
                </div>
            </h:form>          
        </f:view>    
    </h:body>
</html>