<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>        
        <link rel="stylesheet" type="text/css" href="../../../../resources/css/style.css"/>
        <script type="text/javascript" src="../../../../resources/js/global.js"></script>
        <link rel="stylesheet" href="../../../../resources/Adamantium/adamantium-layout/css/font-awesome.min.css"/>
        <script type="text/javascript" src="../../../../resources/exportDT/libs/FileSaver/FileSaver.min.js"></script>
        <script type="text/javascript" src="../../../../resources/exportDT/libs/jsPDF/jspdf.min.js"></script>
        <script type="text/javascript" src="../../../../resources/exportDT/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
        <script type="text/javascript" src="../../../../resources/exportDT/libs/html2canvas/html2canvas.min.js"></script>
        <script type="text/javascript" src="../../../../resources/exportDT/test/tableExport.js"></script>  
        <style type="text/css">
            .fa {
                font: normal normal normal 14px/1 FontAwesome !important;
            }   
            .ui-button .ui-button-text {
                display: inline-block;
                padding: 0 !important;
            }     
            .fa-save::before, .fa-floppy-o::before {
                margin-right: 10px;
            }

            .panelTabs input , 
            .panelTabs input:hover, 
            .panelTabs input:focus{
                padding: 0 !important;
                border: none !important;
                background-color: transparent !important;
                box-shadow: none !important;
            }

        </style>        

    </h:head>
    <h:body styleClass="bodyContent buzonRad brncCutExceptions" onload="dtHeight100();#{radBrncCutHoursController.onLoad()}"> 
        <f:view locale="#{securityEngineData.locale}">
        <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />

        <p:dialog widgetVar="statusDialog" style="border-radius: 50%;text-align: center;box-shadow: 10px 10px 95px 0px rgba(0,0,0,0.75) !important;" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <img src="../../../../resources/images/i_g_fleet.gif" style="width: 200px;"/>
            <strong style="display: block;">Cargando...</strong>
        </p:dialog>
        <h:form id="form">

            <div class="panelTabs">
                <p:growl id="msgs" showDetail="true" />
                <p:dataTable var="brncType" id="brncType" value="#{radBrncCutHoursController.listRadBrncType}"
                             editable="true" editMode="cell" widgetVar="cellCars"
                             filteredValue="#{radBrncCutHoursController.listFilterBncType1}"
                             reflow="true">

                    <p:columnGroup type="header">
                        <p:row>
                            <p:column sortBy="#{brncType.brncName}" rowspan="3" headerText="Tipo de sucursal" />
                            <p:column colspan="4" headerText="#{msgs['enginedata.page.general.label.horarios']}" />
                        </p:row>
                        <p:row>
                            <p:column colspan="2" headerText="#{msgs['enginedata.page.general.label.solicitud']}" />
                            <p:column colspan="2" headerText="#{msgs['enginedata.page.general.label.recoleccion']}" />
                        </p:row>
                        <p:row>
                            <p:column headerText="#{msgs['enginedata.page.general.label.lunesViernes']}" />
                            <p:column headerText="#{msgs['enginedata.page.general.label.sabadoDom']}" />
                            <p:column headerText="#{msgs['enginedata.page.general.label.lunesViernes']}" />
                            <p:column headerText="#{msgs['enginedata.page.general.label.sabadoDom']}" />
                            <p:column headerText="Inicio de recolección" />
                            <p:column headerText="Tiempo mínimo" />
                        </p:row>
                    </p:columnGroup>
                    <p:column headerText="Tipo de sucursal"  >
                        <h:outputText value="#{brncType.brncDesc}" />                               
                    </p:column>

                    <p:column headerText="Lunes a viernes">
                        <p:calendar id="time1RADReq" pattern="HH:mm" timeOnly="true" styleClass="calendarFH"  placeholder="De" style="width: 45px;"
                                    value="#{brncType.hourWeek}"/>  
                    </p:column>

                    <p:column headerText="Sábado y domingo">
                        <p:calendar id="time1RADReq2" pattern="HH:mm" timeOnly="true" styleClass="calendarFH"  placeholder="De" style="width: 45px;"
                                    value="#{brncType.hourWeekEnd}"/>   
                    </p:column>

                    <p:column headerText="Lunes a viernes">
                        <p:calendar id="time1RADReqCol" pattern="HH:mm" timeOnly="true" styleClass="calendarFH"  placeholder="De" style="width: 45px;"
                                    value="#{brncType.hourWeekCol}"/>  
                    </p:column>

                    <p:column headerText="Sábado y domingo">
                        <p:calendar id="time1RADReq2Col" pattern="HH:mm" timeOnly="true" styleClass="calendarFH"  placeholder="De" style="width: 45px;"
                                    value="#{brncType.hourWeekEndCol}"/>   
                    </p:column>
                    
                    <p:column headerText="Hora inicio">
                        <p:calendar id="time1RADReq2Col2" pattern="HH:mm" timeOnly="true" styleClass="calendarFH"  placeholder="De" style="width: 45px;"
                                    value="#{brncType.hourIniCollCastDate}"/>   
                    </p:column>
                    <p:column headerText="Tiempo mínimo">
                        <p:calendar id="time1RADReq2Col3" pattern="HH:mm" timeOnly="true" styleClass="calendarFH"  placeholder="De" style="width: 45px;"
                                    value="#{brncType.timeMinDate}"/>   
                    </p:column>                    
                </p:dataTable>                         
                <div style="text-align: right;">
                </div>
                <div class="divContentButtons">
                    <p:commandButton id="btnSaveRADReq" value="#{msgs['enginedata.page.save-button-label']}"  rendered="#{radBrncCutHoursController.actionPermitido('SAVE')}" styleClass="GreenButton fa fa-floppy-o divContentButtonsSave" style="padding: 5px !important;"
                                     actionListener="#{radBrncCutHoursController.saveHours()}"  update=":form:msgs , :form:brncType"    />                                                       
                </div>
            </div>
        </h:form>
        </f:view>
    </h:body>
</html>




