<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>        
        <link rel="stylesheet" type="text/css" href="../../../../resources/css/style.css"/>
        <script type="text/javascript" src="../../../../resources/js/global.js"></script>
        <link rel="stylesheet" href="../../../../resources/Adamantium/adamantium-layout/css/font-awesome.min.css"/>
        <script type="text/javascript" src="../../../../resources/exportDT/libs/FileSaver/FileSaver.min.js"></script>
        <script type="text/javascript" src="../../../../resources/exportDT/libs/jsPDF/jspdf.min.js"></script>
        <script type="text/javascript" src="../../../../resources/exportDT/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
        <script type="text/javascript" src="../../../../resources/exportDT/libs/html2canvas/html2canvas.min.js"></script>
        <script type="text/javascript" src="../../../../resources/exportDT/test/tableExport.js"></script>  
        <script type="text/javascript" src="../../../../resources/js/calendar-localization.js"></script>
        <style type="text/css">
            .fa {
                font: normal normal normal 14px/1 FontAwesome !important;
            }   
            .ui-button .ui-button-text {
                display: inline-block;
                padding: 0 !important;
            }     
            .fa-save::before, .fa-floppy-o::before {
                margin-right: 10px;
            }
        </style>


    </h:head>
    <h:body styleClass="bodyContent buzonRad brncCutExceptions" onload="#{radBrncCutHoursController.onLoad()}"   > 
        <f:view locale="#{securityEngineData.locale}">

        <p:dialog widgetVar="statusDialog" style="border-radius: 50%;text-align: center;box-shadow: 10px 10px 95px 0px rgba(0,0,0,0.75) !important;" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <img src="../../../../resources/images/i_g_fleet.gif" style="width: 200px;"/>
            <strong style="display: block;">Cargando...</strong>
        </p:dialog>


        <style type="text/css">
            .panelTabs tbody input , 
            .panelTabs tbody input:hover, 
            .panelTabs tbody input:focus{
                padding: 0 !important;
                border: none !important;
                background-color: transparent !important;
                box-shadow: none !important;
            }

        </style>

        <h:form id="carForm" onsubmit="return false;">
            <p:panel id="pnlExcepctions" styleClass="panelTabs generic10DT"   >

                <div style="margin-top: 5px;margin-bottom: 10px;">

                    <p:outputLabel for="cmbTypeBrnc" value="Tipo de sucursal" styleClass="LabelBuzon" />

                    <p:selectOneMenu id="cmbTypeBrnc" style="" editable="true" value="#{radBrncCutHoursController.filters.filter_1}" filter="true" 
                                     valueChangeListener="#{radBrncCutHoursController.onChangeCbxTypeSearch}" filterMatchMode="startsWith" 
                                     styleClass="full-width input-to-uppercase" required="true" 
                                     requiredMessage="Seleccione tipo de sucursal." >
                        <f:selectItem itemLabel="Junior" itemValue="1" /> 
                        <f:selectItem itemLabel="Chica" itemValue="2" /> 
                        <f:selectItem itemLabel="Mediana" itemValue="3" /> 
                        <f:selectItem itemLabel="Grande" itemValue="4" />                                 
                        <f:selectItem itemLabel="Macro" itemValue="5" />    
                        <p:ajax process="cmbTypeBrnc" event="valueChange" update="dtSearchBrnc" onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
                    </p:selectOneMenu>    

                </div>
                <p:dataTable id="dtSearchBrnc" editMode="cell" editable="true" var="car"  
                             value="#{radBrncCutHoursController.listaBncType1}"
                             widgetVar="wVdtSearchBrnc"
                             filteredValue="#{radBrncCutHoursController.listFilterBncType1}"
                             reflow="true" lazy="false"
                             paginator="false" scrollable="true" 
                             emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}" 
                             rowStyleClass="#{car.hDefaultWeekEnd == 'E' ? 'completas' : null}"
                             >

                    <p:columnGroup type="header">
                        <p:row>
                            <p:column sortBy="#{car.brncName}" filterBy="#{car.brncName}#{car.brncId}" rowspan="3" headerText="#{msgs['enginedata.page.general.label.sucursal']}" />
                            <p:column colspan="4" headerText="#{msgs['enginedata.page.general.label.horarios']}" />
                        </p:row>
                        <p:row>
                            <p:column colspan="2" headerText="#{msgs['enginedata.page.general.label.solicitud']}" />
                            <p:column colspan="2" headerText="#{msgs['enginedata.page.general.label.recoleccion']}" />
                        </p:row>
                        <p:row>
                            <p:column headerText="#{msgs['enginedata.page.general.label.lunesViernes']}" />
                            <p:column headerText="#{msgs['enginedata.page.general.label.sabadoDom']}" />
                            <p:column headerText="#{msgs['enginedata.page.general.label.lunesViernes']}" />
                            <p:column headerText="#{msgs['enginedata.page.general.label.sabadoDom']}" />
                            <p:column headerText="Inicio de recolección" />
                            <p:column headerText="Tiempo mínimo" />                            
                        </p:row>
                    </p:columnGroup>     
                    <f:facet name="header">
                        <p:outputPanel>
                            <h:outputLabel value="Búsqueda:" />
                            <p:inputText id="globalFilter" onkeyup="PF('wVdtSearchBrnc').filter();"  placeholder="Escribe lo que buscas."/>
                        </p:outputPanel>
                    </f:facet>   

                    <p:column headerText="#{msgs['enginedata.page.general.label.sucursal']}" sortBy="#{car.brncName}" filterBy="#{car.brncName}" style="width:350px;" >
                        <h:outputText value="#{car.brncId}" ></h:outputText>
                        <h:outputText value=" - " ></h:outputText>
                        <h:outputText id="dtSearchBrncnameSuc1" value="#{car.brncName.length() gt 23 ? car.brncName.substring(0,20).concat('...') : car.brncName}" />                                                                
                        <p:tooltip for="dtSearchBrncnameSuc1" value="#{car.brncName}" trackMouse="true" />                                                                                   
                    </p:column>
                    <p:column headerText="#{msgs['enginedata.page.general.label.lunesViernes']}" sortBy="#{car.restHrWeek}" >
                        <p:calendar id="timehourWeekBrnc" pattern="HH:mm" timeOnly="true"  style="width: 45px;"
                                    lang="#{securityEngineData.locale}" locale="#{securityEngineData.locale}"
                                    value="#{car.restHrWeek}"/>                                 
                    </p:column>     
                    <p:column headerText="#{msgs['enginedata.page.general.label.sabadoDom']}" sortBy="#{car.restHrWeekEnd}" >
                        <p:calendar id="timehourWeekEndBrnc" pattern="HH:mm" timeOnly="true"  style="width: 45px;"
                                    lang="#{securityEngineData.locale}" locale="#{securityEngineData.locale}"
                                    value="#{car.restHrWeekEnd}"/>
                    </p:column>                

                    <p:column headerText="#{msgs['enginedata.page.general.label.lunesViernes']}" sortBy="#{car.restHrWeek}" >

                        <p:calendar id="timehourWeekColBrnc" pattern="HH:mm" timeOnly="true"  style="width: 45px;"
                                    lang="#{securityEngineData.locale}" locale="#{securityEngineData.locale}"
                                    value="#{car.restHrWeekCol}"/>                                 
                    </p:column>     
                    <p:column headerText="#{msgs['enginedata.page.general.label.sabadoDom']}" sortBy="#{car.restHrWeekEnd}" >
                        <p:calendar id="timehourWeekEndColBrnc" pattern="HH:mm" timeOnly="true"  style="width: 45px;"
                                    lang="#{securityEngineData.locale}" locale="#{securityEngineData.locale}"
                                    value="#{car.restHrWeekEndCol}"/>
                    </p:column>
                    
                    <p:column headerText="Hora inicio">
                        <p:calendar id="time1RADReq2Col2" pattern="HH:mm" timeOnly="true" styleClass="calendarFH"  placeholder="De" style="width: 45px;"
                                    value="#{car.hourIniCollCastDate}"/>   
                    </p:column>
                    <p:column headerText="Tiempo mínimo">
                        <p:calendar id="time1RADReq2Col3" pattern="HH:mm" timeOnly="true" styleClass="calendarFH"  placeholder="De" style="width: 45px;"
                                    value="#{car.timeMinDate}"/>   
                    </p:column> 
                </p:dataTable>                    




                <div class="divContentButtons">
                    <p:commandButton id="btnSaveEx" value="#{msgs['enginedata.page.save-button-label']}" rendered="#{radBrncCutHoursController.actionPermitido('SAVE')}" 
                                     styleClass="GreenButton fa fa-floppy-o divContentButtonsSave" style="padding: 5px !important;"
                                     actionListener="#{radBrncCutHoursController.saveExceptions()}"  update="dtSearchBrnc"
                                     onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"
                                     />                       

                </div>

            </p:panel>




        </h:form>
        </f:view>
    </h:body>
</html>




