<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="../../../../resources/css/styleGeneric.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../resources/css/style.css"/>
        <style type="text/css">
            .ui-datatable .ui-column-filter{display: inline;}
            .ui-datatable th {
                background-color:#0288d1 !important;
            }
            .ui-tabs .ui-tabs-panel {
                padding: 2px !important;
            }

        </style>
        <script type="text/javascript" src="../../../../resources/js/global.js"></script>
        <script type="text/javascript" src="../../../../resources/js/calendar-localization.js"></script>
        <title>#{msgs['enginedata.page.rad.radBitacora.title']}</title>
    </h:head>
    <h:body styleClass="bodyContent" onload="#{radBitacoraController.onLoad()}">
        <f:view locale="#{securityEngineData.locale}">
            <h:form rendered="true" id="frmBitacora" style="margin: 5px;" onkeypress="return event.keyCode !== 13"  onsubmit="return false;">
                <p:focus id="focus" />
                <p:growl id="message" showDetail="true" showSummary="false" autoUpdate="true" />
                <p:panel header="#{msgs['enginedata.page.rad.radBitacora.title']}" id="panel1" >
                    <p:tabView id="tabviewBitacora">
                        <p:tab title="PROGRAMACIÓN" id="tabProgramacion">
                            <div class="ui-grid ui-grid-responsive">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-1">
                                        <p:outputLabel for="txtSucursal" value="#{msgs['enginedata.page.general.label.sucursal']}" />
                                        <p:inputText id="txtSucursal" style="width: 80px" disabled="true" value="#{radBitacoraController.security.branchOwner}"/>
                                    </div>
                                    <div class="ui-grid-col-2">
                                        <p:outputLabel for="cmbStatus" value="Tipo" /><br/>
                                        <p:selectOneMenu id="cmbStatus" style="width: 130px" value="#{radBitacoraController.filters.filter_1}">
                                            <f:selectItem itemLabel="#{msgs['enginedata.page.general.label.pendientes']}" itemValue="PRB" />
                                            <!--EN LO DE JOSE LUIS VIENE PROGRAMADAS='PRO' PERO SE GUARDA COMO 'HCO'-->
                                            <f:selectItem itemLabel="PROGRAMADAS" itemValue="HCO" />
                                            <f:selectItem itemLabel="EN PROCESO" itemValue="HIP" />
                                            <f:selectItem itemLabel="REALIZADAS" itemValue="HCM" />
                                            <f:selectItem itemLabel="CONFIRMADAS" itemValue="HCA"/>
                                            <f:selectItem itemLabel="NO REALIZADAS" itemValue="HNR"/>
                                            <f:selectItem itemLabel="#{msgs['enginedata.page.general.label.canceladas']}" itemValue="HCC" />
                                            <f:selectItem itemLabel="#{msgs['enginedata.page.general.label.todos']}" itemValue="ALL" />                          
                                            <p:ajax process="cmbStatus" partialSubmit="true" event="valueChange"  onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide();"  update="dtCustomer dtOrders dtOrdersDetail btnAsignarMovil" listener="#{radBitacoraController.getCustomerPending}" />
                                            <!--<p:ajax process="cmbStatus" partialSubmit="true" event="itemSelect"  update="dtCustomer" listener="{radBitacoraController.getCustomerPending}"/>-->                
                                        </p:selectOneMenu>
                                    </div>
                                    <div class="ui-grid-col-2 filtroCalendar filtroGenericField">
                                        <p:outputLabel for="calFechaActual" value="Fecha"  /><br/>
                                        <p:calendar value="#{radBitacoraController.filters.filterFecha}" mask="true" id="calFechaActual" pattern="dd/MM/yyyy" showOn="both" lang="#{securityEngineData.locale}" locale="#{securityEngineData.locale}" >
                                            <p:ajax update="@this dtCustomer dtOrders dtOrdersDetail btnAsignarMovil" event="dateSelect"  onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide();" listener="#{radBitacoraController.getCustomerPending}"/>
                                        </p:calendar>
                                    </div>
                                </div>
                            </div>   
                            <p:dataTable id="dtCustomer" widgetVar="wgetCustomer" var="bitacoraGeneralRadDTO"
                                         rendered="true" reflow="true" lazy="true" scrollable="true" 
                                         value="#{radBitacoraController.lazyModel}" rows="#{radBitacoraController.numRowPaginator}"
                                         selection="#{radBitacoraController.selectedBitacoraGeneralRadDTO}" 
                                         rowKey="#{bitacoraGeneralRadDTO.rowNumber}" paginatorAlwaysVisible="false"
                                         filteredValue="#{radBitacoraController.filteredlistBitacoraGeneral}" 
                                         scrollHeight="130" paginator="false" paginatorPosition="bottom" 
                                         emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}" 
                                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}" 
                                         rowsPerPageTemplate="#{radBitacoraController.getArrayRowPaginator()}" 
                                         styleClass=" dt-datos dtResponsive dtpaginator100 seleccionarCPRow">
                                <p:ajax event="filter" listener="#{radBitacoraController.filterListener}" update="@this"/>
                                <p:ajax event="rowSelect" onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide();" process="@this" listener="#{radBitacoraController.onRowSelectCustomer}" update=":frmBitacora:tabviewBitacora:dtOrders :frmBitacora:tabviewBitacora:dtOrdersDetail"/>
                                <p:ajax event="rowSelectCheckbox" onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide();" process="@this" listener="#{radBitacoraController.onRowSelectCustomer}" update=":frmBitacora:tabviewBitacora:dtOrders :frmBitacora:tabviewBitacora:dtOrdersDetail" />
                                <p:ajax event="rowUnselectCheckbox" onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide();" process="@this" listener="#{radBitacoraController.onRowUnselectCustomer}" update=":frmBitacora:tabviewBitacora:dtOrders :frmBitacora:tabviewBitacora:dtOrdersDetail"/>
                                <p:ajax event="rowUnselect" onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide();" partialSubmit="true" process="@this" listener="#{radBitacoraController.onRowUnselectCustomer}" update=":frmBitacora:tabviewBitacora:dtOrders :frmBitacora:tabviewBitacora:dtOrdersDetail"/>
                                <p:ajax event="toggleSelect" onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide();" partialSubmit="true" listener="#{radBitacoraController.onRowSelectToggleCustomer}" update=":frmBitacora:tabviewBitacora:dtOrders :frmBitacora:tabviewBitacora:dtOrdersDetail" />
                                <p:column styleClass="width30px" filterBy="#{bitacoraGeneralRadDTO.dateRequest}" filterMatchMode="contains">
                                    <f:facet name="header"><h:outputText value="FECHA SOL." /></f:facet>
                                    <f:facet name="filter">
                                        <p:inputText  rendered="false" styleClass="width30px" placeholder="FECHA SOL." onkeyup="PF('wgetCustomer').filter()"/>
                                    </f:facet>
                                    <h:outputText value="#{bitacoraGeneralRadDTO.dateRequest}" />
                                </p:column>
                                <p:column styleClass="width15px" filterBy="#{bitacoraGeneralRadDTO.hourRequest}" filterMatchMode="contains">
                                    <f:facet name="header"><h:outputText value="Hora" /></f:facet>
                                    <f:facet name="filter">
                                        <p:inputText rendered="false" styleClass="width15px" placeholder="Hora" onkeyup="PF('wgetCustomer').filter()"/>
                                    </f:facet>
                                    <h:outputText value="#{bitacoraGeneralRadDTO.hourRequest}" />
                                </p:column>
                                <p:column styleClass="width60px" filterBy="#{bitacoraGeneralRadDTO.clntId}" filterMatchMode="contains">
                                    <f:facet name="header"><h:outputText value="Cliente" /></f:facet>
                                    <f:facet name="filter">
                                        <p:inputText rendered="false" placeholder="Cliente" onkeyup="PF('wgetCustomer').filter()"/>
                                    </f:facet>
                                    <h:outputText value="#{bitacoraGeneralRadDTO.clntId}" />
                                </p:column>
                                <p:column styleClass="width60" filterBy="#{bitacoraGeneralRadDTO.clntName}"  filterMatchMode="contains">
                                    <f:facet name="filter">
                                        <p:inputText style="width: 95%" placeholder="BUSQUEDA GENERAL1" onkeyup="PF('wgetCustomer').filter()"/>
                                    </f:facet>
                                    <h:outputText id="clntName" value="#{bitacoraGeneralRadDTO.clntName.length() gt 53 ? 
                                                                         bitacoraGeneralRadDTO.clntName.substring(0,53).concat('...') : 
                                                                         bitacoraGeneralRadDTO.clntName}" />
                                    <p:tooltip for="clntName" value="#{bitacoraGeneralRadDTO.clntName}" trackMouse="true" />
                                </p:column>
                                <p:column  styleClass="width60" filterBy="#{bitacoraGeneralRadDTO.address}" filterMatchMode="contains">
                                    <f:facet name="header"><h:outputText value="Dirección" /></f:facet>
                                    <f:facet name="filter">
                                        <p:inputText rendered="false" placeholder="Dirección" onkeyup="PF('wgetCustomer').filter()"/>
                                    </f:facet>
                                    <!--<h:outputText id="clntAdress" value="#{bitacoraGeneralRadDTO.address}" />--> 
                                    <h:outputText id="clntAdress" value="#{bitacoraGeneralRadDTO.address.length() gt 53 ? 
                                                                           bitacoraGeneralRadDTO.address.substring(0,53).concat('...') : 
                                                                           bitacoraGeneralRadDTO.address}" />
                                    <p:tooltip for="clntAdress" value="#{bitacoraGeneralRadDTO.address}" trackMouse="true" />   
                                </p:column>
                                <p:column styleClass="width15px" filterBy="#{bitacoraGeneralRadDTO.quantityGuide}" filterMatchMode="contains">
                                    <f:facet name="header"><h:outputText value="CP" /></f:facet>
                                    <f:facet name="filter">
                                        <p:inputText rendered="false" placeholder="CP" onkeyup="PF('wgetCustomer').filter()"/>
                                    </f:facet>
                                    <h:outputText value="#{bitacoraGeneralRadDTO.quantityGuide}"/>
                                </p:column>
                                <p:column styleClass="width15px" filterBy="#{bitacoraGeneralRadDTO.quantityItems}" filterMatchMode="contains">
                                    <f:facet name="header"><h:outputText value="BULTOS" /></f:facet>
                                    <f:facet name="filter">
                                        <p:inputText rendered="false" placeholder="BULTOS" onkeyup="PF('wgetCustomer').filter()"/>
                                    </f:facet>
                                    <h:outputText value="#{bitacoraGeneralRadDTO.quantityItems}"/>
                                </p:column>
                                <p:column styleClass="width15px" filterBy="#{bitacoraGeneralRadDTO.route}" filterMatchMode="contains">
                                    <f:facet name="header"><h:outputText value="RUTA" /></f:facet>
                                    <f:facet name="filter">
                                        <p:inputText rendered="false" placeholder="RUTA" onkeyup="PF('wgetCustomer').filter()"/>
                                    </f:facet>
                                    <h:outputText value="#{bitacoraGeneralRadDTO.route}"/>
                                </p:column>
                                <p:column exportable="false" styleClass="width5px" selectionMode="multiple"  style="text-align:center" >

                                </p:column>
                            </p:dataTable>
                            <!--</p:panel>-->
                            <div class="ui-grid ui-grid-responsive">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12" style="text-align: right">
                                        <p:commandButton id="btnAsignarMovil" value="MOVIL1" styleClass="fa fa-truck" disabled="#{radBitacoraController.filters.filter_1 eq 'HCC'}" tabindex="01" oncomplete="PF('statusDialog').hide();" actionListener="#{radBitacoraController.getDialogTripCurrentRAD()}" process="@this,:frmBitacora:tabviewBitacora:dtOrders" onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();" update="diagMoviles"/>
                                        <p:commandButton id="btnImprimirOrden" value="IMP. ORDEN1" styleClass="fa fa-print" tabindex="01" oncomplete="PF('statusDialog').hide();" actionListener="#{radBitacoraController.getDialogTripCurrentRAD()}" process="@this,:frmBitacora:tabviewBitacora:dtOrders" onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();" update="diagMoviles"/>
                                        <p:commandButton id="btnPermisoParcial" disabled="true" value="PERMISO PARCIAL1" icon="ui-icon-search" tabindex="01" oncomplete="PF('statusDialog').hide();" actionListener="#{radBitacoraController.getDialogTripCurrentRAD()}" process="@this,:frmBitacora:tabviewBitacora:dtOrders" onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();" update="diagMoviles" />
                                    </div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <p:dataTable id="dtOrders" widgetVar="wgetOrders" var="webMnftDetlDTO"
                                                     rendered="true" reflow="true" lazy="true" scrollable="true" 
                                                     value="#{radBitacoraController.lazyModelWebMnftDetlDTO}" rows="#{radBitacoraController.numRowPaginator}"
                                                     selection="#{radBitacoraController.selectedWebMnftDetlDTO}" paginatorAlwaysVisible="false"
                                                     rowKey="#{webMnftDetlDTO.mdMnftNo}" selectionMode="single"
                                                     filteredValue="#{radBitacoraController.filteredListWebMnftDetlDTO}" 
                                                     scrollHeight="180" paginator="true" paginatorPosition="bottom" 
                                                     emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}" 
                                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                     currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}" 
                                                     rowsPerPageTemplate="#{radBitacoraController.getArrayRowPaginator()}" 
                                                     styleClass=" dt-datos dtResponsive dtpaginator100 seleccionarCPRow">
                                            <p:ajax event="filter" listener="#{radBitacoraController.filterListenerWebMnftDetlDTO}" update="@this"/>
                                            <p:ajax event="rowSelect" onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide();" process="@this" listener="#{radBitacoraController.onRowSelectOrders}" update="@this :frmBitacora:tabviewBitacora:dtOrdersDetail"/>
                                            <p:column  styleClass="width40px"  filterBy="#{webMnftDetlDTO.mdIsseDate}" filterMatchMode="contains">
                                                <f:facet name="header"><h:outputText value="FECHA SOL1" /></f:facet>
                                                <f:facet name="filter">
                                                    <p:inputText rendered="false"  styleClass="width30px" placeholder="FECHA SOL." onkeyup="PF('wgetOrders').filter()"/>
                                                </f:facet>
                                                <h:outputText value="#{webMnftDetlDTO.mdIsseDate}" >
                                                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                                                </h:outputText>                                                    
                                            </p:column>
                                            <p:column styleClass="width50px" filterBy="#{webMnftDetlDTO.mdMnftNo}" filterMatchMode="contains">
                                                <f:facet name="header"><h:outputText value="ORDEN" /></f:facet>
                                                <f:facet name="filter">
                                                    <p:inputText rendered="false" placeholder="ORDEN" onkeyup="PF('wgetOrders').filter()"/>
                                                </f:facet>
                                                <h:outputText value="#{webMnftDetlDTO.mdMnftNo}" />
                                            </p:column>
                                            <p:column  styleClass="width15px" filterBy="#{webMnftDetlDTO.mdDocuType}" style="text-align:center" filterMatchMode="contains">                                    
                                                <f:facet name="header"><h:outputText value="ORIGEN1" /></f:facet>
                                                <f:facet name="filter">
                                                    <p:inputText rendered="false" placeholder="ORIGEN1" onkeyup="PF('wgetOrders').filter()"/>
                                                </f:facet>
                                                <h:outputText value="#{webMnftDetlDTO.mdDocuType}" />
                                            </p:column>
                                            <!--CREACION DE ORDEN-->
                                            <p:column styleClass="width10px" style="text-align:center" >
                                                <p:commandButton id="btnBuildOrder" value="" styleClass="fa fa-plus" disabled="#{webMnftDetlDTO.mdMnftNo !='SOR'}" process="@this :frmBitacora:tabviewBitacora:dtOrdersDetail " update=":frmBitacora:tabviewBitacora:dtOrders :frmBitacora:tabviewBitacora:dtOrdersDetail" onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide();" actionListener="#{radBitacoraController.createWebMnftDetail()}">
                                                    <f:setPropertyActionListener value="#{webMnftDetlDTO}" target="#{radBitacoraController.selectedWebMnftDetlDTO}" />
                                                </p:commandButton>
                                                <p:tooltip for="btnBuildOrder" value="GENERAR ORDEN" trackMouse="true" />
                                            </p:column>
                                            <!--CREACION DE ORDEN DE APOYO-->
                                            <p:column styleClass="width10px" style="text-align:center" >
                                                <p:commandButton id="btnOrderSupport" value="" styleClass="fa fa-share-square" disabled="#{radBitacoraController.filters.filter_1 != 'HCO'}" process="@this :frmBitacora:tabviewBitacora:dtOrdersDetail " update=":frmBitacora:tabviewBitacora:dtOrders :frmBitacora:tabviewBitacora:dtOrdersDetail" onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide();" actionListener="#{radBitacoraController.createWebMnftDetailSupport()}">
                                                    <f:setPropertyActionListener value="#{webMnftDetlDTO}" target="#{radBitacoraController.selectedWebMnftDetlDTO}" />
                                                    <p:confirm header="Confirmation" message="¿DESEA AGREGAR UNA ORDEN DE RAD DE APOYO?1" icon="ui-icon-alert" />
                                                </p:commandButton>
                                                <p:tooltip for="btnOrderSupport" value="Generar orden de apoyo" trackMouse="btnOrderSupport" />
                                            </p:column>
                                            <p:column styleClass="width50" filterBy="#{webMnftDetlDTO.clntName}"  filterMatchMode="contains">
                                                <f:facet name="filter">
                                                    <p:inputText style="width: 95%" placeholder="BUSQUEDA GENERAL1" onkeyup="PF('wgetOrders').filter()"/>
                                                </f:facet>
                                                <h:outputText id="clntName" value="#{webMnftDetlDTO.clntName.length() gt 37 ? 
                                                                                     webMnftDetlDTO.clntName.substring(0,37).concat('...') : 
                                                                                     webMnftDetlDTO.clntName}" />
                                                <p:tooltip for="clntName" value="#{webMnftDetlDTO.clntName}" trackMouse="true" />
                                            </p:column>
                                            <p:column  styleClass="width15px" style="text-align:right" filterBy="#{webMnftDetlDTO.mdNumbOrdr}" filterMatchMode="contains">
                                                <f:facet name="header"><h:outputText value="FOLIO1" /></f:facet>
                                                <f:facet name="filter">
                                                    <p:inputText rendered="false" placeholder="FOLIO1" onkeyup="PF('wgetOrders').filter()"/>
                                                </f:facet>
                                                <h:outputText value="#{webMnftDetlDTO.mdNumbOrdr}" />
                                            </p:column>
                                            <p:column  styleClass="width15px" style="text-align:right" filterBy="#{webMnftDetlDTO.mdNumbPack}" filterMatchMode="contains">
                                                <f:facet name="header"><h:outputText value="BULTOS1" /></f:facet>
                                                <f:facet name="filter">
                                                    <p:inputText rendered="false" placeholder="BULTOS1" onkeyup="PF('wgetOrders').filter()"/>
                                                </f:facet>
                                                <h:outputText value="#{webMnftDetlDTO.mdNumbPack}" />
                                            </p:column>
                                            <p:column styleClass="width15px" style="text-align:right" filterBy="#{webMnftDetlDTO.peso}" filterMatchMode="contains">
                                                <f:facet name="header"><h:outputText value="PESO1" /></f:facet>
                                                <f:facet name="filter">
                                                    <p:inputText rendered="false" placeholder="PESO1" onkeyup="PF('wgetOrders').filter()"/>
                                                </f:facet>
                                                <h:outputText value="#{webMnftDetlDTO.peso}" />
                                            </p:column>
                                            <p:column styleClass="width15px" style="text-align:right" filterBy="#{webMnftDetlDTO.volumen}" filterMatchMode="contains">
                                                <f:facet name="header"><h:outputText value="VOL" /></f:facet>
                                                <f:facet name="filter">
                                                    <p:inputText rendered="false" placeholder="VOLUMEN1" onkeyup="PF('wgetOrders').filter()"/>
                                                </f:facet>
                                                <h:outputText value="#{webMnftDetlDTO.volumen}"/>
                                            </p:column>
                                            <p:column styleClass="width40px" filterBy="#{webMnftDetlDTO.mdPlanCollDate}" filterMatchMode="contains">
                                                <f:facet name="header"><h:outputText value="FECHA PLAN1" /></f:facet>
                                                <f:facet name="filter">
                                                    <p:inputText rendered="false" placeholder="FECHA PLAN1" onkeyup="PF('wgetOrders').filter()"/>
                                                </f:facet>
                                                <h:outputText value="#{webMnftDetlDTO.mdPlanCollDate}">
                                                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                                                </h:outputText>
                                            </p:column>
                                            <p:column styleClass="alginLeft width30px" filterBy="#{webMnftDetlDTO.mdTruckNo}" filterMatchMode="contains">
                                                <f:facet name="header"><h:outputText value="MOVIL1" /></f:facet>
                                                <f:facet name="filter">
                                                    <p:inputText rendered="false" placeholder="MOVIL1" onkeyup="PF('wgetOrders').filter()"/>
                                                </f:facet>
                                                <h:outputText value="#{webMnftDetlDTO.mdTruckNo}"/>
                                            </p:column>
                                            <p:column  styleClass="width15px" filterBy="#{webMnftDetlDTO.mdOrderPlanIni}" filterMatchMode="contains">
                                                <f:facet name="header"><h:outputText value="H INI1" /></f:facet>
                                                <f:facet name="filter">
                                                    <p:inputText rendered="false" placeholder="HORA INICIO1" onkeyup="PF('wgetOrders').filter()"/>
                                                </f:facet>
                                                <h:outputText value="#{webMnftDetlDTO.mdOrderPlanIni}" >
                                                    <f:convertDateTime pattern="HH:mm" />
                                                </h:outputText>
                                            </p:column>
                                            <p:column styleClass="width15px" filterBy="#{webMnftDetlDTO.mdOrderPlanEnd}" filterMatchMode="contains">
                                                <f:facet name="header"><h:outputText value="H FNA1" /></f:facet>
                                                <f:facet name="filter">
                                                    <p:inputText rendered="false" placeholder="HORA FINAL1" onkeyup="PF('wgetOrders').filter()"/>
                                                </f:facet>
                                                <h:outputText value="#{webMnftDetlDTO.mdOrderPlanEnd}" >
                                                    <f:convertDateTime pattern="HH:mm" />
                                                </h:outputText>
                                            </p:column>
                                            <!--REGISTRO SELECCIONADO-->
                                            <p:column exportable="false"  styleClass="width5px" style="text-align:center" >
                                                <p:selectBooleanCheckbox value="#{webMnftDetlDTO.seleted}"/>
                                            </p:column>
                                            <p:column styleClass="width40px" filterBy="#{webMnftDetlDTO.rStusName}" filterMatchMode="contains">
                                                <f:facet name="header"><h:outputText value="STATUS1" /></f:facet>
                                                <f:facet name="filter">
                                                    <p:inputText rendered="false" placeholder="STATUS1" onkeyup="PF('wgetOrders').filter()"/>
                                                </f:facet>
                                                <h:outputText value="#{webMnftDetlDTO.rStusName}"/>
                                            </p:column>
                                            <!--HISTORICO DE LA ORDEN-->
                                            <p:column exportable="false" styleClass="width10px" >
                                                <p:commandButton id="btnHistorico" styleClass="fa fa-history" value="" oncomplete="PF('statusDialog').hide();" action="#{radBitacoraController.getDialogOrdersHistory()}" process="@this,:frmBitacora:tabviewBitacora:dtOrders" onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();" update="diagOrdersHistory">
                                                    <f:setPropertyActionListener value="#{webMnftDetlDTO}" target="#{radBitacoraController.selectedWebMnftDetlDTO}" />
                                                </p:commandButton>
                                                <p:tooltip for="btnHistorico" value="HISTORICO DE LA ORDEN1" trackMouse="true" />
                                            </p:column>
                                            <!--CANCELACION ORDEN-->
                                            <p:column exportable="false" styleClass="width10px" >
                                                <p:commandButton id="btnCancelar" value="" styleClass="fa fa-ban RedButton" tabindex="01" oncomplete="PF('statusDialog').hide();" action="#{radBitacoraController.getDialogMotivesCancelation()}" process="@this,:frmBitacora:tabviewBitacora:dtOrders" onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();" update="diagMotivoCancelacion">
                                                    <f:setPropertyActionListener value="#{webMnftDetlDTO}" target="#{radBitacoraController.selectedWebMnftDetlDTO}" />
                                                </p:commandButton>
                                                <p:tooltip for="btnCancelar" value="CANCELACION DE ORDEN1" trackMouse="true" />
                                            </p:column>
                                            <!--<p:commandButton id="btnHistorico" value="HISTORICO1" icon="ui-icon-search" tabindex="01" oncomplete="PF('statusDialog').hide();" actionListener="{radBitacoraController.getDialogOrdersHistory()}" process="@this,:frmBitacora:tabviewBitacora:dtOrders" onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();" update="diagOrdersHistory"/>-->
                                            <!--<p:commandButton id="btnCancelacionRAD" value="MOTIVO NO RAD1" icon="ui-icon-search" tabindex="01" oncomplete="PF('statusDialog').hide();" actionListener="{radBitacoraController.getDialogMotivesCancelation()}" process="@this,:frmBitacora:tabviewBitacora:dtOrders" onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();" update="diagMotivoCancelacion"/>-->
                                        </p:dataTable>
                                    </div>
                                </div>
                            </div>

                            <div class="ui-grid ui-grid-responsive" style="padding-top: 10px">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <p:dataTable id="dtOrdersDetail" widgetVar="wgetOrdersDetail" var="bokGuiaHeadDTO"                                                      
                                                     rendered="true" reflow="true" lazy="true" scrollable="true" 
                                                     value="#{radBitacoraController.lazyModelBokGuiaHeadDTO}" rows="#{radBitacoraController.numRowPaginator}"
                                                     selection="#{radBitacoraController.selectedListBokGuiaHeadDTO}" 
                                                     rowKey="#{bokGuiaHeadDTO.guiaNo}" paginatorAlwaysVisible="false"
                                                     filteredValue="#{radBitacoraController.filteredListBokGuiaHeadDTO}" 
                                                     scrollHeight="180" paginator="true" paginatorPosition="bottom" 
                                                     emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}" 
                                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                     currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}" 
                                                     rowsPerPageTemplate="#{radBitacoraController.getArrayRowPaginator()}" 
                                                     styleClass=" dt-datos dtResponsive dtpaginator100 seleccionarCPRow">
                                            <p:ajax event="filter" listener="#{radBitacoraController.filterListenerbokGuiaHeadDTO}" update="@this"/>
                                            <!--ASIGNAR GUIA A ORDEN EXISTENTE-->
                                            <p:column exportable="false"  selectionMode="multiple" styleClass="width5px" style="text-align:center" >
                                            </p:column>
                                            <p:column styleClass="width20px" filterBy="#{bokGuiaHeadDTO.orgnBrncId}#{bokGuiaHeadDTO.formNo}" filterMatchMode="contains">
                                                <f:facet name="header"><h:outputText value="NOGUIA1" /></f:facet>
                                                <f:facet name="filter">
                                                    <p:inputText rendered="false" placeholder="NOGUIA1" onkeyup="PF('wgetOrdersDetail').filter()"/>
                                                </f:facet>
                                                <h:outputText value="#{bokGuiaHeadDTO.orgnBrncId}#{bokGuiaHeadDTO.formNo}"/>
                                            </p:column>
                                            <p:column styleClass="width10px" filterBy="#{bokGuiaHeadDTO.isseDate}" filterMatchMode="contains">
                                                <f:facet name="header"><h:outputText value="DIA/MES" /></f:facet>
                                                <f:facet name="filter">
                                                    <p:inputText rendered="false" placeholder="DIA/MES" onkeyup="PF('wgetOrdersDetail').filter()"/>
                                                </f:facet>
                                                <h:outputText value="#{bokGuiaHeadDTO.isseDate}">
                                                    <f:convertDateTime pattern="dd/MM" />
                                                </h:outputText>
                                            </p:column>
                                            <p:column styleClass="width30px" filterBy="#{bokGuiaHeadDTO.guiaNo}" filterMatchMode="contains">
                                                <f:facet name="header"><h:outputText value="RASTREO1" /></f:facet>
                                                <f:facet name="filter">
                                                    <p:inputText rendered="false" placeholder="RASTREO1" onkeyup="PF('wgetOrdersDetail').filter()"/>
                                                </f:facet>
                                                <h:outputText value="#{bokGuiaHeadDTO.guiaNo}"/>
                                            </p:column>
                                            <p:column styleClass="width10px" filterBy="#{bokGuiaHeadDTO.destBrncId}" filterMatchMode="contains">
                                                <f:facet name="header"><h:outputText value="SUC DEST2" /></f:facet>
                                                <f:facet name="filter">
                                                    <p:inputText rendered="false" placeholder="SUC DEST2" onkeyup="PF('wgetOrdersDetail').filter()"/>
                                                </f:facet>
                                                <h:outputText value="#{bokGuiaHeadDTO.destBrncId}"/>
                                            </p:column>
                                            <p:column styleClass="width50" filterBy="#{bokGuiaHeadDTO.destClntName}" filterMatchMode="contains">
                                                <f:facet name="filter">
                                                    <p:inputText style="width: 95%"  placeholder="BUSQUEDA GENERAL1" onkeyup="PF('wgetOrdersDetail').filter()"/>
                                                </f:facet>
                                                <h:outputText value="#{bokGuiaHeadDTO.destClntName}"/>
                                            </p:column>
                                            <p:column styleClass="width10px alginRight" filterBy="#{bokGuiaHeadDTO.numbPack}" filterMatchMode="contains">
                                                <f:facet name="header"><h:outputText value="CANT.PAQ1" /></f:facet>
                                                <f:facet name="filter">
                                                    <p:inputText rendered="false" placeholder="CANT.PAQ1" onkeyup="PF('wgetOrdersDetail').filter()"/>
                                                </f:facet>
                                                <h:outputText value="#{bokGuiaHeadDTO.numbPack}"/>
                                            </p:column>
                                            <p:column styleClass="width15px alginRight" filterBy="#{bokGuiaHeadDTO.totlWght}" filterMatchMode="contains">
                                                <f:facet name="header"><h:outputText value="TOTL PESO1" /></f:facet>
                                                <f:facet name="filter">
                                                    <p:inputText rendered="false" placeholder="TOTL PESO1" onkeyup="PF('wgetOrdersDetail').filter()"/>
                                                </f:facet>
                                                <h:outputText value="#{bokGuiaHeadDTO.totlWght}"/>
                                            </p:column>
                                            <p:column styleClass="width15px alginRight" filterBy="#{bokGuiaHeadDTO.totlVlum}" filterMatchMode="contains">
                                                <f:facet name="header"><h:outputText value="TOTL VLUM" /></f:facet>
                                                <f:facet name="filter">
                                                    <p:inputText rendered="false"  placeholder="TOTL VLUM" onkeyup="PF('wgetOrdersDetail').filter()"/>
                                                </f:facet>
                                                <h:outputText value="#{bokGuiaHeadDTO.totlVlum}"/>
                                            </p:column>
                                            <p:column styleClass="width15px alginRight" filterBy="#{bokGuiaHeadDTO.guiaAmnt}" filterMatchMode="contains">
                                                <f:facet name="header"><h:outputText value="TOTAL1" /></f:facet>
                                                <f:facet name="filter">
                                                    <p:inputText rendered="false" placeholder="TOTAL1" onkeyup="PF('wgetOrdersDetail').filter()"/>
                                                </f:facet>
                                                <h:outputText value="#{bokGuiaHeadDTO.guiaAmnt}"/>
                                            </p:column>
                                            <!--DETALLE DE CARTA PORTE-->
                                            <p:column exportable="false" styleClass="width5px" style="text-align:center" >
                                                <p:commandButton id="btnDetailGuide" value="" styleClass="fa fa-book"/>
                                                <p:tooltip for="btnDetailGuide" value="DETALLE DE LA GUIA" trackMouse="true" />
                                            </p:column>
                                            <!--HISTORICO DE CARTA PORTE-->
                                            <p:column exportable="false" styleClass="width5px" style="text-align:center" >
                                                <p:commandButton id="btnHistoricoDetaild" value="" styleClass="fa fa-history" tabindex="01" oncomplete="PF('statusDialog').hide();" actionListener="#{radBitacoraController.getDialogHistoryByGuide}" process="@this,:frmBitacora:tabviewBitacora:dtOrdersDetail" onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();">
                                                    <f:attribute name="bokGuiaHeadDTO" value="#{bokGuiaHeadDTO}" />
                                                </p:commandButton>
                                                <p:tooltip for="btnHistoricoDetaild" value="HISTORICO DE LA guia" trackMouse="true" />
                                            </p:column>
                                            <!--TRAZABILIDAD DEL BULTO-->
                                            <p:column exportable="false" styleClass="width5px" style="text-align:center" >
                                                <p:commandButton id="btnTrazabilidad" value="" styleClass="fa fa-list-alt"/>
                                                <p:tooltip for="btnTrazabilidad" value="TRAZABILIDAD" trackMouse="true" />
                                            </p:column>
                                            <!--ES PARA INDICAR SI ESTA CONVERTIDA-->
                                            <p:column exportable="false" styleClass="width5px" style="text-align:center" >
                                                <p:selectBooleanCheckbox value="#{bokGuiaHeadDTO.guiaConvertida}"/>
                                            </p:column>

                                        </p:dataTable>
                                    </div>
                                </div>
                            </div>

                        </p:tab>
                        <p:tab title="MONITOREO" id="tabMonitoreo">
                        </p:tab>
                    </p:tabView>
                </p:panel>
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="#{msgs['enginedata.page.confirm-dialog-delete']}" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                    <p:commandButton value="#{msgs['enginedata.page.cancel-dialog-delete']}" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                </p:confirmDialog>
            </h:form>
        </f:view>

        <p:dialog id="diagMoviles" onShow="PF('wgetMoviles').filter();" header="PLANEACION DE RAD1" widgetVar="wgetDiagMoviles" modal="true" width="730">
            <h:form rendered="true" id="frmMovil" onkeypress="return event.keyCode !== 13"  onsubmit="return false;">
                <div class="ui-grid ui-grid-responsive">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <p:panel id="pnelMovil" header="MOVIL1">
                                <p:selectBooleanCheckbox disabled="#{radBitacoraController.disabledMovil}" itemLabel="MOVIL1" value="#{radBitacoraController.checkedMovil}">
                                    <p:ajax process="@this" update=":frmMovil:dtMoviles" listener="#{radBitacoraController.checkedMovilValidation(radBitacoraController.checkedMovil)}" partialSubmit="true" /> 
                                </p:selectBooleanCheckbox>
                                <p:dataTable id="dtMoviles" widgetVar="wgetMoviles" var="trip"  
                                             disabledSelection="#{radBitacoraController.disabledDtMoviles}"
                                             disabledTextSelection="#{radBitacoraController.disabledDtMoviles}"
                                             rendered="true" reflow="true" scrollable="true" selectionMode="single"
                                             value="#{radBitacoraController.listTripCurrent}" rows="#{radBitacoraController.numRowPaginator}"
                                             selection="#{radBitacoraController.selectedTrip}" 
                                             rowKey="#{trip.paramDesc}" paginatorAlwaysVisible="false"
                                             filteredValue="#{radBitacoraController.filteredTrip}" 
                                             scrollHeight="200" paginator="true" paginatorPosition="bottom" 
                                             emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}" 
                                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                             currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}" 
                                             rowsPerPageTemplate="#{radBitacoraController.getArrayRowPaginator()}" 
                                             styleClass=" dt-datos dtResponsive dtpaginator100 seleccionarCPRow">
                                    <f:facet name="header">
                                        <h:outputText value="#{msgs['enginedata.page.general.catalogs.lstUser.lblBusqueda']}" />
                                        <p:inputText id="globalFilter" tabindex="4" disabled="#{radBitacoraController.disabledDtMoviles}" styleClass="busquedaGralRapidaInpuut" onkeyup="PF('wgetMoviles').filter()" size="50" placeholder="#{msgs['enginedata.page.general.catalogs.lstUser.globalFilter']}" autocomplete="off"/>
                                    </f:facet>
                                    <p:column styleClass="width15px" sortBy="#{trip.paramID}" filterBy="#{trip.paramID}" filterMatchMode="contains">
                                        <f:facet name="header"><h:outputText value="MOVIL1" /></f:facet>
                                        <f:facet name="filter">
                                            <p:inputText rendered="false" placeholder="MOVIL1" />
                                        </f:facet>
                                        <h:outputText value="#{trip.paramID}"/>
                                    </p:column>
                                    <p:column styleClass="width40px" sortBy="#{trip.paramDesc}" filterBy="#{trip.paramDesc}" filterMatchMode="contains">
                                        <f:facet name="header"><h:outputText value="VIALE1" /></f:facet>
                                        <f:facet name="filter">
                                            <p:inputText rendered="false" placeholder="MOVIL1" />
                                        </f:facet>
                                        <h:outputText value="#{trip.paramDesc}"/>
                                    </p:column>
                                </p:dataTable>
                            </p:panel>
                        </div>
                        <div class="ui-grid-col-6" style="text-align: left">
                            <p:panel id="pnelHorario" header="HORARIO1">
                                <p:selectBooleanCheckbox id="chkHorario" disabled="#{radBitacoraController.disabledHorario}" value="#{radBitacoraController.checkedHorario}" itemLabel="HORARIO1" >
                                    <p:ajax process="@this" update=":frmMovil:calFechaPlaneada :frmMovil:time1RAD :frmMovil:time2RAD" listener="#{radBitacoraController.checkedHorariosValidation(radBitacoraController.checkedHorario)}" partialSubmit="true" /> 
                                </p:selectBooleanCheckbox>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12" style="text-align: left">
                                        <p:outputLabel for="calFechaPlaneada" value="DIA1"  /><br/>
                                        <p:calendar value="#{radBitacoraController.filters.filterFecha2}" widgetVar="wgetCalFechaPlaneada" mask="true" id="calFechaPlaneada" pattern="dd/MM/yyyy" showOn="both" lang="#{securityEngineData.locale}" locale="#{securityEngineData.locale}" 
                                                    onkeydown="
                                                            if (event.keyCode === 13) {
                                                                focoById('frmMovil:time1RAD');
                                                            }" disabled="#{radBitacoraController.disabledCalFechaPlaneada}"/> 
                                    </div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12" style="text-align: left">
                                        <p:outputLabel value="DE:1" /><br/>
                                        <p:calendar id="time1RAD" onkeydown="
                                                if (event.keyCode === 13) {
                                                    focoById('frmMovil:time2RAD');
                                                }" disabled="#{radBitacoraController.disabledTime1RAD}"
                                                    tabindex="61" pattern="HH:mm" timeOnly="true" styleClass="calendarFH"  placeholder="De1" style="width: 45px;"
                                                    value="#{radBitacoraController.hourFrom}" mask="true" widgetVar="wgetTime1RAD"/>
                                    </div>
                                    <div class="ui-grid-col-12" style="text-align: left">
                                        <p:outputLabel value="HASTA:1" /><br/>
                                        <p:calendar id="time2RAD" tabindex="62" pattern="HH:mm" timeOnly="true" styleClass="calendarFH" placeholder="Hasta1" style="width: 45px;" 
                                                    value="#{radBitacoraController.hourTo}"
                                                    onkeydown="
                                                            if (event.keyCode === 13) {
                                                                focoById('frmMovil:btnSelected');
                                                            }" disabled="#{radBitacoraController.disabledTime2RAD}"                                      
                                                    mask="true" widgetVar="wgetTime2RAD"/>
                                    </div>
                                </div>
                            </p:panel>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12" style="text-align: center">
                            <p:commandButton id="btnSelected" styleClass="ui-confirmdialog-yes GreenButton" value="#{msgs['enginedata.page.general.label.asignar']}" icon="ui-icon-check" update=":frmBitacora:tabviewBitacora:dtCustomer :frmBitacora:tabviewBitacora:dtOrders :frmBitacora:tabviewBitacora:dtOrdersDetail"  onsuccess="PF('wgetDiagMoviles').hide();" process="@this dtMoviles time1RAD time2RAD chkHorario calFechaPlaneada" action="#{radBitacoraController.selectedTruck()}" />
                            <p:commandButton id="btnCerrar" styleClass="ui-confirmdialog-no RedButton" value="#{msgs['enginedata.page.general.btn.label.cerrar']}" icon="ui-icon-close" process="@this" onsuccess="PF('wgetDiagMoviles').hide();"/>
                        </div>
                    </div>
                </div>
            </h:form>
        </p:dialog>

        <p:dialog id="diagMotivoCancelacion" header="REGISTRO DE MOTIVOS DE NO RAD1" widgetVar="wgetMotivoCancelacion" modal="true" width="400">
            <h:form rendered="true" id="frmMotivoCancelacion" onkeypress="return event.keyCode !== 13"  onsubmit="return false;">
                <div class="ui-grid ui-grid-responsive">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <p:panel id="pnelMotivoCancelacion" header="REGISTRO DE MOTIVOS DE NO RAD A ORDENES SELECCIONADAS1">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <p:outputLabel for="cmbEvento" value="EVENTO1" /><br/>
                                        <p:selectOneMenu id="cmbEvento" required="true" style="width: 130px" value="#{radBitacoraController.tipoEvento}">
                                            <f:selectItem itemLabel="ORDEN NO REALIZADA1" itemValue="HNR" />
                                            <f:selectItem itemLabel="CANCELAR ORDEN" itemValue="HCC" />
                                        </p:selectOneMenu>
                                    </div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <p:outputLabel for="cmbMotivoCancelacionRad" value="MOTIVOS DE NO RAD1" /><br/>
                                        <p:selectOneMenu id="cmbMotivoCancelacionRad" required="true" style="width: 130px" value="#{radBitacoraController.selectedMotivosRad}" editable="true" filter="true" filterMatchMode="startsWith" converter="genericConverter" styleClass="full-width input-to-uppercase">
                                            <f:selectItems value="#{radBitacoraController.listMotivosRad}" var="motivo" itemValue="#{motivo.paramID}" itemLabel="#{motivo.paramDesc}"  />
                                        </p:selectOneMenu>
                                    </div>
                                </div>
                            </p:panel>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12" style="text-align: center">
                            <p:commandButton id="btnAceptar" styleClass="ui-confirmdialog-yes GreenButton" value="#{msgs['enginedata.page.general.label.aceptar']}" icon="ui-icon-check" update=":frmBitacora:tabviewBitacora:dtCustomer :frmBitacora:tabviewBitacora:dtOrders :frmBitacora:tabviewBitacora:dtOrdersDetail"  onsuccess="PF('wgetMotivoCancelacion').hide();" process="@this cmbMotivoCancelacionRad cmbEvento" action="#{radBitacoraController.selectedCancelationOrden()}" />
                            <p:commandButton id="btnCerrar" styleClass="ui-confirmdialog-no RedButton" value="#{msgs['enginedata.page.general.btn.label.cerrar']}" icon="ui-icon-close" process="@this" onsuccess="PF('wgetMotivoCancelacion').hide();"/>
                        </div>
                    </div>
                </div>
            </h:form>
        </p:dialog>

        <p:dialog widgetVar="statusDialog" style="border-radius: 50%;text-align: center;" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <img src="../../../../resources/images/i_g_fleet.gif" style="width: 200px;"/>
            <strong style="display: block; text-align: center;">#{msgs['enginedata.page.general.label.cargando']}</strong>
        </p:dialog>

        <p:dialog id="diagOrdersHistory" onShow="PF('wgetOrdersHistory').filter();" header="HISTORIAL DE ORDENES1" widgetVar="wgetDiagOrdersHistory" modal="true" width="800">
            <h:form rendered="true" id="frmOrdersHistory" onkeypress="return event.keyCode !== 13"  onsubmit="return false;">
                <div class="ui-grid ui-grid-responsive">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <p:panel id="pnelMovil" header="HISTORIAL1">
                                <p:dataTable id="dtOrdersHistory" widgetVar="wgetOrdersHistory" var="orders"  
                                             rendered="true" reflow="true" scrollable="true" selectionMode="single"
                                             value="#{radBitacoraController.listRadOrderStusDTO}" rows="#{radBitacoraController.numRowPaginator}"
                                             selection="#{radBitacoraController.selectedRadOrderStusDTO}" 
                                             rowKey="#{orders.rowNumber}" paginatorAlwaysVisible="false"
                                             filteredValue="#{radBitacoraController.filteredRadOrderStusDTO}" 
                                             scrollHeight="200" paginator="true" paginatorPosition="bottom" 
                                             emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}" 
                                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                             currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}" 
                                             rowsPerPageTemplate="#{radBitacoraController.getArrayRowPaginator()}" 
                                             styleClass=" dt-datos dtResponsive">
                                    <f:facet name="header">
                                        <h:outputText value="#{msgs['enginedata.page.general.catalogs.lstUser.lblBusqueda']}" />
                                        <p:inputText id="globalFilter" tabindex="4" onkeyup="PF('wgetOrdersHistory').filter()" size="50" placeholder="#{msgs['enginedata.page.general.catalogs.lstUser.globalFilter']}" autocomplete="off"/>
                                    </f:facet>
                                    <p:column styleClass="width15px" sortBy="#{orders.rsStusCode}" filterBy="#{orders.rsStusCode}" filterMatchMode="contains">
                                        <f:facet name="header"><h:outputText value="STATUS1" /></f:facet>
                                        <f:facet name="filter">
                                            <p:inputText rendered="false" onkeyup="PF('wgetOrdersHistory').filter()"/>
                                        </f:facet>
                                        <h:outputText value="#{orders.rsStusCode}"/>
                                    </p:column>
                                    <p:column styleClass="width40px" sortBy="#{orders.rsStusCodeName}" filterBy="#{orders.rsStusCodeName}" filterMatchMode="contains">
                                        <f:facet name="header"><h:outputText value="DESCRIPCION1" /></f:facet>
                                        <f:facet name="filter">
                                            <p:inputText rendered="false" onkeyup="PF('wgetOrdersHistory').filter()"/>
                                        </f:facet>
                                        <h:outputText value="#{orders.rsStusCodeName}"/>
                                    </p:column>
                                    <p:column styleClass="width20px" sortBy="#{orders.onlyDate}" filterBy="#{orders.onlyDate}" filterMatchMode="contains">
                                        <f:facet name="header"><h:outputText value="FECHA1" /></f:facet>
                                        <f:facet name="filter">
                                            <p:inputText rendered="false" onkeyup="PF('wgetOrdersHistory').filter()"/>
                                        </f:facet>
                                        <h:outputText value="#{orders.onlyDate}"/>
                                    </p:column>
                                    <p:column styleClass="width15px" sortBy="#{orders.onlyTime}" filterBy="#{orders.onlyTime}" filterMatchMode="contains">
                                        <f:facet name="header"><h:outputText value="HORA1" /></f:facet>
                                        <f:facet name="filter">
                                            <p:inputText rendered="false" onkeyup="PF('wgetOrdersHistory').filter()"/>
                                        </f:facet>
                                        <h:outputText value="#{orders.onlyTime}"/>
                                    </p:column>
                                    <p:column styleClass="width15px" sortBy="#{orders.rsBrncLoca}" filterBy="#{orders.rsBrncLoca}" filterMatchMode="contains">
                                        <f:facet name="header"><h:outputText value="SUCURSAL1" /></f:facet>
                                        <f:facet name="filter">
                                            <p:inputText rendered="false" onkeyup="PF('wgetOrdersHistory').filter()"/>
                                        </f:facet>
                                        <h:outputText value="#{orders.rsBrncLoca}"/>
                                    </p:column>
                                    <p:column styleClass="width40px" sortBy="#{orders.crtdBy}" filterBy="#{orders.crtdBy}" filterMatchMode="contains">
                                        <f:facet name="header"><h:outputText value="USUARIO1" /></f:facet>
                                        <f:facet name="filter">
                                            <p:inputText rendered="false" onkeyup="PF('wgetOrdersHistory').filter()"/>
                                        </f:facet>
                                        <h:outputText value="#{orders.crtdBy}"/>
                                    </p:column>
                                    <p:column styleClass="width60px" sortBy="#{orders.crtdByNameComplet}" filterBy="#{orders.crtdByNameComplet}" filterMatchMode="contains">
                                        <f:facet name="header"><h:outputText value="NOMBRE1" /></f:facet>
                                        <f:facet name="filter">
                                            <p:inputText rendered="false" onkeyup="PF('wgetOrdersHistory').filter()"/>
                                        </f:facet>
                                        <h:outputText value="#{orders.crtdByNameComplet}"/>
                                    </p:column>
                                </p:dataTable>
                            </p:panel>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12" style="text-align: center">
                            <p:commandButton id="btnCerrar" styleClass="ui-confirmdialog-no RedButton" value="#{msgs['enginedata.page.general.btn.label.cerrar']}" icon="ui-icon-close" process="@this" onsuccess="PF('wgetDiagOrdersHistory').hide();"/>
                        </div>
                    </div>
                </div>
            </h:form>
        </p:dialog>
    </h:body>
</html>