<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="../../../../resources/css/style.css"/>
        <script type="text/javascript" src="../../../../resources/js/global.js"></script>
        <script type="text/javascript" src="../../../../resources/js/calendar-localization.js"></script>
        <!--Este estilo oculta los filter de cada columna-->
        <style type="text/css">
            .ui-datatable .ui-column-filter{display: none;}
            .ui-cell-editor-input{
                color: #000 !important; 
            }
            .ui-datatable table tbody :not(.ui-row-editing).ui-state-highlight > td :not(.ui-cell-editor-input) {
                color: #000 !important;
            }
            .ui-selectonemenu, .ui-selectcheckboxmenu {
                padding: 0 35px 0 0 !important;
            }
        </style>
        <script type="text/javascript" >
            function ejecutarBoton(rowIndexPadre) {
                    document.getElementById('frmTable:dtCustomerDaily:' + (rowIndexPadre) + ':cmdBtnReqClientIDDirecto').click();
            }
        </script>
        <title>#{msgs['menu.page.menu.menuBar.itemCustomerDaily']}</title>        
    </h:head>

    <h:body onload="#{radCustomerDailyController.onLoad()}" styleClass="bodyContent">
        <f:view locale="#{securityEngineData.locale}" >
            <h:form id="frmTable" rendered="true" onsubmit="return false;" >
                <p:focus id="focus" />
                <div class="ui-grid ui-grid-responsive">
                    <div class="ui-grid-row" >
                        <div class="ui-grid-col-12">
                            <p:panel header="#{msgs['menu.page.menu.menuBar.itemCustomerDaily']}" id="panel1" styleClass="generic100Height" >
                                <p:growl id="message" showDetail="true" autoUpdate="true" sticky="true"/>

                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-6">
                                        <p:outputLabel for="cmbCustomerDailyType" value="#{msgs['enginedata.page.rad.radDailyOrders.tipoCilente']}" styleClass="LabelBuzon" /> 
                                        <p:selectOneMenu id="cmbCustomerDailyType" editable="true" converter="genericConverter" value="#{radCustomerDailyController.selectedCustomerDailyType}" valueChangeListener="#{radCustomerDailyController.getCustomerDailyByClntType}" filterMatchMode="startsWith" styleClass="full-width input-to-uppercase" required="true">
                                            <f:selectItems value="#{radCustomerDailyController.listCustomerDailyType}" var="customerDailyType" itemValue="#{customerDailyType}" itemLabel="#{customerDailyType.paramDesc}"/>
                                            <p:ajax process="cmbCustomerDailyType" update=":frmTable:dtCustomerDaily" partialSubmit="true" event="valueChange" onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();" />
                                            <p:ajax process="cmbCustomerDailyType" update=":frmTable:dtCustomerDaily" partialSubmit="true" event="itemSelect" onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();"  />                
                                        </p:selectOneMenu>  
                                    </div>   
                                </div>
                                <!--Usado apra almacenar una variable tmp-->
                                <div id="capa"></div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <!-- DATATABLE -->
                                        <p:dataTable id="dtCustomerDaily" var="radClntDailyDTO" value="#{radCustomerDailyController.ldm}"  widgetVar="dtCustomerDaily"
                                                     rows="#{radController.numRowPaginator}" editable="true" editMode="cell"
                                                     selection="#{radCustomerDailyController.selectedDTO}" 
                                                     rendered="true" lazy="true" paginatorAlwaysVisible="false"
                                                     selectionMode="single" emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}"
                                                     reflow="true" rowIndexVar="rowIndexPadre"
                                                     rowKey="#{radClntDailyDTO.rowNumber}" paginatorPosition="bottom" 
                                                     paginator="true" binding="#{radCustomerDailyController.dtCustomerDaily}"
                                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                     currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}"
                                                     rowsPerPageTemplate="#{radController.getArrayRowPaginator()}"  styleClass="dtHeightRow40 dt-reflow dt-selectedrow-1 dt-datos">
                                            <p:ajax event="filter" listener="#{radCustomerDailyController.filterListener}" update="@this"/>
                                            <!-- COLUMNS -->
                                            <f:facet name="header" class="headerDt" id="headerDt">
                                                <div class="ui-grid ui-grid-responsive headerDTFilters">
                                                    <div class="ui-grid-row">
                                                        <div class="ui-grid-col-3">
                                                            <p:commandButton update=":frmTable:dtCustomerDaily :frmTable:focus" value="#{msgs['enginedata.page.general.catalogs.lstUser.addRow']}" actionListener="#{radCustomerDailyController.onAddPadre()}" style="float: left;" styleClass="fa fa-plus btnNonPadding"/>
                                                        </div>
                                                        <div class="ui-grid-col-5">
                                                            <h:outputText id="lblBusqueda" value="#{msgs['enginedata.page.general.catalogs.lstUser.lblBusqueda']}" />
                                                            <p:inputText id="globalFilter" disabled="#{radCustomerDailyController.ldm.rowCount==0}" onkeyup="PF('dtCustomerDaily').filter()" style="width:150px" placeholder="#{msgs['enginedata.page.general.catalogs.lstUser.globalFilter']}" >
                                                            </p:inputText>
                                                        </div>
                                                        <div class="ui-grid-col-4">
                                                            <h:commandLink>
                                                                <p:graphicImage name="/images/excel.png" width="24"/>
                                                                <p:dataExporter type="xls" target="dtCustomerDaily" fileName="clientesDiarios" />
                                                            </h:commandLink>

                                                            <h:commandLink>
                                                                <p:graphicImage name="/images/pdf.png" width="24"/>
                                                                <p:dataExporter type="pdf" target="dtCustomerDaily" fileName="clientesDiarios"/>
                                                            </h:commandLink>

                                                            <h:commandLink>
                                                                <p:graphicImage name="/images/csv.png" width="24"/>
                                                                <p:dataExporter type="csv" target="dtCustomerDaily" fileName="clientesDiarios" />
                                                            </h:commandLink>

                                                            <h:commandLink>
                                                                <p:graphicImage name="/images/xml.png" width="24"/>
                                                                <p:dataExporter type="xml" target="dtCustomerDaily" fileName="clientesDiarios" />
                                                            </h:commandLink>
                                                        </div>
                                                    </div>
                                                </div>
                                            </f:facet>
                                            <p:column style="width:10px" exportable="false">
                                                <p:rowToggler rendered="#{radClntDailyDTO.listRadClntDailyDTO !=null}" >
                                                </p:rowToggler>
                                            </p:column>
                                            <p:column styleClass="width60px" headerText="#{msgs['enginedata.page.general.label.cliente']}" sortBy="#{radClntDailyDTO.clntId}" filterBy="#{radClntDailyDTO.clntId}" filterMatchMode="contains">
                                                <p:cellEditor>
                                                    <f:facet name="output">
                                                        <h:outputText value="#{radClntDailyDTO.clntId}" />
                                                    </f:facet>
                                                    <f:facet name="input">
                                                        <div class="ui-grid ui-grid-responsive">
                                                            <div class="ui-grid-row">
                                                                <div class="ui-grid-col-12" >
                                                                    <p:inputText id="txtClienteID" style="width: 70%; color: #000 !important;" value="#{radClntDailyDTO.clntId}"  
                                                                                 onfocus="$('#capa').data('valueTxtClienteID', this.value);"
                                                                                 onblur="if (($('#capa').data('keyCode') != 120) &amp;&amp; ($('#capa').data('valueTxtClienteID') != this.value)){
                                                                                     ejecutarBoton(#{rowIndexPadre});
                                                                                     }
                                                                                     $('#capa').removeData('keyCode');"
                                                                                 onkeyup="if (event.keyCode == 13 || event.keyCode == 119) {
                                                                                     if ($(this).val() == '') {
                                                                                     recorreFocus(2);
                                                                                     } else {
                                                                                     event.target.blur();
                                                                                     event.stopPropagation();
                                                                                     return false;
                                                                                     }
                                                                                     } else if (event.keyCode == 120) {
                                                                                     $('#capa').data('keyCode', event.keyCode);
                                                                                     rcBtnReqClientID();
                                                                                     return false;
                                                                                     } else {
                                                                                     return true;
                                                                                 }"/>
                                                                    <p:commandButton id="cmdBtnReqClientIDDirecto" onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();" style="display: none;" action="#{radCustomerDailyController.findClientByCode()}" process="@this, txtClienteID" update=":frmTable:dtCustomerDaily">
                                                                        <f:setPropertyActionListener value="#{radClntDailyDTO}" target="#{radCustomerDailyController.selectedDTO}" />
                                                                        <p:ajax event="dialogReturn"  listener="#{radCustomerDailyController.onCustomerChosen}" onsuccess="PF('statusDialog').hide()" update=":frmTable:dtCustomerDaily" />
                                                                    </p:commandButton>
                                                                    <p:commandButton icon="ui-icon-search" label="#{msgs['enginedata.page.general.label.cliente']}" actionListener="#{radCustomerDailyController.chooseCustomer()}" process="@this"  onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();" >
                                                                        <f:setPropertyActionListener value="#{radClntDailyDTO}" target="#{radCustomerDailyController.selectedDTO}" />
                                                                        <p:ajax event="dialogReturn" update=":frmTable:dtCustomerDaily" listener="#{radCustomerDailyController.onCustomerChosen}" />
                                                                    </p:commandButton>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </f:facet>
                                                </p:cellEditor>
                                            </p:column>
                                            <p:column styleClass="width40" sortBy="#{radClntDailyDTO.clntName}" filterBy="#{radClntDailyDTO.clntName}" filterMatchMode="contains">
                                                <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.catalogs.lstUser.lazyDataTable.colum.nombreCliente']}" /></f:facet>
                                                <h:outputText value="#{radClntDailyDTO.clntName}" />
                                            </p:column>
                                            <p:column styleClass="width60" sortBy="#{radClntDailyDTO.address}" filterBy="#{radClntDailyDTO.address}" filterMatchMode="contains">
                                                <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.direccion']}" /></f:facet>
                                                <h:outputText value="#{radClntDailyDTO.address}" />
                                            </p:column>
                                            <p:column styleClass="width60px" sortBy="#{radClntDailyDTO.phone}" filterBy="#{radClntDailyDTO.phone}" filterMatchMode="contains">
                                                <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.telefono']}" /></f:facet>
                                                <h:outputText value="#{radClntDailyDTO.phone}" />
                                            </p:column>
                                            <p:column styleClass="width80px" sortBy="#{radClntDailyDTO.mail}" filterBy="#{radClntDailyDTO.mail}" filterMatchMode="contains">
                                                <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.correo']}" /></f:facet>
                                                <h:outputText value="#{radClntDailyDTO.mail}" />
                                            </p:column>
                                            <p:column styleClass="width10px"  >
                                                <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.diaSemana.abrevLunes']}" /></f:facet>
                                                <p:selectBooleanCheckbox id="chkLunes"  disabled="#{radCustomerDailyController.disabledDayWeek}" value="#{radClntDailyDTO.dayLunes}" />
                                            </p:column>
                                            <p:column styleClass="width10px" >
                                                <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.diaSemana.abrevMartes']}" /></f:facet>
                                                <p:selectBooleanCheckbox id="chkMartes" disabled="#{radCustomerDailyController.disabledDayWeek}" value="#{radClntDailyDTO.dayMartes}" />
                                            </p:column>
                                            <p:column styleClass="width10px" >
                                                <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.diaSemana.abrevMiercoles']}" /></f:facet>
                                                <p:selectBooleanCheckbox id="chkMiercoles" disabled="#{radCustomerDailyController.disabledDayWeek}" value="#{radClntDailyDTO.dayMiercoles}" />
                                            </p:column>
                                            <p:column styleClass="width10px" >
                                                <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.diaSemana.abrevJueves']}" /></f:facet>
                                                <p:selectBooleanCheckbox id="chkJueves" disabled="#{radCustomerDailyController.disabledDayWeek}" value="#{radClntDailyDTO.dayJueves}" />
                                            </p:column>
                                            <p:column styleClass="width10px" >
                                                <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.diaSemana.abrevViernes']}" /></f:facet>
                                                <p:selectBooleanCheckbox id="chkViernes" disabled="#{radCustomerDailyController.disabledDayWeek}" value="#{radClntDailyDTO.dayViernes}" />
                                            </p:column>
                                            <p:column styleClass="width10px" >
                                                <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.diaSemana.abrevSabado']}" /></f:facet>
                                                <p:selectBooleanCheckbox id="chkSabado" disabled="#{radCustomerDailyController.disabledDayWeek}" value="#{radClntDailyDTO.daySabado}" />
                                            </p:column>
                                            <p:column styleClass="width10px" >
                                                <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.diaSemana.abrevDomingo']}" /></f:facet>
                                                <p:selectBooleanCheckbox id="chkDomingo" disabled="#{radCustomerDailyController.disabledDayWeek}" value="#{radClntDailyDTO.dayDomingo}" />
                                            </p:column>
                                            <p:column styleClass="width40px" headerText="#{msgs['enginedata.page.general.label.movil']}" sortBy="#{radClntDailyDTO.vhclId}" filterBy="#{radClntDailyDTO.vhclId}">
                                                <p:selectOneMenu editable="true" value="#{radClntDailyDTO.vhclId}" filter="true" filterMatchMode="startsWith" styleClass="full-width input-to-uppercase">
                                                    <f:selectItems value="#{radCustomerDailyController.listVhclRad}" />
                                                    <f:ajax execute="@this" listener="#{radCustomerDailyController.onChosenTruck(radClntDailyDTO)}"/>
                                                </p:selectOneMenu>
                                            </p:column>
                                            <p:column styleClass="width20px">
                                                <f:facet name="header"><h:outputText value="Inicio" /></f:facet>
                                                <p:calendar id="preTimeStart" immediate="true" style="width: 98%;color: #000 !important;" label="Hora inicio" title="timeStart" value="#{radClntDailyDTO.preStartTime}" binding="#{preTimeStart}" styleClass="calendarFH" locale="#{securityEngineData.locale}" lang="#{securityEngineData.locale}" mask="true" pattern="HH:mm" timeOnly="true">
                                                </p:calendar>
                                            </p:column>
                                            <p:column styleClass="width20px" >
                                                <f:facet name="header"><h:outputText value="Final" /></f:facet>
                                                <p:calendar id="preTimeEnd" immediate="true" style="width: 50%;color: #000 !important;" label="Hora Final" title="timeEnd" value="#{radClntDailyDTO.preEndTime}" binding="#{preTimeEnd}" styleClass="calendarFH" locale="#{securityEngineData.locale}" lang="#{securityEngineData.locale}" mask="true" pattern="HH:mm" timeOnly="true">
                                                </p:calendar>
                                            </p:column>
                                            <p:column style="text-align: center" styleClass="width30px" exportable="false">
                                                <p:commandButton update=":frmTable:dtCustomerDaily" styleClass="fa fa-trash RedButton" action="#{radCustomerDailyController.onDelete(rowIndexPadre)}" value="">
                                                    <f:setPropertyActionListener value="#{radClntDailyDTO}" target="#{radCustomerDailyController.selectedDTO}" />
                                                    <p:confirm header="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.msgConfirmacionHeader']}" message="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.msgConfirmacion']}" icon="ui-icon-alert" />
                                                </p:commandButton>
                                                <p:commandButton update=":frmTable:dtCustomerDaily" process=":frmTable:dtCustomerDaily" styleClass="GreenButton fa fa-pencil" action="#{radCustomerDailyController.createDetalle(rowIndexPadre)}" value="">
                                                    <f:setPropertyActionListener value="#{radClntDailyDTO}" target="#{radCustomerDailyController.selectedDTO}" />
                                                </p:commandButton>
                                                <p:confirmDialog global="true" >
                                                    <p:commandButton value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.msgConfirmacion.si']}" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                                    <p:commandButton value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.msgConfirmacion.no']}" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                                </p:confirmDialog>
                                            </p:column>
                                            <p:rowExpansion>  
                                                <p:dataTable rowIndexVar="rowIndex" id="dtCustomerDailyDetalle" emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}" style="width: 500px" styleClass="dt-reflow dt-selectedrow-1 dt-datos"  editable="true" scrollable="true" var="radClntDailyDTODetalle" value="#{radClntDailyDTO.listRadClntDailyDTO}" >  
                                                    <p:ajax event="rowEditInit" listener="#{radCustomerDailyController.onEditInit}" oncomplete="$('.ui-row-editor span.ui-icon-pencil').each(function(){$(this).css('visibility','hidden')});" />
                                                    <p:ajax event="rowEdit" listener="#{radCustomerDailyController.onRowEdit}" update=":frmTable:dtCustomerDaily:dtCustomerDailyDetalle :frmTable:dtCustomerDaily:chkDomingo :frmTable:dtCustomerDaily:chkLunes :frmTable:dtCustomerDaily:chkMartes :frmTable:dtCustomerDaily:chkMiercoles :frmTable:dtCustomerDaily:chkJueves :frmTable:dtCustomerDaily:chkViernes :frmTable:dtCustomerDaily:chkSabado " />   
                                                    <p:ajax event="rowEditCancel" onstart="$('.ui-row-editor span.ui-icon-pencil').each(function(){$(this).css('visibility','visible')});" update=":frmTable:dtCustomerDaily:dtCustomerDailyDetalle" />                   
                                                    <f:facet name="header" class="headerDt" id="headerDt">
                                                        <div class="ui-grid ui-grid-responsive headerDTFilters">
                                                            <div class="ui-grid-row">
                                                                <div class="ui-grid-col-3">
                                                                    <p:commandButton update=":frmTable:dtCustomerDaily:dtCustomerDailyDetalle" value="#{msgs['enginedata.page.general.catalogs.lstUser.addRow']}" actionListener="#{radCustomerDailyController.onAddDetalle(rowIndexPadre,radClntDailyDTO)}" style="float: left;" styleClass="fa fa-plus btnNonPadding"/>                                     
                                                                </div>
                                                                <div class="ui-grid-col-12">
                                                                    <h:outputText value="#{msgs['enginedata.page.general.label.horario']}"></h:outputText>  
                                                                </div> 
                                                            </div>                                                        
                                                        </div>                                                        
                                                    </f:facet> 
                                                    <p:column styleClass="width15px">
                                                        <p:rowEditor  />
                                                    </p:column>
                                                    <p:column headerText="dia" styleClass="width50px">  
                                                        <p:cellEditor >
                                                            <f:facet name="output">
                                                                <h:outputText rendered="#{radClntDailyDTODetalle.rdDay eq '2'}" value="#{msgs['enginedata.page.general.label.diaSemana.lunes']}" />  
                                                                <h:outputText rendered="#{radClntDailyDTODetalle.rdDay eq '3'}" value="#{msgs['enginedata.page.general.label.diaSemana.martes']}" />  
                                                                <h:outputText rendered="#{radClntDailyDTODetalle.rdDay eq '4'}" value="#{msgs['enginedata.page.general.label.diaSemana.miercoles']}" />  
                                                                <h:outputText rendered="#{radClntDailyDTODetalle.rdDay eq '5'}" value="#{msgs['enginedata.page.general.label.diaSemana.jueves']}" />  
                                                                <h:outputText rendered="#{radClntDailyDTODetalle.rdDay eq '6'}" value="#{msgs['enginedata.page.general.label.diaSemana.viernes']}" />  
                                                                <h:outputText rendered="#{radClntDailyDTODetalle.rdDay eq '7'}" value="#{msgs['enginedata.page.general.label.diaSemana.sabado']}" />  
                                                                <h:outputText rendered="#{radClntDailyDTODetalle.rdDay eq '1'}" value="#{msgs['enginedata.page.general.label.diaSemana.domingo']}" /> 
                                                            </f:facet>
                                                            <f:facet name="input">
                                                                <p:selectOneMenu  id="cbxDayWeek" binding="#{cbxDayWeek}" required="true" editable="true" label="dia" converter="genericConverter" value="#{radCustomerDailyController.dayWeek}" immediate="true">
                                                                    <f:selectItems value="#{radCustomerDailyController.listDayWeek}"  var="man" itemLabel="#{man.nameDay}" itemValue="#{man}" />
                                                                    <p:ajax process="cbxDayWeek timeStart timeEnd" event="valueChange"/>
                                                                    <f:attribute name="typeValidation" value="4"  />
                                                                    <f:attribute name="datoValidation" value="#{radClntDailyDTO.listRadClntDailyDTO}" />
                                                                    <f:attribute name="rowIndexDetalle" value="#{rowIndex}" />
                                                                    <f:attribute name="timeStart" value="#{timeStart}" />
                                                                    <f:attribute name="timeEnd" value="#{timeEnd}" />
                                                                    <f:validator validatorId="custom.genericValidator"  />
                                                                </p:selectOneMenu>
                                                            </f:facet>
                                                        </p:cellEditor>
                                                    </p:column>  

                                                    <p:column headerText="Hora Inicio" styleClass="width20px">  
                                                        <p:cellEditor>
                                                            <f:facet name="output">
                                                                <h:outputText  value="#{radClntDailyDTODetalle.startTime}" />      
                                                            </f:facet>
                                                            <f:facet name="input">
                                                                <p:calendar id="timeStart" label="Hora inicio" title="timeStart" required="true" binding="#{timeStart}" styleClass="calendarFH" locale="#{securityEngineData.locale}" lang="#{securityEngineData.locale}" mask="true" value="#{radClntDailyDTODetalle.startTimebyDate}" pattern="HH:mm" timeOnly="true">
                                                                    <f:attribute name="typeValidation" value="3" />
                                                                    <f:attribute name="datoValidation" value="#{radClntDailyDTO.listRadClntDailyDTO}" />
                                                                    <f:attribute name="rowIndexDetalle" value="#{rowIndex}" />
                                                                    <f:attribute name="cbxDayWeek" value="#{cbxDayWeek}" />
                                                                    <f:attribute name="timeEnd" value="#{timeEnd}" />
                                                                    <f:validator validatorId="custom.genericValidator" />
                                                                    <p:ajax immediate="true" update="@this, timeEnd timeStart cbxDayWeek" event="dateSelect"/>
                                                                </p:calendar>
                                                            </f:facet>
                                                        </p:cellEditor>
                                                    </p:column>  
                                                    <p:column headerText="Hora final" styleClass="width20px">  
                                                        <p:cellEditor>
                                                            <f:facet name="output">
                                                                <h:outputText  value="#{radClntDailyDTODetalle.endTime}" />      
                                                            </f:facet>
                                                            <f:facet name="input">
                                                                <p:calendar id="timeEnd" label="Hora final" mode="popup" required="true" title="timeEnd"  binding="#{timeEnd}" styleClass="calendarFH" locale="#{securityEngineData.locale}" lang="#{securityEngineData.locale}" mask="true" value="#{radClntDailyDTODetalle.endTimebyDate}" pattern="HH:mm" timeOnly="true">
                                                                    <f:attribute name="typeValidation" value="3" />
                                                                    <f:attribute name="datoValidation" value="#{radClntDailyDTO.listRadClntDailyDTO}" />
                                                                    <f:attribute name="rowIndexDetalle" value="#{rowIndex}" />
                                                                    <f:attribute name="cbxDayWeek" value="#{cbxDayWeek}" />
                                                                    <f:attribute name="timeStart" value="#{timeStart}" />
                                                                    <f:validator validatorId="custom.genericValidator" />
                                                                    <p:ajax immediate="true" update="@this, timeEnd timeStart cbxDayWeek" event="dateSelect"/>
                                                                </p:calendar>
                                                            </f:facet>
                                                        </p:cellEditor>
                                                    </p:column>  
                                                    <p:column headerText="Comentario" styleClass="width40">    
                                                        <p:cellEditor >
                                                            <f:facet name="output">
                                                                <h:outputText value="#{radClntDailyDTODetalle.comments}" />  
                                                            </f:facet>
                                                            <f:facet name="input" >
                                                                <p:inputText style="width: 95%" value="#{radClntDailyDTODetalle.comments}" />  
                                                            </f:facet>
                                                        </p:cellEditor>
                                                    </p:column>  
                                                    <p:column styleClass="width15px">
                                                        <p:commandButton update=":frmTable:dtCustomerDaily:dtCustomerDailyDetalle  :frmTable:dtCustomerDaily:chkDomingo :frmTable:dtCustomerDaily:chkLunes :frmTable:dtCustomerDaily:chkMartes :frmTable:dtCustomerDaily:chkMiercoles :frmTable:dtCustomerDaily:chkJueves :frmTable:dtCustomerDaily:chkViernes :frmTable:dtCustomerDaily:chkSabado " action="#{radCustomerDailyController.onDeleteDetalle(rowIndexPadre,rowIndex)}" styleClass="fa fa-trash RedButton" value="">
                                                            <f:setPropertyActionListener value="#{radClntDailyDTODetalle}" target="#{radCustomerDailyController.selectedDTO}" />
                                                            <p:confirm header="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.msgConfirmacionHeader']}" message="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.msgConfirmacion']}" icon="ui-icon-alert" />
                                                        </p:commandButton>
                                                        <p:confirmDialog global="true" >
                                                            <p:commandButton value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.msgConfirmacion.si']}" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                                            <p:commandButton value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.msgConfirmacion.no']}" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                                        </p:confirmDialog>
                                                    </p:column>
                                                </p:dataTable>  

                                            </p:rowExpansion>  
                                        </p:dataTable>
                                    </div>
                                </div>
                            </p:panel>
                        </div>
                    </div>
                </div>
            </h:form>
            <p:dialog widgetVar="statusDialog" style="border-radius: 50%; text-align: center;" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
                <img src="../../../../resources/images/i_g_fleet.gif" style="width: 200px;"/>
                <strong style="display: block; text-align: center;">#{msgs['enginedata.page.general.label.cargando']}</strong>
            </p:dialog>
        </f:view> 
    </h:body>
</html>