<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="../../../../resources/css/styleGeneric.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../resources/css/style.css"/>       
        <script type="text/javascript" src="../../../../resources/js/global.js"></script>
        <style>
/*            .ui-selectonemenu, .ui-selectcheckboxmenu {
                padding: 0 35px 0 0 !important;
            }*/
            .ui-chkbox .ui-chkbox-label{
                color: #FFFFFF !important;
            }
        </style>
        <title>#{msgs['enginedata.page.rad.radGenerateDailyOrders.title']}</title>
    </h:head>

    <h:body styleClass="bodyContent" onload="#{radGenerateDailyOrdersController.onLoad()}">
        <f:view locale="#{securityEngineData.locale}">
            <h:form rendered="true" id="frmTable">
                <p:focus id="focus" />
                <p:growl severity="error" showDetail="true" showSummary="false" autoUpdate="true" sticky="true"/>
                <p:growl id="message" showDetail="true" showSummary="false" autoUpdate="true" sticky="true" globalOnly="true"/>
                <p:growl id="message2" showDetail="true" showSummary="false"  sticky="true"/>
                <p:panel header="#{msgs['enginedata.page.rad.radGenerateDailyOrders.title']}" id="panel1" styleClass="generic100Height" >
                    <div class="ui-grid ui-grid-responsive">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2" >
                                <p:outputLabel id="lblFecha" for="fecha" value="Fecha" /> <br/>
                                <p:calendar label="lblFecha"  id="fecha" value="#{radGenerateDailyOrdersController.fechaActual}" mask="true" pattern="dd/MM/yyyy" mode="popup" showOn="button"  required="true" lang="#{securityEngineData.locale}" locale="#{securityEngineData.locale}">
                                    <p:ajax process="@this" update="@this,:frmTable:dtGenerateCustomerDaily" event="dateSelect" listener="#{radGenerateDailyOrdersController.calenderChangeListener}"  onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();" />
                                </p:calendar>
                            </div>

                            <div class="ui-grid-col-3">
                                <p:outputLabel id="lblCustomerDailyTypeGenerate" for="cmbCustomerDailyTypeGenerate" value="#{msgs['enginedata.page.rad.radDailyOrders.tipoCilente']}" /> <br/>
                                <p:selectOneMenu id="cmbCustomerDailyTypeGenerate" editable="true" converter="genericConverter" value="#{radGenerateDailyOrdersController.selectedCustomerDailyType}" valueChangeListener="#{radGenerateDailyOrdersController.getCustomerDailyByClntType}" filterMatchMode="startsWith" styleClass="input-to-uppercase" required="true">
                                    <f:selectItems value="#{radGenerateDailyOrdersController.listCustomerDailyType}" var="customerDailyType" itemValue="#{customerDailyType}" itemLabel="#{customerDailyType.paramDesc}"/>
                                    <p:ajax process="@this" update=":frmTable:dtGenerateCustomerDaily" partialSubmit="true" event="valueChange"  onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();"  />
                                    <p:ajax process="@this" update=":frmTable:dtGenerateCustomerDaily" partialSubmit="true" event="itemSelect"  onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();"  />                
                                </p:selectOneMenu> 
                            </div>
                        </div> 
                    </div>
<!--                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12 ">
                                  </div>
                    </div>-->
                            <p:dataTable id="dtGenerateCustomerDaily" var="radClntDailyDTO" value="#{radGenerateDailyOrdersController.ldm}"  widgetVar="widgetVarGenerateCustomerDaily"
                                         rows="#{radController.numRowPaginator}" rendered="true" lazy="true" emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}"
                                         selectionMode="single" reflow="true" selection="#{radGenerateDailyOrdersController.selectedDTO}"
                                         scrollable="true"  stickyHeader="true"
                                         rowKey="#{radClntDailyDTO.rowNumber}" paginatorPosition="bottom" paginator="true" 
                                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}" rowIndexVar="rowIndex"
                                         rowsPerPageTemplate="#{radController.getArrayRowPaginator()}" styleClass="dtHeightRow40 dt-reflow dt-selectedrow-1 dt-datos dtClintDaily">                                         
                                <p:ajax event="filter" listener="#{radGenerateDailyOrdersController.filterListener}" update="@this"/>
                                <f:facet name="header">
                                    <div class="ui-grid ui-grid-responsive">
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-6">
                                                <div>
                                                    <p:selectBooleanCheckbox id="chkGeneraTODOS" value="#{radGenerateDailyOrdersController.allCustomerDaily}" itemLabel="#{msgs['enginedata.page.general.label.todos']}" valueChangeListener="#{radGenerateDailyOrdersController.activeAllCustomerDaily}">
                                                        <p:ajax process="@this" update=":frmTable:dtGenerateCustomerDaily" partialSubmit="true" event="valueChange"  />
                                                    </p:selectBooleanCheckbox>
                                                    <p:selectBooleanCheckbox id="chkGeneraPlaneada" value="#{radGenerateDailyOrdersController.generaPlaneada}" itemLabel="#{msgs['enginedata.page.rad.radGenerateDailyOrders.chkGeneraPlaneada']}"/>
                                                    <p:commandButton id="btnAsignarMovil"  value="#{msgs['enginedata.page.general.label.asignar']}" styleClass="fa fa-truck btnNonPadding"  style="margin-right: 5px !important;margin-bottom: 5px !important;" tabindex="01" actionListener="#{radGenerateDailyOrdersController.getDialogTripCurrentRAD()}"  process="@this, dtGenerateCustomerDaily"  update="diagMoviles" onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"/>
                                                    <p:commandButton id="btnGenerarOrdenesDiarias" styleClass="btnNonPadding" process="@this,frmTable:fecha frmTable:cmbCustomerDailyTypeGenerate :frmTable:dtGenerateCustomerDaily :frmTable:dtGenerateCustomerDaily:chkGeneraPlaneada" update=":frmTable:dtGenerateCustomerDaily :frmTable:focus" value="#{msgs['enginedata.page.rad.radGenerateDailyOrders.btnGenerarOrdenesRAD']}" actionListener="#{radGenerateDailyOrdersController.generarOrdenesDiarias()}"  onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();" />
                                                </div>
                                            </div>
                                            <div class="ui-grid-col-5">
                                                <h:outputText id="lblBusqueda" value="#{msgs['enginedata.page.general.catalogs.lstUser.lblBusqueda']}" />
                                                <p:inputText id="globalFilter" onkeyup="PF('widgetVarGenerateCustomerDaily').filter()" style="width:150px" placeholder="#{msgs['enginedata.page.general.catalogs.lstUser.globalFilter']}" >
                                                </p:inputText>
                                            </div>
                                            <div class="ui-grid-col-4">
                                                <h:commandLink>
                                                    <p:graphicImage name="/images/excel.png" width="24"/>
                                                    <p:dataExporter type="xls" target="dtGenerateCustomerDaily" fileName="ordenesDiarias" />
                                                </h:commandLink>

                                                <h:commandLink>
                                                    <p:graphicImage name="/images/pdf.png" width="24"/>
                                                    <p:dataExporter type="pdf" target="dtGenerateCustomerDaily" fileName="ordenesDiarias"/>
                                                </h:commandLink>

                                                <h:commandLink>
                                                    <p:graphicImage name="/images/csv.png" width="24"/>
                                                    <p:dataExporter type="csv" target="dtGenerateCustomerDaily" fileName="ordenesDiarias" />
                                                </h:commandLink>

                                                <h:commandLink>
                                                    <p:graphicImage name="/images/xml.png" width="24"/>
                                                    <p:dataExporter type="xml" target="dtGenerateCustomerDaily" fileName="ordenesDiarias" />
                                                </h:commandLink>
                                            </div>
                                        </div>
                                    </div>
                                </f:facet>    
                                <p:column styleClass="width20px">
                                    <p:selectBooleanCheckbox id="chkGenera" value="#{radClntDailyDTO.generarOrden}" valueChangeListener="#{radGenerateDailyOrdersController.activeCustomerDaily}">
                                        <p:ajax process="@this" partialSubmit="true" event="valueChange"  />
                                        <f:attribute name="radClntDailyDTO" value="#{radClntDailyDTO}" />
                                    </p:selectBooleanCheckbox>
                                </p:column>
                                <p:column headerText="#{msgs['enginedata.page.rad.radGenerateDailyOrders.columna.cantidadGuiaGenerar']}" styleClass="width70px alginRight">
                                    <p:inputText id="txtCountGenerateGuia" value="#{radClntDailyDTO.countGenerateGuia}" style="width: 93%" styleClass="alginRight"  onkeypress="return onlyNumbers(event);" maxlength="4" />
                                    <p:tooltip for="txtCountGenerateGuia" trackMouse="true"  value="#{msgs['enginedata.page.rad.radGenerateDailyOrders.tooltipCountGenerateGuia']}" />
                                </p:column>
                                <p:column headerText="#{msgs['enginedata.page.general.label.cliente']}" styleClass="width80px" sortBy="#{radClntDailyDTO.clntId}" filterBy="#{radClntDailyDTO.clntId}">
                                    <h:outputText value="#{radClntDailyDTO.clntId}" />
                                </p:column> 
                                <p:column headerText="#{msgs['enginedata.page.general.catalogs.lstUser.lazyDataTable.colum.nombreCliente']}" styleClass="width300" sortBy="#{radClntDailyDTO.clntName}" filterBy="#{radClntDailyDTO.clntName}">
                                    <h:outputText value="#{radClntDailyDTO.clntName}" />                         
                                </p:column>                    
                                <p:column headerText="#{msgs['enginedata.page.rad.radGenerateDailyOrders.columna.inicio']}" styleClass="width70px alginCenter" sortBy="#{radClntDailyDTO.startTime}" filterBy="#{radClntDailyDTO.startTime}">
                                    <h:outputText value="#{radClntDailyDTO.startTime}" />
                                </p:column>
                                <p:column headerText="#{msgs['enginedata.page.rad.radGenerateDailyOrders.columna.final']}" styleClass="width70px alginCenter" sortBy="#{radClntDailyDTO.endTime}" filterBy="#{radClntDailyDTO.endTime}">
                                    <h:outputText value="#{radClntDailyDTO.endTime}" /> 
                                </p:column>
                                <p:column headerText="#{msgs['enginedata.page.general.label.calle']}" styleClass="width100" sortBy="#{radClntDailyDTO.address}" filterBy="#{radClntDailyDTO.address}">
                                    <h:outputText value="#{radClntDailyDTO.address}" /> 
                                </p:column>
                                <p:column headerText="#{msgs['enginedata.page.general.label.colonia']}" styleClass="width40" sortBy="#{radClntDailyDTO.colony}" filterBy="#{radClntDailyDTO.colony}">
                                    <h:outputText value="#{radClntDailyDTO.colony}" /> 
                                </p:column>                        
                                <p:column headerText="#{msgs['enginedata.page.general.label.ciudadPoblacion']}" styleClass="width60" sortBy="#{radClntDailyDTO.city}" filterBy="#{radClntDailyDTO.city}">
                                    <h:outputText value="#{radClntDailyDTO.city}"/> 
                                </p:column>
                                <p:column headerText="#{msgs['enginedata.page.general.label.cp']}" styleClass="width60px" sortBy="#{radClntDailyDTO.zipCode}" filterBy="#{radClntDailyDTO.zipCode}">
                                    <h:outputText value="#{radClntDailyDTO.zipCode}"/>
                                </p:column>
                                <p:column styleClass="width80px" headerText="#{msgs['enginedata.page.general.label.movil']}" sortBy="#{radClntDailyDTO.vhclId}" filterBy="#{radClntDailyDTO.vhclId}">
                                    <h:outputText value="#{radClntDailyDTO.vhclId}"/> 
                                </p:column>
                                <p:column headerText="#{msgs['enginedata.page.general.label.viaje']}" styleClass="alginCenter width80px" sortBy="#{radClntDailyDTO.tripNo}" filterBy="#{radClntDailyDTO.tripNo}">
                                    <h:outputText id="txtTrip" value="#{radClntDailyDTO.tripNo}" /> 
                                </p:column>
                                <p:column headerText="OC" styleClass="width50px alginCenter " sortBy="#{radClntDailyDTO.orderCreated}" filterBy="#{radClntDailyDTO.orderCreated}">
                                    <h:outputText id="colOrderCreated" styleClass="#{radClntDailyDTO.orderCreated? 'fa fa-check-square-o' : ''}" style="color: green"/> 
                                    <p:tooltip for="colOrderCreated" trackMouse="true"  value="#{msgs['enginedata.page.rad.radGenerateDailyOrders.tooltipClienteConOrdenCreada']}" />
                                </p:column>
                                <p:column styleClass="width60px" headerText="Tel" sortBy="#{radClntDailyDTO.phone}" filterBy="#{radClntDailyDTO.phone}" filterMatchMode="contains">
                                    <h:outputText value="#{radClntDailyDTO.phone}" />
                                </p:column>
                                <p:column styleClass="width30" headerText="#{msgs['enginedata.page.general.label.correo']}" sortBy="#{radClntDailyDTO.mail}" filterBy="#{radClntDailyDTO.mail}" filterMatchMode="contains">
                                    <h:outputText value="#{radClntDailyDTO.mail}" />
                                </p:column>
                                <p:column styleClass="width50px" headerText="#{msgs['enginedata.page.general.label.Rout']}" sortBy="#{radClntDailyDTO.ruta}" filterBy="#{radClntDailyDTO.ruta}" filterMatchMode="contains">
                                    <h:outputText value="#{radClntDailyDTO.ruta}" />
                                </p:column>
                            </p:dataTable>
                      
                </p:panel>
            </h:form>
            <p:dialog widgetVar="statusDialog" style="border-radius: 50%; text-align: center;" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
                <img src="../../../../resources/images/i_g_fleet.gif" style="width: 200px;"/>
                <strong style="display: block; text-align: center;">#{msgs['enginedata.page.general.label.cargando']}</strong>
            </p:dialog>
            <p:dialog id="diagMoviles" onShow="PF('wgetMoviles').filter();" header="#{msgs['enginedata.page.rad.radMonitoreo.AsignaMovil.Title']}" appendTo="@(#zoneDialogs)" widgetVar="wgetDiagMoviles" modal="true" width="500">
                <h:form rendered="true" id="frmMovil" onkeypress="return event.keyCode !== 13"  onsubmit="return false;">
                    <p:focus id="focusMoviles" context="frmMovil" />
                    <div class="ui-grid ui-grid-responsive">
                        <div class="ui-grid-row">
                            <div id="table_div" class="ui-grid-col-12">
                                <p:dataTable id="dtMoviles" widgetVar="wgetMoviles" var="trip"  
                                             disabledSelection="#{radGenerateDailyOrdersController.disabledDtMoviles}"
                                             disabledTextSelection="#{radGenerateDailyOrdersController.disabledDtMoviles}"
                                             rendered="true" reflow="true" scrollable="true" selectionMode="single"
                                             value="#{radGenerateDailyOrdersController.listTripCurrent}" rows="#{radGenerateDailyOrdersController.numRowPaginator}"
                                             selection="#{radGenerateDailyOrdersController.selectedTrip}" 
                                             rowKey="#{trip.paramDesc}" paginatorAlwaysVisible="false"
                                             filteredValue="#{radGenerateDailyOrdersController.filteredTrip}" 
                                             scrollHeight="200" paginator="true" paginatorPosition="bottom" 
                                             emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}" 
                                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                             currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}" 
                                             rowsPerPageTemplate="#{radGenerateDailyOrdersController.getArrayRowPaginator()}" 
                                             styleClass=" dt-datos dtResponsive dtpaginator100 seleccionarCPRow">
                                    <f:facet name="header">
                                        <h:outputText value="#{msgs['enginedata.page.general.catalogs.lstUser.lblBusqueda']}" />
                                        <p:inputText id="globalFilter" tabindex="4" disabled="#{radGenerateDailyOrdersController.disabledDtMoviles}" styleClass="busquedaGralRapidaInpuut" onkeyup="PF('wgetMoviles').filter()" size="50" placeholder="#{msgs['enginedata.page.general.catalogs.lstUser.globalFilter']}" autocomplete="off"/>
                                    </f:facet>
                                    <p:column styleClass="width15px" sortBy="#{trip.paramID}" filterBy="#{trip.paramID}" filterMatchMode="contains">
                                        <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.rad.radMonitoreo.AsignaMovil.ColMovil']}" /></f:facet>
                                        <f:facet name="filter">
                                            <p:inputText rendered="false" placeholder="#{msgs['enginedata.page.rad.radMonitoreo.AsignaMovil.ColMovil']}" />
                                        </f:facet>
                                        <h:outputText value="#{trip.paramID}"/>
                                    </p:column>
                                    <p:column styleClass="width40px" sortBy="#{trip.paramDesc}" filterBy="#{trip.paramDesc}" filterMatchMode="contains">
                                        <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.general.label.viaje']}" /></f:facet>
                                        <f:facet name="filter">
                                            <p:inputText rendered="false" placeholder="#{msgs['enginedata.page.general.label.viaje']}" />
                                        </f:facet>
                                        <h:outputText value="#{trip.paramDesc}"/>
                                    </p:column>
                                </p:dataTable>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-12" style="text-align: center">
                                <p:commandButton id="btnSelected" styleClass="ui-confirmdialog-yes GreenButton" value="#{msgs['enginedata.page.general.label.asignar']}" icon="ui-icon-check" onsuccess="PF('wgetDiagMoviles').hide();" process="@this dtMoviles" action="#{radGenerateDailyOrdersController.selectedTruck()}" update=":frmTable:dtGenerateCustomerDaily" />
                                <p:commandButton id="btnCerrar" styleClass="ui-confirmdialog-no RedButton" value="#{msgs['enginedata.page.general.btn.label.cerrar']}" icon="ui-icon-close" process="@this" onsuccess="PF('wgetDiagMoviles').hide();"/>
                            </div>
                        </div>
                    </div>
                </h:form>
            </p:dialog>
        <p:dialog onShow="setTimeout(function () {
                            focoById('btnDlgGuiasCreated');
                           }, 300); "
                           header="#{msgs['enginedata.page.general.label.rastreosGenerados']}" widgetVar="dlgGuiasCreated" id="dlgGuiasCreated" modal="true">
            <div style="">
                <h:outputText escape="false" value="#{radGenerateDailyOrdersController.mensaje}"/>
            </div>
            <div style="text-align: right; margin-top: 35px; margin-bottom: 16px; ">
                <p:commandButton id="btnDlgGuiasCreated" value="#{msgs['enginedata.page.general.label.aceptar']}" onclick="PF('dlgGuiasCreated').hide();" type="button" styleClass="fa fa-check-square-o"/> 
            </div>
        </p:dialog>
        </f:view>
    </h:body>
</html>