<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="../../../../resources/css/styleGeneric.css?v=#{securityEngineData.versionApp}"/>
        <link rel="stylesheet" type="text/css" href="../../../../resources/css/style.css?v=#{securityEngineData.versionApp}"/>

        <script type="text/javascript" src="../../../../resources/js/jquery/1.12.0.js"></script>
        <script type="text/javascript" src="../../../../resources/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
        <!-- Dependencies of some widgets -->
        <script type="text/javascript" src="../../../../resources/primeui-4.1.15/plugins/plugins-all.js"></script>
        <!-- Mustache for templating support -->
        <script type="text/javascript" src="../../../../resources/primeui-4.1.15/plugins/mustache.min.js"></script>
        <!-- X-TAG for PrimeElements -->
        <script type="text/javascript" src="../../../../resources/primeui-4.1.15/plugins/x-tag-core.min.js"></script>
        <!-- PrimeUI -->
        <link rel="stylesheet" href="../../../../resources/primeui-4.1.15/primeui.css" />
        <script type="text/javascript" src="../../../../resources/primeui-4.1.15/primeui.js"></script>
        <script type="text/javascript" src="../../../../resources/primeui-4.1.15/primeelements.js"></script>

        <script type="text/javascript">
            $(function () {
//                var localData = [
//                    {'brand': 'Volkswagen', 'year': 2012, 'color': 'White', 'vin': 'dsad231ff'},
//                    {'brand': 'Audi', 'year': 2011, 'color': 'Black', 'vin': 'gwregre345'},
//                    {'brand': 'Renault', 'year': 2005, 'color': 'Gray', 'vin': 'h354htr'},
//                    {'brand': 'BMW', 'year': 2003, 'color': 'Blue', 'vin': 'j6w54qgh'},
//                    {'brand': 'Mercedes', 'year': 1995, 'color': 'White', 'vin': 'hrtwy34'},
//                    {'brand': 'Volvo', 'year': 2005, 'color': 'Black', 'vin': 'jejtyj'},
//                    {'brand': 'Honda', 'year': 2012, 'color': 'Yellow', 'vin': 'g43gr'},
//                    {'brand': 'Jaguar', 'year': 2013, 'color': 'White', 'vin': 'greg34'},
//                    {'brand': 'Ford', 'year': 2000, 'color': 'Black', 'vin': 'h54hw5'},
//                    {'brand': 'Fiat', 'year': 2013, 'color': 'Red', 'vin': '245t2s'}
//                ];
//
//                $('#tbllocal').puidatatable({
//                    caption: 'Local Datasource',
//                    columns: [
//                        {field: 'vin', headerText: 'Vin'},
//                        {field: 'brand', headerText: 'Brand'},
//                        {field: 'year', headerText: 'Year'},
//                        {field: 'color', headerText: 'Color'}
//                    ],
//                    datasource: localData
//                });

//                $('#tblremoteeager').puidatatable({
//                    caption: 'Remote Restful Webservice - Eager',
//                    paginator: {
//                        rows: 10
//                    },
//                    columns: [
//                        {field: 'guiaNo', headerText: 'guiaNo'}
//                    ],
//                    datasource: function (callback) {
//                        $.ajax({
//                            type: "GET",
//                            url: 'http://localhost:7001/RadRestFul/api/rad/getRad',
//                            dataType: "json",
//                            context: this,
//                            success: function (response) {
//                                console.log(response);
//                                callback.call(this, response);
//                            }
//                        });
//                    }
//                });

//                $('#tblremoteeager').puidatatable({
//                    caption: 'Client Side Pagination with Remote Data',
//                    columns: [
//                        {field: 'guiaNo', headerText: 'Rastreo', filter: true},
//                        {field: 'guia', headerText: 'Guia', filter: true},
//                        {field: 'radRefrNo', headerText: 'Orden', filter: true},
//                        {field: 'mdTruckNo', headerText: 'Móvil', filter: true},
//                        {field: 'tripNo', headerText: 'Viaje', filter: true},
//                        {field: 'actvFlag', headerText: 'Estatus', filter: true},
//                        {field: 'destBrncId', headerText: 'Suc. dest.', filter: true},
//                        {field: 'pymtMode', headerText: 'Forma Pago', filter: true},
//                        {field: 'pymtType', headerText: 'Tipo Pago', filter: true},
//                        {field: 'guiaAmnt', headerText: 'Importe', filter: true},
////                        {field: 'nombreSolicitante', headerText: 'Solicitante', filter: true},
////                        {field: 'direccionSolicitante', headerText: 'Direccion sol', filter: true},
//                        {field: 'nombreDestinatario', headerText: 'Destinatario', filter: true},
//                        {field: 'direccionDestino', headerText: 'Direccion des.', filter: true},
//                        {field: 'planCollDate', headerText: 'Fecha.', filter: true},
//                        {field: 'typeOrder', headerText: 'Tipo.', filter: true},
//                        {field: 'crtdOn', headerText: 'Fecha crea.', filter: true},
//                        {field: 'crtdBy', headerText: 'Usuario crea.', filter: true}
//                    ],
//                    globalFilter: '#globalFilter',
//                    datasource: function (callback) {
//                        $.ajax({
//                            type: "GET",
//                            url: 'http://localhost:7001/RadRestFul/api/rad/getRad',
//                            dataType: "json",
//                            context: this,
//                            success: function (response) {
//                                callback.call(this, response);
//                            }
//                        });
//                    },
//                    paginator: {
//                        rows: 2000
//                    },
//                });
                // Busquedas
//                $('#tblfilter').puidatatable({
//                    caption: 'Filtering',
//                    columns: [
//                        {field: 'guiaNo', headerText: 'Rastreo', filter: true},
//                        {field: 'guia', headerText: 'Guia', filter: true},
//                        {field: 'radRefrNo', headerText: 'Orden', filter: true},
//                        {field: 'mdTruckNo', headerText: 'Móvil', filter: true},
//                        {field: 'tripNo', headerText: 'Viaje', filter: true},
//                        {field: 'actvFlag', headerText: 'Estatus', filter: true},
//                        {field: 'destBrncId', headerText: 'Suc. dest.', filter: true},
//                        {field: 'pymtMode', headerText: 'Forma Pago', filter: true},
//                        {field: 'pymtType', headerText: 'Tipo Pago', filter: true}
//                    ],
//                    globalFilter: '#globalFilter',
//                    datasource: function (callback) {
//                        $.ajax({
//                            type: "GET",
//                            url: 'http://localhost:7001/RadRestFul/api/rad/getRad',
//                            dataType: "json",
//                            context: this,
//                            success: function (response) {
//                                callback.call(this, response);
//                            }
//                        });
//                    },
//                    paginator: {
//                        rows: 10
//                    }
//                });

                var DataDemo = {
                    cars: function (callback) {
                        $.ajax({
                            type: "GET",
                            url: 'http://localhost:7001/RadRestFul/api/rad/getRad',
                            dataType: "json",
                            context: this,
                            success: function (response) {
                                callback.call(this, response);
                            }
                        });
                    }

                }

                //$('#dlg').puidialog();
                $('#default').puibutton({
                    click: function (event) {
//                        $('#dlg').puidialog('show');
//                        $('#tblfilter').puidatatable({
//                            caption: 'Filtering',
//                            columns: [
//                                {field: 'guiaNo', headerText: 'Rastreo', filter: true},
//                                {field: 'guia', headerText: 'Guia', filter: true},
//                                {field: 'radRefrNo', headerText: 'Orden', filter: true},
//                                {field: 'mdTruckNo', headerText: 'Móvil', filter: true},
//                                {field: 'tripNo', headerText: 'Viaje', filter: true},
//                                {field: 'actvFlag', headerText: 'Estatus', filter: true},
//                                {field: 'destBrncId', headerText: 'Suc. dest.', filter: true},
//                                {field: 'pymtMode', headerText: 'Forma Pago', filter: true},
//                                {field: 'pymtType', headerText: 'Tipo Pago', filter: true}
//                            ],
//                            globalFilter: '#globalFilter',
//                            datasource: function (callback) {
//                                $.ajax({
//                                    type: "GET",
//                                    url: 'http://localhost:7001/RadRestFul/api/rad/getRad',
//                                    dataType: "json",
//                                    context: this,
//                                    success: function (response) {
//                                        callback.call(this, response);
//                                    }
//                                });
////                                $('#dlg').puidialog('hide');
//                            },
//                            paginator: {
//                                rows: 17
//                            }
//                        });
                        $('#tblremoteeager').puidatatable({
                            lazy: true,
                            caption: 'Client Side Pagination with Remote Data',
                            columns: [
                                {field: 'guiaNo', headerText: 'Rastreo', filter: true},
                                {field: 'guia', headerText: 'Guia', filter: true},
                                {field: 'radRefrNo', headerText: 'Orden', filter: true},
                                {field: 'mdTruckNo', headerText: 'Móvil', filter: true},
                                {field: 'tripNo', headerText: 'Viaje', filter: true},
                                {field: 'actvFlag', headerText: 'Estatus', filter: true},
                                {field: 'destBrncId', headerText: 'Suc. dest.', filter: true},
                                {field: 'pymtMode', headerText: 'Forma Pago', filter: true},
                                {field: 'pymtType', headerText: 'Tipo Pago', filter: true},
                                {field: 'guiaAmnt', headerText: 'Importe', filter: true},
//                        {field: 'nombreSolicitante', headerText: 'Solicitante', filter: true},
//                        {field: 'direccionSolicitante', headerText: 'Direccion sol', filter: true},
                                {field: 'nombreDestinatario', headerText: 'Destinatario', filter: true},
                                {field: 'direccionDestino', headerText: 'Direccion des.', filter: true},
                                {field: 'planCollDate', headerText: 'Fecha.', filter: true},
                                {field: 'typeOrder', headerText: 'Tipo.', filter: true},
                                {field: 'crtdOn', headerText: 'Fecha crea.', filter: true},
                                {field: 'crtdBy', headerText: 'Usuario crea.', filter: true}
                            ],
                            globalFilter: '#globalFilter',
                            datasource: function (callback) {
                                $.ajax({
                                    type: "GET",
                                    url: 'http://localhost:7001/RadRestFul/api/rad/getRad',
                                    dataType: "json",
                                    context: this,
                                    success: function (response) {
                                        callback.call(this, response);
                                    }
                                });
                            },
                            paginator: {
                                rows: 2000
                            },
                        });
                    }
                });
                //***************************************************************************
                //***************************************************************************
//                $('#tbl').puidatatable({
//                    lazy: true,
//                    paginator: {
//                        rows: 17,
//                        totalRecords: 200
//                    },
//                    columns: [
//                        {field: 'guiaNo', headerText: 'Rastreo', filter: true},
//                        {field: 'guia', headerText: 'Guia', filter: true},
//                        {field: 'radRefrNo', headerText: 'Orden', filter: true},
//                        {field: 'mdTruckNo', headerText: 'Móvil', filter: true},
//                        {field: 'tripNo', headerText: 'Viaje', filter: true},
//                        {field: 'actvFlag', headerText: 'Estatus', filter: true},
//                        {field: 'destBrncId', headerText: 'Suc. dest.', filter: true},
//                        {field: 'pymtMode', headerText: 'Forma Pago', filter: true},
//                        {field: 'pymtType', headerText: 'Tipo Pago', filter: true}
//                    ],
//                    datasource: function (callback, ui) {
//                        //ui.first = Index of the first record
//                        //ui.rows = Number of rows to load
//                        //ui.sortField = Field name of the sorted column
//                        //ui.sortOrder = Sort order of the sorted column
//                        //ui.sortMeta = Array of field names and sort orders of the sorted columns 
//                        //ui.filters = Filtering information with field-value pairs like ui.filters['fieldname'] = 'filtervalue'
//
//                        //builds a url based on parameters
//                        var uri = 'http://localhost:7001/RadRestFul/api/rad/getRad';
////                        console.log(ui.first);
////                        if (ui.sortField) {
////                            uri += '/' + ui.sortField + '/' + ui.sortOrder;
////                        }
//
//                        $.ajax({
//                            type: "GET",
//                            url: uri,
//                            dataType: "json",
//                            context: this,
//                            success: function (response) {
//                                //imitate lazy loading by slicing a new list from whole data, in real application the response should actually contain just the new chunk
//                                callback.call(this, response);
//                            }
//                        });
//                    }
//                });
            });
        </script>

    </h:head>

    <h:body styleClass="buzonRad bodyContent radPagoDocModal">
        <f:view locale="#{securityEngineData.locale}">
            <h:form rendered="true" id="form" style="margin: 5px;"  onkeypress="return event.keyCode !== 13"  onsubmit="return false;" >
                <div id="dlg" title="Header">
                    Content
                </div>

                <div class="ui-grid ui-grid-responsive gridFiltrosGenericos">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12 filtroGenericParent">
                            <div class="ui-grid ui-grid-responsive">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2 filtroCbx filtroGenericField">
                                        <p:outputLabel for="cmbSiteRadMonitor" value="#{msgs['enginedata.page.general.label.plaza']}" styleClass="LabelBuzon" />
                                        <p:selectOneMenu id="cmbSiteRadMonitor" disabled="#{!radMonitoreoController.actionPermitido('MULTISITE')}" editable="true" converter="genericConverter" value="#{radMonitoreoController.selectSysSiteMstrDTO}" valueChangeListener="#{radMonitoreoController.getBrncsByUser}" filter="true" filterMatchMode="startsWith" styleClass="full-width input-to-uppercase" required="true" requiredMessage="La Plaza es requerida.">
                                            <f:selectItems value="#{radMonitoreoController.listSysSiteMstrDTO}" var="sysSiteMstrDTO" itemValue="#{sysSiteMstrDTO}" itemLabel="#{sysSiteMstrDTO.siteId}" />
                                            <p:ajax process="cmbSiteRadMonitor" partialSubmit="true" event="valueChange"  update="cmbBrncRadMonitor" />
                                        </p:selectOneMenu>
                                    </div>

                                    <div class="ui-grid-col-2 filtroCbx filtroGenericField">
                                        <p:outputLabel for="cmbBrncRadMonitor" value="#{msgs['enginedata.page.general.label.sucursal']}" styleClass="LabelBuzon" />
                                        <p:selectOneMenu id="cmbBrncRadMonitor" disabled="#{!radMonitoreoController.actionPermitido('MULTISITE')}" editable="true" converter="genericConverter" value="#{radMonitoreoController.sysBrncMstrDTO}" valueChangeListener="#{radMonitoreoController.getTruckByBrnc}" filter="true" filterMatchMode="startsWith" styleClass="full-width input-to-uppercase">
                                            <f:selectItems value="#{radMonitoreoController.listSysBrncMstrDTO}" var="sysBrncMstrDTO" itemLabel="#{sysBrncMstrDTO.bmBrncID}" itemValue="#{sysBrncMstrDTO}"/>
                                            <p:ajax process="cmbBrncRadMonitor" partialSubmit="true" event="valueChange"  update="cmbMovilRadMonitor" />
                                            <p:column style="width:10%">
                                                <h:outputText value="#{sysBrncMstrDTO.bmBrncID}" />
                                            </p:column>
                                            <p:column>
                                                <h:outputText value="#{sysBrncMstrDTO.bmBrncName}" />
                                            </p:column>                             
                                        </p:selectOneMenu>
                                    </div>

                                    <div class="ui-grid-col-2 filtroCbx filtroGenericField">
                                        <p:outputLabel for="cmbMovilRadMonitor" value="#{msgs['enginedata.page.general.label.movil']}" styleClass="LabelBuzon" />
                                        <p:selectOneMenu  id="cmbMovilRadMonitor" editable="true" converter="genericConverter" value="#{radMonitoreoController.sysVhclMstrDTO}" valueChangeListener="#{radMonitoreoController.selectTruck}" filter="true" filterMatchMode="startsWith" styleClass="full-width input-to-uppercase">
                                            <f:selectItems value="#{radMonitoreoController.listSysVhclMstrDTO}" var="sysVhclMstrDTO" itemValue="#{sysVhclMstrDTO}" itemLabel="#{sysVhclMstrDTO.vhclId}" />
                                            <p:ajax process="cmbMovilRadMonitor" partialSubmit="true" event="valueChange"  />
                                            <p:ajax process="cmbMovilRadMonitor" partialSubmit="true" event="itemSelect"  />                                                                                                        
                                        </p:selectOneMenu>                                           
                                    </div>

                                    <div class="ui-grid-col-2 filtroInputGuiaNo filtroGenericField">
                                        <p:outputLabel for="txtTripNo" styleClass="LabelBuzon" value="#{msgs['enginedata.page.general.label.viaje']}" />
                                        <p:inputText id="txtTripNo" styleClass="onSelectColumnInputTxt" value="#{radMonitoreoController.filters.filter_9}" />                               
                                    </div>                                        

                                    <div class="ui-grid-col-2 filtroCalendar filtroGenericField">
                                        <p:outputLabel for="buzonRadF_fechaInicial" value="#{msgs['enginedata.page.label.startCreationDate']}" styleClass="LabelBuzon" /> 
                                        <p:calendar value="#{radMonitoreoController.filters.filterFecha}"  mask="true" id="buzonRadF_fechaInicial" pattern="dd/MM/yyyy" mode="popup" showOn="button" maxdate="#{radMonitoreoController.filters.filterFecha}" required="true" lang="#{securityEngineData.locale}" locale="#{securityEngineData.locale}" />
                                    </div>

                                    <div class="ui-grid-col-2 filtroCalendar filtroGenericField">    
                                        <p:outputLabel for="buzonRadF_fechaFinal" value="#{msgs['enginedata.page.label.fechaFinal']}" styleClass="LabelBuzon" /> 
                                        <p:calendar value="#{radMonitoreoController.filters.filterFecha2}" mask="true" id="buzonRadF_fechaFinal" pattern="dd/MM/yyyy" mode="popup" showOn="button"  required="true" lang="#{securityEngineData.locale}" locale="#{securityEngineData.locale}"/>
                                    </div>

                                    <div class="ui-grid-col-2 filtroCbx filtroGenericField">
                                        <p:outputLabel for="cmbStatus" value="#{msgs['enginedata.page.label.flagActive']}" styleClass="LabelBuzon" /> 
                                        <p:selectOneMenu id="cmbStatus" value="#{radMonitoreoController.filters.filter_8}">
                                            <f:selectItem itemLabel="#{msgs['enginedata.page.general.label.programadas']}" itemValue="PROGRAMADA" />
                                            <f:selectItem itemLabel="#{msgs['enginedata.page.general.label.pendientes']}" itemValue="PENDIENTE" />
                                            <f:selectItem itemLabel="#{msgs['enginedata.page.general.label.convertidas']}" itemValue="CONVERTIDA"/>
                                            <f:selectItem itemLabel="#{msgs['enginedata.page.general.label.canceladas']}" itemValue="CANCELADA"/>
<!--                                                <f:selectItem itemLabel="#{msgs['enginedata.page.general.label.tmpPP']}" itemValue="PP PENDIENTE"/>                                                -->
                                            <f:selectItem itemLabel="#{msgs['enginedata.page.general.label.todos']}" itemValue="TODAS" />                                                
                                            <p:ajax process="cmbStatus" partialSubmit="true" event="valueChange"  oncomplete="document.getElementById('form:Buscar').click();"/>
                                        </p:selectOneMenu>
                                    </div>

                                    <div class="ui-grid-col-2 filtroInputGuiaNo filtroGenericField">
                                        <p:outputLabel for="txtGuia" styleClass="LabelBuzon" value="#{msgs['enginedata.page.general.label.guia']} o #{msgs['enginedata.page.general.label.rastreo']}" />
                                        <p:inputText id="txtGuia" styleClass="onSelectColumnInputTxt" value="#{radMonitoreoController.filters.filter_6}" />                               
                                    </div>

                                    <div class="ui-grid-col-2 filtroButtonSearch filtroCalendar">
                                        <button id="default" type="button">Buscar</button>
                                    </div>

                                </div>
                            </div>                                        
                        </div>
                    </div>
                </div>  

                <input id="globalFilter" placeholder="Global Filter" size="30"></input>

                <div id="tbl"></div>

                <div id="tbllocal"></div>

                <div id="tblremoteeager"></div>

                <div id="tblremotelazy"></div>

                <!--                <p-datatable datasource="http://localhost:7001/RadRestFul/api/rad/getRad" paginator="true" rows="10" selectionmode="single" onrowselect="handleRowSelect">
                                    <p-column field="guiaNo" headertext="guiaNo"></p-column>
                                </p-datatable>                -->


                <div id="tblfilter" class="dtHeightRow40 dt-export"/>
            </h:form>
        </f:view>            

    </h:body>


</html>