<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:head>
        <meta charset="utf-8"/>
        <title>Captura recolección a domicilio</title>
        <link rel="stylesheet" type="text/css" href="../../../../resources/css/style.css?v=#{securityEngineData.versionApp}"/>
        <script type="text/javascript" src="../../../../resources/js/global.js?v=#{securityEngineData.versionApp}"></script>
        <script type="text/javascript" src="../../../../resources/help/js/help.js?v=#{securityEngineData.versionApp}"></script>

        <script type="text/javascript" src="../../../../resources/js/formatCurrency/jquery.formatCurrency-1.4.0.js?v=#{securityEngineData.versionApp}"></script>
        <script type="text/javascript" src="../../../../resources/js/formatCurrency/jquery.formatCurrency.es-MX.js?v=#{securityEngineData.versionApp}"></script>
        <script type="text/javascript" src="../../../../resources/js/calendar-localization.js"></script>

        <style type="text/css">
            .inputFields{
                float: left; 
                display: inline-block; 
            }
            .panelColumn{
                width: 50%;
                vertical-align: top;
            }
        </style>
        <script type="text/javascript" src="../../../../resources/js/smoothscroll.js?v=#{securityEngineData.versionApp}"></script> 
        <script type="text/javascript">
            function validate()
            {
                var x = document.getElementById("form:text").value;
                if (x.length > 255) {
                    document.getElementById("form:text").value = x.substring(0, 255);
                }

            }
            function validateInformationToCustomerSimilarity(valor)
            {
            if (valor === 1){
            if ($('#frmTable\\:txtCdClientID').val() == '' &amp;&amp; $('#frmTable\\:txtCdAddress').val() != '' &amp;&amp; $('#frmTable\\:txtCdClientName').val() != ''){
            document.getElementById('frmTable:btnCdClientSimilarity').click();
            }
            } else{
            if ($('#frmTable\\:txtDdClientID').val() == '' &amp;&amp; $('#frmTable\\:txtDdAddress').val() != '' &amp;&amp; $('#frmTable\\:txtDdClientName').val() != ''){
            document.getElementById('frmTable:btnDdClientSimilarity').click();
            }
            }
            }
            $(document).ready(function () {
                $(document).on('click', '#frmTable\\:btnCdClientID_dlg .ui-icon-closethick', function (e) {
                    PF('statusDialog').hide();
                });
            });
             window.onbeforeunload = function (e) {
               var condition = $('#capa').data('monitoreo');
               if(condition!="N"){
                  condition="Y";
               }
               if (condition=="Y"){
                   var message = "Your confirmation message goes here.",
                   e = e || window.event;                    
                       if (e) {
                         e.returnValue = message;
                       }                    
               }

                return message;
             };
            function setterOpenOtherPage(valor)
            {
                if(valor){
                    $('#capa').data('monitoreo', 'N');
                }else{
                    $('#capa').removeData('monitoreo');   
                }
            }
        </script>     
        <!--[if !IE 6]><!-->
        <link rel="stylesheet" type="text/css" media="screen, projection" href="../../../../resources/css/styleIE.css?v=#{securityEngineData.versionApp}" />
        <!--<![endif]-->        
    </h:head>
    <div id="zoneDialogs"></div>
    <!--Usado apra almacenar una variable tmp-->
    <div id="capa"></div>
    <ui:include src="radSolicitudBody.xhtml"  />
</html>