<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" >
    <h:head>
        <title>#{msgs['enginedata.page.general.label.monitorTrip']}</title>
        <link rel="stylesheet" type="text/css" href="../../../../resources/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../resources/css/styleGeneric.css"/>
        <style type="text/css">
            .ui-datatable .ui-column-filter{display: none;}
            .ui-datatable-frozenlayout-left {
                width:40%;
            }
            .ui-datatable-frozenlayout-right {
                width:60%;
            }
        </style>
    </h:head>
    <h:body styleClass="tripBuzon  bodyContent" onload="dtHeight100();#{tripMonitorController.onLoad()}">
        <f:view locale="#{securityEngineData.locale}">
            <h:form rendered="true" id="form">
                <p:focus id="focus" />
                <p:growl id="message" showDetail="true" showSummary="false" autoUpdate="true" life="2500" />
                <p:panel header="#{msgs['enginedata.page.general.label.monitorTrip']}" id="panel1" styleClass="FiltrosHeader generic100Height">
                    <div class="ui-grid ui-grid-responsive gridFiltrosGenericos">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-12 filtroGenericParent">
                                <div class="ui-grid ui-grid-responsive">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2 filtroCbxLarge filtroGenericField">
                                            <p:outputLabel for="cboTypQueryTM" value="#{msgs['enginedata.page.general.label.typqueryLoad']}"   styleClass="LabelBuzon" />
                                            <p:selectOneMenu id="cboTypQueryTM" converter="genericConverter" editable="true"  value="#{tripMonitorController.selectedTypeQuery}"  filter="true" filterMatchMode="startsWith" styleClass="full-width input-to-uppercase">
                                                <f:selectItems value="#{tripMonitorController.listTypeQuery}" var="typQueryTM" itemValue="#{typQueryTM}" itemLabel="#{typQueryTM.paramDesc}" />
                                            </p:selectOneMenu>                                                
                                        </div>
                                        <div class="ui-grid-col-2 filtroCalendar filtroGenericField">
                                            <p:outputLabel for="buzonTMF_fechaInicial" value="#{msgs['enginedata.page.label.startCreationDate']}" styleClass="LabelBuzon"/> 
                                            <p:calendar mask="true" value="#{tripMonitorController.filters.filterFecha}" id="buzonTMF_fechaInicial" pattern="dd/MM/yyyy" mode="popup" showOn="button" maxdate="#{tripMonitorController.filters.filterFecha}" required="true" lang="#{securityEngineData.locale}" locale="#{securityEngineData.locale}" />
                                        </div>
                                        <div class="ui-grid-col-2 filtroCalendar filtroGenericField">
                                            <p:outputLabel for="buzonTMF_fechaFinal" value="#{msgs['enginedata.page.label.fechaFinal']}" styleClass="LabelBuzon"/> 
                                            <p:calendar mask="true" value="#{tripMonitorController.filters.filterFecha2}" id="buzonTMF_fechaFinal" pattern="dd/MM/yyyy" mode="popup" showOn="button" maxdate="#{tripMonitorController.filters.filterFecha}" required="true" lang="#{securityEngineData.locale}" locale="#{securityEngineData.locale}"/>
                                        </div>     
                                        <div class="ui-grid-col-2 filtroInputGuiaNo filtroGenericField">
                                            <p:outputLabel for="txtTripNoTm" styleClass="LabelBuzon" value="#{msgs['enginedata.page.general.label.bitacora']}" />                             
                                            <p:inputText id="txtTripNoTm" styleClass="onSelectColumnInputTxt" value="#{tripMonitorController.filters.filter_9}"  />                            
                                        </div>
                                        <div class="ui-grid-col-2 filtroButtonSearch filtroGenericField">
                                            <p:commandButton value="#{msgs['enginedata.page.search-button-label']}" update="dtBuzon focus"  id="Buscar" actionListener="#{tripMonitorController.tripMonAction()}" styleClass="fa fa-search-plus" onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide();" process="@this,cboTypQueryTM, buzonTMF_fechaInicial, buzonTMF_fechaFinal,txtTripNoTm" /> 
                                        </div>
                                    </div>
                                </div>                                        
                            </div>
                        </div>
                    </div>
                    <p:dataTable id="dtBuzon" widgetVar="table" var="tripBuzon" rendered="true" rows="10" paginator="true" paginatorPosition="bottom" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="50,100,150,200" emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}" reflow="true"  styleClass="dtHeightRow40 dt-export headerDtExportsHidden" value="#{tripMonitorController.lazyModel}" rowKey="#{tripBuzon.tripNo}" selectionMode="single" lazy="true" filteredValue="#{tripMonitorController.listTripMonitorDTO}" currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}" >
                        <p:ajax event="filter" listener="#{tripMonitorController.filterListener}" update="@this"/>
                        <f:facet name="header">
                            <div class="ui-grid ui-grid-responsive">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-3"></div>
                                    <div class="ui-grid-col-5">
                                        <h:outputText value="#{msgs['enginedata.page.general.catalogs.lstUser.lblBusqueda']}" />
                                        <p:inputText id="globalFilter" tabindex="4" onkeyup="PF('table').filter()" style="width: 140px;" placeholder="#{msgs['enginedata.page.general.catalogs.lstUser.globalFilter']}" />             
                                    </div>
                                    <div class="ui-grid-col-4">
                                        <h:commandLink rendered="#{tripMonitorController.actionPermitido('EXPORT')}">
                                            <img src="../../../../resources/images/excel.png" width="24"/>
                                            <p:dataExporter type="xls" target="dtBuzon" fileName="CargaTripExcel" />
                                        </h:commandLink>
                                        <h:commandLink rendered="#{tripMonitorController.actionPermitido('EXPORT')}">
                                            <img src="../../../../resources/images/pdf.png" width="24"/>
                                            <p:dataExporter type="pdf" target="dtBuzon" fileName="CargaTripPDF" pageOnly="false" />
                                        </h:commandLink>
                                        <h:commandLink rendered="#{tripMonitorController.actionPermitido('EXPORT')}">
                                            <img src="../../../../resources/images/csv.png" width="24"/>
                                            <p:dataExporter type="csv" target="dtBuzon" fileName="CargaTripCsv" pageOnly="false" />
                                        </h:commandLink>
                                        <h:commandLink rendered="#{tripMonitorController.actionPermitido('EXPORT')}">
                                            <img src="../../../../resources/images/xml.png" width="24"/>
                                            <p:dataExporter type="xml" target="dtBuzon" fileName="CargaTripXml" pageOnly="false" />
                                        </h:commandLink> 
                                        <p:commandButton id="toggler" type="button" value="#{msgs['enginedata.page.general.label.columnas']}" style="float:right" icon="ui-icon-calculator" />
                                        <p:columnToggler datasource="dtBuzon" trigger="toggler" />              
                                    </div>
                                </div>
                            </div>                        
                        </f:facet>
                        <p:column headerText="#{msgs['enginedata.page.general.label.fechaEmision']}" styleClass="width60 alginCenter" sortBy="#{tripBuzon.actlDate}" filterBy="#{tripBuzon.actlDate}" >
                            <h:outputText value="#{tripBuzon.actlDate}" >
                                <f:convertDateTime type="date" pattern="dd/MM/yyyy HH:mm"/>
                            </h:outputText>
                        </p:column>                 
                        <p:column headerText="#{msgs['enginedata.page.general.label.truck']}"  styleClass="width70px alginCenter" sortBy="#{tripBuzon.truckNo}" filterBy="#{tripBuzon.truckNo}">
                            <h:outputText value="#{tripBuzon.truckNo}" />
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.general.label.Rout']}" styleClass="width70px alginCenter" sortBy="#{tripBuzon.routId}" filterBy="#{tripBuzon.routId}">
                            <h:outputText value="#{tripBuzon.routId}" />
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.general.label.bitacora']}"  styleClass="width80 alginCenter" sortBy="#{tripBuzon.tripNo}" filterBy="#{tripBuzon.tripNo}">
                            <h:outputText value="#{tripBuzon.tripNo}" />
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.general.label.SegmNo']}"  styleClass="width20 alginCenter" sortBy="#{tripBuzon.segmNo}" filterBy="#{tripBuzon.segmNo}">
                            <h:outputText value="#{tripBuzon.segmNo}" />
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.general.label.segmId']}"  styleClass="width80 alginCenter" sortBy="#{tripBuzon.segmId}" filterBy="#{tripBuzon.segmId}">
                            <h:outputText value="#{tripBuzon.segmId}" />
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.general.label.trail']}"  styleClass="width20 alginCenter" sortBy="#{tripBuzon.trailId }" filterBy="#{tripBuzon.trailId }">
                            <h:outputText value="#{tripBuzon.trailId }" />
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.general.label.Guias']}"  styleClass="width20 alginRight" sortBy="#{tripBuzon.cpTotal}" >
                            <h:outputText value="#{tripBuzon.cpTotal }" />
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.general.label.packs']}"  styleClass="width20 alginRight" sortBy="#{tripBuzon.packTotal}" >
                            <h:outputText value="#{tripBuzon.packTotal }" />
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.general.label.volum']}"  styleClass="width40 alginRight" sortBy="#{radBuzon.detAnomDesc}" filterBy="#{radBuzon.detAnomDesc}">
                            <h:outputText value="#{tripBuzon.volCpTotal }">
                                <f:convertNumber type="number" pattern="#0.00"/>
                            </h:outputText>                                
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.general.label.weigt']}"  styleClass="width20 alginRight" sortBy="#{radBuzon.detAnomDesc}" filterBy="#{radBuzon.detAnomDesc}">
                            <h:outputText value="#{tripBuzon.weigtCpTotal }">
                                <f:convertNumber type="number" pattern="#,000.00"/>
                            </h:outputText>                                
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.general.label.porWeigt']}"  styleClass="width20 alginRight" sortBy="#{tripBuzon.porPeso}" filterBy="#{radBuzon.detAnomDesc}">
                            <h:outputText value="#{tripBuzon.porPeso }" >     
                                <f:convertNumber type="number" pattern="#0.00"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.general.label.porVolum']}"  styleClass="width40 alginRight" sortBy="#{tripBuzon.porVolum}" filterBy="#{radBuzon.detAnomDesc}">
                            <h:outputText value="#{tripBuzon.porVolum }" >   
                                <f:convertNumber type="number" pattern="#0.00"/>
                            </h:outputText>
                        </p:column>
                    </p:dataTable>
<!--                    <p:dialog header="Evidencias de anomalías" widgetVar="dlgEvidence" modal="true"  id="modalEvidence"  >
                        <p:galleria value="{anmoMonController.listaEvidence2}" var="evidencia" styleClass="GalleryAnomalia" showCaption="true" autoPlay="false">
                            <img src="/enginedata/DisplayImage?Image_id={evidencia.idEvidence}" alt=" " ></img>
                        </p:galleria> 
                    </p:dialog>  -->
                </p:panel>
            </h:form>
        </f:view>

        <p:dialog widgetVar="statusDialog" style="border-radius: 50%;text-align: center;" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <img src="../../../../resources/images/i_g_fleet.gif" style="width: 200px;"/>
            <strong style="display: block;">Cargando...</strong>
        </p:dialog>
  
        <div id="result"></div>
        <div id="anotations"></div>        
    
        <script type="text/javascript" src="../../../../resources/help/js/help.js"></script>
        <script type="text/javascript" src="../../../../resources/js/global.js"></script>
        <script type="text/javascript" src="../../../../resources/js/calendar-localization.js"></script>         
    </h:body>
</html>
