        <div class="overlayHelpLista-lsRad_Buzon displayNone overlayHelpAll">

            <div class="overlayHelpElement pointHelp-filtro ">
                <div class="transformArriba overlayHelpElementElement marginAuto"></div>
                <div class="overlayHelpIconoWorld marginTop20">
                    <h2>Filtros</h2>
                    <p>Filtros de búsqueda, ya sea por guía o rastreo, fechas , sucursal, etc.</p>
                </div>
            </div>

            <div class="overlayHelpElement pointHelp-filtroBusquedaRapida ">
                <div class="transform-40ArribaDer overlayHelpElementElement marginAuto"></div>
                <div class="overlayHelpIconoWorld marginTop20">
                    <h2>Búsqueda rapida</h2>
                    <p>Despues de que se busque por los filtros, tambien se puede buscar ingresando cualquier palabra clave que mejore la búsqueda.</p>
                </div>
            </div>     

            <div class="overlayHelpElement pointHelp-Exportaciones ">
                <div class="transform-40ArribaDer overlayHelpElementElement marginAuto floatRight"></div>
                <div class="overlayHelpIconoWorld marginTop20">
                    <h2>Exportaciones</h2>
                    <p>Despues de que se busque por los filtros, tambien se puede buscar ingresando cualquier palabra clave que mejore la búsqueda.</p>
                </div>
            </div>       

            <div class="overlayHelpElement pointHelp-ToogleColumn ">
                <div class="transform-40ArribaDer overlayHelpElementElement marginAuto"></div>
                <div class="overlayHelpIconoWorld marginTop20">
                    <h2>Ocultar columnas</h2>
                    <p>Despues de que se busque por los filtros, tambien se puede buscar ingresando cualquier palabra clave que mejore la búsqueda.</p>
                </div>
            </div> 

            <div class="overlayHelpElement pointHelp-BuscarBtn ">
                <div class="transformDerCentro overlayHelpElementElement marginAuto" style="float: right;position: relative;top: 50px;left: 72px;" ></div>
                <div class="overlayHelpIconoWorld marginTop20">
                    <h2>Buscar</h2>
                    <p>Despues de que se busque por los filtros, tambien se puede buscar ingresando cualquier palabra clave que mejore la búsqueda.</p>
                </div>
            </div>    

            <div class="overlayHelpElement pointHelp-Paginacion">
                <div class="overlayHelpIconoWorld marginTop20">
                    <h2>Paginación</h2>
                    <p>Agrupe su información a su gusto.</p>
                </div>
                <div class="transformAbajo overlayHelpElementElement marginAuto" ></div>
            </div>              


        </div>


       <div class="overlayHelpLista-radSolicitud displayNone overlayHelpAll">

            <div class="overlayHelpElement pointHelp-GuiaPP ">
                <div class="transform-140ArribaIzq overlayHelpElementElement marginAuto"></div>
                <div class="overlayHelpIconoWorld marginTop20">
                    <h2>Guía PP</h2>
                    <p>Bienvenido, si cuenta con guías PP o guías prepagadas, ingresarlas en este campo.</p>
                </div>
 
            </div>      
            <div class="overlayHelpElement pointHelp-Solicitante ">
                <div class="overlayHelpIconoStart  marginBottom20">
                    <h2>Cliente solicitante</h2>
                    <p>Se ingresa la clave del cliente que esta solicitando la recolección, o bien si no se sabe su clave de click en la ayuda para búsqueda avanzada.</p>
                </div>
                <div class="transformAbajo overlayHelpElementElement marginBottom20"></div>                    
            </div>              

            <div class="overlayHelpElement pointHelp-Remitente flechaIzq1-2">
                <div class="overlayHelpIconoStart  marginBottom20 overlayHelpContenido">
                    <h2>Cliente remitente</h2>
                    <p>Si ha enviado anteriormente y conoce su clave ingresela en esta campo. En caso contrario ingrese solamente su nombre.</p>
                </div>
                <div class="transformIzqCentro overlayHelpElementElement "></div>                    
            </div>  


            <div class="overlayHelpElement pointHelp-Destino flechaIzq1-2">
                <div class="overlayHelpIconoLanguaje overlayHelpContenido">
                    <h2>Cliente destinatario</h2>
                    <p>Si conoce la clave a quien se le enviara ingresela en este campo. En caso contrario ingrese solamente su nombre.</p>
                </div>
                <div class="transformIzqCentro overlayHelpElementElement "></div>                    
            </div>  


            <div class="overlayHelpElement pointHelp-CPSolicitud ">
                <div class="transform-140ArribaIzq overlayHelpElementElement floatLeft"></div>
                <div class="overlayHelpIconoMenu">
                    <h2>Código postal</h2>
                    <p>Si conoce el código postal, ingréselo.</p>        
                </div>
            </div>  

            <div class="overlayHelpElement pointHelp-DetalleEnvio ">
                <div class="transformArriba overlayHelpElementElement"></div>
                <div class="overlayHelpIconoMenu">
                    <h2>Detalle de envío</h2>
                    <p>En esta seccion se ingresarán los productos con sus medidas a recolectar.</p>      
                </div>
            </div> 

            <div class="overlayHelpElement pointHelp-CalculoSrv ">
                <div class="transform-40ArribaDer overlayHelpElementElement"></div>
                <div class="overlayHelpIconoMenu">
                    <h2>Calcular servicios</h2>
                    <p>Clic sobre el botón para calcular sus importes.</p>  
                </div>
            </div>             

            <div class="overlayHelpElement pointHelp-Importes">
                <div class="overlayHelpIconoMenu">
                    <h2>Importes</h2>
                    <p>En este apartado se concentrán los importes totales que se estan generando</p>
                </div>
                <div class="transform-40AbajoDer overlayHelpElementElement floatRight"></div>
            </div>

            <div class="overlayHelpElement pointHelp-CondicionesPago">
                <div class="transformArriba overlayHelpElementElement"></div>
                <div class="overlayHelpIconoMenu">
                    <h2>Condiciones de pago</h2>
                    <p>En este punto se especifican las condiciones del pago, si será pagada en origen o destino y su forma de pago.</p>
                </div>
            </div>    

            <div class="overlayHelpElement pointHelp-CondicionesEmbarque">
                <div class="transform-140ArribaIzq overlayHelpElementElement"></div>
                <div class="overlayHelpIconoMenu">
                    <h2>Condiciones de embarque</h2>
                    <p>Se especifica donde será entregada la mercancía y el tipo de cobertura que tendrá la misma.</p>
                </div>
            </div> 

            <div class="overlayHelpElement pointHelp-ServExtras">
                <div class="transform-140ArribaIzq overlayHelpElementElement"></div>
                <div class="overlayHelpIconoMenu">
                    <h2>Servicios extras</h2>
                    <p>Se especifica la cantidad de COD (Cobrase o devuélvase) que se requiera.</p>
                </div>
            </div> 

            <div class="overlayHelpElement pointHelp-FechaHora flechaIzq1-2Right">
                <div class="overlayHelpIconoMenu floatLeft width80porcent">
                    <h2>Fecha y hora de recolección</h2>
                    <p>Se ingresará la fecha y hora que desea para que nuestros operadores pasen a su domicilio a recoger su mercancía.</p>
                </div>
                <div class="transform-40AbajoDer overlayHelpElementElement floatRight"></div>
            </div>             

            <div class="overlayHelpElement pointHelp-AddSolicitud">
                <div class="overlayHelpIconoMenu">
                    <h2>Agregar solicitud</h2>
                    <p>Clic sobre el botón para agregar la solicitud al carrito.</p>
                </div>
                <div class="transformAbajo overlayHelpElementElement"></div>
            </div>
            
            <div class="overlayHelpElement pointHelp-Resumen">
                <div class="transformArriba overlayHelpElementElement"></div>
                <div class="overlayHelpIconoMenu">
                    <h2>Resumen</h2>
                    <p>Se muestra el total de envíos que se han registrado, se es necesario dar clic sobre el signo de (+) para ver los detalles. </p>
                </div>
            </div>   
              
            
        </div>