<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/style.css"/>
        <script type="text/javascript" src="../../../../../resources/js/global.js"></script>
    </h:head>

    <h:body style="background: #fff;" onload="#{changePasswordController.onLoad()};">
        <f:view locale="#{securityEngineData.locale}" >
            <h:form id="frmTable" rendered="true" onkeypress="return event.keyCode !== 13"  >
                <div class="gridChangePassword">
                    <div class="gridChangePasswordChild">
                        <p:panel header="Cambio de contraseña" id="panel1" styleClass="FiltrosHeader" >
                            <p:focus context="panel1"/>
                            <p:growl id="growlLogin" showDetail="true" autoUpdate="true" life="4500" />
                            <div style="text-align: center !important;
                                 margin-top: 10px;
                                 margin-bottom: 20px;">
                                <img src="../../../../../resources/images/icons/psw.png" />
                            </div>

                            <div class="ui-grid ui-grid-responsive">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-3">
                                        <p:outputLabel for="passwordOld" value="Contraseña actual" />
                                    </div>
                                    <div class="ui-grid-col-9">
                                        <p:password id="passwordOld" value="#{changePasswordController.passwordOld}" size="20" required="true"/><br/>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-grid ui-grid-responsive">
                                <div class="ui-grid-row">

                                    <div class="ui-grid-col-3">
                                        <p:outputLabel for="password" value="Contraseña nueva" />
                                    </div>
                                    <div class="ui-grid-col-9">
                                        <p:password id="password" value="#{changePasswordController.password}" size="20" required="true" feedback="true" promptLabel="FAVOR DE INGRESAR EL PASSWORD" weakLabel="FACIL" goodLabel="MEDIO" strongLabel="DIFICL"/><br/>
                                    </div> 
                                </div>
                            </div>
                            <div class="ui-grid ui-grid-responsive">
                                <div class="ui-grid-row">

                                    <div class="ui-grid-col-3">
                                        <p:outputLabel for="conformacionPassword" value="Confirmar nueva contraseña" />
                                    </div>
                                    <div class="ui-grid-col-9">
                                        <p:password id="conformacionPassword" value="#{changePasswordController.confirmacionPassword}" size="20" required="true" feedback="true" promptLabel="FAVOR DE INGRESAR EL PASSWORD" weakLabel="FACIL" goodLabel="MEDIO" strongLabel="DIFICL"/><br/>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-grid ui-grid-responsive">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-3">
                                    </div>  
                                    <div class="ui-grid-col-9" style="margin-top: 10px;margin-bottom: 10px;">
                                        <p:commandButton id="btnConfirmar" value="CONFIRMAR" action="#{changePasswordController.changePassword}" update="frmTable growlLogin"/>
                                    </div>                            
                                </div>
                            </div>    



                        </p:panel>
                    </div>
                </div>
            </h:form>  
        </f:view>     
    </h:body>
</html>