<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/style.css"/>
        <script type="text/javascript" src="../../../../../resources/js/global.js"></script>
        <title>#{msgs['menu.page.menu.menuBar.itemEstructuraMenu']}</title>
        <style>
            .ui-tree .ui-icon-folder-collapsed {
                background-image: url(/enginedata/javax.faces.resource/images/folder-close-navy.svg.jsf?ln=primefaces-adamantium)!important;
            }

            .ui-tree .ui-icon-triangle-1-e {
                background-image: url(/enginedata/javax.faces.resource/images/rightarrow-navy.svg.jsf?ln=primefaces-adamantium) !important;
            }

            .ui-tree .ui-icon-triangle-1-s {
                background-image: url(/enginedata/javax.faces.resource/images/downarrow-navy.svg.jsf?ln=primefaces-adamantium) !important;
            }
            .ui-tree .ui-icon-folder-open {
                background-image: url(/enginedata/javax.faces.resource/images/folder-open-navy.svg.jsf?ln=primefaces-adamantium) !important;
            }
        </style>
    </h:head>

    <h:body onload="#{menuStructController.onLoad()}" styleClass="bodyContent">
        <f:view locale="#{securityEngineData.locale}" >
            <h:form id="frmTable" rendered="true" onsubmit="return false;" >
                <p:growl id="message" showDetail="true" autoUpdate="true" life="4500" />
                <p:scrollPanel mode="native" style="overflow-y: scroll; height:370px; width: 98%">
                    <div class="ui-grid ui-grid-responsive">
                        <div class="ui-grid-row">                       
                            <div class="ui-grid-col-12">
                                <p:tree id="treeMenu" style="overflow-y: visible;width: 98%;border: none; padding: 0" selectionMode="single" selection="#{menuStructController.selectedNode}" value="#{menuStructController.tnRoot}" var="node" animate="true"
                                        draggable="true" droppable="true" dragdropScope="demo">
                                    <p:ajax event="dragdrop" listener="#{menuStructController.onDragDrop}" update=":frmTable:treeMenu" />
                                    <p:treeNode expandedIcon="ui-icon-folder-open" collapsedIcon="ui-icon-folder-collapsed">
                                        <h:outputText value="#{msgs[node.mpLabl]}" />
                                    </p:treeNode>
                                    <p:treeNode type="GPL">
                                        <h:outputText value="#{node.mpLabl}" />
                                    </p:treeNode>
                                    <p:treeNode type="ITEM" >
                                        <h:outputText value="#{msgs[node.idFunctionDTO.lfName]}" />
                                    </p:treeNode>
                                    <p:treeNode type="MENU" expandedIcon="ui-icon-folder-open" collapsedIcon="ui-icon-folder-collapsed">
                                        <h:outputText value="#{msgs[node.mpLabl]}" />
                                    </p:treeNode>
                                </p:tree>
                            </div>
                        </div>
                    </div>
                </p:scrollPanel>
                <div class="ui-grid ui-grid-responsive">
                    <div class="ui-grid-row" style="margin-top: 10px">
                        <div class="ui-grid-col-12" style="text-align: right;" >
                            <p:commandButton tabindex="5" process="@this" value="#{msgs['enginedata.page.save-button-label']}" styleClass="GreenButton fa fa-floppy-o" action="#{menuStructController.save()}" update=":frmTable" />
                        </div>
                    </div>
                </div>
                <p:contextMenu nodeType="MENU" for="treeMenu" style="left: 25px !important; width: 250px !important">
                    <p:menuitem value="#{msgs['enginedata.page.general.lgn.menuStruct.contextMenu.agregarSubmenu']}" update="treeMenu docDlgUpdate" actionListener="#{menuStructController.configurarDialogOperacion('1')}" icon="ui-icon-plusthick">

                    </p:menuitem>
                    <p:menuitem value="#{msgs['enginedata.page.general.lgn.menuStruct.contextMenu.agregarMenu']}" update="treeMenu docDlgUpdate" actionListener="#{menuStructController.configurarDialogOperacion('3')}" icon="ui-icon-plusthick">
                    </p:menuitem>
                    <p:menuitem value="#{msgs['enginedata.page.update-button-label']}" update="treeMenu docDlgUpdate" action="#{menuStructController.configurarDialogOperacion('2')}" icon="ui-icon-pencil">
                        <p:ajax update=":updateForm" resetValues="true" />
                    </p:menuitem>
                    <p:menuitem value="#{msgs['enginedata.page.tittle-icon-action-delete']}" update="treeMenu" process="@this, treeMenu" actionListener="#{menuStructController.deleteItem()}" icon="ui-icon-close">
                        <p:confirm header="#{msgs['enginedata.page.general.label.aviso']}" message="#{msgs['enginedata.page.confirmation_message']}" 
                                   icon="ui-icon-alert" />
                    </p:menuitem>
                </p:contextMenu>
                <p:contextMenu nodeType="ITEM" for="treeMenu" style="left: 25px !important; width: 250px !important">
                    <p:menuitem value="#{msgs['enginedata.page.update-button-label']}" update="treeMenu docDlgUpdate" actionListener="#{menuStructController.configurarDialogOperacion('2')}" icon="ui-icon-pencil">
                        <p:ajax update=":updateForm" resetValues="true" />
                    </p:menuitem>
                    <p:menuitem value="#{msgs['enginedata.page.tittle-icon-action-delete']}" update="treeMenu docDlgUpdate" actionListener="#{menuStructController.deleteItem()}" icon="ui-icon-close">
                        <p:confirm header="#{msgs['enginedata.page.general.label.aviso']}" message="#{msgs['enginedata.page.confirmation_message']}" 
                                   icon="ui-icon-alert" />
                    </p:menuitem>
                </p:contextMenu>
                <p:confirmDialog global="true">
                    <p:commandButton value="#{msgs['enginedata.page.confirm-dialog-delete']}" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                    <p:commandButton value="#{msgs['enginedata.page.cancel-dialog-delete']}" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                </p:confirmDialog>
            </h:form>     
        </f:view> 
        <!-- DIALOGS -->
        <p:dialog header="#{menuStructController.titleDialogOperation}" dynamic="true" widgetVar="updateDialog" resizable="false" id="docDlgUpdate" 
                  modal="true" styleClass="modalWidth70" onShow="#{menuStructController.onShowDialog()}" onHide="#{menuStructController.onHideDialog()}">
            <h:form id="updateForm" onkeypress="return event.keyCode !== 13" >
                <div class="ui-grid ui-grid-responsive">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6">
                            <p:outputLabel for="cmbStructIdioma" value="#{msgs['enginedata.page.general.lgn.menuStruct.label.nombreOpcion']}" /><br/>
                            <p:selectOneMenu id="cmbStructIdioma" value="#{menuStructController.selectStructIdioma}" 
                                             converter="genericConverter" panelStyle="width:180px" tabindex="1"
                                             disabled="#{menuStructController.disabledTxtOpcion}" var="t" style="width:160px" filter="true">
                                <f:selectItems value="#{menuStructController.listStructIdioma}" var="structIdioma" itemLabel="#{structIdioma.idioma}" itemValue="#{structIdioma}" />
                                <p:column>
                                    <h:outputText value="#{t.idioma}" />
                                </p:column>
                            </p:selectOneMenu>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">
                            <p:outputLabel for="cmbFunctionMenuStruct" value="#{msgs['enginedata.page.general.label.funcion']}"  /><br/>
                            <p:selectOneMenu id="cmbFunctionMenuStruct" value="#{menuStructController.selectedFunctionsDTO}" tabindex="2" converter="genericConverter" panelStyle="width:180px"
                                             var="t" style="width:160px" filter="true">
                                <f:selectItem itemLabel="Select One" itemValue="" />
                                <f:selectItems value="#{menuStructController.listFunctionsDTO}" var="Functions" itemLabel="#{msgs[Functions.lfName]}" itemValue="#{theme}" />
                                <p:column>
                                    <h:outputText value="#{msgs[t.lfName]}" />
                                </p:column>
                                <p:ajax listener="#{menuStructController.handleChangeFunction()}" update="cmbStructIdioma" />
                            </p:selectOneMenu>
                        </div>
                        <div class="ui-grid-col-6">
                            <p:outputLabel for="chbStatus"  value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.chbStatus']}" /><br/>
                            <p:selectBooleanCheckbox tabindex="3" label="chbStatus" id="chbStatus" value="#{menuStructController.activeChxStatus}" />
                        </div>
                    </div>
                    <div class="ui-grid-row" style="margin-top: 10px">
                        <div class="ui-grid-col-6" style="text-align: right;" >
                            <p:commandButton tabindex="4" update="frmTable:treeMenu updateForm"  process="@this, chbStatus cmbFunctionMenuStruct cmbStructIdioma" value="#{msgs['enginedata.page.general.label.aceptar']}" styleClass="GreenButton fa fa-floppy-o" actionListener="#{menuStructController.execOperation()}"/>
                        </div>
                    </div>
                </div>

            </h:form>
        </p:dialog>

    </h:body>
</html>