<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" 
      id="html123" locale="#{securityEngineData.locale}">
   

    <h:head>
     </h:head>
     <h:body>

 
    <h:form id="frmTable" >
        
        
 
    <p:growl id="msgs" />
    <div class="homeBackground" style="background: #b2c0ce; " >
            <div class="contEsturion " >
                <img id="imgIndex" src="../resources/images/index/1824.jpg"  style="width: 500px; float: right;"/>                
              </div>
    </div>
    <div class="focos" id="focos1" style='background-image: url("/enginedata/resources/images/focos.png"); width: 265px; height: 39px; position: absolute; top: 292px; background-size: 100% auto; background-repeat: no-repeat; right: 218px;'></div>

    </h:form>    
 

   </h:body>
</html>
 