<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
 
        <meta name="viewport" content="width=device-width" />
        <style type="text/css">
            html{
                height: 100%;
            }
            @media (max-width : 767px){
                 #logoInicio{
                    display: none;
                }
            }
            
        </style>    
    </h:head>
    <h:body style="
            background: transparent linear-gradient(to right, rgb(238, 240, 243) 0%, rgb(226, 236, 242) 100%) repeat scroll 0% 0%;height: 100%;margin: 0px !important;
            " styleClass="bodyIndexGallery" >
        <div style="background: url(../resources/images/background/background2.gif?v=#{securityEngineData.versionApp});
             width: 100% !important;
             height: 100%;
             background-repeat: no-repeat;
                 background-size: 100% auto;">
                 
            <img src="../resources/images/logos/esturionMarca.gif?v=#{securityEngineData.versionApp}" id="logoInicio" style="
                   position: absolute;
                   bottom: 7px;
                   right: 7px;
                   " width="167" height="174"/>
        </div>
        
    </h:body>
</html>