<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pm="http://primefaces.org/adamantium">
    <div class="layout-menu-cover-top Animated05 layout-menu mainmenu backgroundPaqueteBoldUpDown" id="layout-menu-cover">
        <h:form id="menuform" onsubmit="return false;">
            <p:remoteCommand name="rmOpenDialog" immediate="true" actionListener="#{menuController.openDialog()}"/>          
            <div id="menuDesktop" class="menuBarDesktop">
                <p:hotkey bind="right" onstart="focusTest()" />
                <p:menubar id="menuBar" styleClass="menuBarV2" widgetVar="menuDesk" model="#{menuController.model}" >
                </p:menubar>
            </div>
            
            <div id="menuMobile" >
 
                <p:growl autoUpdate="true"/>

                <p:panelMenu style="width:300px;background: transparent!important;" model="#{menuController.model}" styleClass="menuBarMobile" id="menuBarMobile"  >
 
                </p:panelMenu>                
                                
            </div>            
            
            
        </h:form>

    </div>

</ui:composition>