<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"        
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">    

    <!-- TOPBAR START -->
    <div id="layout-topbar" class="backgroundPaquete" >
        <div id="datos" style="display: none;"></div>
        <div class="displayNone">
            <a id="clickiframe" onclick="refreshIframeGeneric()">click</a>           
            <div id="urlDiv"></div>
            <div id="typeFilterDiv"></div>
        </div>
        <div style="width: 276px; display: flex;">
            <p:commandButton id="imageBtn" value="Menú" type="button" style="display: none;float: left;" />
            <div class="backgroundGradient" onclick="document.getElementById('imageBtn').click()"  >
                <p:tooltip for="iconCss" value="Gestiones" />
                <h:outputText styleClass="menu-iconTopar-#{menuController.iconCss} iconCssTopBar" id="iconCss" />
            </div>
            <p:tooltip for="@(.imgMenu)" value="#{msgs['enginedata.page.general.label.txtTooltipNavega']}" />
            <p:overlayPanel id="imagePanel" hideEffect="fade" for="imageBtn" styleClass="overlayMenu overlayMenuClick" widgetVar="overlayMenu" >
                <div class="arrow-up"></div>
                <p:autoComplete id="autocompleteFunctions"  value="#{menuController.selectedThemes}" var="theme" 
                                style="color: #000!important; width: 100%;" styleClass="autocompleteFunctions"
                                itemLabel="#{theme.mpLabl}" itemValue="#{theme.idFunctionDTO.lfUrl}" 
                                placeholder="#{msgs['enginedata.page.general.label.escribeLoQueBuscas']}"
                                completeMethod="#{menuController.completeTheme}">
                    <p:ajax event="itemSelect" listener="#{menuController.onItemSelect}"  />
                    <p:column>
                        <h:outputText style="margin-right: 5px;" styleClass="#{theme.idFunctionDTO.lfIcon}" />
                        <h:outputText value="#{theme.mpLabl}" />
                    </p:column>            
                </p:autoComplete>
                <div style="text-align: center;margin-top: 10px;" class="">
                    <h:outputText value="#{msgs['enginedata.page.general.label.gestiones']}" styleClass="fontWeightRequired" style="font-size: 20px;color: #000!important;" />
                </div>
                <div style="text-align: center;">
                    <h:outputText value="#{msgs['enginedata.page.general.label.txtIntroGestion']}" style="color: #78909c !important;font-size: 11px;" />
                </div>

                <h:form id="frmMenuGestions" onclick="PF('overlayMenu').hide();">
                    <p:menu model="#{menuController.modelGestions}" styleClass="menuGestions" id="modelGestins" />
                </h:form>

            </p:overlayPanel>          
            
            
            <a id="menu-button"  class="Animated1 pointHelp pointHelp-menu">
                <div style="margin-top: 15px;">                
                    <span id="menuline1" class="Animated05" ></span>
                    <span id="menuline2" class="Animated05"></span>
                    <span id="menuline3" class="Animated05"></span>                
                </div>
            </a>

            

            <a style="display: flex;position: absolute;left: 42%;">
        
                <img src="resources/images/logos/logoWhite.png" alt="logo_1" onclick="refreshMainContext('menu/inicio.jsf');" style="cursor: pointer; margin-top: 7px; margin-left:10px; width: 123px;height: 26px;"/>
            </a> 
        </div>
        
        <p:outputLabel rendered="#{securityEngineData.ambiente != 'PRODUCCION'}" value="#{securityEngineData.ambiente}" styleClass="fontWeightRequired" style="position: absolute;top: 13px;left: 263px; font-size: 15px;"/>

        <a id="topmenu-button" class="Animated1">
            <i class="fa fa-list"></i>
        </a>
        
        <p:commandButton id="helpPanelBtn" value="Menú" type="button" style="visibility: hidden;position: absolute;top: 20px !important;" />
        <p:overlayPanel id="helpPanel" hideEffect="fade" for="helpPanelBtn" styleClass="overlayMenu overlayMenuClick shadowHard" widgetVar="overlayMenuHelp" >
            <div class="arrow-up"></div>
            <div class="">
                <div style="text-align: center;margin-top: 10px;" class="">
                    <h:outputText value="#{msgs['enginedata.page.general.label.menuGestiones']}" styleClass="fontWeightRequired" style="font-size: 20px;color: #000!important;" />
                </div>
                <h:outputText value="#{msgs['enginedata.page.general.label.instrucciones']}" styleClass="fontWeightRequired" style="font-size: 14px;color: #000!important;" />
                <div style="text-align: justify;">
                    <h:outputText value="#{msgs['enginedata.page.general.label.instruccionesp1']}" style="color: #78909c !important;font-size: 11px;" />
                    <img src="resources/images/menu/blockHelp.PNG" width="9" height="20"/>
                    <h:outputText value=" #{msgs['enginedata.page.general.label.instruccionesp1Txt2']}" style="color: #78909c !important;font-size: 11px;" />
                </div>
                <div style="text-align: justify;">
                    <h:outputText value="#{msgs['enginedata.page.general.label.instruccionesp2']}" style="color: #78909c !important;font-size: 11px;" />
                </div>                
                <div style="text-align: justify;">
                    <h:outputText value="#{msgs['enginedata.page.general.label.instruccionesp3']}" style="color: #78909c !important;font-size: 11px;" />
                    <i class="fa fa-bars" style="color: #78909c !important;font-size: 11px;"></i>
                    <h:outputText value=" #{msgs['enginedata.page.general.label.instruccionesp3Txt2']}" style="color: #78909c !important;font-size: 11px;" />
                </div>                                
            </div>
            <div class="divContentButtons">
                <p:commandButton styleClass="fa fa-thumbs-o-up divContentButtonsSave" value="#{msgs['enginedata.page.general.label.entendido']}" onclick="PF('overlayMenuHelp').hide()" type="button" style="margin-top: 13px;" />
            </div>
        </p:overlayPanel>

        <h:form rendered="true" id="frmFavoritos" style="width: 5px;"  >

            <p:inputText id="inputIpWS" value="#{favoriteController.ipWebSocket}" style="display: none;" />             
            <p:remoteCommand name="remoteUrlWebSocketNtf" update="inputIpWS" oncomplete="initLoadInput()" actionListener="#{favoriteController.getUrlWebSocket()}"/>            
            
            <p:remoteCommand name="rmOpenDialogBusq" immediate="true" actionListener="#{favoriteController.linkCoberturas()}"/>
            <p:remoteCommand id="remoteLink" name="myRemote" actionListener="#{favoriteController.listen}"  />

            <script type="text/javascript">
                function getWidthBrowser() {
                    alert(document.documentElement.clientWidth);
                    $("#frmFavoritos\\:widthBrowser").val(document.documentElement.clientWidth + "....");
                }
            </script>
            <h:outputText id="widthBrowser"  style="color: #000 !important;" />

            <p:dataList value="#{menuController.listItemsDialogs}" var="item" styleClass="dialogsDL" id="dataList" style="background: transparent; border: none;" >

                <p:dialog header="#{item.nombre}" modal="false" dynamic="false" position="top" widgetVar="#{item.descripcion}" minimizable="false" maximizable="true" closable="true" styleClass="multiDialog multiDialog-#{item.lfWidht} item-#{item.descripcion}"  resizable="false" draggable="true" responsive="true" >
                    <p:ajax event="close" onsuccess="closeDialog('ifrMainContextModal#{item.descripcion}')" />
                    <div class="iconDialog"> 
                        <a class="iconMinimize iconGeneric" onclick="buildMinimizeBar('#{item.nombre}', '#{item.descripcion}', '#{item.lfIcon}')" title="Minimizar"><i class="fa fa-minus" aria-hidden="true"></i></a>
                    </div>
                    <iframe id="ifrMainContextModal#{item.descripcion}"  name="ifrMainContextModal#{item.descripcion}" src="" style='border: medium none; height: 100%; width:100%; margin: 0px 0px 0px 0px;'  ></iframe>       
                </p:dialog> 
                
            </p:dataList>
            <ul id="top-menu" class="backgroundTopBarButtons" >
                <li>
                    <p:tooltip for="Suc" value="Sucursales" />
                    <p:commandLink  id="Suc" styleClass="menulink Animated05 " process="@this" rendered="#{securityEngineData.typeUser == 'INTERNO'}" 
                                            oncomplete="PF('dlgChangeBrnc').show();" 
                                            update="" actionListener="#{favoriteController.getAllSiteAndBrcn()}" >
                        <i class="fa fa-home Fs18" >     
                        </i> 
                        <h:outputLabel value="#{securityEngineData.branchOwner}" id="infoBrncText" style="color: #fff !important;font-size: 11px;margin-left: 5px;"  />
                    </p:commandLink>                      
                </li>
                <li>
                    <p:commandLink  styleClass="menulink Animated05 hiddenOnMobile" onclick="showDialogNotifications('show')" id="notificationsButton"  >
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        <strong id="cantNotf"></strong>
                    </p:commandLink> 
                    <div class="notificationsBar displayNone">

                        <div class="ui-grid ui-grid-responsive">
                            <div class="ui-grid-row">
                                <div id="content"  ></div>           
                            </div>
                        </div>
                    </div> 
<!--                    <p:remoteCommand name="calculateDates" 
                                     oncomplete="completeTimeNotify(xhr, status, args);" 
                                     actionListener="{favoriteController.getTimeNotify()}"/>-->
                </li>
                <li>
                    <p:tooltip for="movieBtn" value="Favoritos" />
                    <p:commandLink  styleClass="menulink Animated05 hiddenOnMobile" id="movieBtn"  >
                        <i class="fa fa-star Fs18" ></i> 
                    </p:commandLink>  

                    <p:overlayPanel id="moviePanel" for="movieBtn" hideEffect="fade" dynamic="true" styleClass="overlayFavoritesV2 overlayMenuClick" style="">
                        <div class="arrow-up" style="left: 34px;"></div>
                        <p:menu model="#{favoriteController.model}"  />
                    </p:overlayPanel>                      

                    <p:dialog header="#{msgs['enginedata.page.general.label.informacionVersion']}" closeOnEscape="true" widgetVar="dlgVersion" modal="true" draggable="false" resizable="false" styleClass="dialogWidth30 dialogShowCenter" >
                        <div class="ui-grid ui-grid-responsive " style="margin-top: 10px;">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-3">
                                    <img src="resources/images/logos/esturionMarca.gif" alt="logo_1" style="height: 82px;" />
                                </div>
                                <div class="ui-grid-col-12 colorTxtPaquete verticalAlginParent">
                                    <div class="verticalAlginChild">
                                        <h:outputLabel value="#{msgs['enginedata.page.general.label.version']}" styleClass="fontWeightRequired" style="display: block;color: rgba(0,47,135,1) !important;" />
                                        <h:outputLabel value="#{securityEngineData.versionApp}" id="infoVersionText" style="color: rgba(0,47,135,1) !important;"  />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-top: 10px;margin-bottom: 10px; text-align: right;">
                            <p:commandButton value="#{msgs['enginedata.page.general.label.aceptar']}" styleClass="fa fa-check-square-o" onclick="PF('dlgVersion').hide()" />
                        </div>
                    </p:dialog>

                    <p:growl id="msj" widgetVar="wmsj" showDetail="true" />

                    <p:commandLink  styleClass="menulink Animated05" >
                        <i class="fa fa-cog Fs18 " ></i> 
                        <strong class="hiddenDesktop">
                            <h:outputText value="#{msgs['enginedata.page.general.label.opciones']}"></h:outputText>
                        </strong>                        
                    </p:commandLink>  
                    <ul class="backgroundPaquete">

                        <li class="" >

                            <p:tooltip for="infoVersion" value="Información de versión" />
                            <p:commandLink  styleClass="menulink Animated05 " id="infoVersion" onclick="PF('dlgVersion').show()" >
                                <i class="fa fa-desktop" ></i>
                                <span>
                                    #{msgs['enginedata.page.general.label.version']}
                                </span>
                            </p:commandLink>                               

                        </li>

                        <li class="" >
                            <p:commandLink id="link" styleClass="menulink Animated05 " onclick="activaAyuda();"   >
                                <i class="fa fa-info-circle Fs18 Fleft MarRight10" ></i> 
                                <span>#{msgs['enginedata.page.general.label.ayuda']}</span>
                            </p:commandLink>
                        </li>

<!--                        <li class="topbarLeft-1 pointHelp pointHelp-cp " >
                            <p:commandLink id="linkCoverturas" styleClass="menulink Animated05 " actionListener="{favoriteController.linkCoberturas()}" >
                                <i class="fa fa-globe Fs18 Fleft MarRight10" ></i> 
                                <span>{msgs['enginedata.page.general.label.coberturas']}</span>
                            </p:commandLink>
                        </li>-->

                        <li class=" topbarLeft-2 pointHelp pointHelp-idioma" >
                            <a class="menulink Animated05"><i class="fa fa-language"></i> <span>#{msgs['enginedata.page.general.label.lenguaje']}</span></a>
                            <ul style="margin-left:-155px;" class="backgroundPaquete" >
                                <li> 
                                    <p:commandLink action="#{securityEngineData.changeLanguage('es','MX')}" disabled="#{securityEngineData.isLocateMX}"  >
                                        <i class="fa fa-font Fs18 Fleft MarRight10" ></i> 
                                        #{msgs['enginedata.page.general.label.espanol']}
                                    </p:commandLink>                             
                                </li>
                                <li> 
                                    <p:commandLink disabled="#{!securityEngineData.isLocateMX}" action="#{securityEngineData.changeLanguage('en','US')}" >
                                        <i class="fa fa-italic Fs18 Fleft MarRight10" ></i> 
                                        #{msgs['enginedata.page.general.label.ingles']}
                                    </p:commandLink>                             
                                </li>                    
                            </ul>
                        </li>           

                        <li class="">
                            <p:commandLink  styleClass="menulink Animated05 Orange" actionListener="#{favoriteController.onClickFavorites()}" rendered="#{securityEngineData.typeUser == 'INTERNO'}" oncomplete="PF('dlgPickListFav').show();" update="PojoPickList" >
                                <i class="fa fa-star-o Fs18 Fleft MarRight10 Orange" ></i> 
                                <span> #{msgs['enginedata.page.general.label.favoritos']}</span>
                            </p:commandLink>     
                        </li>

                        <li class="hiddenOnMobile">
                            <p:commandLink  styleClass="menulink Animated05 " process="@this" rendered="#{securityEngineData.typeUser == 'INTERNO'}" 
                                            oncomplete="PF('dlgChangeBrnc').show();" 
                                            update="" actionListener="#{favoriteController.getAllSiteAndBrcn()}" >
                                <i class="fa fa-star-o Fs18 Fleft MarRight10 Orange" ></i> 
                                <span> #{msgs['enginedata.page.general.label.cambioSucursal']}</span>
                            </p:commandLink>     
                        </li>
                    </ul>
                </li>  
                <li>
                    <p:commandLink  styleClass="menulink Animated05 " >
                        <i class="fa fa-user Fs18 Fleft MarRight10 " ></i> 
                        <strong class="hiddenDesktop">
                            <h:outputText value="#{msgs['enginedata.page.general.label.usuario']}"></h:outputText>
                        </strong>                                             
                    </p:commandLink>                  
                    <ul class="backgroundPaquete">
                        <li class="topbarLeft-3 pointHelp pointHelp-configuraciones" >
                            <ul style="margin-left:-145px;height: auto;top: -4px;" class="backgroundPaquete" >
                                <li><a href="#" id="infoUser" > 
                                        <span class="FontAdamantiumBold">
                                            <h:outputText value="#{securityEngineData.userMstrDTO.umUserName}"></h:outputText>
                                        </span>
                                    </a>
                                </li>

                                <li><p:commandLink id="btnCambiarPassword" rendered="#{securityEngineData.typeUser != 'INTERNO'}"  onclick="refreshMainContext('mx/com/enginedata/general/lgn/lstChangePassword.jsf')"  >
                                        <i class="fa fa-user Fs18 Fleft MarRight10" ></i> 
                                        #{msgs['enginedata.page.general.label.cambiarContrasena']}
                                    </p:commandLink> 
                                </li>   

                                <li> 
                                    <p:commandLink id="ajaxs"   action="#{securityEngineData.logout()}"  >
                                        <i class="fa fa-sign-out Fs18 Fleft MarRight10" ></i> 
                                        #{msgs['enginedata.page.general.label.cerrarSecion']}
                                    </p:commandLink>                             
                                </li>
                            </ul>
                        </li>                        
                    </ul>
                </li>
            </ul>

            <p:dialog dynamic="true" modal="true" header="#{msgs['enginedata.page.general.label.favoritos']}" closeOnEscape="true" widgetVar="dlgPickListFav" id="TableFav" minHeight="40"  >
                <p:pickList id="PojoPickList" value="#{favoriteController.listas}" var="theme" effect="bounce" style="width: 800px;"  
                            itemValue="#{theme}" itemLabel="#{msgs[theme.nombreFav]}" showSourceControls="true" showTargetControls="true" showCheckbox="true" responsive="true"
                            showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains" converter="PickListConverter" >                    
                    <f:facet name="sourceCaption">#{msgs['enginedata.page.general.label.modulos']}</f:facet>
                    <f:facet name="targetCaption">#{msgs['enginedata.page.general.label.favoritos']}</f:facet>  

                </p:pickList>    
                <p:commandButton onsuccess="PF('dlgPickListFav').hide();" value="Guardar" id="saveFavoritos" 
                                 style="margin-top: 20px; margin-bottom: 20px;"  styleClass="GreenButton fa fa-floppy-o"  
                                 actionListener="#{favoriteController.saveListFavorites()}" />
            </p:dialog>

            <p:dialog header="#{msgs['enginedata.page.general.label.cambioSucursal']}" closeOnEscape="true" widgetVar="dlgChangeBrnc" modal="true" 
                      draggable="true" resizable="false" styleClass="" >

            </p:dialog> 

        </h:form>
    </div>
    <!-- TOPBAR END -->
</ui:composition>