<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
>
    <h:head>
        <title>Buzón RAD</title>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/Adamantium/adamantium-layout/css/font-awesome.css?v=#{securityEngineData.versionApp}"/>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/style.css?v=#{securityEngineData.versionApp}"/>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/styleGeneric.css?v=#{securityEngineData.versionApp}"/>
        <script type="text/javascript" src="../../../../../resources/js/global.js?v=#{securityEngineData.versionApp}"></script>
        <script type="text/javascript" src="../../../../../resources/js/calendar-localization.js"></script>
        <style type="text/css">
            .ui-datatable .ui-column-filter{display: none;}
        </style>    
        <link href="../../../../../resources/css/logisticStyle.css" rel="stylesheet" type="text/css"/>

        <link rel="stylesheet" href="../../../../../resources/Adamantium/adamantium-layout/css/font-awesome.min.css"/>
        <script type="text/javascript">

            $(document).ready(function () {

                rcBtnReqClientID();
            });

            function doExport(selector, params) {
                var options = {
                    tableName: 'TableBuzon',
                    worksheetName: 'Countries by population'
                };
                $.extend(true, options, params);
                $(selector).tableExport(options);
            }

            function DoOnCellHtmlData(cell, row, col, data) {
                var result = "";
                if (data != "") {
                    var html = $.parseHTML(data)

                    $.each(html, function () {
                        if (typeof $(this).html() === 'undefined')
                            result += $(this).text();
                        else if ($(this).is("input"))
                            result += $('#' + $(this).attr('id')).val();
                        else if (!$(this).hasClass('no_export'))
                            result += $(this).html();
                    });
                }
                return result;
            }

        </script>            

    </h:head>
    <h:body styleClass="buzonRad" onload="#{LogisticaViajesController.onLoad()}" > 
        <h:form onkeypress="return false;"  onsubmit="return false;">
            <p:growl id="messages" showDetail="true" sticky="true" />
        </h:form >

        <h:form rendered="true" id="form1" onkeypress="return event.keyCode !== 13"  onsubmit="return false;">
            <p:growl id="message" showDetail="true" showSummary="false" autoUpdate="true" life="4500" />

            <p:panel header="Viajes" id="panel1" styleClass="FiltrosHeader" >

                <div class="ui-grid ui-grid-responsive gridFiltrosGenericos enterSubmitRad" style="margin-bottom: 5px;">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12 filtroGenericParent">
                            <div class="ui-grid ui-grid-responsive">
                                <div class="ui-grid-row">

                                    <div class="ui-grid-col-2 filtroCalendar filtroGenericField">
                                        <p:outputLabel for="buzonRadF_fechaInicial" styleClass="labelBuzon" value="Fecha inicial:" style="display: block;font-weight: bold;" /> 
                                        <p:calendar value="#{LogisticaViajesController.filters.filterFecha}"
                                                    id="buzonRadF_fechaInicial" pattern="dd/MM/yyyy" mode="popup" showOn="button"
                                                    maxdate="#{LogisticaViajesController.filters.filterFecha}"
                                                    locale="es"
                                                    >
                                        </p:calendar>   
                                    </div>

                                    <div class="ui-grid-col-2 filtroCalendar filtroGenericField">    
                                        <p:outputLabel for="buzonRadF_fechaFinal" value="Fecha final:" style="display: block;font-weight: bold;" /> 
                                        <p:calendar value="#{LogisticaViajesController.filters.filterFecha2}" id="buzonRadF_fechaFinal" pattern="dd/MM/yyyy" mode="popup" showOn="button"
                                                    maxdate="#{LogisticaViajesController.filters.filterFecha}"
                                                    >
                                        </p:calendar>     
                                    </div>                    


                                    <div class="ui-grid-col-2 filtroCbxMedium filtroGenericField">
                                        <p:outputLabel value="Filtros" styleClass="LabelBuzon" /> 
                                        <p:selectOneMenu id="opciones" value="#{LogisticaViajesController.opcion.nombreValor}" styleClass="full-width input-to-uppercase">
                                            <f:selectItems value="#{LogisticaViajesController.atlodto}" var="op" itemLabel="#{op.nombreValor}" itemValue="#{op.value}" />
                                        </p:selectOneMenu>   
                                    </div> 

                                    <div class="ui-grid-col-2 filtroButtonSearch filtroGenericField">
                                        <p:commandButton value="#{msgs['enginedata.page.search-button-label']}" update="TableTractos"  id="Buscar"  styleClass="fa fa-search-plus" actionListener="#{LogisticaViajesController.cambiarFiltroGrid}" onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"/> 
                                        <p:remoteCommand name="rcBtnReqClientID" update="TableTractos" onstart="document.getElementById('form1:Btnhidden').click();" immediate="true"  />
                                        <p:commandButton onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"  update="TableTractos"  style="display: none;" value="BtnHidden" id="Btnhidden" />   

                                    </div>

                                </div>
                            </div>                                        
                        </div>
                    </div>
                </div>  
                <p:dataTable widgetVar="cellCars" rendered="true"    value="#{LogisticaViajesController.lazyModel}"  rowKey="#{segDTO.segmentsDTO.tsTruckNo}"
                             filteredValue="#{LogisticaViajesController.filteredListAddresses_SegmentsEditDTO}" var="segDTO" 
                             lazy="true" rows="40"  scrollable="true" scrollHeight="340" paginator="true"
                             paginatorPosition="bottom" 
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" 
                             rowsPerPageTemplate="50,100,200,300" 
                             emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}"
                             resizableColumns="true"
                             styleClass="dtHeightRow40 dt-export dtHeight100"
                             editable="true" editMode="cell"
                             id="TableTractos" 
                             >
                    <p:ajax event="filter" listener="#{LogisticaViajesController.filterListener_SegmentsEditDTO}" update="@this"/>    
                    <f:facet name="header" class="headerDt" id="headerDt"></f:facet>

                    <p:ajax event="cellEdit" listener="#{LogisticaViajesController.onCellEdit}" update=":form1:message" />


                    <f:facet name="header" class="headerDt" id="headerDt">

                        <div class="ui-grid ui-grid-responsive">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-3">
                                </div>
                                <div class="ui-grid-col-3">
                                    <h:outputText value="Búsqueda:" />
                                    <p:inputText id="globalFilter" widgetVar="globalFilterWv" style="width: 200px;" onkeyup="PF('cellCars').filter()"  styleClass="input-to-uppercase busquedaGralRapidaInpuut" placeholder="#{msgs['enginedata.page.general.catalogs.lstUser.lblBusqueda']}" />
                                </div>

                                <div class="ui-grid-col-3">

                                    <h:commandLink  rendered="#{LogisticaViajesController.actionPermitido('EXPORT')}" >
                                        <img src="../../../../../resources/images/excel.png" width="24"/>
                                        <p:dataExporter type="xls" target="TableTractos" fileName="TableTractos" />
                                    </h:commandLink>

                                    <h:commandLink rendered="#{LogisticaViajesController.actionPermitido('EXPORT')}" >
                                        <img src="../../../../../resources/images/pdf.png" width="24"/>
                                        <p:dataExporter type="pdf" target="TableTractos" fileName="TableTractos"/>
                                    </h:commandLink>


                                    <h:commandLink style="text-decoration: none;" rendered="#{LogisticaViajesController.actionPermitido('EXPORT')}" >
                                        <img src="../../../../../resources/images/csv.png" width="24"/>
                                        <p:dataExporter type="csv" target="TableTractos" fileName="TableTractos"/>
                                    </h:commandLink>

                                    <h:commandLink style="text-decoration: none;" rendered="#{LogisticaViajesController.actionPermitido('EXPORT')}" >
                                        <img src="../../../../../resources/images/xml.png" width="24"/>
                                        <p:dataExporter type="xml" target="TableTractos" fileName="TableTractos"/>
                                    </h:commandLink>       


                                </div>                                

                                <div class="ui-grid-col-3">

                                    <p:commandButton id="toggler2" type="button" value="#{msgs['enginedata.page.general.label.columnas']}" style="float:right" icon="ui-icon-calculator" />
                                    <p:columnToggler datasource="TableTractos" trigger="toggler2" />

                                </div>
                            </div>
                        </div>  
                    </f:facet>


                    <p:column headerText="Movil" styleClass="alginCenter" style="width: 80px;" filterBy="#{segDTO.segmentsDTO.tsTruckNo}" sortBy="#{segDTO.segmentsDTO.tsTruckNo}">
                        <h:outputText value="#{segDTO.segmentsDTO.tsTruckNo}" /> 
                    </p:column>  
                    <p:column headerText="Remolque 1" styleClass="alginCenter " style="width: 90px;" filterBy="#{segDTO.segmentsDTO.tsTral1}"  sortBy="#{segDTO.segmentsDTO.tsTral1}">
                        <h:outputText value="#{segDTO.segmentsDTO.tsTral1}" /> 
                    </p:column>  
                    <p:column headerText="Remolque 2" styleClass="alginCenter" style="width: 90px;" filterBy="#{segDTO.segmentsDTO.tsTral2}" sortBy="#{segDTO.segmentsDTO.tsTral2}">
                        <h:outputText value="#{segDTO.segmentsDTO.tsTral2}" /> 
                    </p:column>  
                    <p:column headerText="Región" styleClass="alginCenter " style="width: 80px;" filterBy="#{segDTO.segmentsDTO.region}" sortBy="#{segDTO.segmentsDTO.region}">
                        <h:outputText value="#{segDTO.segmentsDTO.region}" /> 
                    </p:column>  
                    <p:column headerText="Viaje" styleClass="alginCenter " style="width: 150px;" filterBy="#{segDTO.segmentsDTO.tsTripNo}" sortBy="#{segDTO.segmentsDTO.tsTripNo}">
                        <h:outputText value="#{segDTO.segmentsDTO.tsTripNo}" /> 
                    </p:column>  
                    <p:column headerText="Segmento" styleClass="alginCenter " style="width: 170px;" filterBy="#{segDTO.segmentsDTO.tsSegmId}" sortBy="#{segDTO.segmentsDTO.tsSegmId}">
                        <h:outputText value="#{segDTO.segmentsDTO.tsSegmId}" /> 
                    </p:column> 

                    <p:column headerText="Fecha de salida" styleClass="alginCenter " style="width: 170px;" filterBy="#{segDTO.fechaDeSalida}" sortBy="#{segDTO.fechaDeSalida}">
                        <h:outputText value="#{segDTO.fechaDeSalida}" /> 
                    </p:column> 

                    <p:column headerText="Salida programada" styleClass="alginCenter " style="width: 170px;" filterBy="#{segDTO.horaSalida}" sortBy="#{segDTO.horaSalida}">
                        <h:outputText value="#{segDTO.horaSalida}" /> 
                    </p:column>  
                    <p:column headerText="Salida SW" styleClass="alginCenter " style="width: 170px;" filterBy="#{segDTO.segmentsDTO.tsActlDeprDate}" sortBy="#{segDTO.segmentsDTO.tsActlDeprDate}">
                        <h:outputText value="#{segDTO.segmentsDTO.tsActlDeprDate}" /> 
                    </p:column> 



                    <p:column headerText="Salida GPS" styleClass="alginCenter" style=" width: 170px;" filterBy="#{segDTO.segmentsDTO.tsActlDeprGpsDate}" sortBy="#{segDTO.segmentsDTO.tsActlDeprGpsDate}" >
                        <p:cellEditor rendered="#{LogisticaViajesController.actionPermitido('UPDATE')}">
                            <f:facet name="output">
                                <h:outputText value="#{segDTO.segmentsDTO.tsActlDeprGpsDate}" >
                                    <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                                </h:outputText>
                            </f:facet>
                            <f:facet name="input">
                                <p:calendar id="datetime" value="#{segDTO.segmentsDTO.tsActlDeprGpsDate}" pattern="MM/dd/yyyy HH:mm:ss" />    
                            </f:facet>
                        </p:cellEditor>
                    </p:column>


                    <p:column headerText="Diferencia de salida" styleClass="alginCenter " filterBy="#{segDTO.segmentsDTO.difSalida}" style="width: 170px;" sortBy="#{segDTO.segmentsDTO.difSalida}">
                        <h:outputText value="#{segDTO.segmentsDTO.difSalida}" /> 
                    </p:column>  



                    <p:column headerText="Diferencia de salida GPS" styleClass="alginCenter" filterBy="#{segDTO.segmentsDTO.difLlegadaGps}" style="width: 250px;" sortBy="#{segDTO.segmentsDTO.difLlegadaGps}">
                        <h:outputText value="#{segDTO.segmentsDTO.difSalidaGps}" /> 
                    </p:column>  




                    <p:column headerText="Fecha de Llegada" styleClass="alginCenter " filterBy="#{segDTO.fechaDeLlegada}" style="width: 170px;" sortBy="#{segDTO.fechaDeLlegada}">
                        <h:outputText value="#{segDTO.fechaDeLlegada}" /> 
                    </p:column> 

                    <p:column headerText="Llegada programada" styleClass="alginCenter" filterBy="#{segDTO.horaLlegada}" style="width: 170px;" sortBy="#{segDTO.horaLlegada}">
                        <h:outputText value="#{segDTO.horaLlegada}" />
                    </p:column> 
                    <p:column headerText="Llegada SW" styleClass="alginCenter " style="width: 170px;" filterBy="#{segDTO.segmentsDTO.tsActlArvlDate}" sortBy="#{segDTO.segmentsDTO.tsActlArvlDate}">
                        <h:outputText value="#{segDTO.segmentsDTO.tsActlArvlDate}" /> 
                    </p:column>   

                    <p:column headerText="Llegada GPS" styleClass="alginCenter" style="width: 170px;" filterBy="#{segDTO.segmentsDTO.tsActlArvlGpsDate}" sortBy="#{segDTO.segmentsDTO.tsActlArvlGpsDate}">
                        <p:cellEditor rendered="#{LogisticaViajesController.actionPermitido('UPDATE')}">
                            <f:facet name="output">
                                <h:outputText value="#{segDTO.segmentsDTO.tsActlArvlGpsDate}" >
                                    <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                                </h:outputText>
                            </f:facet>
                            <f:facet name="input">
                                <p:calendar id="datetime_arvl" value="#{segDTO.segmentsDTO.tsActlArvlGpsDate}" pattern="MM/dd/yyyy HH:mm:ss" />    
                            </f:facet>
                        </p:cellEditor>
                    </p:column>


                    <p:column headerText="Diferencia de llegada" styleClass="alginCenter " style="width: 250px;" filterBy="#{segDTO.segmentsDTO.difLlegada}" sortBy="#{segDTO.segmentsDTO.difLlegada}">
                        <h:outputText value="#{segDTO.segmentsDTO.difLlegada}" /> 
                    </p:column> 
                    <p:column headerText="Diferencia de llegada gps" styleClass="alginCenter " style="width: 250px;" filterBy="#{segDTO.segmentsDTO.difLlegadaGps}" sortBy="#{segDTO.segmentsDTO.difLlegadaGps}">
                        <h:outputText value="#{segDTO.segmentsDTO.difLlegadaGps}" /> 
                    </p:column> 
                    <p:column headerText="Estimado en carretera" styleClass="alginCenter " style="width: 200px;" filterBy="#{segDTO.segmentsDTO.esticar}" sortBy="#{segDTO.segmentsDTO.esticar}">
                        <h:outputText value="#{segDTO.segmentsDTO.esticar}" /> 
                    </p:column> 
                    <p:column headerText="Tiempo en carretera" styleClass="alginCenter " style="width: 170px;" filterBy="#{segDTO.segmentsDTO.realcarrr}" sortBy="#{segDTO.segmentsDTO.realcarrr}">
                        <h:outputText value="#{segDTO.segmentsDTO.realcarrr}" /> 
                    </p:column>




                </p:dataTable>


            </p:panel>
        </h:form>


        <p:ajaxStatus onsuccess="PF('statusDialog').hide()" />
        <p:dialog widgetVar="statusDialog" style="border-radius: 0%;text-align: center; background: transparent; box-shadow: none !important;" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <img src="../../../../../resources/images/gif/rotating_cog.gif" style="width: 200px;width: 168px; "/>
            <strong style="display: block;">Cargando...</strong>
        </p:dialog>

    </h:body>
</html>

