<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" 
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>#{msgs['menu.page.menu.menuBar.itemMessagingEfficiency']}</title>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/style.css?v=#{securityEngineData.versionApp}"/>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/styleGeneric.css?v=#{securityEngineData.versionApp}"/>
        
        <script type="text/javascript" src="../../../../../resources/help/js/help.js?v=#{securityEngineData.versionApp}"></script>
        <script type="text/javascript" src="../../../../../resources/js/global.js?v=#{securityEngineData.versionApp}"></script>
        <script type="text/javascript" src="../../../../../resources/js/calendar-localization.js?v=#{securityEngineData.versionApp}"></script>         
        
        <style type="text/css">
            .ui-datatable .ui-column-filter{display: none;}
            .ui-datatable-frozenlayout-left {
                width:40%;
            }
            .ui-datatable-frozenlayout-right {
                width:60%;
            }

            .SUCCESS{
                background-color : green !important;
                display: block;
                color: #fff;
                font-weight: bold;

            }

            .BAD{
                background-color: red !important; 
                display: block;
                color: #fff;
                font-weight: bold;
            }

            .PARTIAL_SUCCESS{
                background-color: yellow !important;
                display: block;
                color: #000;
                font-weight: bold;
            }

            .DEFAULT{
                background-color: white !important; 
            }
            #form\:dtBuzon .ui-treetable-toggler{
                background-image: url(/enginedata/javax.faces.resource/images/rightarrow-navy.svg.jsf?ln=primefaces-adamantium)!important; 
            }
            /*            .ui-treetable .ui-treetable-header {
                             background-color: #0288d1;
                        }
                        .ui-treetable table thead tr th {
                            color: #FFF;
                            background-color: #007CAE;
                            border: solid 1px #00629f;
                        }
                        .ui-treetable .ui-treetable-header {   
                            padding: 7px 5px!important;
                        }      */
            .ui-treetable-scrollable-theadclone{
                display: none;
            }
            .columnHeaderStyle{
                font-size: 11px !important;
            }
            .rowItemStyle{
                font-size: 11px;
            }
        </style> 

        <script type="text/javascript">
            function doExport(selector, params) {
                var options = {
                    tableName: 'mssgEffcy',
                    worksheetName: 'mssgEffcy'
                };
                $.extend(true, options, params);
                $(selector).tableExport(options);
            }

            function DoOnCellHtmlData(cell, row, col, data) {
                var result = "";
                if (data != "") {
                    var html = $.parseHTML(data)
                    $.each(html, function () {
                        if (typeof $(this).html() === 'undefined')
                            result += $(this).text();
                        else if ($(this).is("input"))
                            result += $('#' + $(this).attr('id')).val();
                        else if (!$(this).hasClass('no_export'))
                            result += $(this).html();
                    });
                }
                return result;
            }
            function exportExcel() {
                doExport('.dt-export > .ui-treetable-scrollable-body > table', {type: 'excel', excelstyles: ['background-color', 'color', 'width',
                        'border-bottom-color', 'border-bottom-style', 'border-bottom-width',
                        'border-top-color', 'border-top-style', 'border-top-width',
                        'border-left-color', 'border-left-style', 'border-left-width',
                        'border-right-color', 'border-right-style', 'border-right-width',
                        'font-family', 'font-size', 'font-weight']
                });

            }
            // hiddenToggle();
            function initHiddenToggle(){
                $("#form\\:dtBuzon\\:optionsToggler .ui-columntoggler-items > .ui-columntoggler-item:nth-child(13) span.ui-chkbox-icon").addClass("ui-icon-blank");
                $("#form\\:dtBuzon\\:optionsToggler .ui-columntoggler-items > .ui-columntoggler-item:nth-child(13) span.ui-chkbox-icon").removeClass("ui-icon-check");

                $("#form\\:dtBuzon\\:optionsToggler .ui-columntoggler-items > .ui-columntoggler-item:nth-child(14) span.ui-chkbox-icon").addClass("ui-icon-blank");
                $("#form\\:dtBuzon\\:optionsToggler .ui-columntoggler-items > .ui-columntoggler-item:nth-child(14) span.ui-chkbox-icon").removeClass("ui-icon-check");                 
                $(".hiddenOnLoad").addClass("ui-helper-hidden");                
            }
            function hiddenToggle(){
//                var attr = $("#form\\:dtBuzon\\:optionsToggler .ui-columntoggler-items > .ui-columntoggler-item:nth-child(13) span.ui-chkbox-icon").attr("class");
//                var buscar = "ui-icon-check";
//                //alert(attr+","+buscar.indexOf(attr));
//                //Si No esta check
//                if (buscar.indexOf(attr) === -1) {
//                    //alert(attr+","+buscar.indexOf(attr));
//                   $("#form\\:dtBuzon\\:optionsToggler .ui-columntoggler-items > .ui-columntoggler-item:nth-child(13) span.ui-chkbox-icon").addClass("ui-icon-blank");
//                   $("#form\\:dtBuzon\\:optionsToggler .ui-columntoggler-items > .ui-columntoggler-item:nth-child(13) span.ui-chkbox-icon").removeClass("ui-icon-check");
//
//                   $("#form\\:dtBuzon\\:optionsToggler .ui-columntoggler-items > .ui-columntoggler-item:nth-child(14) span.ui-chkbox-icon").addClass("ui-icon-blank");
//                   $("#form\\:dtBuzon\\:optionsToggler .ui-columntoggler-items > .ui-columntoggler-item:nth-child(14) span.ui-chkbox-icon").removeClass("ui-icon-check");                 
//                   $(".hiddenOnLoad").addClass("ui-helper-hidden");
//                }

            }
        </script>


    </h:head>
    <h:body styleClass="SignSmBuzon  bodyContent" onload="dtHeight100();#{segMessagingEfficiencyController.onLoad()}">
        <f:view locale="#{securityEngineData.locale}">
            <h:form rendered="true" id="form">
                <p:focus id="focus"/>
                <p:growl id="message" showDetail="true" showSummary="false" autoUpdate="true" life="2500" />
                <p:panel header="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.title']}" id="panel1" styleClass="FiltrosHeader generic100Height DTToggleSort">
                    <div class="ui-grid ui-grid-responsive gridFiltrosGenericos">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-12 filtroGenericParent">
                                <div class="ui-grid ui-grid-responsive">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2 filtroCbx filtroGenericField">
                                            <p:outputLabel for="cmbRegionSME" value="#{msgs['enginedata.page.general.label.Region']}" styleClass="LabelBuzon" /> 
                                            <p:selectOneMenu id="cmbRegionSME" binding="#{segMessagingEfficiencyController.cmbRegions}" editable="true" converter="genericConverter" value="#{segMessagingEfficiencyController.selectedsysRegionMstrDTO}" valueChangeListener="#{segMessagingEfficiencyController.getSiteOfRegion}" filter="true" filterMatchMode="startsWith" styleClass="full-width input-to-uppercase">
                                                <f:selectItems value="#{segMessagingEfficiencyController.listRegionMstrDto}" var="sysRegionMstrDTO" itemValue="#{sysRegionMstrDTO}" itemLabel="#{sysRegionMstrDTO.regionName}"/>
                                                <p:ajax process="cmbRegionSME" partialSubmit="true" event="valueChange"  update="cmbSiteSME" />
                                                <p:ajax process="cmbRegionSME" partialSubmit="true" event="itemSelect"  update="cmbSiteSME" />                

                                            </p:selectOneMenu>   
                                        </div>

                                        <div class="ui-grid-col-2 filtroCbx filtroGenericField">
                                            <p:outputLabel for="cmbSiteSME" value="#{msgs['enginedata.page.general.label.plaza']}" styleClass="LabelBuzon" /> 
                                            <p:selectOneMenu id="cmbSiteSME" binding="#{segMessagingEfficiencyController.cmbSites}" editable="true" converter="genericConverter" value="#{segMessagingEfficiencyController.selectedsysSiteMstrDTO}" valueChangeListener="#{segMessagingEfficiencyController.getBranchOfsite}" filter="true" filterMatchMode="startsWith" styleClass="full-width input-to-uppercase">
                                                <f:selectItems value="#{segMessagingEfficiencyController.listSiteMstrDTO}" var="sysSiteMstrDTO" itemValue="#{sysSiteMstrDTO}" itemLabel="#{sysSiteMstrDTO.siteId}"/>
                                                <p:ajax process="cmbSiteSME" partialSubmit="true" event="valueChange"  update="cmbBrncSME" />
                                                <p:ajax process="cmbSiteSME" partialSubmit="true" event="itemSelect"  update="cmbBrncSME" />                
                                            </p:selectOneMenu>  
                                        </div>
                                        <div class="ui-grid-col-2 filtroCbx filtroGenericField">
                                            <p:outputLabel for="cmbBrncSME" value="#{msgs['enginedata.page.general.label.sucursal']}" styleClass="LabelBuzon" />
                                            <p:selectOneMenu id="cmbBrncSME" binding="#{segMessagingEfficiencyController.cmbBranches}" editable="true" converter="genericConverter" value="#{segMessagingEfficiencyController.selectedsysBrncMstrDTO }" filter="true" filterMatchMode="startsWith" styleClass="full-width input-to-uppercase">
                                                <f:selectItems value="#{segMessagingEfficiencyController.listBrncDTO}" var="sysBrncMstrDTO" itemLabel="#{sysBrncMstrDTO.bmBrncID}" itemValue="#{sysBrncMstrDTO}"/>
                                                <p:column style="width:10%">
                                                    <h:outputText value="#{sysBrncMstrDTO.bmBrncID}" />
                                                </p:column>
                                            </p:selectOneMenu>   
                                        </div>
                                        <div class="ui-grid-col-2 filtroCbx filtroGenericField">
                                            <p:outputLabel for="cmbServiceSME" value="#{msgs['enginedata.page.general.label.messagingServiceType']}" styleClass="LabelBuzon" />
                                            <p:selectOneMenu id="cmbServiceSME" binding="#{segMessagingEfficiencyController.cmbService}" editable="true" converter="genericConverter" value="#{segMessagingEfficiencyController.selectedService}" valueChangeListener="#{segMessagingEfficiencyController.selectedServiceChange}" filter="true" filterMatchMode="startsWith" styleClass="full-width input-to-uppercase">
                                                <f:selectItems value="#{segMessagingEfficiencyController.lstServices}" var="service" itemLabel="#{service.paramID}" itemValue="#{service}" />
                                                <p:ajax process="cmbServiceSME" partialSubmit="true" event="valueChange"  update="cmbServiceSME" />
                                                <!--<p:ajax process="cmbServiceSME" partialSubmit="true" event="itemSelect"  update="cmbServiceSME" />-->
<!--                                                <p:column style="width:10%">
                                                    <h:outputText value="{service.paramID}" />
                                                </p:column>-->
                                            </p:selectOneMenu>   
                                        </div>
                                        <div class="ui-grid-col-2 filtroCalendar filtroGenericField">
                                            <p:outputLabel for="buzonSRF_fechaInicial" value="#{msgs['enginedata.page.label.startCreationDate']}" styleClass="LabelBuzon"/> 
                                            <p:calendar mask="true" value="#{segMessagingEfficiencyController.filters.filterFecha}" binding="#{segMessagingEfficiencyController.calIniDate}" id="buzonSRF_fechaInicial" pattern="dd/MM/yyyy" mode="popup" showOn="button" maxdate="#{segMessagingEfficiencyController.filters.filterFecha}" required="true" lang="#{securityEngineData.locale}" locale="#{securityEngineData.locale}" />
                                        </div>
                                        <div class="ui-grid-col-2 filtroCalendar filtroGenericField">
                                            <p:outputLabel for="buzonSRF_fechaFinal" value="#{msgs['enginedata.page.label.fechaFinal']}" styleClass="LabelBuzon"/> 
                                            <p:calendar mask="true" value="#{segMessagingEfficiencyController.filters.filterFecha2}" binding="#{segMessagingEfficiencyController.calEndDate}" id="buzonSRF_fechaFinal" pattern="dd/MM/yyyy" mode="popup" showOn="button" maxdate="#{segMessagingEfficiencyController.filters.filterFecha}" required="true" lang="#{securityEngineData.locale}" locale="#{securityEngineData.locale}"/>
                                        </div>     
                                        <div class="ui-grid-col-2 filtroButtonSearch filtroGenericField">
                                            <p:commandButton value="#{msgs['enginedata.page.search-button-label']}" update="dtBuzon , dtbHiddenSignSumm focus resQtyTotalGuias resPercentDeliveredOnTime resQtyDeliveredOnTime resPercentOutOfTime"  id="Buscar" actionListener="#{segMessagingEfficiencyController.messagingEfficiencyAction()}" 
                                                             styleClass="fa fa-search-plus" onstart="PF('statusDialog').show()" 
                                                             onsuccess="PF('statusDialog').hide();" oncomplete="hiddenToggle()"
                                                             process="@this, buzonSRF_fechaInicial, buzonSRF_fechaFinal,cmbRegionSME,cmbBrncSME,cmbSiteSME" rendered="#{segMessagingEfficiencyController.actionPermitido('SEARCH')}"/> 
                                        </div>
                                    </div>
                                </div>                                        
                            </div>
                        </div>
                    </div>
                    <p:treeTable  id="dtBuzon" widgetVar="table" 
                                  var="mssgEffcy" rendered="true" 
                                  selection="#{segMessagingEfficiencyController.selectedNode}"
                                  emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}"
                                  styleClass="dt-export"
                                  value="#{segMessagingEfficiencyController.root}" selectionMode="single" 
                                  scrollable="true" >
                         <f:facet name="header" class="ui-datatable-header">
                            <div class="ui-grid ui-grid-responsive">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2"></div>
                                    <div class="ui-grid-col-5">
                                    </div>
                                    <div class="ui-grid-col-5" id="options">
                                        <h:commandLink rendered="#{segMessagingEfficiencyController.actionPermitido('EXPORT')}">
                                            <img src="../../../../../resources/images/excel.png" width="24"/>
                                            <p:dataExporter type="xls" target="form:dtbHiddenSignSumm" fileName="SegMsgEffcyXLS"  pageOnly="false" />
                                        </h:commandLink>
                                        <h:commandLink rendered="#{segMessagingEfficiencyController.actionPermitido('EXPORT')}">
                                            <img src="../../../../../resources/images/pdf.png" width="24"/>
                                            <p:dataExporter type="pdf" target="form:dtbHiddenSignSumm" fileName="SegMsgEffcyPDF" pageOnly="false" />
                                        </h:commandLink>
                                        <h:commandLink rendered="#{segMessagingEfficiencyController.actionPermitido('EXPORT')}">
                                            <img src="../../../../../resources/images/csv.png" width="24"/>
                                            <p:dataExporter type="csv" target="form:dtbHiddenSignSumm" fileName="SegMsgEffcyCSV" pageOnly="false" />
                                        </h:commandLink>
                                        <h:commandLink rendered="#{segMessagingEfficiencyController.actionPermitido('EXPORT')}">
                                            <img src="../../../../../resources/images/xml.png" width="24"/>
                                            <p:dataExporter type="xml" target="form:dtbHiddenSignSumm" fileName="SegMsgEffcyXML" pageOnly="false" />
                                        </h:commandLink> 
                                        <p:commandButton id="toggler" type="button" value="#{msgs['enginedata.page.general.label.columnas']}" style="float:right" icon="ui-icon-calculator" />
                                        <div class="colToggler">
                                            <p:columnToggler datasource="dtBuzon" id="optionsToggler" trigger="toggler"  />              
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                        </f:facet>               

                        <p:column headerText="#{msgs['enginedata.page.general.label.Region']}"  styleClass="width23 alginCenter columnHeaderStyle" sortBy="#{mssgEffcy.regionId}" filterBy="#{mssgEffcy.regionId}">
                            <h:outputText value="#{mssgEffcy.regionId}" styleClass="rowItemStyle" />
                        </p:column>

<!--                        <p:column headerText="{msgs['enginedata.page.general.label.RegionName']}"  styleClass="width60 alginCenter" sortBy="{mssgEffcy.regionName}" filterBy="{mssgEffcy.regionName}">
                            <h:outputText value="{mssgEffcy.regionName}" />
                        </p:column>-->
                        <p:column headerText="#{msgs['enginedata.page.general.label.sucursal']}"  styleClass="width25 alginCenter columnHeaderStyle" sortBy="#{mssgEffcy.branchId}" filterBy="#{mssgEffcy.branchId}">
                            <h:outputText value="#{mssgEffcy.branchId}" styleClass="rowItemStyle" />
                        </p:column>

                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.receivingDate']}" styleClass="width30 alginCenter columnHeaderStyle" sortBy="#{mssgEffcy.receivedInBranchDateTime}" filterBy="#{mssgEffcy.receivedInBranchDateTime}" >
                            <h:outputText value="#{mssgEffcy.receivedInBranchDateTime}" styleClass="rowItemStyle" >
                                <f:convertDateTime type="date" pattern="dd/MM/yyyy"/>
                            </h:outputText>
                        </p:column>  

                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.qtyReceived']}"  styleClass="width10 alginRight columnHeaderStyle" sortBy="#{mssgEffcy.qtyTotalGeneric}" filterBy="#{mssgEffcy.qtyTotalGeneric}">
                            <h:outputText value="#{mssgEffcy.qtyTotalGeneric}">
                            </h:outputText> 
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.qtyDlvdOnTime']}"  styleClass="width10 alginRight columnHeaderStyle" sortBy="#{mssgEffcy.qtyOnTimeGeneric}" filterBy="#{mssgEffcy.qtyOnTimeGeneric}">
                            <h:outputText value="#{mssgEffcy.qtyOnTimeGeneric}">
                            </h:outputText> 
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.qtyDlvdOutTime']}"  styleClass="width10 alginRight columnHeaderStyle" sortBy="#{mssgEffcy.qtyOnTimeGeneric}" filterBy="#{mssgEffcy.qtyOnTimeGeneric}">
                            <h:outputText value="#{(mssgEffcy.qtyTotalGeneric != null) ? mssgEffcy.qtyTotalGeneric - mssgEffcy.qtyOnTimeGeneric : null}">
                            </h:outputText> 
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.prctDlvdOnTime']}"  styleClass="width10 alginRight columnHeaderStyle" sortBy="#{mssgEffcy.prctOnTimeGeneric}" filterBy="#{mssgEffcy.prctOnTimeGeneric}">
                            <h:outputText value="#{mssgEffcy.prctOnTimeGeneric}" styleClass="#{mssgEffcy.createLabelPercentOnTimeGeneric()} rowItemStyle">
                                <f:convertNumber type="percent" pattern="#0 %"/>
                            </h:outputText> 
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.prctDlvdOutTime']}"  styleClass="width10 alginRight columnHeaderStyle" sortBy="#{mssgEffcy.prctOnTimeGeneric}" filterBy="#{mssgEffcy.prctOnTimeGeneric}">
                            <h:outputText value="#{(mssgEffcy.qtyTotalGeneric != null) ? 1 - mssgEffcy.prctOnTimeGeneric : null}">
                                <f:convertNumber type="percent" pattern="#0 %"/>
                            </h:outputText> 
                        </p:column>

                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.maxReceivingTime']}"  styleClass="width25 alginCenter columnHeaderStyle" sortBy="#{mssgEffcy.receivedInBranchMaxTime}" filterBy="#{mssgEffcy.receivedInBranchMaxTime}">
                            <h:outputText value="#{mssgEffcy.receivedInBranchMaxTime}" styleClass="rowItemStyle" >
                                <f:convertDateTime type="time" pattern="HH:mm"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.receivedGuiaNo']}"  styleClass="width30 alginCenter columnHeaderStyle" sortBy="#{mssgEffcy.formNo}" filterBy="#{mssgEffcy.formNo}">
                            <h:outputText value="#{mssgEffcy.formNo}" styleClass="rowItemStyle" />
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.general.label.rastreo']}"  styleClass="width30 alginCenter columnHeaderStyle" sortBy="#{mssgEffcy.guiaNo}" filterBy="#{mssgEffcy.guiaNo}">
                            <h:outputText value="#{mssgEffcy.guiaNo}" styleClass="rowItemStyle" />
                        </p:column> 
                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.lastStatus']}"  styleClass="width40 alginLeft columnHeaderStyle" sortBy="#{mssgEffcy.lastStatus}" filterBy="#{mssgEffcy.lastStatus}">
                            <h:outputText value="#{mssgEffcy.lastStatus}" id="guiaLastStatus" styleClass="rowItemStyle" />
                            <p:tooltip rendered="#{mssgEffcy.lastStatus != null and !mssgEffcy.lastStatus.isEmpty()}" id="toolTipLastStatus" for="guiaLastStatus" value="#{mssgEffcy.lastStatus}" />
                        </p:column> 
                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.promiseDeliveryDate']}"  styleClass="width30 alginCenter columnHeaderStyle" sortBy="#{mssgEffcy.deliveryPromiseDateTime}" >
                            <h:outputText value="#{mssgEffcy.deliveryPromiseDateTime}" styleClass="rowItemStyle">
                                <f:convertDateTime type="both" pattern="dd/MM/yyyy HH:mm"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.receivedTime']}"  styleClass="width30 alginRight columnHeaderStyle" sortBy="#{mssgEffcy.receivedInBranchTime}" >
                            <h:outputText value="#{mssgEffcy.receivedInBranchTime}" styleClass="rowItemStyle">
                                <f:convertDateTime type="both" pattern="dd/MM/yyyy HH:mm"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.arrivalMeasurement']}"  styleClass="width40 alginCenter columnHeaderStyle" sortBy="#{mssgEffcy.arrivalTimeMeasurement}">
                            <h:outputText value="#{mssgEffcy.arrivalTimeMeasurement}" styleClass="#{mssgEffcy.createLabelArrivalTimeMeasurement()} rowItemStyle" />
                        </p:column>

                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.shipmentTime']}"  styleClass="width30 alginRight columnHeaderStyle" sortBy="#{mssgEffcy.shippingToRouteDateTime}" filterBy="#{mssgEffcy.shippingToRouteDateTime}">
                            <h:outputText value="#{mssgEffcy.shippingToRouteDateTime}" styleClass="rowItemStyle"> 
                                <f:convertDateTime type="date" pattern="dd/MM/yyyy HH:mm"/>
                            </h:outputText>                                
                        </p:column>

                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.deliveryTime']}"  styleClass="width30 alginRight columnHeaderStyle" sortBy="#{mssgEffcy.deliveryDateTime}" filterBy="#{mssgEffcy.deliveryDateTime}">
                            <h:outputText value="#{mssgEffcy.deliveryDateTime}" styleClass="rowItemStyle">     
                                <f:convertDateTime type="both" pattern="dd/MM/YYYY HH:mm" />
                            </h:outputText> 
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.serviceMeasurement']}"  styleClass="width40 alginCenter columnHeaderStyle" sortBy="#{mssgEffcy.serviceMeasurement}" filterBy="#{mssgEffcy.serviceMeasurement}">
                            <h:outputText value="#{mssgEffcy.serviceMeasurement}" styleClass="#{mssgEffcy.createLabelServiceMeasurement()} rowItemStyle" >     
                                
                            </h:outputText> 
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.undeliveredCause']}"  styleClass="width50 alginRight columnHeaderStyle" sortBy="#{mssgEffcy.undeliveredReason}" filterBy="#{mssgEffcy.undeliveredReason}">
                            <h:outputText value="#{mssgEffcy.undeliveredReason}" styleClass="rowItemStyle">     
                                
                            </h:outputText> 
                        </p:column>
                    </p:treeTable> 
                    
                    <p:dataTable id="dtbHiddenSignSumm" widgetVar="dtbHiddenSignSummWV" var="trMssgEffcy" 
                                 scrollable="true" stickyHeader="true" scrollHeight="20vh"
                                 styleClass="dtHeightRow40 dt-export generic100HeightGPS"  
                                 value="#{segMessagingEfficiencyController.listHiddenMessagingEfficiencyDTO}"  style="display: none;"
                                 lazy="true" >
                        <p:column headerText="#{msgs['enginedata.page.general.label.Region']}"  styleClass="width120 alginCenter" sortBy="#{trMssgEffcy.regionId}" filterBy="#{trMssgEffcy.regionId}">
                            <h:outputText value="#{trMssgEffcy.regionId}" />
                        </p:column>

                        <p:column headerText="#{msgs['enginedata.page.general.label.RegionName']}"  styleClass="width120 alginCenter" sortBy="#{trMssgEffcy.regionName}" filterBy="#{trMssgEffcy.regionName}">
                            <h:outputText value="#{trMssgEffcy.regionName}" />
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.general.label.sucursal']}"  styleClass="width70 alginCenter" sortBy="#{trMssgEffcy.branchId}" filterBy="#{trMssgEffcy.branchId}">
                            <h:outputText value="#{trMssgEffcy.branchId}" />
                        </p:column>

                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.receivingDate']}" styleClass="width30 alginCenter" sortBy="#{trMssgEffcy.receivedInBranchDateTime.toString()}" filterBy="#{trMssgEffcy.receivedInBranchDateTime.toString()}" >
                            <h:outputText value="#{trMssgEffcy.receivedInBranchDateTime.toString()}" >
                                <f:convertDateTime type="date" pattern="dd/MM/yyyy"/>
                            </h:outputText>
                        </p:column>
                        
                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.qtyReceivedByRegion']}"  styleClass="width10 alginRight columnHeaderStyle" sortBy="#{trMssgEffcy.qtyByRegionId}" filterBy="#{trMssgEffcy.qtyByRegionId}">
                            <h:outputText value="#{trMssgEffcy.qtyByRegionId}">
                            </h:outputText> 
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.qtyDlvdOnTimeByRegion']}"  styleClass="width10 alginRight columnHeaderStyle" sortBy="#{trMssgEffcy.qtyDlvdOnTimeByRegionId}" filterBy="#{trMssgEffcy.qtyDlvdOnTimeByRegionId}">
                            <h:outputText value="#{trMssgEffcy.qtyDlvdOnTimeByRegionId}">
                            </h:outputText> 
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.qtyDlvdOutTimeByRegion']}"  styleClass="width10 alginRight columnHeaderStyle" sortBy="#{trMssgEffcy.qtyOnTimeGeneric}" filterBy="#{trMssgEffcy.qtyOnTimeGeneric}">
                            <h:outputText value="#{(trMssgEffcy.qtyByRegionId != null) ? trMssgEffcy.qtyByRegionId - trMssgEffcy.qtyDlvdOnTimeByRegionId : null}">
                            </h:outputText> 
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.prctDlvdOnTimeByRegion']}"  styleClass="width10 alginRight columnHeaderStyle" sortBy="#{trMssgEffcy.prctDlvdOnTimeByRegionId}" filterBy="#{trMssgEffcy.prctDlvdOnTimeByRegionId}">
                            <h:outputText value="#{trMssgEffcy.prctDlvdOnTimeByRegionId}" styleClass="#{trMssgEffcy.createLabelPercentOnTimeGeneric()} rowItemStyle">
                                <f:convertNumber type="percent" pattern="#0 %"/>
                            </h:outputText> 
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.prctDlvdOutTimeByRegion']}"  styleClass="width10 alginRight columnHeaderStyle" sortBy="#{trMssgEffcy.prctOnTimeGeneric}" filterBy="#{trMssgEffcy.prctOnTimeGeneric}">
                            <h:outputText value="#{(trMssgEffcy.qtyByRegionId != null) ? 1 - trMssgEffcy.prctDlvdOnTimeByRegionId : null}">
                                <f:convertNumber type="percent" pattern="#0 %"/>
                            </h:outputText> 
                        </p:column>
                        
                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.qtyReceivedByBranch']}"  styleClass="width10 alginRight columnHeaderStyle" sortBy="#{trMssgEffcy.qtyByBrnc}" filterBy="#{trMssgEffcy.qtyByBrnc}">
                            <h:outputText value="#{trMssgEffcy.qtyByBrnc}">
                            </h:outputText> 
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.qtyDlvdOnTimeByBranch']}"  styleClass="width10 alginRight columnHeaderStyle" sortBy="#{trMssgEffcy.qtyDlvdOnTimebyBrncId}" filterBy="#{trMssgEffcy.qtyDlvdOnTimebyBrncId}">
                            <h:outputText value="#{trMssgEffcy.qtyDlvdOnTimebyBrncId}">
                            </h:outputText> 
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.qtyDlvdOutTimeByBranch']}"  styleClass="width10 alginRight columnHeaderStyle">
                            <h:outputText value="#{(trMssgEffcy.qtyByBrnc != null) ? trMssgEffcy.qtyByBrnc - trMssgEffcy.qtyDlvdOnTimebyBrncId : null}">
                            </h:outputText> 
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.prctDlvdOnTimeByBranch']}"  styleClass="width10 alginRight columnHeaderStyle" sortBy="#{trMssgEffcy.percentDeliveredOnTimebyBrncId}" filterBy="#{trMssgEffcy.percentDeliveredOnTimebyBrncId}">
                            <h:outputText value="#{trMssgEffcy.percentDeliveredOnTimebyBrncId}" styleClass="#{trMssgEffcy.createLabelPercentOnTimeGeneric()} rowItemStyle">
                                <f:convertNumber type="percent" pattern="#0 %"/>
                            </h:outputText> 
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.prctDlvdOutTimeByBranch']}"  styleClass="width10 alginRight columnHeaderStyle">
                            <h:outputText value="#{(trMssgEffcy.qtyByBrnc != null) ? 1 - trMssgEffcy.percentDeliveredOnTimebyBrncId : null}">
                                <f:convertNumber type="percent" pattern="#0 %"/>
                            </h:outputText> 
                        </p:column>
                        
                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.qtyReceivedByBranchAndDate']}"  styleClass="width10 alginRight columnHeaderStyle" sortBy="#{trMssgEffcy.qtyByBrncAndRcvd}" filterBy="#{trMssgEffcy.qtyByBrncAndRcvd}">
                            <h:outputText value="#{trMssgEffcy.qtyByBrncAndRcvd}">
                            </h:outputText> 
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.qtyDlvdOnTimeByBranchAndDate']}"  styleClass="width10 alginRight columnHeaderStyle" sortBy="#{trMssgEffcy.qtyDlvdOnTimeBrncAndRcvd}" filterBy="#{trMssgEffcy.qtyDlvdOnTimeBrncAndRcvd}">
                            <h:outputText value="#{trMssgEffcy.qtyDlvdOnTimeBrncAndRcvd}">
                            </h:outputText> 
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.qtyDlvdOutTimeByBranchAndDate']}"  styleClass="width10 alginRight columnHeaderStyle">
                            <h:outputText value="#{(trMssgEffcy.qtyByBrncAndRcvd != null) ? trMssgEffcy.qtyByBrncAndRcvd - trMssgEffcy.qtyDlvdOnTimeBrncAndRcvd : null}">
                            </h:outputText> 
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.prctDlvdOnTimeByBranchAndDate']}"  styleClass="width10 alginRight columnHeaderStyle" sortBy="#{trMssgEffcy.prctDlvdOnTimeBrncAndRcvd}" filterBy="#{trMssgEffcy.prctDlvdOnTimeBrncAndRcvd}">
                            <h:outputText value="#{trMssgEffcy.prctDlvdOnTimeBrncAndRcvd}" styleClass="#{trMssgEffcy.createLabelPercentOnTimeGeneric()} rowItemStyle">
                                <f:convertNumber type="percent" pattern="#0 %"/>
                            </h:outputText> 
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.prctDlvdOutTimeByBranchAndDate']}"  styleClass="width10 alginRight columnHeaderStyle" sortBy="#{trMssgEffcy.prctOnTimeGeneric}" filterBy="#{trMssgEffcy.prctOnTimeGeneric}">
                            <h:outputText value="#{(trMssgEffcy.qtyByBrncAndRcvd != null) ? 1 - trMssgEffcy.prctDlvdOnTimeBrncAndRcvd : null}">
                                <f:convertNumber type="percent" pattern="#0 %"/>
                            </h:outputText> 
                        </p:column>

                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.maxReceivingTime']}"  styleClass="width25 alginCenter" sortBy="#{trMssgEffcy.receivedInBranchMaxTime}" filterBy="#{trMssgEffcy.receivedInBranchMaxTime}">
                            <h:outputText value="#{trMssgEffcy.receivedInBranchMaxTime}" >
                                <f:convertDateTime type="time" pattern="HH:mm"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.receivedGuiaNo']}"  styleClass="width120 alginLeft" sortBy="#{trMssgEffcy.formNo}" filterBy="#{trMssgEffcy.formNo}">
                            <h:outputText value="#{trMssgEffcy.formNo}" />
                        </p:column> 
                        <p:column headerText="#{msgs['enginedata.page.general.label.rastreo']}"  styleClass="width120 alginLeft" sortBy="#{trMssgEffcy.guiaNo}" filterBy="#{trMssgEffcy.guiaNo}">
                            <h:outputText value="#{trMssgEffcy.guiaNo}" />
                        </p:column> 
                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.lastStatus']}"  styleClass="width40 alginLeft" sortBy="#{trMssgEffcy.lastStatus}" filterBy="#{trMssgEffcy.lastStatus}">
                            <h:outputText value="#{trMssgEffcy.lastStatus}" />
                        </p:column> 
                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.promiseDeliveryDate']}"  styleClass="width30 alginRight" sortBy="#{trMssgEffcy.deliveryPromiseDateTime}" >
                            <h:outputText value="#{trMssgEffcy.deliveryPromiseDateTime}">
                                <f:convertDateTime type="date" pattern="dd/MM/yyyy"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.receivedTime']}"  styleClass="width30 alginRight" sortBy="#{trMssgEffcy.receivedInBranchDateTime}" >
                            <h:outputText value="#{trMssgEffcy.receivedInBranchDateTime}" >
                                <f:convertDateTime type="both" pattern="dd/MM/yyyy HH:mm"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.arrivalMeasurement']}"  styleClass="width25 alginRight" sortBy="#{trMssgEffcy.arrivalTimeMeasurement}" >
                            <h:outputText value="#{trMssgEffcy.arrivalTimeMeasurement}" />
                        </p:column>


                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.shipmentTime']}"  styleClass="width25 alginRight" sortBy="#{trMssgEffcy.shippingToRouteDateTime}" filterBy="#{trMssgEffcy.shippingToRouteDateTime}">
                            <h:outputText value="#{trMssgEffcy.shippingToRouteDateTime}"> 
                                <f:convertDateTime type="date" pattern="dd/MM/yyyy HH:mm"/>
                            </h:outputText>                                
                        </p:column>

                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.deliveryTime']}"  styleClass="width30 alginRight" sortBy="#{trMssgEffcy.deliveryDateTime}" filterBy="#{trMssgEffcy.deliveryDateTime}">
                            <h:outputText value="#{trMssgEffcy.deliveryDateTime}" >     
                                <f:convertDateTime type="both" pattern="dd/MM/yyyy HH:mm"/>
                            </h:outputText> 
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.serviceMeasurement']}"  styleClass="width40 alginRight" sortBy="#{trMssgEffcy.serviceMeasurement}" filterBy="#{trMssgEffcy.serviceMeasurement}">
                            <h:outputText value="#{trMssgEffcy.serviceMeasurement}" >     
                                
                            </h:outputText> 
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.seg.segMessagingEfficiency.label.undeliveredCause']}"  styleClass="width40 alginRight" sortBy="#{trMssgEffcy.undeliveredReason}" filterBy="#{trMssgEffcy.undeliveredReason}">
                            <h:outputText value="#{trMssgEffcy.undeliveredReason}" >     
                                
                            </h:outputText> 
                        </p:column>
                        
                    </p:dataTable>
                   
                </p:panel>
                
                <div style="text-align: center;" id="resumenEficiencia">
                    <div style="display: inline-block; text-align: left;">
                        <div style="display: table-row;">
                            <div style="display: table-cell;">
                                <h:outputLabel value="Guías totales recibidas: " />
                            </div>
                            <div style="display: table-cell; padding: 0 1em 0 1em;">
                                <h:outputText id="resQtyTotalGuias" value="#{(segMessagingEfficiencyController.listMessagingEfficiencyDTO != null) ? segMessagingEfficiencyController.listMessagingEfficiencyDTO.size() : 0}" />
                            </div>
                            <div style="width: 5em">
                            </div>
                            <div style="display: table-cell">
                                <h:outputLabel value="% Entregado en tiempo: " />
                            </div>
                            <div style="display: table-cell; text-align: right; padding: 0 1em 0 1em;">
                                <h:outputText id="resPercentDeliveredOnTime" value="#{(segMessagingEfficiencyController.listMessagingEfficiencyDTO != null) and segMessagingEfficiencyController.listMessagingEfficiencyDTO.size() > 0 ? segMessagingEfficiencyController.countDeliveredOnTime() / segMessagingEfficiencyController.listMessagingEfficiencyDTO.size() : 0}">
                                    <f:convertNumber type="percent" pattern="#0 %"/>
                                </h:outputText>
                            </div>
                        </div>
                        <div style="display: table-row">
                            <div style="display: table-cell">
                                <h:outputLabel value="Guías entregadas en tiempo: " />
                            </div>
                            <div style="display: table-cell; padding: 0 1em 0 1em;"> 
                                <h:outputText id="resQtyDeliveredOnTime" value="#{(segMessagingEfficiencyController.listMessagingEfficiencyDTO != null) ? segMessagingEfficiencyController.countDeliveredOnTime() : 0}" />
                            </div>
                            <div style="width: 5em">
                            </div>
                            <div style="display: table-cell">
                                <h:outputLabel value="% fuera de tiempo: " />
                            </div>
                            <div style="display: table-cell; text-align: right; padding: 0 1em 0 1em;">
                                <h:outputText id="resPercentOutOfTime" value="#{(segMessagingEfficiencyController.listMessagingEfficiencyDTO != null and segMessagingEfficiencyController.listMessagingEfficiencyDTO.size() > 0) ? (segMessagingEfficiencyController.listMessagingEfficiencyDTO.size() - segMessagingEfficiencyController.countDeliveredOnTime()) / segMessagingEfficiencyController.listMessagingEfficiencyDTO.size() : 0}">
                                    <f:convertNumber type="percent" pattern="#0 %"/>
                                </h:outputText>
                            </div>
                        </div>
                    </div>
                </div>
            </h:form>
        </f:view>

        <p:dialog widgetVar="statusDialog" style="border-radius: 50%;text-align: center;" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <img src="../../../../../resources/images/i_g_fleet.gif" style="width: 200px;"/>
            <strong style="display: block;">Cargando...</strong>
        </p:dialog>
        <div id="result"></div>
        <div id="anotations"></div>
        <h:outputScript name="test/tableExport.js" library="exportDT" />
        <h:outputScript name="libs/FileSaver/FileSaver.min.js" library="exportDT" />
        <h:outputScript name="libs/jsPDF/jspdf.min.js" library="exportDT" />
        <h:outputScript name="libs/jsPDF-AutoTable/jspdf.plugin.autotable.js" library="exportDT" />
    </h:body>
</html>
