<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <link rel="stylesheet" type="text/css" href="../../../../resources/css/styleGeneric.css?v=#{securityEngineData.versionApp}"/>
        <link rel="stylesheet" type="text/css" href="../../../../resources/css/style.css?v=#{securityEngineData.versionApp}"/>

        <script type="text/javascript" src="../../../../resources/js/global.js?v=#{securityEngineData.versionApp}"></script>
        <script type="text/javascript" src="../../../../resources/js/calendar-localization.js?v=#{securityEngineData.versionApp}"></script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPWrQpnBnx9LkoahtmEZy6PmEbkkew4xw" type="text/javascript"></script>

        <script type="text/javascript" src="../../../../resources/js/globalEAD.js"></script>
<!--        <script type="text/javascript" src="../../../../resources/js/markerwithlabel.js"></script>-->
<!--        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=false"></script>-->
        
        <!--        <script src="https://cdn.rawgit.com/googlemaps/js-marker-clusterer/gh-pages/src/markerclusterer.js"></script>-->
<!--        <script type="text/javascript">
           function initMap() {
               var gmap = PF('wvGmapEAD').getMap();
             var latLng = new google.maps.LatLng(49.47805, -123.84716);
             var homeLatLng = new google.maps.LatLng(49.47805, -123.84716);

             var map = new google.maps.Map(document.getElementById('map_canvas'), {
               zoom: 12,
               center: latLng,
               mapTypeId: google.maps.MapTypeId.ROADMAP
             });

             var marker = new MarkerWithLabel({
               position: homeLatLng,
               draggable: true,
               raiseOnDrag: true,
               map: map,
               labelContent: "Martin",
               labelAnchor: new google.maps.Point(22, 0),
               labelClass: "labels", // the CSS class for the label
               icon: {}
             });
            // gmap.marker = marker;
             PF('wvGmapEAD').addOverlays(marker);
             var iw = new google.maps.InfoWindow({
                content: "Home For Sale"
             });

                var ibOptions = {
                    content: 'content'
                };

                var ib = new google.maps.InfoWindow(ibOptions);

                ib.open(map, this);
                google.maps.event.addListener(marker, "mouseover", function (e) {
                    ib.open(map, this);
                });
                google.maps.event.addListener(marker, "mouseout", function (e) {
                    ib.close(map, this);
                });
                
            }

        </script>-->
        <title>Geolocalización de clientes</title> 

        <!--            <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
                    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>        -->
        <style type="text/css">
            .labels {
                color: navy;
                background-color: white;
                font-family: "Lucida Grande", "Arial", sans-serif;
                font-size: 10px;
                font-weight: bold;
                text-align: center;
                width: 40px;
                border: 2px solid black;
                white-space: nowrap;
            }
        </style>
        <script type="text/javascript">

            $(window).bind("load", function () {
                searchDefault();
              // initMap();
            });
        </script>
    </h:head>

    <h:body styleClass="buzonRad bodyContent radPagoDocModal bodyNoneMargin" onload="#{geolocationMasterController.onLoadPersonalizable()}" >
<!--        <div id="map_canvas" style="height: 400px; width: 100%;"></div>-->
        <f:view locale="#{securityEngineData.locale}">
            <h:form rendered="true" id="form">

                <div class="gridMaps">

                    <p:remoteCommand name="searchDefault" process="@this" 
                                     onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"
                                     update="form:tabPanelDT:dtbClntGeo  , form:tabOptionsEAD:infoResum , form:tabFilters:infoIconsMobile , form:tabPanelDT:dtbMovilesGeo , form:tabFilters:pnlFiltersSelect"
                                     actionListener="#{geolocationMasterController.initSearchDefault()}"
                                     />                        

                    <!--                    <p:panel id="horizontal222" header="Opciones" 
                                                 toggleable="true" collapsed="false" toggleOrientation="horizontal" 
                                                 styleClass="GeoLocation-panelFixed GeoLocation-Options" >-->

                    <a onclick="floatingPanel()" class="floatbuttonFilters displayNone">
                        <div>
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <strong>Filtros</strong>
                        </div>
                        <p:tooltip for="@(.floatbuttonFilters)" value="Filtros, click para ver filtros de busqueda." />
                    </a>

                    <p:tabView id="tabFilters" styleClass="tabFiltersFloat displayBlock tabHidden"  >
                        <p:tab title="Filtros" >
                            <a onclick="mouseLeaveFilters()" class="floatbuttonFiltersClose">
                                <div>
                                    <i class="fa fa-times closeFilters" aria-hidden="true"></i>
                                </div>
                                <p:tooltip for="@(.closeFilters)" value="#{msgs['enginedata.page.general.btn.label.cerrar']}" />
                            </a>
                            <div class="gridFiltrosGenericosHorizontal " id="Cliente"  >

                                <div class="ui-grid ui-grid-responsive filtroGenericField checkbox">

                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-12">

                                            <p:outputLabel for="geoDateSearch" value="Fecha: *" styleClass="LabelBuzon"/> 
                                            <p:calendar value="#{geolocationMasterController.filters.filterFecha}"
                                                        id="geoDateSearch" pattern="dd/MM/yyyy" mode="popup" showOn="button"
                                                        maxdate="#{geolocationMasterController.filters.filterFecha2}" 
                                                        lang="#{securityEngineData.locale}" locale="#{securityEngineData.locale}"                           
                                                        >
                                                <p:ajax event="dateSelect" listener="#{geolocationMasterController.onDateSelect}" 
                                                        onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"
                                                        />
                                            </p:calendar>   

                                        </div>
                                    </div>                                        

                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-6">

                                            <p:outputLabel for="cmbSiteGeoEAD" value="#{msgs['enginedata.page.general.label.plaza']} *" styleClass="LabelBuzon" />

                                            <!--                                                <p:selectCheckboxMenu id="cmbSiteGeo" label="Plaza"
                                                                                                                  value="{geolocationMasterController.selectedSiteChbxMenu}"
                                                                                                                  valueChangeListener="{geolocationMasterController.selectedSiteCheckboxMenu}"
                                                                                                                  filter="true" filterMatchMode="startsWith"
                                                                                                                  >
                                                                                                <f:selectItems value="{geolocationMasterController.listSiteChbxMenu}"
                                                                                                               var="mon" 
                                                                                                               itemLabel="{mon.siteId}" 
                                                                                                               itemValue="{mon.siteId}" 
                                                                                                               />
                                                                                                <p:ajax event="toggleSelect"  process="@this" onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" partialSubmit="true" />
                                                                                                <p:ajax process="@this" onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />  
                                                                                            </p:selectCheckboxMenu> -->

                                            <p:selectOneMenu id="cmbSiteGeoEAD"  value="#{geolocationMasterController.objSelectedSiteChbxMenu}"  editable="true" style="width: 75px;"
                                                             effect="fade" var="t" filter="true" filterMatchMode="startsWith"
                                                             converter="genericConverter"
                                                             valueChangeListener="#{geolocationMasterController.selectedSiteCheckboxMenu}">
                                                <f:selectItems value="#{geolocationMasterController.listSiteChbxMenu}"
                                                               var="mon" 
                                                               itemLabel="#{mon.siteId}" 
                                                               itemValue="#{mon.siteId}" 
                                                               />  
                                                <p:ajax process="@this" partialSubmit="true" event="valueChange"  />
                                                <p:ajax process="@this" partialSubmit="true" event="itemSelect"  />   
                                            </p:selectOneMenu>                                                     

                                        </div>   

                                        <div class="ui-grid-col-6">

                                            <p:outputLabel for="cmbBrncGeo" value="#{msgs['enginedata.page.general.label.sucursal']} *" styleClass="LabelBuzon" />

                                            <p:selectCheckboxMenu id="cmbBrncGeo" label="Sucursal"
                                                                  value="#{geolocationMasterController.listSelectedBrnc}"        
                                                                  converter="genericConverter"
                                                                  valueChangeListener="#{geolocationMasterController.selectedBrncCheckboxMenu}"
                                                                  filter="true" filterMatchMode="startsWith"                                                                   
                                                                  >
                                                <f:selectItems value="#{geolocationMasterController.listBrncChbxMenu}"
                                                               var="mon" 
                                                               itemLabel="#{mon.bmBrncID}" 
                                                               itemValue="#{mon}" 
                                                               />
                                                <p:ajax process="@this , cmbBrncGeo" event="toggleSelect" update="form:tabFilters:cmbMobilNo " onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
                                                <p:ajax process="@this , cmbBrncGeo" update="form:tabFilters:cmbMobilNo " onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />  
                                            </p:selectCheckboxMenu>


                                        </div>                                              
                                    </div>

                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-6">

                                            <p:outputLabel for="cmbStatus" value="Estatus *" styleClass="LabelBuzon" />

                                            <p:selectOneMenu id="cmbStatus" label="Estatus" value="#{geolocationMasterController.statusEAD}">
                                                <f:selectItem itemLabel="Todos" itemValue="ALL" />
                                                <f:selectItem itemLabel="Por entregar" itemValue="TODLVY" />
                                                <f:selectItem itemLabel="Entregado" itemValue="DLVY" />
                                                <f:selectItem itemLabel="Devoluciones" itemValue="RETURN" />

                                                <!--                                                    <f:selectItem itemLabel="Por recolectar" itemValue="TOCOLL" />  
                                                                                                    <f:selectItem itemLabel="Recolectado" itemValue="COLL" />-->
                                            </p:selectOneMenu>



                                        </div>  

                                        <div class="ui-grid-col-6">

                                            <p:outputLabel for="cmbMobilNo" value="#{msgs['enginedata.page.general.label.movil']} *" styleClass="LabelBuzon" />                                                
                                            
                                            <p:selectCheckboxMenu id="cmbMobilNo" label="Móvil"
                                                                  value="#{geolocationMasterController.selectedMobile}"        
                                                                  converter="genericConverter"
                                                                  valueChangeListener="#{geolocationMasterController.onSelectedMCheckboxMenu}"
                                                                  widgetVar="movilWV"
                                                                  filter="true" filterMatchMode="startsWith"                                                                   
                                                                  >
                                                <f:selectItems value="#{geolocationMasterController.listVhclByBrnc}"
                                                               var="mon" 
                                                               itemLabel="#{mon.vhclId}" 
                                                               itemValue="#{mon}" 
                                                               />
                                                <p:ajax process="@this , cmbMobilNo"  event="toggleSelect" update="form:tabFilters:travelNo " onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
                                                <p:ajax process="@this , cmbMobilNo"  update="form:tabFilters:travelNo " onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />  
                                            </p:selectCheckboxMenu>                                            
                                            
                                             

                                                                                            <p:remoteCommand name="actionMoveMobiles" 
                                                                                                             actionListener="#{geolocationMasterController.validateCheckRoute()}"
                                                                                                             process="@this" 
                                                                                                             oncomplete="handleCompleteEAD(xhr, status, args);" />                                                

                                                                                            <p:poll interval="15"  
                                                                                                    oncomplete="
                                                                                                    validateSearchPollEAD();                                                     
                                                                                                    " 
                                                                                                    /> 

                                        </div>

                                    </div>      
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-6">

                                            <p:outputLabel for="travelNo" value="Viaje" styleClass="LabelBuzon" />                                                
                                            <p:selectCheckboxMenu id="travelNo" label="Viaje"
                                                                  converter="genericConverter"
                                                                  value="#{geolocationMasterController.selectedTravel}"
                                                                  valueChangeListener="#{geolocationMasterController.onSelectedTravel}"
                                                                  filter="true" filterMatchMode="startsWith"
                                                                  >
                                                <f:selectItems value="#{geolocationMasterController.listRoadByVhclAndBrnc}"
                                                               var="trav" 
                                                               itemLabel="#{trav.viaje}" 
                                                               itemValue="#{trav}" 
                                                               />
                                                <p:ajax process="@this , travelNo" event="toggleSelect" update="form:tabFilters:cmbMobilNo " onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
                                                <p:ajax process="@this , travelNo" event="change" update="form:tabFilters:cmbMobilNo " onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />  
                                            </p:selectCheckboxMenu>                                                
                                        </div>

                                        <div class="ui-grid-col-6">
                                            <p:outputLabel for="guiaNo" value="Rastreo" styleClass="LabelBuzon" />                                                
                                            <p:inputText id="guiaNo" value="#{geolocationMasterController.filters.filter_1}" />
                                        </div>
                                    </div>

                                </div> 

                                <div class="ui-grid ui-grid-responsive filtroGenericField">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-6"> 
                                            <p:commandButton value="#{msgs['enginedata.page.search-button-label']}" 
                                                             process="@this,:form:tabFilters:cmbSiteGeoEAD , :form:tabFilters:cmbBrncGeo , :form:tabFilters:cmbStatus , :form:tabFilters:guiaNo , :form:tabFilters:geoDateSearch" 
                                                             update="form:tabPanelDT:dtbClntGeo  , form:tabOptionsEAD:infoResum , form:tabFilters:infoIconsMobile , form:tabPanelDT:dtbMovilesGeo , form:tabFilters:pnlFiltersSelect "   id="Buscar"  styleClass="fa fa-search-plus" 
                                                             actionListener="#{geolocationMasterController.getListClntByMovil(true,false)}" style="margin-top: 13px;"                                                                  
                                                             onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide();"                                                                 
                                                             />       
                                        </div>  
                                        <div class="ui-grid-col-6">
                                            <p:commandButton value="Limpiar" 
                                                             process="@this,:form:tabFilters:cmbSiteGeoEAD , :form:tabFilters:cmbBrncGeo , :form:tabFilters:cmbStatus , :form:tabFilters:guiaNo , :form:tabFilters:geoDateSearch" 
                                                             update="form:tabPanelDT:dtbClntGeo  , form:tabOptionsEAD:infoResum , form:tabFilters:infoIconsMobile , form:tabPanelDT:dtbMovilesGeo , form:tabFilters:pnlFiltersSelect  "  
                                                             id="btnClear"  styleClass="fa fa-trash RedButton" 
                                                             style="margin-top: 13px;"      
                                                             actionListener="#{geolocationMasterController.reloadSearchDefault()}"
                                                             onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide();"                                                                 
                                                             />       
                                        </div>                                        
                    
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-6 switchVisible " style="margin-top: 13px;" > 
                                            <p:outputLabel for="switchSearchTimeReal" value="Tiempo real." styleClass="LabelBuzon" />
                                            <p:inputSwitch value="#{geolocationMasterController.searchTimeReal}" id="switchSearchTimeReal" >                                    
                                                <p:ajax listener="#{geolocationMasterController.validaSearchTimeReal()}" 
                                                        onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" update="form:tabFilters:flagsearchTimeReal" />
                                            </p:inputSwitch>
                                        </div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-12">
                                            <!--                                                form:tabFilters:cmbSiteGeoEAD , form:tabFilters:cmbBrncGeo ,-->

                                            <!--                                                oncomplete="PF('tableClients').filter()"-->
                                            <!--                                                                  oncomplete="optimizedGMap()"-->

                                            <p:remoteCommand name="exe" process="@this" 
                                                             actionListener="#{geolocationMasterController.executeApiWialon()}"
                                                             />    

                                            <h:outputLabel value="#{geolocationMasterController.flagEmpty}" id="flagEmpty" styleClass="displayNone"  />  
                                            <h:outputLabel value="#{geolocationMasterController.flagSearch}" id="flagSearch" styleClass="displayNone" />  
                                            <h:outputLabel value="#{geolocationMasterController.searchTimeReal}" id="flagsearchTimeReal" styleClass="displayNone" />      

                                            <p:remoteCommand name="actionMoveMobiles" 
                                                             actionListener="#{geolocationMasterController.validateCheckRoute()}"
                                                             process="@this, :form:tabFilters:cmbMobilNo , :form:tabFilters:cmbSiteGeoEAD , :form:tabFilters:cmbBrncGeo  , :form:tabFilters:cmbStatus " 
                                                             oncomplete="handleCompleteEAD(xhr, status, args);" 
                                                             />   
                                            <!--                                                                 onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide();"-->

<!--                                            <p:poll interval="15"  
                                                    id="pollActionMoveMobiles"
                                                    oncomplete="                                                   
                                                    actionMoveMobiles();
                                                    " 
                                                    />                                                -->


                                            <p:growl id="messages" showDetail="true" sticky="true" />

                                            <!--                                                <p:poll interval="5" listener="{geolocationMasterController.startRealTimeVhl()}" oncomplete="handleComplete(xhr, status, args)" process="@this" update="messages" />-->

                                        </div>  
                                    </div>
                                </div> 
                                <div>  
                                    <p:panel id="pnlFiltersSelect" styleClass="pnlConeptValue" style="border: none!important; padding: 0!important;"
                                             >

                                        <div class="titleResumen">
                                            <p:outputLabel styleClass="fontWeightRequired" value="Búsqueda" />
                                        </div>                                             
                                        <div>
                                            <h:outputLabel value="Plaza" rendered="#{geolocationMasterController.siteSelected!=''}" style="" styleClass="pnlConeptValue-Concept" />  
                                            <h:outputLabel value="#{geolocationMasterController.siteSelected}" style="" styleClass="pnlConeptValue-Value" />  
                                        </div>
                                        <div>
                                            <h:outputLabel value="Sucursal" rendered="#{geolocationMasterController.brncSelected!=''}" style="" styleClass="pnlConeptValue-Concept" />  
                                            <h:outputLabel value="#{geolocationMasterController.brncSelected}" style="" styleClass="pnlConeptValue-Value" />  
                                        </div>                           
                                        <div>
                                            <h:outputLabel value="Moviles:" rendered="#{geolocationMasterController.mobileSelected!=''}" style="" styleClass="pnlConeptValue-Concept" />  
                                            <p:outputLabel id="movilesSelected" title="#{geolocationMasterController.mobileSelected}"  value="#{geolocationMasterController.mobileSelected.length() gt 30 ? geolocationMasterController.mobileSelected.substring(0,27).concat('...') : geolocationMasterController.mobileSelected}" />                                
                                            <p:tooltip for="movilesSelected" trackMouse="true" />      

                                        </div>                                                                        
                                        <div>
                                            <h:outputLabel value="Viajes:" rendered="#{geolocationMasterController.tripSelected!=''}" style="" styleClass="pnlConeptValue-Concept" />  
                                            <p:outputLabel id="viajesSelected" title="#{geolocationMasterController.tripSelected}"  value="#{geolocationMasterController.tripSelected.length() gt 30 ? geolocationMasterController.tripSelected.substring(0,27).concat('...') : geolocationMasterController.tripSelected}" />                                
                                            <p:tooltip for="viajesSelected" trackMouse="true" />      
                                        </div>                                                                                                                         
                                    </p:panel>

                                </div>

                            </div>                                        

                        </p:tab>
                        <p:tab title="Capas"  >
                            <p:panel id="pnlCapas" style="border: none; padding: 0 !important;">

                                <div class="divContent" style="display: none;">
                                    <p:selectBooleanCheckbox value="#{geolocationMasterController.layerCP}" id="checkPlaces" >
                                        <p:ajax listener="#{geolocationMasterController.checksLayer()}" update="form:tabOptionsEAD:infoResum " />
                                    </p:selectBooleanCheckbox>
                                    <h:outputLabel value="Como llegar" />   

                                    <p:tooltip for="@(#form\\:tabFilters\\:checkPlaces)" value="Como llegar, activa o desactiva la capa de puntos de como llegar desde un movil a un domicilio." />
                                </div> 
 
                                <div class="divContent">
                                    <p:selectBooleanCheckbox value="#{geolocationMasterController.layerRouteMobileGoteo}" id="checkRouteMobileGoteo" >
                                        <p:ajax listener="#{geolocationMasterController.checksRoutesMobilesGoteo()}" update="form:tabPanelDT:dtbClntGeo"  onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
                                    </p:selectBooleanCheckbox>
                                    <h:outputLabel value="Goteo." styleClass="tooltipGoteo" />   
                                    <p:tooltip for="@(.tooltipGoteo)" value="Goteo, muestra el trayecto que siguió el móvil." />
                                </div>       
                                <div class="divContent">
                                    <p:selectBooleanCheckbox value="#{geolocationMasterController.layerRouteMobileWay}" id="checkRouteMobileTrayecto" >
                                        <p:ajax listener="#{geolocationMasterController.checksRoutesMobilesWay()}" update="form:tabPanelDT:dtbClntGeo"  onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
                                    </p:selectBooleanCheckbox>
                                    <h:outputLabel value="Trayecto." styleClass="tooltiTrayecto" />   
                                    <p:tooltip for="@(.tooltiTrayecto)" value="Trayecto lineal, muestra el trayecto lineal que siguió el móvil." />
                                </div>      
                                 
                                <div class="divContent" >
                                    <p:selectBooleanCheckbox value="#{geolocationMasterController.layerIdMobil}" id="checkIdMobil" >
                                        <p:ajax listener="#{geolocationMasterController.checksLayerSecuence()}" oncomplete="handleCompleteRoutesEAD(xhr, status, args);" onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
                                    </p:selectBooleanCheckbox>
                                    <h:outputLabel value="Secuencia." for="checkIdMobil" styleClass="tooltipSecuencia" />   

                                    <h:outputLabel value="#{geolocationMasterController.layerIdMobil}" style="display: none;" id="flagLayerIdMobil" />   

                                    <p:tooltip for="@(.tooltipSecuencia)" value="Secuencia, muestra el orden en el cual visito realizo las entregas." />
                                </div>                                

                                <div style="border-bottom: 1px solid #ccc;margin-right: 10px !important;" >
                                    <h:outputLabel value="Direcciones " styleClass="fontWeightRequired " />  
                                </div>                                   

                                <div class="divContent">
                                    <p:selectBooleanCheckbox value="#{geolocationMasterController.layerAddrGm}" id="checklayerAddrGM" >
                                        <p:ajax listener="#{geolocationMasterController.checksDlvyAddrGoogle()}" update="form:tabPanelDT:dtbClntGeo"  onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
                                    </p:selectBooleanCheckbox>
                                    <h:outputLabel value="Clientes." styleClass="tooltipDirClientes" />   
                                    <p:tooltip for="@(.tooltipDirClientes)" value="Direccion de cliente, muestra la dirección que tenemos registrada del cliente." />
                                </div>                                  

                                <div class="divContent">
                                    <p:selectBooleanCheckbox value="#{geolocationMasterController.layerRouteMobile}" id="checkRouteMobile" >
                                        <p:ajax listener="#{geolocationMasterController.checksRoutesMobiles()}" update="form:tabPanelDT:dtbClntGeo"  onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
                                    </p:selectBooleanCheckbox>
                                    <h:outputLabel value="Entrega." styleClass="tooltipDirEntrega" />   
                                    <p:tooltip for="@(.tooltipDirEntrega)" value="Direccion de entrega, muestra la dirección donde se el operador realizó la entrega." />
                                </div>  

                                <div style="border-bottom: 1px solid #ccc;margin-right: 10px !important;" >
                                    <h:outputLabel value="Polilíneas" styleClass="fontWeightRequired " />  
                                </div>                                   

                                <div class="divContent">
                                    <p:selectBooleanCheckbox value="#{geolocationMasterController.layerHowToGet}" id="checklayerHowtoGet" >
                                        <p:ajax listener="#{geolocationMasterController.clearPolyline}" onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
                                    </p:selectBooleanCheckbox>
                                    <h:outputLabel value="Como llegar." styleClass="tooltipLayerHowToGet" />   
                                    <p:tooltip for="@(.tooltipLayerHowToGet)" value="Como llegar." />
                                </div>                                  
                                
                            </p:panel>        

                        </p:tab>  

                        <p:tab title="Iconos" >

                            <div style="margin: 10px 0px;border-bottom: 1px solid #ccc;margin-right: 10px !important;" >
                                <h:outputLabel value="Moviles" styleClass="fontWeightRequired" />  
                            </div> 

                            <p:panel id="infoIconsMobile" style="border: none; padding: 0 !important;">

                                <p:dataList value="#{geolocationMasterController.listLastPstnMovil}" emptyMessage="Sin registros." var="list" type="definition" styleClass="panelPadding0"  >
                                    <img src="#{list.status}" style="height: 20px;" />
                                    <h:outputLabel value="#{list.idMovil}" />                                          
                                </p:dataList>                                     

                            </p:panel>

                        </p:tab> 
                    </p:tabView>    

                    <!--                    </p:panel>  -->


                    <p:tabView id="tabOptionsEAD" styleClass="GeoLocation-Map99 GeoLocation-Map GeoLocation-Map70Height tabPadding0 GeolocationGrid tabHidden" >
                        <p:tab title="Mapa" id="tabMap" >
                            <div class="gridIconsFloatResumen">

                                <div >
                                    <div >
                                        <div class="titleResumen"  >
                                            <h:outputLabel value="Iconos" styleClass="fontWeightRequired" />  
                                        </div>   
                                    </div>                                        
                                    <div class="" > 
                                        <img src="../../../../resources/images/icons/gps/ead/resumen/toDlvy.png" style="width: 21px; height: 21px;" />
                                        <p:outputLabel value="Por entregar "></p:outputLabel>                                        
                                    </div>

                                    <div class="">
                                        <img src="../../../../resources/images/icons/gps/ead/resumen/Dlvy.png" style="" />
                                        <p:outputLabel value="Entregado"></p:outputLabel>
                                    </div>  

                                    <div class="">
                                        <img src="../../../../resources/images/icons/gps/ead/resumen/Dev.png" style="" />
                                        <p:outputLabel value="Devolución"></p:outputLabel>
                                    </div>  

                                    <div class="">
                                        <img src="../../../../resources/images/icons/gps/ead/resumen/Doble.png"   />
                                        <p:outputLabel value="Multiguía"></p:outputLabel>
                                    </div>                                      

                                    <div class="" > 
                                        <img src="../../../../resources/images/icons/gps/ead/resumen/Mobile.png" style="height: 25px;"  />
                                        <p:outputLabel value="Moviles "></p:outputLabel>
                                    </div>

                                    <div class="" > 
                                        <img src="../../../../resources/images/icons/gps/ead/resumen/moto.png" style="height: 25px;" />
                                        <p:outputLabel value="Moto "></p:outputLabel>
                                    </div>                                    

                                    <div class="" > 
                                        <img src="../../../../resources/images/icons/gps/ead/resumen/firstDlvy.gif" style="height: 18px;" />
                                        <p:outputLabel value="Primera señal"></p:outputLabel>
                                    </div>                                      
                                    
                                    <div class="" > 
                                        <img src="../../../../resources/images/icons/gps/ead/resumen/lastDlvy.gif" style="height: 18px;" />
                                        <p:outputLabel value="Ultima señal"></p:outputLabel>
                                    </div>                                                                          
                                    
                                </div>

                                <div >
                                    <p:panel id="infoResum" style="border: none; padding: 0 !important;">

                                        <div >
                                            <div class="titleResumen"  >
                                                <h:outputLabel value="Resumen" styleClass="fontWeightRequired" />  
                                            </div>   
                                        </div>                                            
                                        <div >
                                            <div style="margin-right: 10px !important;" >
                                                <h:outputLabel value="Clientes #{geolocationMasterController.totalMarkers }" style="font-size: 12px;" styleClass="fontWeightRequired tooltipTotaClientes" />  
                                                <p:tooltip for="@(.tooltipTotaClientes)" value="Clientes, muestra el total de visitas que tendra el chofer." />
                                            </div>   
                                        </div>    
                                        <div >
                                            <div style="margin-right: 10px !important;" >
                                                <h:outputLabel value="Paquetes #{geolocationMasterController.summaryTotlPackages}" style="font-size: 12px;" styleClass="fontWeightRequired " />                                                  
                                            </div>   
                                        </div>                                         
                                        <div >
                                            <div style="margin-right: 10px !important;" >
                                                <h:outputLabel value="Guías #{geolocationMasterController.totalClientes}" style="font-size: 12px;" styleClass="fontWeightRequired tooltipResumenResumen" />  
                                                <p:tooltip for="@(.tooltipResumenResumen)" value="Guías, muestra el total de guias a entregar." />
                                            </div>   
                                        </div>                                                       
                                        <div class="gridResum2">

                                            <div class="gridResumItem tooltipResumenCheck">
                                                <div class="borderRadius50" style="background: #44B129;width:10px;height:10px;float: left; margin-top: 5px; margin-right: 5px;"></div>
                                                <h:outputLabel value="Entregado #{geolocationMasterController.summaryClntDlvy}" styleClass=""  />                                                          
                                            </div>


                                            <div class="gridResumItem tooltipResumenMobiles" > 
                                                <div class="borderRadius50" style="background: #daa21e;width:10px;height:10px;float: left; margin-top: 5px; margin-right: 5px;"></div>
                                                <h:outputLabel value="Pendientes #{geolocationMasterController.summaryClntToDlvy}" styleClass=" " style="" />                                                          
                                            </div>

                                            <div class="gridResumItem tooltipResumenMobiles3" > 
                                                <div class="borderRadius50" style="background: #E53935;width:10px;height:10px;float: left; margin-top: 5px; margin-right: 5px;"></div>
                                                <h:outputLabel value="Devoluciones #{geolocationMasterController.summaryClntReturns}" styleClass=" " style="" />
                                            </div>

                                        </div>

                                        <div >
                                            <div  style="margin-right: 10px !important;" >
                                                <h:outputLabel style="font-size: 12px;" value="Móviles #{geolocationMasterController.listLastPstnMovil.size()}" styleClass="fontWeightRequired tooltipResumenResumenMoviles" />  
                                                <p:tooltip for="@(.tooltipResumenResumenMoviles)" value="Móviles, muestra los vehiculos que se visualizan en el mapa." />
                                            </div>   

                                            <div class="" > 
                                                <h:outputLabel value="Sin señal: #{geolocationMasterController.mobilesNonSignal}" styleClass="tooltipSinSenal" style="font-size: 11px;" />
                                                <p:tooltip for="@(.tooltipSinSenal)" value="Sin señal, muestra el vehiculos que se seleccionaron pero no se tiene ubicación." />
                                            </div>                                                        
                                        </div>   
                                        <div>
                                            <div  style="margin-right: 10px !important;" >                                                
                                                <h:outputLabel style="font-size: 12px;" 
                                                               rendered="#{geolocationMasterController.actionPermitido('VIEW MONEY')}" 
                                                               value="Total #{geolocationMasterController.summaryTotlAmnt}" styleClass="fontWeightRequired" />  
                                             </div>  
                                        </div>
                                        <div class="progress-bar horizontal" style="margin-top: 10px;overflow: hidden;" >
                                            <div class="progress-track">
                                                <p:tooltip for="@(.dlvy)" value="Entregado #{geolocationMasterController.summaryClntDlvy}." />
                                                <div class="progress-fill dlvy" style="width: #{geolocationMasterController.porcDlvy}" title="#{geolocationMasterController.porcDlvy}" >
                                                    <span>
                                                        <h:outputText   value="#{geolocationMasterController.porcDlvy}" style="color: #fff;" />  
                                                    </span>                                                     
                                                </div>
                                                <p:tooltip for="@(.toDlvy)" value="Por entregar #{geolocationMasterController.summaryClntToDlvy}." />
                                                <div class="progress-fill toDlvy" style="width: #{geolocationMasterController.porcToDlvy}" title="#{geolocationMasterController.porcToDlvy}" >
                                                    <span>
                                                        <h:outputText value="#{geolocationMasterController.porcToDlvy}" style="color: #fff;" />  
                                                    </span>                                                    
                                                </div>        

                                                <p:tooltip for="@(.returnss)" value="Devoluciones #{geolocationMasterController.summaryClntReturns}." />
                                                <div class="progress-fill returns" style="width: #{geolocationMasterController.porcReturn}" title="#{geolocationMasterController.porcReturn}" >
                                                    <span>
                                                        <h:outputText value="#{geolocationMasterController.porcReturn}" style="color: #fff;" />  
                                                    </span>
                                                </div>                                                                    

                                            </div>
                                        </div> 

                                    </p:panel>
                                </div>

                            </div>
                            <!--                            fitBounds="true"-->
                            <p:gmap center="#{geolocationMasterController.center}" widgetVar="wvGmapEAD" 
                                    model="#{geolocationMasterController.simpleModel}" styleClass="GeoLocation-Map99 GeoLocation-Map GeoLocation-Map70Height gmapOnclick"
                                    zoom="#{geolocationMasterController.zoom}" type="ROADMAP" id="gmap"
                                    style="" >

                                <p:ajax event="stateChange" listener="#{geolocationMasterController.onStateChange}" />
                                <p:ajax event="overlaySelect" listener="#{geolocationMasterController.onMarkerSelectInfo}" />

                                <p:gmapInfoWindow id="infoWindow2" maxWidth="600" rendered="#{geolocationMasterController.geoInfoWindow!=null}" >

                                    <h:outputLabel value="Devolución" style="display: block; color: rgb(255, 255, 255); background: rgb(229, 57, 53) none repeat scroll 0% 0%; padding: 5px;" styleClass="fontWeightRequired " rendered="#{geolocationMasterController.clntGeo.eadFlag == '4'}" />  
                                    
                                    <p:outputPanel style="text-align: justify; max-width: 300px;" rendered="#{geolocationMasterController.clntGeo.dlvyDate != null}" >
                                        <div style="border-bottom: 1px solid #ccc;margin-right: 10px !important;" >

                                            <h:outputLabel value="Entregada" style="display: block; color: rgb(255, 255, 255); background: #44B129; padding: 5px;font-size: 15px" styleClass="fontWeightRequired " rendered="#{geolocationMasterController.clntGeo.eadFlag != '4'}" />  

                                            <p:outputPanel style="float: right;margin-top: 5px;" rendered="{geolocationMasterController.clntGeo.rowNum != null}" >

                                                <span style="float: right;">
                                                    <h:outputLabel value="Secuencia" styleClass="" style="margin-right: 5px;" />  
                                                    <h:outputLabel value="#{geolocationMasterController.clntGeo.rowNum}" style="color: rgb(68, 177, 41); border: 1px solid; border-radius: 50%; padding: 2px 5px 2px 1px;" styleClass="fontWeightRequired " />  
                                                </span>

                                            </p:outputPanel>
                                        </div>

                                    </p:outputPanel>

                                    <p:outputPanel style="text-align: justify; max-width: 300px;" rendered="#{geolocationMasterController.geoInfoWindow.idMovil!=null}" >
                                        <div>
                                            <h:outputText styleClass="fontWeightRequired" style="font-size: 25px;" value="#{geolocationMasterController.geoInfoWindow.idMovil}" />
                                        </div>     
                                        <div>
                                            <h:outputText value="Operador:" styleClass="fontWeightRequired " />
                                            <h:outputText value="#{geolocationMasterController.geoInfoWindow.employeName}" />
                                        </div>         
                                        <div>
                                            <h:outputText value="Ruta:" styleClass="fontWeightRequired " />
                                            <h:outputText value="#{geolocationMasterController.geoInfoWindow.routId}" />
                                        </div>                                          
                                        <div>
                                            <h:outputText value="Ultima señal: " style="" styleClass="fontWeightRequired " />
                                            <h:outputText value="#{geolocationMasterController.geoInfoWindow.dateTimeCheck}" style="" />
                                        </div>                                          
<!--                                        <div>
                                            <h:outputText value="Latitud: " styleClass="fontWeightRequired " />
                                            <h:outputText value="{geolocationMasterController.geoInfoWindow.latitude}" />
                                        </div>
                                        <div>
                                            <h:outputText value="Longitude:" styleClass="fontWeightRequired " />
                                            <h:outputText value="{geolocationMasterController.geoInfoWindow.longitude}" />
                                        </div>       -->
                           
                                        <div>
                                            <h:outputText value="Por entregar: " styleClass="fontWeightRequired " />
                                            <h:outputText value="#{geolocationMasterController.geoInfoWindow.packagesByDlvy}" />
                                        </div>                               
                                        <div>
                                            <h:outputText value="Entregados: " styleClass="fontWeightRequired " />
                                            <h:outputText value="#{geolocationMasterController.geoInfoWindow.packagesDlvy}" />
                                        </div>    

                                    </p:outputPanel>

                                    <p:outputPanel style="text-align: justify; max-width: 300px;" rendered="#{geolocationMasterController.clntGeo.clntName!=null}" >
                                        <div>
                                            <h:outputText rendered="#{geolocationMasterController.clntGeo.flagMultiClnt!='Y'}" value="Rastreo: " styleClass="fontWeightRequired "  />
                                            <h:outputText rendered="#{geolocationMasterController.clntGeo.flagMultiClnt!='Y'}" value="#{geolocationMasterController.clntGeo.guiaNo}" />
                                        </div>     
                                        
                                        <p:outputPanel style="text-align: justify; max-width: 300px;" rendered="#{geolocationMasterController.clntGeo.dlvyDate != null}" >
                                            <div>
                                                <h:outputText value="Fecha de entrega: " style="color: #44B129;" styleClass="fontWeightRequired " />
                                                <h:outputText value="#{geolocationMasterController.clntGeo.dlvyDate}"  />
                                            </div>    
                                            <div>
                                                <h:outputText value="Entregado a: "  styleClass="fontWeightRequired " />
                                                <h:outputText value="#{geolocationMasterController.clntGeo.dlvyPerson}"  />
                                            </div>
                                        </p:outputPanel>                                        
                                        
                                        <div class="titleResumen" style="margin-top: 5px;" >
                                            <label class="ui-outputlabel fontWeightRequired" style="font-size: 13px;" >
                                                Origen - #{geolocationMasterController.clntGeo.orgnBrncId}
                                            </label>
                                        </div>
                                        <div>
                                            <h:outputText value="Clave: " styleClass="fontWeightRequired " />
                                            <h:outputText value="#{geolocationMasterController.clntGeo.clntOrgn}" />
                                        </div>   
                                        <div>
                                            <h:outputText value="Nombre: " styleClass="fontWeightRequired " />
                                            <h:outputText value="#{geolocationMasterController.clntGeo.clntNameOrgn}" style="margin-right: 5px;" />
                                        </div>                                           
                                        <div class="titleResumen" style="margin-top: 5px;" >
                                            <label class="ui-outputlabel fontWeightRequired" style="font-size: 13px;" >
                                                Destino - #{geolocationMasterController.clntGeo.brncId}
                                            </label>
                                        </div>
                                        <div>
                                            <h:outputText value="Clave: " styleClass="fontWeightRequired " />
                                            <h:outputText value="#{geolocationMasterController.clntGeo.clntId}" />
                                        </div>  
                                        <div>
                                            <h:outputText value="Nombre: " styleClass="fontWeightRequired " />
                                            <h:outputText value="#{geolocationMasterController.clntGeo.clntName}" style="margin-right: 5px;" />
                                        </div>    
                                        <div>
                                            <h:outputText value="Dirección: " styleClass="fontWeightRequired " />
                                            <h:outputText value="#{geolocationMasterController.clntGeo.address} #{geolocationMasterController.clntGeo.drnr} #{geolocationMasterController.clntGeo.coloZipCode} #{geolocationMasterController.clntGeo.city} #{geolocationMasterController.clntGeo.statee}" />
                                        </div> 
  
                                        <p:outputPanel style="text-align: justify; max-width: 300px;" rendered="#{geolocationMasterController.clntGeo.flagMultiClnt=='Y'}" >
                                            <h:outputLabel value="Rastreos" styleClass="fontWeightRequired " />  
                                            <h:outputLabel value="#{geolocationMasterController.clntGeo.multiClntCant}" style="padding: 2px 5px 1px 1px !important;background: rgb(77, 130, 209) none repeat scroll 0% 0%;color: rgb(255, 255, 255);border-radius: 50%;margin-left: 10px !important;" />
                                            <p:dataList value="#{geolocationMasterController.clntGeo.listMultiClnt}" var="list" type="definition" styleClass="panelPadding0"  >
                                                #{list.guiaNo}
                                            </p:dataList> 

                                        </p:outputPanel>

                                        <p:outputPanel rendered="#{geolocationMasterController.clntGeo.eadFlag=='4'}" >
                                            <div>
                                                <h:outputLabel value="Motivo:" styleClass="fontWeightRequired LabelBuzon" />  
                                                <h:outputLabel value="#{geolocationMasterController.clntGeo.reasonReturn}" />  
                                            </div>
                                            <div> 
                                                <p:panel visible="#{geolocationMasterController.listImgReturns.size()>0}" styleClass="panelPadding0" >                                                 

                                                    <h:outputLabel  value="Evidencia:" styleClass="fontWeightRequired LabelBuzon"  />  
                                                    <img id="imageBtn" onclick="PF('dlg1').show();" src="../../../../resources/images/icons/camera.png" style="height: 30px;cursor: pointer; " /> 
                                                </p:panel>
                                            </div>

                                            <p:dialog header="#{geolocationMasterController.clntGeo.guiaNo}" widgetVar="dlg1" position="top" >

                                                <p:galleria value="#{geolocationMasterController.listImgReturns}" var="list" panelWidth="240" panelHeight="320" showCaption="true" autoPlay="false" >
                                                    <p:graphicImage id="img12"  value="/DisplayImageReturn?Image_id=#{list.guiaNo}" title="#{list.dlvyDate}" style="width: 100%; " /> 

                                                </p:galleria>

                                            </p:dialog>
                                        </p:outputPanel>
                                    <p:outputPanel rendered="#{geolocationMasterController.clntGeo.carita != 'N'}" >
                                        <div class="titleResumen" style="margin-top: 5px;" >
                                            <label class="ui-outputlabel fontWeightRequired" style="font-size: 13px;" >
                                                Aceptación
                                            </label>
                                        </div>
                                        <img src="../../../../resources/images/icons/gps/caritas/#{geolocationMasterController.clntGeo.carita}.png" style="width: 30px;" />
                                    </p:outputPanel>                                        

                                        <div class="divContentButtons">
                                            <p:commandButton value="Como llegar"  
                                                             styleClass="fa fa-street-view divContentButtonsSave"
                                                             actionListener="#{geolocationMasterController.howToGetAddress( 
                                                                               geolocationMasterController.clntGeo.truckCoordinates,
                                                                               geolocationMasterController.clntGeo.latitude,
                                                                               geolocationMasterController.clntGeo.longitude)}" 
                                                             onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"
                                                             />                                   
                                        </div>                                        

                                    </p:outputPanel>        








                                </p:gmapInfoWindow>                        

                            </p:gmap>   


                        </p:tab>


                    </p:tabView>

                </div>

                <h:outputLink id="fadeTooltip" styleClass="fa fa-chevron-down toogleTopMap toogleTopMapActive" onclick="toogleTopMap();return false;" title="Minimizar"  />
                <!--                <a class="toogleTopMap" id="toogleTopMap" style="" onclick="toogleTopMap()" >
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                </a>-->
                <p:panel id="pnlClnt" header="Más información" toggleable="true" collapsed="true" 
                         toggleOrientation="horizontal" styleClass="GeoLocation-panelFixed GeoLocation-Client " >


                    <script type="text/javascript">
                        function plays() {
                            var obj = document.createElement("audio");
                            obj.src = "/enginedata/resources/sounds/gps/buzzer.mp3";
                            obj.volume = 0.30;
                            obj.autoPlay = true;
                            obj.preLoad = true;
                            obj.play();
                        }

                    </script>


                    <a href="#" class="playSound" id="activateSound" style="display: none;" onclick="plays()" >ass</a>

                    <p:tabView id="tabPanelDT" styleClass="panelDetail" >

                        <p:tab title="Moviles" >
                            <!--                            <p:contextMenu for="dtbMovilesGeo">
                                                            <p:menuitem value="Ver ruta" actionListener="{geolocationMasterController.contextMenuGoteoByMovil(geolocationMasterController.selectedListMovilPstn.idMovil , geolocationMasterController.selectedListMovilPstn.tripNo)}"/>
                                                        </p:contextMenu>                                   -->
                            <p:dataTable id="dtbMovilesGeo" widgetVar="table2" var="dtMovilesGeo" paginator="false" paginatorPosition="bottom" 
                                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" 
                                         rowsPerPageTemplate="50,100,200,300" emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}" 
                                         scrollable="true" scrollHeight="20vh" stickyHeader="false"
                                         styleClass="dtHeightRow40 dt-export headerInTab"  
                                         value="#{geolocationMasterController.listLastPstnMovil}" 
                                         rowKey="#{dtMovilesGeo.idMovil}" selection="#{geolocationMasterController.selectedListMovilPstn}"
                                         selectionMode="single"  
                                         lazy="false" 
                                         >
                                <!--                                <p:ajax event="rowSelect" listener{geolocationMasterController.onRowSelect}" 
                                                                        />  -->
                                
                                <p:ajax event="rowDblselect" listener="#{geolocationMasterController.onRowSelect}" 
                                        onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"
                                        update="form:tabPanelDT:dtbMovilesGeo , form:tabPanelDT:dtbClntGeo"
                                        oncomplete="handleSelectedMovilEAD(xhr, status, args)"
                                        />   
                                        
                                <p:ajax event="rowToggle" onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" listener="#{geolocationMasterController.onRowToggle}" update="dtListTrip" />                                

                                <f:facet name="header">
                                    <div class="switchVisible">
                                        <p:inputSwitch value="#{geolocationMasterController.switchMobiles}" id="switchVisibleAll" >
                                            <h:outputLabel value="Todos los moviles. " style="font-size: 11px;color:#000;
                                                           height: 33px !important;
                                                           display: inline-block;
                                                           vertical-align: middle;
                                                           margin-right: 5px;
                                                           " />
                                            <p:ajax listener="#{geolocationMasterController.validaAllSwitchMobiles()}" 
                                                    onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
                                        </p:inputSwitch>
                                    </div>
                                </f:facet>                                
                                <p:column style="width:16px">
                                    <p:rowToggler  />
                                </p:column>
                                <p:column headerText="Visible" styleClass="alginCenter width23 switchVisible" >
                                    <p:inputSwitch value="#{dtMovilesGeo.visible}" id="switchVisible" >
                                        <p:ajax listener="#{geolocationMasterController.validaSwitchMobiles(dtMovilesGeo.idMovil , dtMovilesGeo.visible)}"
                                                update="form:tabPanelDT:dtbMovilesGeo , form:tabPanelDT:dtbClntGeo"
                                                onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
                                    </p:inputSwitch>

                                </p:column>                                   

                                <p:column headerText="Tiempo" styleClass="alginCenter width23" sortBy="#{dtMovilesGeo.statusTime}" filterBy="#{dtMovilesGeo.statusTime}">
                                    <i class="fa fa-clock-o statusTimeMovil-#{dtMovilesGeo.statusTime}" aria-hidden="true"></i>
                                </p:column>     

                                <p:column headerText="Señal" styleClass="alginCenter width23" sortBy="#{dtMovilesGeo.idMovil}" filterBy="#{dtMovilesGeo.idMovil}">
                                    <h:outputText styleClass="fa fa-compass statusSignal-#{dtMovilesGeo.flagCheckVerified}"
                                                  />
                                </p:column>              

                                <p:column headerText="Icono" styleClass="alginCenter width23" sortBy="#{dtMovilesGeo.status}" filterBy="#{dtMovilesGeo.status}">
                                    <img src="#{dtMovilesGeo.status}" style="height: 20px;" />
                                </p:column>                                                                    
                                <p:column headerText="Movil" styleClass="alginLeft width23" sortBy="#{dtMovilesGeo.idMovil}" filterBy="#{dtMovilesGeo.idMovil}">
                                    <h:outputText value="#{dtMovilesGeo.idMovil}" />
                                </p:column>  
                                <p:column headerText="% Carga" styleClass="alginLeft width23" >

                                    <p:panel id="validateCero2" styleClass="validateCeroProgressBar" rendered="#{dtMovilesGeo.packagesTotal!=0}" style="border: none; padding: 0 !important;">

                                        <div class="progress-bar horizontal" style="" >
                                            <div class="progress-track">
                                             
                                                <div class="progress-fill dlvy" style="width: #{dtMovilesGeo.porcentVolCargado}" title="#{dtMovilesGeo.porcentVolCargado}" >
                                                    <span>#{dtMovilesGeo.porcentVolCargado}</span>
                                                </div>                                                    
                                            </div>
                                        </div>

                                    </p:panel>
                                </p:column>                                 
<!--                                <p:column headerText="Viaje" styleClass="alginLeft width40" sortBy="{dtMovilesGeo.tripNo}" filterBy="{dtMovilesGeo.tripNo}">
                                    <h:outputText value="{dtMovilesGeo.tripNo}" />
                                </p:column>    -->

                                <p:column headerText="Ruta" styleClass="alginLeft width40" sortBy="#{dtMovilesGeo.routId}" filterBy="#{dtMovilesGeo.routId}">
                                    <h:outputText value="#{dtMovilesGeo.routId}" />
                                </p:column>                                    

                                <p:column headerText="Operador" styleClass="alginLeft width200" sortBy="#{dtMovilesGeo.employeName}" filterBy="#{dtMovilesGeo.employeName}">
                                    <h:outputText value="#{dtMovilesGeo.employeName}" />
                                </p:column>                                                                    

                                <p:column headerText="Total" styleClass="alginRight width10" sortBy="#{dtMovilesGeo.packagesTotal}" filterBy="#{dtMovilesGeo.packagesTotal}">
                                    <h:outputText value="#{dtMovilesGeo.packagesTotal}" />
                                </p:column>   

                                <p:column headerText="Pend." styleClass="alginRight width10" sortBy="#{dtMovilesGeo.packagesByDlvy}" filterBy="#{dtMovilesGeo.packagesByDlvy}">
                                    <h:outputText value="#{dtMovilesGeo.packagesByDlvy}" />
                                </p:column>         

                                <p:column headerText="Entre." styleClass="alginRight width10" sortBy="#{dtMovilesGeo.packagesDlvy}" filterBy="#{dtMovilesGeo.packagesDlvy}">
                                    <h:outputText value="#{dtMovilesGeo.packagesDlvy}" />
                                </p:column>       

                                <p:column headerText="Dev." styleClass="alginRight width10" sortBy="#{dtMovilesGeo.packagesReturn}" filterBy="#{dtMovilesGeo.packagesReturn}">
                                    <h:outputText value="#{dtMovilesGeo.packagesReturn}" />
                                </p:column>                                      

                                <!--                                <p:column headerText="Tiempo en ruta " styleClass="alginLeft width100" sortBy="{dtMovilesGeo.timeTotalRoute}" filterBy="{dtMovilesGeo.timeTotalRoute}">
                                                                    <h:outputText value="{dtMovilesGeo.timeTotalRoute}" />
                                                                </p:column>       -->

                                <p:column headerText="% entregas" styleClass="alginLeft width23" >

                                    <p:panel id="validateCero" styleClass="validateCeroProgressBar" rendered="#{dtMovilesGeo.packagesTotal!=0}" style="border: none; padding: 0 !important;">

                                        <div class="progress-bar horizontal" style="" >
                                            <div class="progress-track">
                                                <div class="progress-fill dlvy" style="width: #{dtMovilesGeo.porcentDlvy}" title="#{dtMovilesGeo.porcentDlvy}" >
                                                    <span>#{dtMovilesGeo.porcentDlvy}</span>
                                                </div>
                                                <div class="progress-fill toDlvy" style="width: #{dtMovilesGeo.porcentToDlvy}" title="#{dtMovilesGeo.porcentToDlvy}" >
                                                    <span>#{dtMovilesGeo.porcentToDlvy}</span>
                                                </div>    
                                                <div class="progress-fill returns" style="width: #{dtMovilesGeo.porcentReturn}" title="#{dtMovilesGeo.porcentReturn}" >
                                                    <span>#{dtMovilesGeo.porcentReturn}</span>
                                                </div>                                                    
                                            </div>
                                        </div>

                                    </p:panel>
                                </p:column>                                       

                                <p:column rendered="#{geolocationMasterController.actionPermitido('VIEW MONEY')}" headerText="Total" styleClass="alginRight width23" sortBy="#{dtMovilesGeo.guiaAmnt}" filterBy="#{dtMovilesGeo.guiaAmnt}">
                                    <h:outputText value="#{dtMovilesGeo.guiaAmnt}" />
                                </p:column>   
                                <p:column rendered="#{geolocationMasterController.actionPermitido('VIEW MONEY')}" headerText="FXC" styleClass="alginRight width23" sortBy="#{dtMovilesGeo.guiaAmntFXC}" filterBy="#{dtMovilesGeo.guiaAmntFXC}">
                                    <h:outputText value="#{dtMovilesGeo.guiaAmntFXC}" />
                                </p:column>                                  
                                <p:column  rendered="#{geolocationMasterController.actionPermitido('VIEW MONEY')}" headerText="Pagado" styleClass="alginRight width23" sortBy="#{dtMovilesGeo.guiaAmntPagado}" filterBy="#{dtMovilesGeo.guiaAmntPagado}">
                                    <h:outputText value="#{dtMovilesGeo.guiaAmntPagado}" />
                                </p:column>   
                                <p:column headerText="Paquetes" styleClass="alginRight width23" sortBy="#{dtMovilesGeo.numbPacks}" filterBy="#{dtMovilesGeo.numbPacks}">
                                    <h:outputText value="#{dtMovilesGeo.numbPacks}" />
                                </p:column>                                   
                                <p:column headerText="Volumen" styleClass="alginRight width23" sortBy="#{dtMovilesGeo.totlVlum}" filterBy="#{dtMovilesGeo.totlVlum}">
                                    <h:outputText value="#{dtMovilesGeo.totlVlum}" />
                                </p:column>            
                                
                                <p:column headerText="Peso" styleClass="alginLeft width23" sortBy="#{dtMovilesGeo.totlWght}" filterBy="#{dtMovilesGeo.totlWght}">
                                    <h:outputText value="#{dtMovilesGeo.totlWght}" />
                                </p:column>  

                                <p:column headerText="Ultima señal" styleClass="alginLeft width100" sortBy="#{dtMovilesGeo.dateTimeCheck}" filterBy="#{dtMovilesGeo.dateTimeCheck}">
                                    <h:outputText value="#{dtMovilesGeo.dateTimeCheck}" />
                                </p:column>   
                                <p:column headerText="Primera señal" styleClass="alginLeft width100" sortBy="#{dtMovilesGeo.firstLocation}" filterBy="#{dtMovilesGeo.firstLocation}">
                                    <h:outputText value="#{dtMovilesGeo.firstLocation}" />
                                </p:column>                                  
                                                                    
                                <p:column headerText="Latitud" styleClass="alginLeft width40" sortBy="#{dtMovilesGeo.latitude}" filterBy="#{dtMovilesGeo.latitude}">
                                    <h:outputText value="#{dtMovilesGeo.latitude}" />
                                </p:column>                                         

                                <p:column headerText="Longitud" styleClass="alginLeft width40" sortBy="#{dtMovilesGeo.longitude}" filterBy="#{dtMovilesGeo.longitude}">
                                    <h:outputText value="#{dtMovilesGeo.longitude}" />
                                </p:column>                                    

                                <p:rowExpansion >

                                    <p:dataTable id="dtListTrip" widgetVar="dtListTripWV" var="list" paginator="false" paginatorPosition="bottom" 
                                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" 
                                                 rowsPerPageTemplate="50,100,200,300" emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}" 
                                                 scrollable="true" scrollHeight="60" stickyHeader="false"
                                                 style="width: 600px;"
                                                 styleClass="dtHeightRow40 dt-export headerInTab"  
                                                 value="#{geolocationMasterController.listBreakDownTrip}" 
                                                 rowKey="#{list.tripNo}" 
                                                 lazy="false" 
                                                 >
                                        <p:column headerText="Viaje" styleClass="alginLeft width40"  >
                                            <h:outputText value="#{list.tripNo}" />
                                        </p:column>  
                                        <p:column headerText="Total" styleClass="alginLeft width40"  >
                                            <h:outputText value="#{list.packagesTotal}" />  
                                        </p:column>                                          
                                        <p:column headerText="Entregado" styleClass="alginLeft width40"  >
                                            <h:outputText value="#{list.packagesDlvy}" />  
                                        </p:column>
                                        <p:column headerText="Pendiente" styleClass="alginLeft width40" >
                                            <h:outputText value="#{list.packagesByDlvy}" />
                                        </p:column>  
                                        <p:column headerText="Devoluciones" styleClass="alginLeft width40" >
                                            <h:outputText value="#{list.packagesReturn}" />
                                        </p:column>                                              

                                        <p:column headerText="Porcentaje"  styleClass="alginLeft width100" >
                                            <p:panel id="validateCero" styleClass="validateCeroProgressBar" rendered="#{list.packagesTotal!=0}" style="border: none; padding: 0 !important;">

                                                <div class="progress-bar horizontal" style="" >
                                                    <div class="progress-track">
                                                        <div class="progress-fill dlvy" style="width: #{list.porcentDlvy}" title="#{list.porcentDlvy}" >
                                                            <span>#{list.porcentDlvy}</span>
                                                        </div>
                                                        <div class="progress-fill toDlvy" style="width: #{list.porcentToDlvy}" title="#{list.porcentToDlvy}" >
                                                            <span>#{list.porcentToDlvy}</span>
                                                        </div>    
                                                        <div class="progress-fill returns" style="width: #{list.porcentReturn}" title="#{list.porcentReturn}" >
                                                            <span>#{list.porcentReturn}</span>
                                                        </div>                                                    
                                                    </div>
                                                </div>

                                            </p:panel>                                                
                                        </p:column> 
<!--                                        <p:column headerText="Total" styleClass="alginRight width23" >
                                            <h:outputText value="{list.guiaAmnt}" />
                                        </p:column>       
                                        <p:column headerText="FXC" styleClass="alginRight width23" >
                                            <h:outputText value="{list.guiaAmntFXC}" />
                                        </p:column>                                
                                        <p:column headerText="Pagado" styleClass="alginRight width23" >
                                            <h:outputText value="{list.guiaAmntPagado}" />
                                        </p:column>                                                                        -->
                                    </p:dataTable>

                                </p:rowExpansion>                                

                            </p:dataTable>     
                        </p:tab>  
                        <p:tab title="Clientes">

                          
                                 <input type="text" tabindex="4" class="busquedaGralRapidaInpuut" 
                                           size="50" placeholder="#{msgs['enginedata.page.general.catalogs.lstUser.globalFilter']}"
                                           style="position: absolute;
                                                z-index: 100;
                                                top: 7px;
                                                left: 139px;
                                                max-width: 200px;
                                                background: transparent;
                                                border: none;
                                                border-bottom: 2px solid navy;
                                                font-size: 12px;"
                                           />
                            
                            <p:dataTable id="dtbClntGeo" widgetVar="tableClients1" var="clntGeo" paginator="false" paginatorPosition="bottom" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" 
                                         rowsPerPageTemplate="50,100,200,300" emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}" 
                                         scrollable="true" stickyHeader="false" scrollHeight="20vh" 
                                         styleClass="dtHeightRow40 dt-export generic100HeightGPS headerInTab"  
                                         value="#{geolocationMasterController.lazyListSysClnt}" 
                                         rowKey="#{clntGeo.guiaNo}" selection="#{geolocationMasterController.selectedListSysClnt}"
                                         selectionMode="single" rows="1000"
                                         lazy="true" rendered="true"
                                         filteredValue="#{geolocationMasterController.filterListSysClnt}"
                                         >  
                                <p:ajax event="filter" listener="#{geolocationMasterController.filterListener}" update="@this"/>
                                <p:ajax event="rowDblselect" listener="#{geolocationMasterController.onRowDblClckSelect}" 
                                        onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"
                                        oncomplete="handleSelectedMovilEAD(xhr, status, args)"
                                        />  
                                <f:facet name="header">
                              
<!--                                    <p:inputText id="globalFilter" tabindex="4" styleClass="busquedaGralRapidaInpuut" 
                                                 size="50" onkeypress="PF('tableClients1').filter()"
                                                  />-->

                                </f:facet>    
                                <p:column headerText="Status" styleClass="alginCenter width40px" filterBy="#{clntGeo.color}" >
                                    <img src="#{clntGeo.color}" style="height: 19px;" />
                                </p:column>   
                                <p:column headerText="Aceptación" styleClass="alginCenter width40" filterBy="#{clntGeo.carita}" >
                                    <p:outputPanel rendered="#{clntGeo.carita != 'N'}" >                                 
                                        <img src="../../../../resources/images/icons/gps/caritas/#{clntGeo.carita}.png" style="height: 19px;" />
                                    </p:outputPanel>                                       
                                </p:column>                                 
                                <p:column headerText="No" styleClass="alginLeft width40px"  sortBy="#{clntGeo.rowNum}" filterBy="#{clntGeo.rowNum}" >
                                    <h:outputText value="#{clntGeo.rowNum}"/>
                                </p:column>                                  
                                <p:column headerText="Tiempo en llegar" styleClass="alginCenter width40" filterBy="#{clntGeo.timeBetweenDlvy}" >
                                    <h:outputText value="#{clntGeo.timeBetweenDlvy}"/>
                                </p:column>  
                                <p:column headerText="Fecha entrega" styleClass="alginLeft width40" sortBy="#{clntGeo.dlvyDate}" filterBy="#{clntGeo.dlvyDate}">
                                    <h:outputText value="#{clntGeo.dlvyDate}"/>
                                </p:column>                                    
                                <!--                                <p:column headerText="Flag" styleClass="alginLeft width40"  sortBy="{clntGeo.flagMultiClnt}" filterBy="{clntGeo.flagMultiClnt}" >
                                                                    <h:outputText value="{clntGeo.flagMultiClnt}"/>
                                                                </p:column>                                  -->              
                                <p:column headerText="Rastreo" styleClass="alginLeft width40"  sortBy="#{clntGeo.guiaNo}" filterBy="#{clntGeo.guiaNo}" >
                                    <h:outputText value="#{clntGeo.guiaNo}"/>
                                </p:column>                                            
                                <p:column headerText="Clave" styleClass="alginLeft width40" sortBy="#{clntGeo.clntId}" filterBy="#{clntGeo.clntId}" filterMatchMode="contains" >
                                    <h:outputText value="#{clntGeo.clntId}" />
                                </p:column> 
                                <p:column headerText="Nombre" styleClass="alginLeft width200" sortBy="#{clntGeo.clntName}" filterBy="#{clntGeo.clntName}" filterMatchMode="contains" >
                                    <h:outputText value="#{clntGeo.clntName}" />
                                </p:column> 

                                <p:column sortBy="#{clntGeo.colony}" filterBy="#{clntGeo.colony}" styleClass="width150" filterMatchMode="contains">
                                    <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.utileria.busqueda.busquedaCliente.frmBusquedaCliente.column.colonia']}" /></f:facet>
                                    <h:outputText id="coloDes" value="#{clntGeo.colony.length() gt 23 ? clntGeo.colony.substring(0,20).concat('...') : clntGeo.colony}" />                                
                                    <p:tooltip for="coloDes" value="#{clntGeo.colony}" trackMouse="true" />                                                                               
                                </p:column>
                                <p:column sortBy="#{clntGeo.address}" filterBy="#{clntGeo.address}" styleClass="width200" filterMatchMode="contains">
                                    <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.utileria.busqueda.busquedaCliente.frmBusquedaCliente.column.calle']}" /></f:facet>
                                    <h:outputText id="calle" value="#{clntGeo.address.length() gt 28 ? clntGeo.address.substring(0,25).concat('...') : clntGeo.address}" />                                
                                    <p:tooltip for="calle" value="#{clntGeo.address}" trackMouse="true" />                                                                               
                                </p:column>
                                <p:column sortBy="#{clntGeo.coloZipCode}" filterBy="#{clntGeo.coloZipCode}" styleClass="width80" filterMatchMode="contains">
                                    <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.utileria.busqueda.busquedaCliente.frmBusquedaCliente.column.codigoPostal']}" /></f:facet>
                                    <h:outputText value="#{clntGeo.coloZipCode}" />
                                </p:column>
                                <p:column sortBy="#{clntGeo.city}" filterBy="#{clntGeo.city}" styleClass="width100" filterMatchMode="contains">
                                    <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.utileria.busqueda.busquedaCliente.frmBusquedaCliente.column.ciudad']}" /></f:facet>
                                    <h:outputText id="ciudad" value="#{clntGeo.city.length() gt 20 ? clntGeo.city.substring(0,18).concat('...') : clntGeo.city}" />                                
                                    <p:tooltip for="ciudad" value="#{clntGeo.city}" trackMouse="true" />                                                                               
                                </p:column>
                                <p:column sortBy="#{clntGeo.delMun}" filterBy="#{clntGeo.delMun}" styleClass="width100" filterMatchMode="contains">
                                    <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.utileria.busqueda.busquedaCliente.frmBusquedaCliente.column.municipio']}" /></f:facet>
                                    <h:outputText id="delMun" value="#{clntGeo.delMun.length() gt 20 ? clntGeo.delMun.substring(0,18).concat('...') : clntGeo.delMun}" />                                
                                    <p:tooltip for="delMun" value="#{clntGeo.delMun}" trackMouse="true" />                                                                               
                                </p:column>
                                <p:column sortBy="#{clntGeo.brncId}" filterBy="#{clntGeo.brncId}" styleClass="width20" filterMatchMode="contains">
                                    <f:facet name="header"><h:outputText value="#{msgs['enginedata.page.utileria.busqueda.busquedaCliente.frmBusquedaCliente.column.plaza']}" /></f:facet>
                                    <h:outputText value="#{clntGeo.brncId}" />
                                </p:column>        
                                <p:column sortBy="#{clntGeo.latitude}" filterBy="#{clntGeo.latitude}" styleClass="width100" filterMatchMode="contains">
                                    <f:facet name="header"><h:outputText value="Latitude" /></f:facet>
                                    <h:outputText value="#{clntGeo.latitude}" />
                                </p:column>                                
                                <p:column sortBy="#{clntGeo.longitude}" filterBy="#{clntGeo.longitude}" styleClass="width100" filterMatchMode="contains">
                                    <f:facet name="header"><h:outputText value="Longitude" /></f:facet>
                                    <h:outputText value="#{clntGeo.longitude}" />
                                </p:column>                                                            
                                <p:column headerText="Viaje" styleClass="alginLeft width40" sortBy="#{clntGeo.viaje}" filterBy="#{clntGeo.viaje}">
                                    <h:outputText value="#{clntGeo.viaje}"/>
                                </p:column>       
                                <p:column headerText="Estatus" styleClass="alginLeft width40" sortBy="#{clntGeo.statusFilter}" filterBy="#{clntGeo.statusFilter}">
                                    <h:outputText value="#{clntGeo.statusFilter}"/>
                                </p:column>                                    

                            </p:dataTable>      
                        </p:tab>                          
                    </p:tabView>



                </p:panel>

                <p:growl id="message" showDetail="true" showSummary="false" autoUpdate="true" life="4500" />



                <p:growl id="growl" showDetail="true" showSummary="false" autoUpdate="true" life="4500" />


            </h:form>

            <p:growl widgetVar="growl" showDetail="true" />


        </f:view>

        <p:dialog id="statusDialogProcess" widgetVar="statusDialog" style="border-radius: 50%;text-align: center;background: #fff;" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <img src="../../../../resources/images/i_g_fleet.gif" style="border-radius: 50%;"/>
            <h:outputLabel value="#{geolocationMasterController.textProcess}" styleClass="fontWeightRequired"  />

        </p:dialog>




    </h:body>

</html>
 