<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    
    <h:head id="txtHead">
        <title>#{(complaintsRegistrationController.action.equalsIgnoreCase('EDIT')) ? msgs['enginedata.page.general.label.fefoComplaintRegistrationEdit'] : msgs['enginedata.page.general.label.fefoComplaintRegistration']} </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <link rel="stylesheet" type="text/css" href="../../../../resources/css/style.css?v=#{securityEngineData.versionApp}"/>
        <link rel="stylesheet" type="text/css" href="../../../../resources/css/styleGeneric.css?v=#{securityEngineData.versionApp}"/>
        <script type="text/javascript" src="../../../../resources/js/global.js?v=#{securityEngineData.versionApp}"></script>
        <!--Este estilo oculta los filter de cada columna-->
        <style type="text/css">
            .ui-datatable .ui-column-filter{display: none;}
            .hidePanelHeader{display: none;}
            .showPanelHeader{display: block;}
        </style>
    </h:head>
    
    <h:body onload="#{complaintsRegistrationController.onLoad()}">
        <f:view locale="#{securityEngineData.locale}">

            <h:form id="frmCmpln">
                <p:growl id="message" showDetail="true" showSummary="false" life="3000" sticky="false"/>
                <p:panel id="complaintPanel" >
                    <f:facet name="header" class="#{(complaintsRegistrationController.external) ? hidePanelHeader : showPanelHeader}">
                        #{(!complaintsRegistrationController.external) ? msgs['enginedata.page.general.label.fefoComplaintRegistration'] : ''}
                    </f:facet>

                    <!-- Consulta por guía o rastreo -->
                    <div class="ui-grid ui-grid-responsive ui-grid-responsive-txtblock">
                        <div class="ui-grid-row">
                            <div>
                                <p:outputLabel for="filterGuiaNoOrTrackingNo" value="#{msgs['enginedata.page.general.label.filterGuiaNoOrTrackingNo']}" />
                                <p:inputText id="filterGuiaNoOrTrackingNo" disabled="#{complaintsRegistrationController.action.equalsIgnoreCase('EDIT')}" value="#{complaintsRegistrationController.searchParamGuiaNo}" />
                            </div>
                            <div class="ui-grid-col-2 filtroButtonSearch filtroCalendar">

                                <p:commandButton update="panelBodyComplaint txtGuiaNo txtFormNo cmbCmplnStusComplaintsReg txtComplaintDescriptionHeader" process="@this" styleClass="fa fa-search-plus" value="#{msgs['enginedata.page.search-button-label']}" disabled="#{complaintsRegistrationController.action.equalsIgnoreCase('EDIT')}"
                                                 actionListener="#{complaintsRegistrationController.searchGuiaData()}" 
                                                 onstart="PF('statusDialogCog').show();" onsuccess="PF('statusDialogCog').hide();">
                                    <!--<f:setPropertyActionListener value="{radGuiaHeadDTO}" target="{radCollectionController.newRad}" />-->
                                    <!--<f:setPropertyActionListener value="edit" target="{radCollectionController.newRad.actionCrud}" />-->
                                </p:commandButton>
                            </div>
                        </div>
                    </div>


                    <p:scrollPanel id="panelBodyComplaint" mode="native" style="width:99%; height:80%">
                        <div class="ui-grid ui-grid-responsive ui-grid-responsive-txtblock">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-3">
                                    <p:outputLabel for="txtSeqNo" value="#{msgs['enginedata.page.general.label.id']}" />
                                    <p:inputText id="txtSeqNo" value="#{complaintsRegistrationController.complaint.seqNo}" readonly="true" />
                                </div>

                                <div class="ui-grid-col-3">
                                    <p:outputLabel for="txtTicket" value="#{msgs['enginedata.page.general.label.ticket']}" />
                                    <p:inputText id="txtTicket" value="#{complaintsRegistrationController.complaint.ticket}" readonly="true"/>
                                </div>

                                <div class="ui-grid-col-2">
                                    <p:outputLabel for="cmbCmplnStusComplaintsReg" value="#{msgs['enginedata.page.general.label.complaintStatus']}" />
                                    <p:selectOneMenu id="cmbCmplnStusComplaintsReg" value="#{complaintsRegistrationController.selectedComplaintStatus}" valueChangeListener="#{complaintsRegistrationController.cmbCmplnStusValueChange}" converter="genericConverter" style="width: 85% !important;" disabled="#{complaintsRegistrationController.action.equalsIgnoreCase('NEW')}">
                                        <f:selectItems value="#{complaintsRegistrationController.listComplaintStatus}" var="complaintStatus" itemLabel="#{complaintStatus.paramDesc}" itemValue="#{complaintStatus}" />

                                        <p:ajax process="cmbCmplnStusComplaintsReg" partialSubmit="true" event="valueChange" />
                                    </p:selectOneMenu>
                                </div>

                                <div class="ui-grid-col-2">
                                    <!--                                <p:outputLabel for="cmbContactVia" value="{msgs['enginedata.page.general.label.medioContacto']}" />
                                                                    <p:inputText id="txtContactVia" value="{complaintsRegistrationController.complaint.cntcVia}"/>-->
                                    <p:outputLabel for="cmbContactVia" value="#{msgs['enginedata.page.general.label.medioContacto']}" />
                                    <p:selectOneMenu id="cmbContactVia" style="width: 85% !important;" value="#{complaintsRegistrationController.complaint.cntcVia}">
                                        <f:selectItem itemLabel="#{msgs['enginedata.page.general.label.telefono']}" itemValue="telefono" />                                                            
                                        <f:selectItem itemLabel="#{msgs['enginedata.page.general.label.correo']}" itemValue="email" />
                                        <f:selectItem itemLabel="Facebook" itemValue="facebook" />
                                    </p:selectOneMenu>
                                </div>

                                <div class="ui-grid-col-2">
                                    <p:outputLabel for="cmbSrvcType" value="#{msgs['enginedata.page.general.label.messagingServiceType']}" />
                                    <p:selectOneMenu id="cmbSrvcType" value="#{complaintsRegistrationController.complaint.srvcType}" style="width: 85% !important;" >
                                        <f:selectItem itemLabel="#{msgs['enginedata.page.general.label.national']}" itemValue="Nacional" />
                                        <f:selectItem itemLabel="#{msgs['enginedata.page.general.label.international']}" itemValue="Internacional" />
                                        <f:selectItem itemLabel="#{msgs['enginedata.page.general.label.both']}" itemValue="Ambos" />
                                    </p:selectOneMenu>
                                </div>
                            </div>

                            <div class="ui-grid-row">
                                <div class="ui-grid-col-3">
                                    <p:outputLabel for="txtGuiaNo" value="#{msgs['enginedata.page.general.label.rastreo']}" />
                                    <p:inputText id="txtGuiaNo" value="#{complaintsRegistrationController.complaint.guiaNo}" readonly="true" />
                                    <p:commandButton value="#{msgs['enginedata.page.general.label.history']}" actionListener="#{complaintsRegistrationController.findHistoryByGuiaNoOrRastreo(complaintsRegistrationController.searchedBokGuiaHead.guiaNo)}" disabled="false" immediate="true" styleClass="fa fa-calendar" style="margin-left: 5px;" /> <!-- {complaintsRegistrationController.searchedBokGuiaHead.convFlag == 'N' or complaintsRegistrationController.searchedBokGuiaHead.convFlag == null} -->
                                </div>

                                <div class="ui-grid-col-3">
                                    <p:outputLabel for="txtFormNo" value="#{msgs['enginedata.page.general.label.guia']}" />
                                    <p:inputText id="txtFormNo" value="#{complaintsRegistrationController.forma}" readonly="true" />
<!--                                    <p:commandButton title="Seleccione para más información de guía" value="{msgs['enginedata.page.general.label.detalle']}" oncomplete="PF('modalDetalleGuia').show();" action="{complaintsRegistrationController.showGuiaDetailInfo()}" disabled="{complaintsRegistrationController.searchedBokGuiaHead == null or complaintsRegistrationController.searchedBokGuiaHead.guiaNo == null}" update="frmCmpln:modalDetalle" styleClass="fa fa-list-alt" style="margin-left: 5px;">
                                    </p:commandButton>-->
                                    
                                    <p:commandButton title="Seleccione para más información de guía" value="#{msgs['enginedata.page.general.label.detalle']}" actionListener="#{complaintsRegistrationController.showGuiaDetail()}" immediate="true" disabled="#{complaintsRegistrationController.searchedBokGuiaHead == null or complaintsRegistrationController.searchedBokGuiaHead.guiaNo == null}" update="frmCmpln:modalDetalle" styleClass="fa fa-list-alt" style="margin-left: 5px;">
                                    </p:commandButton>
                                </div>

                                <div class="ui-grid-col-2">
                                    <p:outputLabel for="cmbBrncImputableComplaintsReg" value="#{msgs['enginedata.page.general.label.brncImputable']}" />
                                    <p:selectOneMenu id="cmbBrncImputableComplaintsReg" filter="true" filterMatchMode="contains" value="#{complaintsRegistrationController.brncImputable}" valueChangeListener="#{complaintsRegistrationController.cmbBrncImputableValueChange}" converter="genericConverter" style="width: 85% !important;">
                                        <f:selectItems value="#{complaintsRegistrationController.listBranches}" var="brncIm" itemLabel="#{brncIm.bmBrncID}" itemValue="#{brncIm}" />
                                        <p:ajax process="cmbBrncImputableComplaintsReg" partialSubmit="true" event="valueChange" />
                                    </p:selectOneMenu>
                                </div>

                                <div class="ui-grid-col-2">
                                    <p:outputLabel for="cmbBrncCalledComplaintsReg" value="#{msgs['enginedata.page.general.label.brncCalled']}" />
                                    <p:selectOneMenu id="cmbBrncCalledComplaintsReg" filter="true" filterMatchMode="contains" value="#{complaintsRegistrationController.brncCalled}" valueChangeListener="#{complaintsRegistrationController.cmbBrncCalledValueChange}" converter="genericConverter" style="width: 85% !important;">
                                        <f:selectItems value="#{complaintsRegistrationController.listBranches}" var="brncCl" itemLabel="#{brncCl.bmBrncID}" itemValue="#{brncCl}" />
                                        <p:ajax process="cmbBrncCalledComplaintsReg" partialSubmit="true" event="valueChange" />
                                    </p:selectOneMenu>
                                </div>

                                <div class="ui-grid-col-2">
                                    <p:outputLabel for="cmbBrncAffectedComplaintsReg" value="#{msgs['enginedata.page.general.label.brncAffected']}" />
                                    <p:selectOneMenu id="cmbBrncAffectedComplaintsReg" filter="true" filterMatchMode="contains" value="#{complaintsRegistrationController.brncAffected}" valueChangeListener="#{complaintsRegistrationController.cmbBrncAffectedValueChange}" converter="genericConverter" style="width: 85% !important;">
                                        <f:selectItems value="#{complaintsRegistrationController.listBranches}" var="brncAf" itemLabel="#{brncAf.bmBrncID}" itemValue="#{brncAf}" />
                                        <p:ajax process="cmbBrncAffectedComplaintsReg" partialSubmit="true" event="valueChange" />
                                    </p:selectOneMenu>
                                </div>
                            </div>

                            <div class="ui-grid-row">
                                <div class="ui-grid-col-3" style="display: none">
                                    <p:outputLabel for="txtContact" value="#{msgs['enginedata.page.general.label.contacto']}" />
                                    <p:inputText id="txtContact" value="#{complaintsRegistrationController.complaint.cntcName}"/>
                                </div>
                                <div class="ui-grid-col-3" style="display: none">
                                    <p:outputLabel for="cmbClientsComplaintsReg" value="#{msgs['enginedata.page.general.label.cliente']}" />
                                    <p:selectOneMenu id="cmbClientsComplaintsReg" value="#{complaintsRegistrationController.selectedClient}" var="t" converter="genericConverter"  style="width: 85% !important;" valueChangeListener="#{complaintsRegistrationController.clientsValueChange}">
                                        <f:selectItems value="#{complaintsRegistrationController.listClients}" var="client" itemLabel="#{client.clntType}" itemValue="#{client}" />
                                        <p:column>
                                            <h:outputText value="#{t.clntType}" />
                                        </p:column>
                                        <p:ajax process="cmbClientsComplaintsReg" partialSubmit="true" immediate="true" event="valueChange" update="txtCustomer" />
                                    </p:selectOneMenu>

                                </div>
                                <div class="ui-grid-col-3" style="display: none">
                                    <p:outputLabel for="txtCustomer" value="#{msgs['enginedata.page.general.label.idCliente']}" />
                                    <p:inputText id="txtCustomer" value="#{complaintsRegistrationController.complaint.clntId}"/>
                                </div>
                            </div>

                            <div class="ui-grid-row">
                                <div class="ui-grid-col-6" style="display: block">
                                    <p:outputLabel for="lbxClientsComplaintsReg" value="#{msgs['enginedata.page.general.label.cliente']}" />
                                    <p:selectOneMenu id="lbxClientsComplaintsReg" value="#{complaintsRegistrationController.selectedClient}" var="t" converter="genericConverter"  style="width: 90% !important;" valueChangeListener="#{complaintsRegistrationController.clientsValueChange}" binding="#{complaintsRegistrationController.lbxClients}">
                                        <f:selectItems value="#{complaintsRegistrationController.listClients}" var="client" itemLabel="#{client.clntType.concat(', ').concat(client.brncId).concat(', ').concat(client.clntId).concat(', ').concat(client.clntName)}" itemValue="#{client}" />
                                        <p:column>
                                            <h:outputText value="#{t.clntType}" />
                                        </p:column>
                                        <p:column>
                                            <h:outputText value="#{t.brncId}" />
                                        </p:column>
                                        <p:column>
                                            <h:outputText value="#{t.clntId}" />
                                        </p:column> 
                                        <p:column>
                                            <h:outputText value="#{t.clntName}" />
                                        </p:column>

                                        <p:ajax process="lbxClientsComplaintsReg" partialSubmit="true" immediate="true" event="valueChange" update="cmbContactsComplaintsReg" />
                                    </p:selectOneMenu>
                                </div>
                                <div class="ui-grid-col-6" style="display: block">
                                    <p:outputLabel for="cmbContactsComplaintsReg" value="#{msgs['enginedata.page.general.label.contacto']}" />
                                    <p:selectOneMenu id="cmbContactsComplaintsReg" value="#{complaintsRegistrationController.selectedContact}" var="t" converter="genericConverter"  style="width: 90% !important;" valueChangeListener="#{complaintsRegistrationController.cmbContactsValueChange}" filter="true" filterMatchMode="contains">
                                        <f:selectItems value="#{complaintsRegistrationController.listClientContacts}" var="contact" itemLabel="#{contact.concName}" itemValue="#{contact}" itemDescription="#{contact.concName}"   />
                                        <p:column>
                                            <h:outputText value="#{t.concId}" />
                                        </p:column>
                                        <p:column>
                                            <h:outputText value="#{t.concName}" />
                                        </p:column>
                                        <p:column>
                                            <h:outputText value="#{t.addrCode}" />
                                        </p:column> 

                                        <p:ajax process="cmbContactsComplaintsReg" partialSubmit="true" immediate="true" event="valueChange" update="txtCustomer" />
                                        <!--<p:ajax process="cmbContactsComplaintsReg" partialSubmit="true" immediate="true" event="filter" listener="{complaintsRegistrationController.filterListener}" update="@this" />-->
                                    </p:selectOneMenu>
                                </div>
                            </div>

                            <div class="ui-grid-row">
                                <div class="ui-grid-col-6">
                                    <p:outputLabel for="cmbIncidenceTypeComplaintsReg" value="#{msgs['enginedata.page.general.label.IncidenceType']}" />
                                    <p:selectOneMenu id="cmbIncidenceTypeComplaintsReg" style="width: 90% !important;" value="#{complaintsRegistrationController.selectedIncidence}" var="inc" converter="genericConverter" valueChangeListener="#{complaintsRegistrationController.cmbIncidencesValueChange}" filter="true" filterMatchMode="contains">
                                        <f:selectItems  value="#{complaintsRegistrationController.listIncidences}" var="incidence" itemValue="#{incidence}" itemLabel="#{incidence.nameIncident}" />  

                                        <p:column>
                                            <h:outputText value="#{inc.nameIncident}" />
                                        </p:column>

                                    </p:selectOneMenu>
                                </div>

                                <div class="ui-grid-col-2">
                                    <p:outputLabel for="txtDemandSubmmited" value="#{msgs['enginedata.page.general.label.demandSubmmited']}" />
                                    <p:selectOneRadio id="txtDemandSubmmited" value="#{complaintsRegistrationController.complaint.submitsDemand}">
                                        <f:selectItem itemLabel="#{msgs['enginedata.page.general.btn.label.si']}" itemValue="Y" />
                                        <f:selectItem itemLabel="#{msgs['enginedata.page.general.btn.label.no']}" itemValue="N" />
                                    </p:selectOneRadio>
                                </div>
                                <div class="ui-grid-col-2">
                                    <p:outputLabel for="chbhasLoadAdmin" value="#{msgs['enginedata.page.general.label.hasLoadAdmin']}" />
                                    <p:selectOneRadio id="chbhasLoadAdmin" value="#{complaintsRegistrationController.complaint.hasLoadAdmin}">
                                        <f:selectItem itemLabel="#{msgs['enginedata.page.general.btn.label.si']}" itemValue="Y" />
                                        <f:selectItem itemLabel="#{msgs['enginedata.page.general.btn.label.no']}" itemValue="N" />
                                    </p:selectOneRadio>
                                </div>
                                <div class="ui-grid-col-2">
                                    <p:outputLabel for="chbReviseSubject" value="#{msgs['enginedata.page.general.label.reviseSubject']}" />
                                    <p:selectOneRadio id="chbReviseSubject" value="#{complaintsRegistrationController.complaint.reviseSubject}">
                                        <f:selectItem itemLabel="#{msgs['enginedata.page.general.btn.label.si']}" itemValue="Y" />
                                        <f:selectItem itemLabel="#{msgs['enginedata.page.general.btn.label.no']}" itemValue="N" />
                                    </p:selectOneRadio>
                                </div>
                            </div>

                            <div class="ui-grid-row">

                            </div>


                            <div class="ui-grid-row">
                                <div class="ui-grid-col-6">
                                    <p:outputLabel for="txtComplaintDescription" value="#{msgs['enginedata.page.general.label.descripcion']}" />
                                    <p:outputLabel id="txtComplaintDescriptionHeader" value="#{complaintsRegistrationController.buildDescriptionHeader}" />
                                    <p:inputTextarea id="txtComplaintDescription" rows="5" maxlength="1000" counter="cntComplaintDescriptionAvailableCharacters" placeholder="#{msgs['enginedata.page.general.label.complaintFullDescripcionPlaceholder']}" style="width:  95% !important;" value="#{complaintsRegistrationController.complaint.description}" />
                                    <p:outputLabel id="cntComplaintDescriptionAvailableCharacters" />
                                </div>

                                <div class="ui-grid-col-6">
                                    <p:outputLabel for="txtResolution" value="#{msgs['enginedata.page.general.label.complaintResolution']}" />
                                    <p:inputTextarea id="txtResolution" rows="5" maxlength="1000" counter="cntComplaintResolutionAvailableCharacters" placeholder="#{msgs['enginedata.page.general.label.complaintFullResolutionPlaceholder']}" style="width: 95% !important;" value="#{complaintsRegistrationController.complaint.resolution}" />
                                    <p:outputLabel id="cntComplaintResolutionAvailableCharacters" />
                                </div>
                            </div>

                            <div class="ui-grid-row">

                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-3">
                                    <p:outputLabel for="txtCrtdOn" value="#{msgs['enginedata.page.general.label.createdOn']}" />
                                    <p:inputText id="txtCrtdOn" value="#{complaintsRegistrationController.complaint.crtdOn}" >
                                        <f:convertDateTime type="both" pattern="dd/MM/yyyy HH:mm:ss" />
                                    </p:inputText>
                                </div>
                                <div class="ui-grid-col-3">
                                    <p:outputLabel for="txtCrtdBy" value="#{msgs['enginedata.page.general.label.createdBy']}" />
                                    <p:inputText id="txtCrtdBy" value="#{complaintsRegistrationController.complaint.crtdBy}" />
                                </div>
                                <div class="ui-grid-col-3">
                                    <p:outputLabel for="txtMdfdOn" value="#{msgs['enginedata.page.general.label.modifiedOn']}" />
                                    <p:inputText id="txtMdfdOn" value="#{complaintsRegistrationController.complaint.mdfdOn}">
                                        <f:convertDateTime type="both" pattern="dd/MM/yyyy HH:mm:ss" />
                                    </p:inputText>
                                </div>
                                <div class="ui-grid-col-3">
                                    <p:outputLabel for="txtMdfdBy" value="#{msgs['enginedata.page.general.label.modifiedBy']}" />
                                    <p:inputText id="txtMdfdBy" value="#{complaintsRegistrationController.complaint.mdfdBy}" />
                                </div>
                            </div>

                            <div class="ui-grid-row">
                                <div class="ui-grid-col-3">
                                    <p:outputLabel for="txtAssignedTo" value="#{msgs['enginedata.page.general.label.assignedTo']}" />
                                    <p:inputText id="txtAssignedTo" value="#{complaintsRegistrationController.complaint.assignedTo}" />
                                </div>
                            </div>

                        </div>

                        
                         

                    </p:scrollPanel>

                </p:panel>

                <p:commandButton id="cmdBtnSaveComplaint" onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();" actionListener="#{complaintsRegistrationController.saveComplaint()}" value="#{msgs['enginedata.page.save-button-label']}" partialSubmit="true" styleClass="GreenButton fa fa-floppy-o" process="@this, complaintPanel" update="complaintPanel message" rendered="#{complaintsRegistrationController.actionPermitido('SAVE')}">
                </p:commandButton>


                <!--VENTANA MODAL CON INFORMACION DE LA GUIA INICIO-->
                <p:dialog header="Detalle de guía" widgetVar="modalDetalleGuia" width="850" modal="true" id="modalDetalle" styleClass="modalDetalleGuia">
                  
                    <p:tabView style="height: 500px;">
                    <div class="grid gridDetallesBuzon">
                        
                        <p:tab title="#{msgs['enginedata.page.generalSugar']}">
                        <div>
                            <div>

                                <div class="ui-grid ui-grid-responsive">
                                    <p:fieldset legend="Guía">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-5">
                                            <h:outputLabel style="font-size: 12px" value="Número de guía"/>
                                        </div>
                                        <div class="ui-grid-col-6">
                                            <p:inputText readonly="true" style="width: 90px;" value="#{complaintsRegistrationController.forma}" />
                                        </div>
                                         <div class="ui-grid-col-5">
                                            <h:outputLabel style="font-size: 12px" value="Número de rastreo"/>
                                        </div>
                                        <div class="ui-grid-col-6">
                                            <p:inputText readonly="true" style="width: 90px" value="#{complaintsRegistrationController.searchedBokGuiaHead.guiaNo}" />
                                        </div>
                                        <div class="ui-grid-col-5">
                                            <h:outputLabel style="font-size: 12px" value="Estatus Guía"/>
                                        </div>
                                        <div class="ui-grid-col-6">
                                            <p:inputText readonly="true" style="width: 50px;" value="#{complaintsRegistrationController.searchedBokGuiaHead.guiaStus}" />
                                        </div>
                                    </div>
                                   
                                    
                                   <div class="ui-grid ui-grid-responsive" style="margin-top: 5px;">
                                    
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-5">
                                            <h:outputLabel style="font-size: 12px" value="Vencimiento"/>
                                        </div>
                                        <div class="ui-grid-col-6">
                                            <p:inputText readonly="true" style="width: 90px;" value="#{complaintsRegistrationController.searchedBokGuiaHead.dueDate}" />
                                        </div>
                                         <div class="ui-grid-col-5">
                                            <h:outputLabel style="font-size: 12px" value="Fecha Emisión"/>
                                        </div>
                                        <div class="ui-grid-col-6">
                                            <p:inputText readonly="true" style="width: 90px" value="#{complaintsRegistrationController.searchedBokGuiaHead.isseDate}">
                                                <f:convertDateTime type="date" pattern="dd/MM/yyyy HH:mm"/>
                                            </p:inputText>
                                        </div>
                                        <div class="ui-grid-col-5">
                                            <h:outputLabel style="font-size: 12px" value="Tipo de Guía"/>
                                        </div>
                                        <div class="ui-grid-col-6">
                                            <p:inputText readonly="true" style="width: 50px;" value="#{complaintsRegistrationController.searchedBokGuiaHead.guiaType}" />
                                        </div>
                                    </div>
                                    
                                    
                                </div> 
                                <div class="ui-grid ui-grid-responsive" style="margin-top: 5px;">
                                    
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-5">
                                            <h:outputLabel style="font-size: 12px" value="Localización"/>
                                        </div>
                                        <div class="ui-grid-col-6">
                                            <p:inputText readonly="true" style="width: 90px;" value="#{complaintsRegistrationController.searchedBokGuiaHead.currLoca}" />
                                        </div>
                                         <div class="ui-grid-col-5">
                                            <h:outputLabel style="font-size: 12px" value="Viaje Actual"/>
                                        </div>
                                        <div class="ui-grid-col-6">
                                            <p:inputText readonly="true" style="width: 90px" value="#{complaintsRegistrationController.searchedBokGuiaHead.currTrip}">
                                                <f:convertDateTime type="date" pattern="dd/MM/yyyy HH:mm"/>
                                            </p:inputText>
                                        </div>
                                        <div class="ui-grid-col-5">
                                            <h:outputLabel style="font-size: 12px" value="Tipo Documento"/>
                                        </div>
                                        <div class="ui-grid-col-6">
                                            <p:inputText readonly="true" style="width: 50px;" value="#{complaintsRegistrationController.searchedBokGuiaHead.docuType.concat(' - ').concat(complaintsRegistrationController.searchedBokGuiaHead.docuDesc)}" />
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                                <div class="ui-grid ui-grid-responsive" style="margin-top: 5px;">
                                    
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-5">
                                            <h:outputLabel style="font-size: 12px" value="Metodo de Pago"/>
                                        </div>
                                        <div class="ui-grid-col-6">
                                            <p:inputText readonly="true" style="width: 90px;" value="#{complaintsRegistrationController.searchedBokGuiaHead.pymtMode}" />
                                        </div>
                                         <div class="ui-grid-col-5">
                                            <h:outputLabel style="font-size: 12px" value="Tipo Pago"/>
                                        </div>
                                        <div class="ui-grid-col-6">
                                            <p:inputText readonly="true" style="width: 90px" value="#{complaintsRegistrationController.searchedBokGuiaHead.pymtType}">
                                                <f:convertDateTime type="date" pattern="dd/MM/yyyy HH:mm"/>
                                            </p:inputText>
                                        </div>
                                        <div class="ui-grid-col-5">
                                            <h:outputLabel style="font-size: 12px" value="Desglosar Iva"/>
                                        </div>
                                        <div class="ui-grid-col-6">
                                            <p:inputText readonly="true" style="width: 50px;" value="#{complaintsRegistrationController.searchedBokGuiaHead.bokFlag}" />
                                        </div>
                                    </div>
                                    
                                    
                                </div> 
                                <div class="ui-grid ui-grid-responsive" style="margin-top: 5px; margin-left: 20%">
                                    
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">
                                            <h:outputLabel style="font-size: 12px" value="Valor COD"/>
                                        </div>
                                        <div class="ui-grid-col-3">
                                            <p:inputText readonly="true" style="width: 90px;" value="#{complaintsRegistrationController.searchedBokGuiaHead.rcptRefCod}" />
                                        </div>
                                         <div class="ui-grid-col-2">
                                            <h:outputLabel style="font-size: 12px" value="Valor Declarado"/>
                                        </div>
                                        <div class="ui-grid-col-2">
                                            <p:inputText readonly="true" styleClass="currency" style="width: 90px" value="$ #{complaintsRegistrationController.searchedBokGuiaHead.totlDeclVlue}">
                                            </p:inputText>
                                        </div>
                                    </div>
                                    
                                    
                                </div> 
                                     </p:fieldset>
                                </div>  
                                
<!--                                <div class="ui-grid ui-grid-responsive">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-3">
                                            <h:outputLabel value="Estatus Guía"/>
                                        </div>
                                        <div class="ui-grid-col-9">
                                            <h:outputText value="{complaintsRegistrationController.searchedBokGuiaHead.guiaStus}" />
                                        </div>
                                    </div>
                                </div>  -->

                            </div>
                            <div>

                                <div class="ui-grid ui-grid-responsive">
                                    
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-5">
                                            <h:outputLabel style="font-size: 12px" value="Número de guía"/>
                                        </div>
                                        <div class="ui-grid-col-6">
                                            <p:inputText readonly="true" style="width: 90px;" value="#{complaintsRegistrationController.forma}" />
                                        </div>
                                         <div class="ui-grid-col-5">
                                            <h:outputLabel style="font-size: 12px" value="Número de rastreo"/>
                                        </div>
                                        <div class="ui-grid-col-6">
                                            <p:inputText readonly="true" style="width: 90px" value="#{complaintsRegistrationController.searchedBokGuiaHead.guiaNo}" />
                                        </div>
                                        <div class="ui-grid-col-4">
                                            <h:outputLabel style="font-size: 12px" value="Estatus Guía"/>
                                        </div>
                                        <div class="ui-grid-col-6">
                                            <p:inputText readonly="true" style="width: 50px;" value="#{complaintsRegistrationController.searchedBokGuiaHead.guiaStus}" />
                                        </div>
                                    </div>
                                    
                                    
                                </div>                                

                            </div> 
                            
<!--                            <div>

                                <div class="ui-grid ui-grid-responsive">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-3">
                                            <h:outputLabel value="Número de guia"/>
                                        </div>
                                        <div class="ui-grid-col-9">
                                            <h:outputText value="{complaintsRegistrationController.searchedBokGuiaHead.guiaNo}" />
                                        </div>
                                    </div>
                                </div>                                  

                            </div>  -->

                            <div>

                                <div class="ui-grid ui-grid-responsive">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-3">
                                            <h:outputLabel value="Fecha de documentación"/>
                                        </div>
                                        <div class="ui-grid-col-9">
                                            <h:outputText value="#{complaintsRegistrationController.searchedBokGuiaHead.isseDate}">
                                                <f:convertDateTime type="date" pattern="dd/MM/yyyy HH:mm"/>
                                            </h:outputText>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div>

                                <div class="ui-grid ui-grid-responsive">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-3">
                                            <h:outputLabel value="Destinatario"/>
                                        </div>
                                        <div class="ui-grid-col-9">
                                            <h:outputText value="#{complaintsRegistrationController.searchedBokGuiaHead.destClntName}" />
                                        </div>
                                    </div>
                                </div>                                

                            </div>    
                            <div>

                                <div class="ui-grid ui-grid-responsive">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-3">
                                            <h:outputLabel value="Fiscal:"/>
                                        </div>
                                        <div class="ui-grid-col-9">
                                            <h:outputText value="#{complaintsRegistrationController.searchedBokGuiaHead.billClntName}" />
                                        </div>
                                    </div>
                                </div>                                   

                            </div>    
                            <div style="margin-top: 10px;">

                                <div class="ui-grid ui-grid-responsive">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-3">
                                            <h:outputLabel value="Tipo de pago:"/>
                                        </div>
                                        <div class="ui-grid-col-9">
                                            <p:row rendered="#{complaintsRegistrationController.searchedBokGuiaHead.pymtMode == 'TO_PAY'}">
                                                <h:outputText value="POR COBRAR" /> 
                                            </p:row> 
                                            <p:row rendered="#{complaintsRegistrationController.searchedBokGuiaHead.pymtMode != 'TO_PAY'}">
                                                <h:outputText value="PAGADA" /> 
                                            </p:row>                                              

                                        </div>
                                    </div>
                                </div>                                  

                            </div> 
                            <div>

                                <div class="ui-grid ui-grid-responsive">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-3">
                                            <h:outputLabel value="Importe:"/>
                                        </div>
                                        <div class="ui-grid-col-9">
                                            <h:outputText styleClass="currency" value="$ #{complaintsRegistrationController.searchedBokGuiaHead.guiaAmnt}" />
                                        </div>
                                    </div>
                                </div>                                  

                            </div>    
                            <div>

                                <div class="ui-grid ui-grid-responsive">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-3">
                                            <h:outputLabel value="Observaciones:"/>
                                        </div>
                                        <div class="ui-grid-col-9">

                                            <p:row rendered="#{complaintsRegistrationController.searchedBokGuiaHead.comt == null}">
                                                <h:outputText value="Sin observaciones" />             
                                            </p:row>     
                                            <p:row rendered="#{complaintsRegistrationController.searchedBokGuiaHead.comt != ''}">
                                                <h:outputText value="#{complaintsRegistrationController.searchedBokGuiaHead.comt}" /> 
                                            </p:row>                                               

                                        </div>
                                    </div>
                                </div>                                   


                            </div>                              
                        </div> 
                                </p:tab>
                       

                        <p:tab title="Servicios" >
                        <p:dataTable var="serviceItem" value="#{complaintsRegistrationController.lazyModelBokGuiaSrvItem}"
                                     id="t3" rendered="true" 
                                     lazy="true" rows="4" scrollable="true"
                                     emptyMessage="Guía incompleta" styleClass="modalDetalleGuia-t3"
                                     style="width: 770px;overflow: hidden;margin-bottom: 20px; margin-top: 10px;"
                                     >

                            <p:column headerText="#{msgs['enginedata.page.general.label.cantidad']}"  style="width: 50px;" styleClass="alginCenter">
                                <h:outputText value="#{serviceItem.qunt}" />
                            </p:column>
                            <p:column  headerText="#{msgs['enginedata.page.rad.radSolicitud.tableDiscount.colDescuento']}"  styleClass="width30 alginCenter">
                                <h:outputText value="#{serviceItem.descrip}" />                               
                            </p:column>                              
                            <p:column  headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.cont']}"  styleClass="width50 alginCenter">
                                <h:outputText value="#{serviceItem.cont}" />                               
                            </p:column>
                            <p:column  headerText="#{msgs['enginedata.page.general.label.tarifa']}"  styleClass="width25 alginCenter">
                                <h:outputText value="#{serviceItem.slabNo}" />                               
                            </p:column>                                                    
                            <p:column  headerText="#{msgs['enginedata.page.general.label.weigt']}"  styleClass="width25 alginCenter">
                                <h:outputText styleClass="currency" value="#{serviceItem.vlue1} kg" />                               
                            </p:column> 
                            <p:column  headerText="#{msgs['enginedata.page.general.label.volum']}"  styleClass="width25 alginCenter">
                                <h:outputText value="#{serviceItem.vlue2}" />                               
                            </p:column> 
                            <p:column  headerText="#{msgs['enginedata.page.general.label.importe']}"  styleClass="width25 alginCenter">
                                <h:outputText styleClass="currency" value="$ #{serviceItem.srvcChrg}" />                               
                            </p:column> 


                        </p:dataTable>
                        
                        <div>
                             
                                    <!--   PANEL AGREGAR DETALLES  -->
                                    <p:panel header="#{msgs['enginedata.page.general.label.importes']}" style="width: 25%; float: right;">
                                        <div class="paneltoTable">
                                            <div>
                                                <p:outputLabel value="#{msgs['enginedata.page.general.label.flete']}" />
                                                <p:inputText value="#{complaintsRegistrationController.totFlete}" styleClass="currency" disabled="true">
                                                    <f:convertNumber pattern="¤#0.00" locale="#{securityEngineData.locale}"/>
                                                </p:inputText>   
                                            </div>
                                            <div>
                                                <p:outputLabel value="#{msgs['enginedata.page.general.label.descuento']}" />
                                                <p:inputText value="#{complaintsRegistrationController.totDesc}" styleClass="currency"  disabled="true">
                                                    <f:convertNumber pattern="¤#0.00" locale="#{securityEngineData.locale}"/>
                                                </p:inputText>   
                                            </div>
                                            <div >
                                                <p:outputLabel value="#{msgs['enginedata.page.general.label.servicios']}" />
                                                <p:inputText value="#{complaintsRegistrationController.totServ}" styleClass="currency" disabled="true">
                                                    <f:convertNumber pattern="¤#0.00" locale="#{securityEngineData.locale}"/>
                                                </p:inputText>   
                                            </div>
                                            <div>
                                                <p:outputLabel value="#{msgs['enginedata.page.general.label.subtotal']}" />
                                                <p:inputText value="#{complaintsRegistrationController.totSub}" styleClass="currency" disabled="true">
                                                    <f:convertNumber pattern="¤#0.00" locale="#{securityEngineData.locale}"/>
                                                </p:inputText>   
                                            </div>
                                            <div>                             
                                                <p:outputLabel value="#{msgs['enginedata.page.general.label.iva']}" />
                                                <p:inputText value="#{complaintsRegistrationController.totIva}" styleClass="currency" disabled="true">
                                                    <f:convertNumber pattern="¤#0.00" locale="#{securityEngineData.locale}"/>
                                                </p:inputText>   
                                            </div>
                                            <div>
                                                <p:outputLabel value="#{msgs['enginedata.page.general.label.ivaRetenido']}" />
                                                <p:inputText value="#{complaintsRegistrationController.totIvaR}" styleClass="currency" disabled="true">
                                                    <f:convertNumber pattern="¤#0.00" locale="#{securityEngineData.locale}"/>
                                                </p:inputText>   
                                            </div>
                                            <div>                             
                                                <p:outputLabel value="#{msgs['enginedata.page.general.label.total']}" />
                                                <p:inputText value="#{complaintsRegistrationController.totalguias}" styleClass="currency" disabled="true">
                                                    <f:convertNumber pattern="¤#0.00" locale="#{securityEngineData.locale}"/>
                                                </p:inputText>   
                                            </div>
                                        </div>
                                    </p:panel>
                                    
                           
                            <div style="padding-top: 20px;"> 
                                <p:fieldset style="width: 520px; margin-left: 0px; margin-right: 0px;" id="bokGuiaSrv" legend="#{msgs['enginedata.page.general.label.servicios']}">
                                <p:dataTable var="srvData" value="#{complaintsRegistrationController.lazyModelBokGuiaSrv}" 
                                             id="t4" rendered="true"
                                             lazy="true" rows="10" scrollable="true"
                                             emptyMessage="Guía Incompleta" styleClass="modalDetalleGuia-t3"
                                             style="width: 550px;"
                                             >

                                    <p:column headerText="#{msgs['enginedata.page.general.label.clave']}" styleClass="width25 alginCenter">
                                        <h:outputText rendered="#{srvData.srvcId !='SHP-G' and srvData.srvcId !='SHP-E' and srvData.srvcId !='PACKETS' and srvData.srvcId !='ENVELOPES' }" value="#{srvData.srvcId}" />
                                    </p:column>
                                    <p:column  headerText="#{msgs['enginedata.page.general.label.descripcion']}"  styleClass="width50 alginCenter">
                                        <h:outputText rendered="#{srvData.srvcId !='SHP-G' and srvData.srvcId !='SHP-E' and srvData.srvcId !='PACKETS' and srvData.srvcId !='ENVELOPES' }" value="#{srvData.name}">
                                             <f:convertNumber pattern="¤#0.00" locale="#{securityEngineData.locale}"/>
                                        </h:outputText>                               
                                    </p:column>                              
                                    <p:column  headerText="#{msgs['enginedata.page.general.label.subtotal']}"  styleClass="width25 alginCenter">
                                        <h:outputText rendered="#{srvData.srvcId !='SHP-G' and srvData.srvcId !='SHP-E' and srvData.srvcId !='PACKETS' and srvData.srvcId !='ENVELOPES' }" styleClass="currency" value="$ #{srvData.subTotl}">
                                             <f:convertNumber pattern="¤#0.00" locale="#{securityEngineData.locale}"/>
                                        </h:outputText>                              
                                    </p:column> 
                                    <p:column  headerText="#{msgs['enginedata.page.general.label.descuento']}"  styleClass="width25 alginCenter">
                                        <h:outputText rendered="#{srvData.srvcId !='SHP-G' and srvData.srvcId !='SHP-E' and srvData.srvcId !='PACKETS' and srvData.srvcId !='ENVELOPES' }" styleClass="currency" value="$ #{srvData.disc}">
                                             <f:convertNumber pattern="¤#0.00" locale="#{securityEngineData.locale}"/>
                                        </h:outputText>                               
                                    </p:column> 
        <!--                            <p:column  headerText="I.V.A"  styleClass="width25 alginCenter">
                                        <h:outputText styleClass="currency" value="$ {srvData.tax}" />                              
                                    </p:column> 
                                    <p:column  headerText="IVA Ret."  styleClass="width25 alginCenter">
                                        <h:outputText styleClass="currency" value="$ {srvData.disc}" />                               
                                    </p:column>-->
                                    <p:column  headerText="#{msgs['enginedata.page.general.label.total']}"  styleClass="width25 alginCenter">
                                        <h:outputText rendered="#{srvData.srvcId !='SHP-G' and srvData.srvcId !='SHP-E' and srvData.srvcId !='PACKETS' and srvData.srvcId !='ENVELOPES' }" styleClass="currency" value="$ #{srvData.subTotl - srvData.disc}" >
                                             <f:convertNumber pattern="¤#0.00" locale="#{securityEngineData.locale}"/>
                                        </h:outputText>                              
                                    </p:column>                            

                                </p:dataTable>
                            </p:fieldset>
                        </div> 
                        
                         </div> 
                            </p:tab>
                    </div>
                    </p:tabView>

                </p:dialog>  
                <!--VENTANA MODAL CON INFORMACION DE LA GUIA FIN-->

                
                <p:remoteCommand autoRun="true" action="#{complaintsRegistrationController.searchFromComplaintMonitor()}" update="complaintPanel txtHead" />
            </h:form>

        </f:view>

        <p:dialog widgetVar="statusDialog" style="border-radius: 50%; text-align: center;" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <img src="../../../../resources/images/i_g_fleet.gif" style="width: 200px;"/>
            <strong style="display: block; text-align: center;">#{msgs['enginedata.page.general.label.cargando']}</strong>
        </p:dialog>
        
    </h:body>
</html>
