<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="../../../../resources/css/style.css?v=#{securityEngineData.versionApp}"/>
        <link rel="stylesheet" type="text/css" href="../../../../resources/css/styleGeneric.css?v=#{securityEngineData.versionApp}"/>
        
        <script type="text/javascript" src="../../../../resources/help/js/help.js?v=#{securityEngineData.versionApp}"></script>
        <script type="text/javascript" src="../../../../resources/js/global.js?v=#{securityEngineData.versionApp}"></script>
        <script type="text/javascript" src="../../../../resources/js/calendar-localization.js?v=#{securityEngineData.versionApp}"></script> 
        <!--Este estilo oculta los filter de cada columna-->
        <style type="text/css">
            .ui-datatable .ui-column-filter{display: none;}
            #refSugar{
                text-transform: none;
            }
        </style>
    </h:head>
    <body onload="#{lstIncidentController.onLoadPersonalizable()}" >
        <f:view locale="#{securityEngineData.locale}" >
            <h:form id="frmTable" rendered="true" onsubmit="return false;" >
                <p:focus id="focus" context="panel1" />
               <p:panel header="#{msgs['enginedata.page.general.catalogs.lstIncidencias.panel1.header']}" id="panel1" styleClass="FiltrosHeader generic100Height" >
                   <p:growl id="message" showDetail="true" autoUpdate="true" life="4500" />
                   <p:dataTable id="lazyDataTable" var="lstIncidentDTO" value="#{lstIncidentController.ldmDefault}" widgetVar="lazyDataTable" rows="#{lstIncidentController.numRowPaginator}"
                                filteredValue="#{lstIncidentController.filteredActionDTO}"
                                selection="#{lstIncidentController.selectedItem}"
                                rendered="true" lazy="true"
                                selectionMode="single"
                                rowKey="#{lstIncidentDTO.idIncident}" paginatorPosition="bottom" 
                                paginator="true" 
                                paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                currentPageReportTemplate="#{msgs['enginedata.page.footer.datatable']}"
                                rowsPerPageTemplate="#{lstIncidentController.getArrayRowPaginator()}" styleClass="dt-reflow dt-selectedrow-1 dt-datos">
                       <p:ajax event="filter" listener="#{lstIncidentController.filterListener}" update="@this"/>
                       <p:ajax event="rowDblselect" listener="#{lstIncidentController.onRowDblClckSelect}"  update=":docDlgUpdate :updateForm"  />        
                       <f:facet name="header" class="headerDt" id="headerDt">
                            <div class="ui-grid ui-grid-responsive headerDTFilters">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-3">
                                        <p:commandButton update=":docDlgUpdate :updateForm" id="addRow" actionListener="#{lstIncidentController.configurarDialogOperacion('1')}" icon="ui-icon-plusthick" value="#{msgs['enginedata.page.general.catalogs.lstUser.addRow']}">
                                            <p:ajax update="" resetValues="true" />
                                        </p:commandButton>
                                        <p:commandButton update=":docDlgUpdate :updateForm" id="btnUpdate" action="#{lstIncidentController.configurarDialogOperacion('2')}" icon="ui-icon-pencil"  value="#{msgs['enginedata.page.update-button-label']}">
                                            <p:ajax update="" resetValues="true" />
                                        </p:commandButton>
                                    </div>
                                    <div class="ui-grid-col-5">
                                        <h:outputText id="lblBusqueda" value="#{msgs['enginedata.page.general.catalogs.lstUser.lblBusqueda']}" />
                                        <p:inputText id="globalFilter" onkeyup="PF('lazyDataTable').filter()" style="width:150px" placeholder="#{msgs['enginedata.page.general.catalogs.lstUser.globalFilter']}" >
                                        </p:inputText>
                                    </div>
                                    <div class="ui-grid-col-4">
                                        <h:commandLink>
                                            <p:graphicImage name="/images/excel.png" width="24"/>
                                            <p:dataExporter type="xls" target="lazyDataTable" fileName="#{msgs['enginedata.page.general.catalogs.lstIncidencias.panel1.header']}" />
                                        </h:commandLink>

                                        <h:commandLink>
                                            <p:graphicImage name="/images/pdf.png" width="24"/>
                                            <p:dataExporter type="pdf" target="lazyDataTable" fileName="#{msgs['enginedata.page.general.catalogs.lstIncidencias.panel1.header']}"/>
                                        </h:commandLink>

                                        <h:commandLink>
                                            <p:graphicImage name="/images/csv.png" width="24"/>
                                            <p:dataExporter type="csv" target="lazyDataTable" fileName="#{msgs['enginedata.page.general.catalogs.lstIncidencias.panel1.header']}" />
                                        </h:commandLink>

                                        <h:commandLink>
                                            <p:graphicImage name="/images/xml.png" width="24"/> 
                                            <p:dataExporter type="xml" target="lazyDataTable" fileName="#{msgs['enginedata.page.general.catalogs.lstIncidencias.panel1.header']}" />
                                        </h:commandLink>
                                    </div>
                                </div>
                            </div>
                        </f:facet>
                       <p:column  sortBy="#{lstIncidentDTO.nameIncident}" filterBy="#{lstIncidentDTO.nameIncident}" filterMatchMode="contains"  >
                           <f:facet name="header"><h:outputText id="titleIncident" value="#{msgs['enginedata.page.general.label.lstIncidencias.quejas']}" /></f:facet>
                           <h:outputText value="#{lstIncidentDTO.nameIncident}" />
                       </p:column>
                       
                       <p:column  sortBy="#{lstIncidentDTO.refSugar}" filterBy="#{lstIncidentDTO.refSugar}" filterMatchMode="contains"  >
                           <f:facet name="header"><h:outputText id="titleNombre" value="#{msgs['enginedata.page.general.label.lstIncidencias.refSugar']}" /></f:facet>
                           <h:outputText value="#{lstIncidentDTO.refSugar}" />
                       </p:column>

                       <p:column sortBy="#{lstIncidentDTO.stus}" filterBy="#{lstIncidentDTO.stus}" filterMatchMode="contains">
                           <f:facet name="header"><h:outputText id="titleEstatus" value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.chbStatus']}" /></f:facet>
                           <h:outputText value="#{lstIncidentDTO.stus}" />
                       </p:column>
                       
                       <p:column  sortBy="#{lstIncidentDTO.crtdBy}" visible="false" filterBy="#{lstIncidentDTO.crtdBy}" filterMatchMode="contains">
                            <f:facet name="header"><h:outputText id="titleCrt" value="#{msgs['enginedata.page.general.catalogs.lstAction.panel1.actionUsuarioCreacion']}" /></f:facet>
                            <h:outputText value="#{lstIncidentDTO.crtdBy}" >
                                
                            </h:outputText>
                       </p:column>

                        <p:column  sortBy="#{lstIncidentDTO.mdfdOn}" visible="false" filterBy="#{lstIncidentDTO.mdfdOn}" filterMatchMode="contains">
                           <f:facet name="header"><h:outputText id="titlemdfOn" value="#{msgs['enginedata.page.general.catalogs.lstAction.panel1.actionFechaCreacion']}" /></f:facet>
                           <h:outputText value="#{lstIncidentDTO.crtdOn}" >
                               <f:convertDateTime type="date" pattern="dd/MM/yyyy HH:mm"/>
                           </h:outputText>
                       </p:column>
                        
                   </p:dataTable>
               </p:panel>
            </h:form>
        </f:view>
        <!-- Dialog -->
        <p:dialog header="#{lstIncidentController.titleDialogOperation}" onHide="" widgetVar="updateDialog" resizable="false" id="docDlgUpdate" modal="true" styleClass="modalWidth70">
            <h:form id="updateForm" onkeypress="return event.keyCode !== 13" >
                <div class="ui-grid ui-grid-responsive">
                   <p:focus id="focus" context="updateForm" />
                   <div class="ui-grid-row">
                        
                       <div class="ui-grid-col-6">
                            <p:outputLabel for="refSugar" value="#{msgs['enginedata.page.general.label.lstIncidencias.refSugar']}" /><br/>
                            <p:inputText id="refSugar" maxlength="150" styleClass="omitirChangeUppercase" tabindex="2" label="refSugar" size="50" value="#{lstIncidentController.selectedItem.refSugar}" required="true"/>
                            
                        </div>
                       
                        <div class="ui-grid-col-6">
                            <p:outputLabel for="nombreAction" value="#{msgs['enginedata.page.general.catalogs.lstAction.panel1.actionName']}" /><br/>
                            <p:inputText id="nombreAction" maxlength="150" tabindex="2" label="nombreAction" size="50" value="#{lstIncidentController.selectedItem.nameIncident}" required="true"/>
                            
                        </div>
                       
                       <div class="ui-grid-col-3">
                            <p:outputLabel for="chbStatus"  value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.chbStatus']}" /><br/>
                            <p:selectBooleanCheckbox disabled="#{lstIncidentController.disabledChbStatusAction}" tabindex="9" label="chbStatus" id="chbStatus" value="#{lstIncidentController.activeChbStatus}" />
                        </div>
                    </div>
                   <div class="ui-grid ui-grid-responsive">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">
                            <p:commandButton id="btnEliminar" styleClass="RedButton boton" tabindex="10" value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.btnEliminar']}" action="#{lstIncidentController.deleteAction()}"  immediate="true" disabled="#{lstIncidentController.activeBtnEliminar}" update=":frmTable:lazyDataTable :updateForm" >
                                <p:confirm header="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.msgConfirmacionHeader']}" message="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.msgConfirmacion']}" icon="ui-icon-alert" />
                            </p:commandButton>
                            <p:confirmDialog global="true">
                                <p:commandButton value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.msgConfirmacion.si']}" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                <p:commandButton value="#{msgs['enginedata.page.general.catalogs.lstUser.updateForm.msgConfirmacion.no']}" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                            </p:confirmDialog>
                        </div>
                        <div class="ui-grid-col-8" align="right">
                            <p:commandButton tabindex="11" value="#{msgs['enginedata.page.save-button-label']}" styleClass="GreenButton" action="#{lstIncidentController.execOperationAction()}" update=":frmTable:lazyDataTable :updateForm focus" >
                            </p:commandButton>
                           
                        </div>
                    </div>
                </div>
                    
                </div>
            </h:form>
        </p:dialog>
    </body>
</html>
