<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" 
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>#{msgs['menu.page.menu.menuBar.itemSignSumm']}</title>
        <link rel="stylesheet" type="text/css" href="../../../../resources/css/style.css?v=#{securityEngineData.versionApp}"/>
        <link rel="stylesheet" type="text/css" href="../../../../resources/css/styleGeneric.css?v=#{securityEngineData.versionApp}"/>
        
        <script type="text/javascript" src="../../../../resources/help/js/help.js?v=#{securityEngineData.versionApp}"></script>
        <script type="text/javascript" src="../../../../resources/js/global.js?v=#{securityEngineData.versionApp}"></script>
        <script type="text/javascript" src="../../../../resources/js/calendar-localization.js?v=#{securityEngineData.versionApp}"></script>         
        
        <style type="text/css">
            .ui-datatable .ui-column-filter{display: none;}
            .ui-datatable-frozenlayout-left {
                width:40%;
            }
            .ui-datatable-frozenlayout-right {
                width:60%;
            }

            .SUCCESS{
                background-color : green !important;
                display: block;
                color: #fff;
                font-weight: bold;

            }

            .BAD{
                background-color: red !important; 
                display: block;
                color: #fff;
                font-weight: bold;
            }

            .PARTIAL_SUCCESS{
                background-color: yellow !important;
                display: block;
                color: #000;
                font-weight: bold;
            }

            .DEFAULT{
                background-color: white !important; 
            }
            #form\:dtBuzon .ui-treetable-toggler{
                background-image: url(/enginedata/javax.faces.resource/images/rightarrow-navy.svg.jsf?ln=primefaces-adamantium)!important; 
            }
            /*            .ui-treetable .ui-treetable-header {
                             background-color: #0288d1;
                        }
                        .ui-treetable table thead tr th {
                            color: #FFF;
                            background-color: #007CAE;
                            border: solid 1px #00629f;
                        }
                        .ui-treetable .ui-treetable-header {   
                            padding: 7px 5px!important;
                        }      */
            .ui-treetable-scrollable-theadclone{
                display: none;
            }
        </style> 

        <script type="text/javascript">
            function doExport(selector, params) {
                var options = {
                    tableName: 'tripBuzon',
                    worksheetName: 'Global de firmas electronicas'
                };
                $.extend(true, options, params);
                $(selector).tableExport(options);
            }

            function DoOnCellHtmlData(cell, row, col, data) {
                var result = "";
                if (data != "") {
                    var html = $.parseHTML(data)
                    $.each(html, function () {
                        if (typeof $(this).html() === 'undefined')
                            result += $(this).text();
                        else if ($(this).is("input"))
                            result += $('#' + $(this).attr('id')).val();
                        else if (!$(this).hasClass('no_export'))
                            result += $(this).html();
                    });
                }
                return result;
            }
            function exportExcel() {
                doExport('.dt-export > .ui-treetable-scrollable-body > table', {type: 'excel', excelstyles: ['background-color', 'color', 'width',
                        'border-bottom-color', 'border-bottom-style', 'border-bottom-width',
                        'border-top-color', 'border-top-style', 'border-top-width',
                        'border-left-color', 'border-left-style', 'border-left-width',
                        'border-right-color', 'border-right-style', 'border-right-width',
                        'font-family', 'font-size', 'font-weight']
                });

            }
            // hiddenToggle();
            function initHiddenToggle(){
                $("#form\\:dtBuzon\\:optionsToggler .ui-columntoggler-items > .ui-columntoggler-item:nth-child(13) span.ui-chkbox-icon").addClass("ui-icon-blank");
                $("#form\\:dtBuzon\\:optionsToggler .ui-columntoggler-items > .ui-columntoggler-item:nth-child(13) span.ui-chkbox-icon").removeClass("ui-icon-check");

                $("#form\\:dtBuzon\\:optionsToggler .ui-columntoggler-items > .ui-columntoggler-item:nth-child(14) span.ui-chkbox-icon").addClass("ui-icon-blank");
                $("#form\\:dtBuzon\\:optionsToggler .ui-columntoggler-items > .ui-columntoggler-item:nth-child(14) span.ui-chkbox-icon").removeClass("ui-icon-check");                 
                $(".hiddenOnLoad").addClass("ui-helper-hidden");                
            }
            function hiddenToggle(){
//                var attr = $("#form\\:dtBuzon\\:optionsToggler .ui-columntoggler-items > .ui-columntoggler-item:nth-child(13) span.ui-chkbox-icon").attr("class");
//                var buscar = "ui-icon-check";
//                //alert(attr+","+buscar.indexOf(attr));
//                //Si No esta check
//                if (buscar.indexOf(attr) === -1) {
//                    //alert(attr+","+buscar.indexOf(attr));
//                   $("#form\\:dtBuzon\\:optionsToggler .ui-columntoggler-items > .ui-columntoggler-item:nth-child(13) span.ui-chkbox-icon").addClass("ui-icon-blank");
//                   $("#form\\:dtBuzon\\:optionsToggler .ui-columntoggler-items > .ui-columntoggler-item:nth-child(13) span.ui-chkbox-icon").removeClass("ui-icon-check");
//
//                   $("#form\\:dtBuzon\\:optionsToggler .ui-columntoggler-items > .ui-columntoggler-item:nth-child(14) span.ui-chkbox-icon").addClass("ui-icon-blank");
//                   $("#form\\:dtBuzon\\:optionsToggler .ui-columntoggler-items > .ui-columntoggler-item:nth-child(14) span.ui-chkbox-icon").removeClass("ui-icon-check");                 
//                   $(".hiddenOnLoad").addClass("ui-helper-hidden");
//                }

            }
        </script>


    </h:head>
    <h:body styleClass="SignSmBuzon  bodyContent" onload="dtHeight100();#{signSummController.onLoad()}">
        <f:view locale="#{securityEngineData.locale}">
            <h:form rendered="true" id="form">
                <p:focus id="focus"/>
                <p:growl id="message" showDetail="true" showSummary="false" autoUpdate="true" life="2500" />
                <p:panel header="#{msgs['enginedata.page.general.label.monSignSumm']}" id="panel1" styleClass="FiltrosHeader generic100Height DTToggleSort">
                    <div class="ui-grid ui-grid-responsive gridFiltrosGenericos">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-12 filtroGenericParent">
                                <div class="ui-grid ui-grid-responsive">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2 filtroCbx filtroGenericField">
                                            <p:outputLabel for="cmbRegionSR" value="#{msgs['enginedata.page.general.label.Region']}" styleClass="LabelBuzon" /> 
                                            <p:selectOneMenu id="cmbRegionSR" binding="#{signSummController.cmbRegions}" editable="true" converter="genericConverter" value="#{signSummController.selectedsysRegionMstrDTO}" valueChangeListener="#{signSummController.getSiteOfRegion}" filter="true" filterMatchMode="startsWith" styleClass="full-width input-to-uppercase">
                                                <f:selectItems value="#{signSummController.listRegionMstrDto}" var="sysRegionMstrDTO" itemValue="#{sysRegionMstrDTO}" itemLabel="#{sysRegionMstrDTO.regionName}"/>
                                                <p:ajax process="cmbRegionSR" partialSubmit="true" event="valueChange"  update="cmbSiteSR" />
                                                <p:ajax process="cmbRegionSR" partialSubmit="true" event="itemSelect"  update="cmbSiteSR" />                

                                            </p:selectOneMenu>   
                                        </div>

                                        <div class="ui-grid-col-2 filtroCbx filtroGenericField">
                                            <p:outputLabel for="cmbSiteSR" value="#{msgs['enginedata.page.general.label.plaza']}" styleClass="LabelBuzon" /> 
                                            <p:selectOneMenu id="cmbSiteSR" binding="#{signSummController.cmbSites}" editable="true" converter="genericConverter" value="#{signSummController.selectedsysSiteMstrDTO}" valueChangeListener="#{signSummController.getBranchOfsite}" filter="true" filterMatchMode="startsWith" styleClass="full-width input-to-uppercase">
                                                <f:selectItems value="#{signSummController.listSiteMstrDTO}" var="sysSiteMstrDTO" itemValue="#{sysSiteMstrDTO}" itemLabel="#{sysSiteMstrDTO.siteId}"/>
                                                <p:ajax process="cmbSiteSR" partialSubmit="true" event="valueChange"  update="cmbBrncSR" />
                                                <p:ajax process="cmbSiteSR" partialSubmit="true" event="itemSelect"  update="cmbBrncSR" />                
                                            </p:selectOneMenu>  
                                        </div>
                                        <div class="ui-grid-col-2 filtroCbx filtroGenericField">
                                            <p:outputLabel for="cmbBrncSR" value="#{msgs['enginedata.page.general.label.sucursal']}" styleClass="LabelBuzon" />
                                            <p:selectOneMenu id="cmbBrncSR" binding="#{signSummController.cmbBranches}" editable="true" converter="genericConverter" value="#{signSummController.selectedsysBrncMstrDTO }" filter="true" filterMatchMode="startsWith" styleClass="full-width input-to-uppercase">
                                                <f:selectItems value="#{signSummController.listBrncDTO}" var="sysBrncMstrDTO" itemLabel="#{sysBrncMstrDTO.bmBrncID}" itemValue="#{sysBrncMstrDTO}"/>
                                                <p:column style="width:10%">
                                                    <h:outputText value="#{sysBrncMstrDTO.bmBrncID}" />
                                                </p:column>
                                            </p:selectOneMenu>   
                                        </div>
                                        <div class="ui-grid-col-2 filtroCalendar filtroGenericField">
                                            <p:outputLabel for="buzonSRF_fechaInicial" value="#{msgs['enginedata.page.label.startCreationDate']}" styleClass="LabelBuzon"/> 
                                            <p:calendar mask="true" value="#{signSummController.filters.filterFecha}" binding="#{signSummController.calIniDate}" id="buzonSRF_fechaInicial" pattern="dd/MM/yyyy" mode="popup" showOn="button" maxdate="#{signSummController.filters.filterFecha}" required="true" lang="#{securityEngineData.locale}" locale="#{securityEngineData.locale}" />
                                        </div>
                                        <div class="ui-grid-col-2 filtroCalendar filtroGenericField">
                                            <p:outputLabel for="buzonSRF_fechaFinal" value="#{msgs['enginedata.page.label.fechaFinal']}" styleClass="LabelBuzon"/> 
                                            <p:calendar mask="true" value="#{signSummController.filters.filterFecha2}" binding="#{signSummController.calEndDate}" id="buzonSRF_fechaFinal" pattern="dd/MM/yyyy" mode="popup" showOn="button" maxdate="#{signSummController.filters.filterFecha}" required="true" lang="#{securityEngineData.locale}" locale="#{securityEngineData.locale}"/>
                                        </div>     
                                        <div class="ui-grid-col-2 filtroButtonSearch filtroGenericField">
                                            <p:commandButton value="#{msgs['enginedata.page.search-button-label']}" update="dtBuzon , dtbHiddenSignSumm focus"  id="Buscar" actionListener="#{signSummController.signSummAction()}" 
                                                             styleClass="fa fa-search-plus" onstart="PF('statusDialog').show()" 
                                                             onsuccess="PF('statusDialog').hide();" oncomplete="hiddenToggle()"
                                                             process="@this, buzonSRF_fechaInicial, buzonSRF_fechaFinal,cmbRegionSR,cmbBrncSR,cmbSiteSR" /> 
                                        </div>
                                    </div>
                                </div>                                        
                            </div>
                        </div>
                    </div>
                    <p:treeTable  id="dtBuzon" widgetVar="table" 
                                  var="tripBuzon" rendered="true" 
                                  selection="#{signSummController.selectedNode}"
                                  emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}"
                                  styleClass="dt-export"
                                  value="#{signSummController.root}" selectionMode="single" 
                                  scrollable="true" >
                         <f:facet name="header" class="ui-datatable-header">
                            <div class="ui-grid ui-grid-responsive">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2"></div>
                                    <div class="ui-grid-col-5">
                                    </div>
                                    <div class="ui-grid-col-5" id="options">
                                        <h:commandLink >
                                            <img src="../../../../resources/images/excel.png" width="24"/>
                                            <p:dataExporter type="xls" target="form:dtbHiddenSignSumm" fileName="CargaTripPDF"  pageOnly="false" />
                                        </h:commandLink>
                                        <h:commandLink >
                                            <img src="../../../../resources/images/pdf.png" width="24"/>
                                            <p:dataExporter type="pdf" target="form:dtbHiddenSignSumm" fileName="CargaTripPDF" pageOnly="false" />
                                        </h:commandLink>
                                        <h:commandLink rendered="#{signSummController.actionPermitido('EXPORT')}">
                                            <img src="../../../../resources/images/csv.png" width="24"/>
                                            <p:dataExporter type="csv" target="form:dtbHiddenSignSumm" fileName="CargaTripCsv" pageOnly="false" />
                                        </h:commandLink>
                                        <h:commandLink rendered="#{signSummController.actionPermitido('EXPORT')}">
                                            <img src="../../../../resources/images/xml.png" width="24"/>
                                            <p:dataExporter type="xml" target="form:dtbHiddenSignSumm" fileName="CargaTripXml" pageOnly="false" />
                                        </h:commandLink> 
                                        <p:commandButton id="toggler" type="button" value="#{msgs['enginedata.page.general.label.columnas']}" style="float:right" icon="ui-icon-calculator" />
                                        <div class="colToggler">
                                            <p:columnToggler datasource="dtBuzon" id="optionsToggler" trigger="toggler"  />              
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                        </f:facet>               

                        <p:column headerText="#{msgs['enginedata.page.general.label.Region']}"  styleClass="width23 alginCenter" sortBy="#{tripBuzon.regionId}" filterBy="#{tripBuzon.regionId}">
                            <h:outputText value="#{tripBuzon.regionId}" />
                        </p:column>

                        <p:column headerText="#{msgs['enginedata.page.general.label.RegionName']}"  styleClass="width60 alginCenter" sortBy="#{tripBuzon.regionName}" filterBy="#{tripBuzon.regionName}">
                            <h:outputText value="#{tripBuzon.regionName}" />
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.general.label.sucursal']}"  styleClass="width25 alginCenter" sortBy="#{tripBuzon.sucursal}" filterBy="#{tripBuzon.sucursal}">
                            <h:outputText value="#{tripBuzon.sucursal}" />
                        </p:column>

                        <p:column headerText="#{msgs['enginedata.page.general.label.fecha']}" styleClass="width30 alginCenter" sortBy="#{tripBuzon.dia}" filterBy="#{tripBuzon.dia}" >
                            <h:outputText value="#{tripBuzon.dia}" >
                                <f:convertDateTime type="date" pattern="dd/MM/yyyy HH:mm"/>
                            </h:outputText>
                        </p:column>  

                        <p:column headerText="#{msgs['enginedata.page.general.label.truck']}"  styleClass="width25 alginCenter" sortBy="#{tripBuzon.movil}" filterBy="#{tripBuzon.movil}">
                            <h:outputText value="#{tripBuzon.movil}" />
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.general.label.bitacora']}"  styleClass="width120 alginLeft" sortBy="#{tripBuzon.viaje}" filterBy="#{tripBuzon.viaje}">
                            <h:outputText value="#{tripBuzon.viaje}" />
                        </p:column> 
                        <p:column headerText="#{msgs['enginedata.page.general.label.TEntrega']}"  styleClass="width30 alginRight" sortBy="#{tripBuzon.totalEntrega}" >
                            <h:outputText value="#{tripBuzon.totalEntrega}" />
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.general.label.ocurre']}"  styleClass="width25 alginRight" sortBy="#{tripBuzon.eOcurre}" >
                            <h:outputText value="#{tripBuzon.eOcurre}" />
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.general.label.sinpda']}"  styleClass="width25 alginRight" sortBy="#{tripBuzon.sinpda}" >
                            <h:outputText value="#{tripBuzon.sinpda}" />
                        </p:column>


                        <p:column headerText="#{msgs['enginedata.page.general.label.SinFirma']}"  styleClass="width25 alginRight" sortBy="#{tripBuzon.sinfirma}" filterBy="#{tripBuzon.sinfirma}">
                            <h:outputText value="#{tripBuzon.sinfirma}"> 
                                <f:convertNumber type="number" pattern="#0"/>
                            </h:outputText>                                
                        </p:column>

                        <p:column headerText="#{msgs['enginedata.page.general.label.ConFirma']}"  styleClass="width30 alginRight" sortBy="#{tripBuzon.conFirma}" filterBy="#{tripBuzon.conFirma}">
                            <h:outputText value="#{tripBuzon.conFirma}" >     
                                <f:convertNumber type="number" pattern="#0"/>
                            </h:outputText> 
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.general.label.vsinPDA']}"  styleClass="width40 alginRight" sortBy="#{tripBuzon.vsinpda}" filterBy="#{tripBuzon.vsinpda}">
                            <h:outputText value="#{tripBuzon.vsinpda}" >     
                                <f:convertNumber type="number" pattern="#0"/>
                            </h:outputText> 
                        </p:column>
                        
<!--                        <p:column headerText="{msgs['enginedata.page.general.label.EnBlanco']}"  styleClass="width40 alginRight hiddenOnLoad" sortBy="{tripBuzon.firmaBlanco}">
                            <h:outputText value="{tripBuzon.firmaBlanco}" />
                        </p:column>
                        <p:column headerText="{msgs['enginedata.page.general.label.dudosa']}"  styleClass="width40 alginRight hiddenOnLoad" sortBy="{tripBuzon.dudosa}" filterBy="{tripBuzon.dudosa}">
                            <h:outputText value="{tripBuzon.dudosa}" >
                            </h:outputText>                                
                        </p:column>                      -->
                        <p:column headerText="#{msgs['enginedata.page.general.label.Porcentaje']}"  styleClass="width20 alginRight" sortBy="#{tripBuzon.firmaPor}" filterBy="#{tripBuzon.firmaPor}">
                            
                            <p:commandLink id="commandOpenDialog" actionListener="#{signSummController.openSignaturesDetailDialog}" disabled="#{tripBuzon.dia == null}">
                                <f:param name="selectedRowKey" value="#{component.clientId}" />
                                <h:outputText value="#{tripBuzon.firmaPor}" styleClass="#{tripBuzon.createLabel()}" > 
                                    <f:convertNumber type="number" pattern="#0.00"/>
                                </h:outputText>
                            </p:commandLink>
                            <p:tooltip rendered="#{tripBuzon.dia != null and !tripBuzon.dia.isEmpty()}" id="toolTipFade" for="commandOpenDialog" value="Click para detalle de firma" />
                        </p:column>
                    </p:treeTable>
                    <p:dataTable id="dtbHiddenSignSumm" widgetVar="dtbHiddenSignSummWV" var="summ" 
                                 scrollable="true" stickyHeader="true" scrollHeight="20vh"
                                 styleClass="dtHeightRow40 dt-export generic100HeightGPS"  
                                 value="#{signSummController.listHiddenSignSummDTO}"  style="display: none;"
                                 lazy="true" >
                        <p:column headerText="#{msgs['enginedata.page.general.label.Region']}"  styleClass="width120 alginCenter" sortBy="#{summ.regionId}" filterBy="#{summ.regionId}">
                            <h:outputText value="#{summ.regionId}" />
                        </p:column>

                        <p:column headerText="#{msgs['enginedata.page.general.label.RegionName']}"  styleClass="width120 alginCenter" sortBy="#{summ.regionName}" filterBy="#{summ.regionName}">
                            <h:outputText value="#{summ.regionName}" />
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.general.label.sucursal']}"  styleClass="width70 alginCenter" sortBy="#{summ.sucursal}" filterBy="#{summ.sucursal}">
                            <h:outputText value="#{summ.sucursal}" />
                        </p:column>

                        <p:column headerText="#{msgs['enginedata.page.general.label.Fsalida']}" styleClass="width70 alginCenter" sortBy="#{summ.dia}" filterBy="#{summ.dia}" >
                            <h:outputText value="#{summ.dia}" >
                                <f:convertDateTime type="date" pattern="dd/MM/yyyy HH:mm"/>
                            </h:outputText>
                        </p:column>  

                        <p:column headerText="#{msgs['enginedata.page.general.label.truck']}"  styleClass="width80 alginCenter" sortBy="#{summ.movil}" filterBy="#{summ.movil}">
                            <h:outputText value="#{summ.movil}" />
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.general.label.bitacora']}"  styleClass="width120 alginCenter" sortBy="#{summ.viaje}" filterBy="#{summ.viaje}">
                            <h:outputText value="#{summ.viaje}" />
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.general.label.TEntrega']}"  styleClass="width70 alginRight" sortBy="#{summ.totalEntrega}" >
                            <h:outputText value="#{summ.totalEntrega}" />
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.general.label.ocurre']}"  styleClass="width70 alginRight" sortBy="#{summ.eOcurre}" >
                            <h:outputText value="#{summ.eOcurre}" />
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.general.label.sinpda']}"  styleClass="width70 alginRight" sortBy="#{summ.sinpda}" >
                            <h:outputText value="#{summ.sinpda}" />
                        </p:column>

<!--                        <p:column headerText="#{msgs['enginedata.page.general.label.EnBlanco']}"  styleClass="width80 alginRight" sortBy="#{summ.firmaBlanco}">
                            <h:outputText value="#{summ.firmaBlanco}" />
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.general.label.SinFirma']}"  styleClass="width70 alginRight" sortBy="#{radBuzon.detAnomDesc}" filterBy="#{radBuzon.detAnomDesc}">
                            <h:outputText value="#{summ.sinfirma}"> 
                                <f:convertNumber type="number" pattern="#0"/>
                            </h:outputText>                                
                        </p:column>-->
                        <p:column headerText="#{msgs['enginedata.page.general.label.dudosa']}"  styleClass="width80 alginRight" sortBy="#{radBuzon.dudosa}">
                            <h:outputText value="#{summ.dudosa}">
                                <f:convertNumber type="number" pattern="#0"/>
                            </h:outputText>                                
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.general.label.ConFirma']}"  styleClass="width70 alginRight" sortBy="#{summ.conFirma}" filterBy="#{radBuzon.conFirma}">
                            <h:outputText value="#{summ.conFirma}" >     
                                <f:convertNumber type="number" pattern="#0"/>
                            </h:outputText> 
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.general.label.vsinPDA']}"  styleClass="width70 alginRight" sortBy="#{summ.vsinpda}" filterBy="#{radBuzon.vsinpda}">
                            <h:outputText value="#{summ.vsinpda}" >     
                                <f:convertNumber type="number" pattern="#0"/>
                            </h:outputText> 
                        </p:column>
                        <p:column headerText="#{msgs['enginedata.page.general.label.Porcentaje']}"  styleClass="width100 alginRight" sortBy="#{summ.firmaPor}" filterBy="#{radBuzon.firmaPor}">
                            <h:outputText value="#{summ.firmaPor}" styleClass="#{summ.createLabel()}" >   
                                <f:convertNumber type="number" pattern="#0.00"/>
                            </h:outputText>
                        </p:column>                        

                    </p:dataTable>

                </p:panel>
            </h:form>
        </f:view>

        <p:dialog widgetVar="statusDialog" style="border-radius: 50%;text-align: center;" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <img src="../../../../resources/images/i_g_fleet.gif" style="width: 200px;"/>
            <strong style="display: block;">Cargando...</strong>
        </p:dialog>
        <div id="result"></div>
        <div id="anotations"></div>
        <h:outputScript name="test/tableExport.js" library="exportDT" />
        <h:outputScript name="libs/FileSaver/FileSaver.min.js" library="exportDT" />
        <h:outputScript name="libs/jsPDF/jspdf.min.js" library="exportDT" />
        <h:outputScript name="libs/jsPDF-AutoTable/jspdf.plugin.autotable.js" library="exportDT" />
    </h:body>
</html>
