<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/styleGeneric.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/style.css"/>

        <script type="text/javascript" src="../../../../../resources/js/global.js"></script>
        <script type="text/javascript" src="../../../../../resources/js/calendar-localization.js"></script>
        
        <title>#{msgs['enginedata.page.general.label.monitoreoRecolecciones']}</title>

    </h:head>

    <h:body styleClass="buzonRad bodyContent "  >
        <f:view locale="#{securityEngineData.locale}">
            <h:form rendered="true" id="form">
                <p:panel header="Reporte de inventarios" id="panel1" styleClass="generic100Height" >

                    <div class=" filtroGenericParent">
                        <div class="ui-grid ui-grid-responsive">
                            <div class="ui-grid-row">
                                 
                                <div class="ui-grid-col-2 filtroCbx filtroGenericField panelFilter" >

                                    <!--                Filtro por Sucursal -->                            
                                    <p:outputLabel for="buzonRadFSuc" value="Sucursal origen" styleClass="LabelBuzon" />
                                    <p:selectOneMenu id="buzonRadFSuc" value="#{repInventLogisticController.filters.filter_3}"  editable="true" style="width: 75px;" 
                                                     effect="fade" var="t" filter="true" filterMatchMode="startsWith">
                                        <f:selectItems value="#{repInventLogisticController.listSysBrncMstrDTO}" var="theme" itemValue="#{theme.bmBrncID}" itemLabel="#{theme.bmBrncID}"  />
                                    </p:selectOneMenu>  

                                </div>
                                
                                <div class="ui-grid-col-2 filtroCbx filtroGenericField panelFilter" >

                                    <!--                Filtro por Sucursal -->                            
                                    <p:outputLabel for="buzonRadFSucDest" value="Sucursal destino" styleClass="LabelBuzon" />
                                    <p:selectOneMenu id="buzonRadFSucDest" value="#{repInventLogisticController.filters.filter_4}"  editable="true" style="width: 75px;" 
                                                     effect="fade" var="t2" filter="true" filterMatchMode="startsWith">
                                        <f:selectItems value="#{repInventLogisticController.listSysBrncMstrDTO}" var="theme2" itemValue="#{theme2.bmBrncID}" itemLabel="#{theme2.bmBrncID}"  />
                                    </p:selectOneMenu>  

                                </div>                                
                                   
                                <div class="ui-grid-col-2 filtroButtonSearch filtroGenericField">
                                    <p:outputLabel for="value2" value="Todas las rutas" styleClass="LabelBuzon" />
                                    <p:selectBooleanButton id="value2" value="#{repInventLogisticController.allRoutesCheck}" onLabel="Yes" offLabel="No" onIcon="ui-icon-check" offIcon="ui-icon-close" style="width:60px">
                                        <p:ajax listener="#{repInventLogisticController.addMessage}" />
                                    </p:selectBooleanButton>
                                </div>
                                <div class="ui-grid-col-2 filtroButtonSearch filtroGenericField">

                                    <p:commandButton value="#{msgs['enginedata.page.general.label.buscar']}" inline="true"
                                                     process="@this , form:buzonRadFSuc , form:buzonRadFSucDest , form:value2" style="margin-top: 10px;"
                                                     update="form:TableTarif"  
                                                     onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"
                                                     id="Buscar" styleClass="fa fa-search-plus" action="#{repInventLogisticController.getInventByBrnc()}" />                                                                                            

                                </div>

                            </div>
                        </div>                                        
                    </div>    
                 
                    <p:dataTable id="TableTarif" var="tarif" value="#{repInventLogisticController.listDTRepInventMstr}" 
                                 rowKey="#{tarif.guiaNo}"
                                 paginator="true" 
                                 paginatorPosition="bottom"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rows="50"  
                                 emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}" 
                                 widgetVar="radbuzonWV"                             
                                 >
                        <p:ajax event="rowToggle"
                                onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"
                                listener="#{repInventLogisticController.onRowToggle}" update="TableTarif2" />                                
                        <p:column style="width:16px">
                            <p:rowToggler  />
                        </p:column>
                        <p:column headerText="Ruta" sortBy="#{tarif.route}" filterBy="#{tarif.route}" styleClass="width150 alginCenter" >
                            <p:outputLabel value="#{tarif.route}" style="width:96%;color: #000!important;"/>
                        </p:column>  
 
                        <p:column headerText="A tiempo" sortBy="#{tarif.stusNormal}" filterBy="#{tarif.stusNormal}" styleClass="width150 alginCenter" >
                            <p:outputLabel value="#{tarif.stusNormal}" />
                        </p:column>                

                        <p:column headerText="Por vencer" sortBy="#{tarif.stusAlert}" filterBy="#{tarif.stusAlert}" styleClass="width150 alginCenter" >
                            <p:outputLabel value="#{tarif.stusAlert}" />
                        </p:column>      
                        <p:column headerText="Atrazado" sortBy="#{tarif.stusUntimely}" filterBy="#{tarif.stusUntimely}" styleClass="width150 alginCenter" >
                            <p:outputLabel value="#{tarif.stusUntimely}" style="width:96%;color: #000!important;"/>
                        </p:column>                                                                       
                        <p:rowExpansion  >
                            <p:dataTable id="TableTarif2" var="tarif" value="#{repInventLogisticController.listDTRepInvent}" 
                                         rowKey="#{tarif.guiaNo}"
                                         paginator="false" 
                                         paginatorPosition="bottom"
                                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         styleClass="datableRowExpansion"
                                         emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}" 
                                         widgetVar="radbuzonWV2"      
                                         style="margin-top: 10px;margin-bottom: 10px;"
                                         scrollHeight="100" scrollable="true"
                                         >
                                <p:column headerText="Status" sortBy="#{tarif.statusTime}" filterBy="#{tarif.statusTime}" styleClass="width150 alginCenter" >
                                    <i class="fa fa-circle stusPackage stusPackage-#{tarif.statusTime}" aria-hidden="true"></i>
                                </p:column>                                    
                                <p:column headerText="Ruta" sortBy="#{tarif.route}" filterBy="#{tarif.route}" styleClass="width150 alginCenter" >
                                    <p:outputLabel value="#{tarif.route}" style="width:96%;color: #000!important;"/>
                                </p:column>                                 
                                <p:column headerText="Fecha estimada" sortBy="#{tarif.dataEstimated}" filterBy="#{tarif.dataEstimated}" styleClass="width150 alginCenter" >
                                    <p:outputLabel value="#{tarif.dataEstimated}" />
                                </p:column>  
                                <p:column headerText="Guía" sortBy="#{tarif.guiaNo}" filterBy="#{tarif.guiaNo}" styleClass="width150 alginCenter" >
                                    <p:outputLabel value="#{tarif.guiaNo}" style="width:96%;color: #000!important;"/>
                                </p:column>      
                                <p:column headerText="FormNo" sortBy="#{tarif.formNo}" filterBy="#{tarif.formNo}" styleClass="width150 alginCenter" >
                                    <p:outputLabel value="#{tarif.formNo}" style="width:96%;color: #000!important;"/>
                                </p:column>    
                                <p:column headerText="Pagado" sortBy="#{tarif.amnt}" filterBy="#{tarif.amnt}" styleClass="width150 alginCenter" >
                                    <p:outputLabel value="#{tarif.amnt}" style="width:96%;color: #000!important;"/>
                                </p:column>                

                                <p:column headerText="FXC" sortBy="#{tarif.amntFXC}" filterBy="#{tarif.amntFXC}" styleClass="width150 alginCenter" >
                                    <p:outputLabel value="#{tarif.amntFXC}" style="width:96%;color: #000!important;"/>
                                </p:column>      
                                <p:column headerText="PrepBrnc" sortBy="#{tarif.prepBrncId}" filterBy="#{tarif.prepBrncId}" styleClass="width150 alginCenter" >
                                    <p:outputLabel value="#{tarif.prepBrncId}" style="width:96%;color: #000!important;"/>
                                </p:column>                                                                       
                                <p:column headerText="Origen" sortBy="#{tarif.originBrncId}" filterBy="#{tarif.originBrncId}" styleClass="width150 alginCenter" >
                                    <p:outputLabel value="#{tarif.originBrncId}" style="width:96%;color: #000!important;"/>
                                </p:column>                 
                                <p:column headerText="Destino" sortBy="#{tarif.destinationBrncId}" filterBy="#{tarif.destinationBrncId}" styleClass="width150 alginCenter" >
                                    <p:outputLabel value="#{tarif.destinationBrncId}" style="width:96%;color: #000!important;"/>
                                </p:column>                                         

                                <p:column headerText="Contacto" sortBy="#{tarif.contact}" filterBy="#{tarif.contact}" styleClass="width150 alginCenter" >
                                    <p:outputLabel value="#{tarif.contact}" style="width:96%;color: #000!important;"/>
                                </p:column>    

                                <p:column headerText="Clave destino" sortBy="#{tarif.idDestination}" filterBy="#{tarif.idDestination}" styleClass="width150 alginCenter" >
                                    <p:outputLabel value="#{tarif.idDestination}" style="width:96%;color: #000!important;"/>
                                </p:column>                           
                                <p:column headerText="Cliente destino" sortBy="#{tarif.clntDestiationc}" filterBy="#{tarif.clntDestiation}" styleClass="width150 alginCenter" >
                                    <p:outputLabel value="#{tarif.clntDestiation}" style="width:96%;color: #000!important;"/>
                                </p:column>    

                                <p:column headerText="Tipo" sortBy="#{tarif.srvcId}" filterBy="#{tarif.srvcId}" styleClass="width150 alginCenter" >
                                    <p:outputLabel value="#{tarif.srvcId}" style="width:96%;color: #000!important;"/>
                                </p:column>                          

                                <p:column headerText="Tarifa" sortBy="#{tarif.slabNo}" filterBy="#{tarif.slabNo}" styleClass="width150 alginCenter" >
                                    <p:outputLabel value="#{tarif.slabNo}" style="width:96%;color: #000!important;"/>
                                </p:column>                                                  

                            </p:dataTable>  
                        </p:rowExpansion>
                    </p:dataTable>                        

                    <p:growl id="message" showDetail="true" showSummary="false" autoUpdate="true" life="4500" />
                </p:panel>
            </h:form>

        </f:view>

        <p:dialog widgetVar="statusDialog" style="border-radius: 50%;text-align: center;background: transparent;" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <img src="../../../../../resources/images/i_g_fleet.gif" style="width: 200px;border-radius: 50%;"/>
        </p:dialog>

    </h:body>

</html>