<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" >
    <h:head>
        <title>#{msgs['menu.page.menu.menuBar.itemSegMessagingInTransit']}</title>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/style.css?v=#{securityEngineData.versionApp}"/>
        <link rel="stylesheet" type="text/css" href="../../../../../resources/css/styleGeneric.css?v=#{securityEngineData.versionApp}"/>
        
        <script type="text/javascript" src="../../../../../resources/help/js/help.js?v=#{securityEngineData.versionApp}"></script>
        <script type="text/javascript" src="../../../../../resources/js/global.js?v=#{securityEngineData.versionApp}"></script>
        <script type="text/javascript" src="../../../../../resources/js/calendar-localization.js?v=#{securityEngineData.versionApp}"></script>         
        
        <style type="text/css">
            .ui-datatable .ui-column-filter{display: none;}
            .ui-datatable-frozenlayout-left {
                width:40%;
            }
            .ui-datatable-frozenlayout-right {
                width:60%;
            }

            .SUCCESS{
                background-color : green !important;
                display: block;
                color: #fff;
                font-weight: bold;

            }

            .BAD{
                background-color: red !important; 
                display: block;
                color: #fff;
                font-weight: bold;
            }

            .PARTIAL_SUCCESS{
                background-color: yellow !important;
                display: block;
                color: #000;
                font-weight: bold;
            }

            .DEFAULT{
                background-color: white !important; 
            }
            #form\:dtBuzon .ui-treetable-toggler{
                background-image: url(/enginedata/javax.faces.resource/images/rightarrow-navy.svg.jsf?ln=primefaces-adamantium)!important; 
            }
            
            .columnHeaderStyle{
                font-size: 11px !important;
            }
            .rowItemStyle{
                font-size: 11px;
            }
            /*            .ui-treetable .ui-treetable-header {
                             background-color: #0288d1;
                        }
                        .ui-treetable table thead tr th {
                            color: #FFF;
                            background-color: #007CAE;
                            border: solid 1px #00629f;
                        }
                        .ui-treetable .ui-treetable-header {   
                            padding: 7px 5px!important;
                        }      */
            .ui-treetable-scrollable-theadclone{
                display: none;
            }
            .companyHeaderGrid tr, .companyHeaderGrid td.ui-panelgrid-cell {
                border: none;
            }
        </style> 

        <script type="text/javascript">
            
            var ElementosDOM = [];
            var IdElementos = [];
            
            var aux = "";
            var auxindex = 0;
            var contiene = "";
            
            $(document).ready(function() {
               init(); 
               $("#destinatario").on( 'change', function() {
                    if( $(this).is(':checked') ) {
                        // Hacer algo si el checkbox ha sido seleccionado
                        $(".destinatario").removeClass("ui-helper-hidden");
                    } else {
                        // Hacer algo si el checkbox ha sido deseleccionado
                        $(".destinatario").addClass("ui-helper-hidden");
                    }
                    });
                    
                
            });
            
                
            
           function init(){
               $("#region").attr("checked", "checked");
                $("#sucursal").attr("checked", "checked");
                $("#sucorigen").attr("checked", "checked");
                $("#fechad").attr("checked", "checked");
                $("#rastreo").attr("checked", "checked");
                $("#status").attr("checked", "checked");
                $("#forma").attr("checked", "checked");
                $("#cant").attr("checked", "checked");
                $("#sucactual").attr("checked", "checked");
                $("#destinatario").attr("checked", "checked");
                $("#pago").attr("checked", "checked");
                $("#cantidadpaq").attr("checked", "checked");
                $("#mercancia").attr("checked", "checked");
                $("#contenido").attr("checked", "checked");
                $("#entrega").attr("checked", "checked");
                $("#fc").attr("checked", "checked");
                $("#ms").attr("checked", "checked");
                $("#refv").attr("checked", "checked");
                $("#va").attr("checked", "checked");
                $("#ev").attr("checked", "checked");
                
//                $(".destinatario").addClass("ui-helper-hidden");
//                $(".pago").addClass("ui-helper-hidden");
//                $(".cantidadpaq").addClass("ui-helper-hidden");
//                $(".mercancia").addClass("ui-helper-hidden");
//                $(".contenido").addClass("ui-helper-hidden");
//                $(".entrega").addClass("ui-helper-hidden");
                
           }
           
           
           
                               //alert(ElementosDOM[10]);
           
           function onControllerList(){
              $("input[name=toogles]").each(function(index){
                  if($(this).is(':checked')){
                      //alert("Esta Checado "+$(this).attr('id'));
                      var id = $(this).attr('id');
                      $("."+id).removeClass("ui-helper-hidden");
                  }
                  else{
                      var idn = $(this).attr('id');
                      $("."+idn).addClass("ui-helper-hidden");
                      //alert("No Checado "+$(this).attr('id'));
                  }
              });
           }
            
            function doExport(selector, params) {
                var options = {
                    tableName: 'msgTrst',
                    worksheetName: '#{msgs['enginedata.page.seg.SegMessagingInTransit.title']}'
                };
                $.extend(true, options, params);
                $(selector).tableExport(options);
            }

            function DoOnCellHtmlData(cell, row, col, data) {
                var result = "";
                if (data != "") {
                    var html = $.parseHTML(data)
                    $.each(html, function () {
                        if (typeof $(this).html() === 'undefined')
                            result += $(this).text();
                        else if ($(this).is("input"))
                            result += $('#' + $(this).attr('id')).val();
                        else if (!$(this).hasClass('no_export'))
                            result += $(this).html();
                    });
                }
                return result;
            }
            function exportExcel() {
                doExport('.dt-export > .ui-treetable-scrollable-body > table', {type: 'excel', excelstyles: ['background-color', 'color', 'width',
                        'border-bottom-color', 'border-bottom-style', 'border-bottom-width',
                        'border-top-color', 'border-top-style', 'border-top-width',
                        'border-left-color', 'border-left-style', 'border-left-width',
                        'border-right-color', 'border-right-style', 'border-right-width',
                        'font-family', 'font-size', 'font-weight']
                });

            }
            
     
        </script>


    </h:head>
    <h:body styleClass="SignSmBuzon  bodyContent" onload="init();dtHeight100();#{segMessagingInTransitController.onLoad()}">
        <f:view locale="#{securityEngineData.locale}">
            <h:form rendered="true" id="form">
                <p:focus id="focus"/>
                <p:growl id="message" showDetail="true" showSummary="false" autoUpdate="true" life="2500" />
                <p:panel header="#{msgs['enginedata.page.seg.SegMessagingInTransit.title']}" id="panel1" styleClass="FiltrosHeader generic100Height DTToggleSort">
                    <div class="ui-grid ui-grid-responsive gridFiltrosGenericos">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-12 filtroGenericParent">
                                <div class="ui-grid ui-grid-responsive">
                                    <div class="ui-grid-row" >


                                                        <div class="ui-grid-col-2 filtroCbx filtroGenericField">
                                                            <p:outputLabel value="#{msgs['enginedata.page.general.label.destino']}" styleClass="LabelBuzon fontWeightRequired" /> 
                                                            
                                                            <p:outputLabel for="cmbRegionSMIT" value="#{msgs['enginedata.page.general.label.Region']}" styleClass="LabelBuzon" /> 
                                                            <p:selectOneMenu id="cmbRegionSMIT" binding="#{segMessagingInTransitController.cmbRegions}" editable="true" converter="genericConverter" value="#{segMessagingInTransitController.selectedsysRegionMstrDTO}" valueChangeListener="#{segMessagingInTransitController.getSiteOfRegion}" filter="true" filterMatchMode="startsWith" styleClass="full-width input-to-uppercase">
                                                                <f:selectItems value="#{segMessagingInTransitController.listRegionMstrDto}" var="sysRegionMstrDTO" itemValue="#{sysRegionMstrDTO}" itemLabel="#{sysRegionMstrDTO.regionName}"/>
                                                                <p:ajax process="cmbRegionSMIT" partialSubmit="true" event="valueChange"  update="cmbSiteSMIT" />
                                                                <p:ajax process="cmbRegionSMIT" partialSubmit="true" event="itemSelect"  update="cmbSiteSMIT" />                

                                                            </p:selectOneMenu>   
                                                        </div>

                                                        <div class="ui-grid-col-2 filtroCbx filtroGenericField">
                                                            <p:outputLabel for="cmbSiteSMIT" value="#{msgs['enginedata.page.general.label.plaza']}" styleClass="LabelBuzon" style="margin-top: 15px;" /> 
                                                            <p:selectOneMenu id="cmbSiteSMIT" binding="#{segMessagingInTransitController.cmbSites}" editable="true" converter="genericConverter" value="#{segMessagingInTransitController.selectedsysSiteMstrDTO}" valueChangeListener="#{segMessagingInTransitController.getBranchOfsite}" filter="true" filterMatchMode="startsWith" styleClass="full-width input-to-uppercase">
                                                                <f:selectItems value="#{segMessagingInTransitController.listSiteMstrDTO}" var="sysSiteMstrDTO" itemValue="#{sysSiteMstrDTO}" itemLabel="#{sysSiteMstrDTO.siteId}"/>
                                                                <p:ajax process="cmbSiteSMIT" partialSubmit="true" event="valueChange"  update="cmbBrncSMIT" />
                                                                <p:ajax process="cmbSiteSMIT" partialSubmit="true" event="itemSelect"  update="cmbBrncSMIT" />                
                                                            </p:selectOneMenu>  
                                                        </div>

                                                        <div class="ui-grid-col-2 filtroCbx filtroGenericField" style="border-right: 1px solid #ccc;" >
                                                            <p:outputLabel for="cmbBrncSMIT" value="#{msgs['enginedata.page.general.label.sucursal']}" styleClass="LabelBuzon" style="margin-top: 15px;" />
                                                            <p:selectOneMenu id="cmbBrncSMIT" binding="#{segMessagingInTransitController.cmbBranches}" editable="true" converter="genericConverter" value="#{segMessagingInTransitController.selectedsysBrncMstrDTO }" filter="true" filterMatchMode="startsWith" styleClass="full-width input-to-uppercase">
                                                                <f:selectItems value="#{segMessagingInTransitController.listBrncDTO}" var="sysBrncMstrDTO" itemLabel="#{sysBrncMstrDTO.bmBrncID}" itemValue="#{sysBrncMstrDTO}"/>
                                                                <p:column style="width:10%">
                                                                    <h:outputText value="#{sysBrncMstrDTO.bmBrncID}" />
                                                                </p:column>
                                                            </p:selectOneMenu>   
                                                        </div>

                                                        <div class="ui-grid-col-2 filtroCbx filtroGenericField" style="padding-left: 15px; display: block;" >
                                                            <p:outputLabel value="#{msgs['enginedata.page.general.label.origen']}" styleClass="LabelBuzon fontWeightRequired" /> 
                                                            <p:outputLabel for="cmbRegionDES" value="#{msgs['enginedata.page.general.label.Region']}" style="margin-top: 15px;" />
                                                            <p:selectOneMenu id="cmbRegionDES" binding="#{segMessagingInTransitController.cmbRegionsDes}" style="display: block;" editable="true" converter="genericConverter" value="#{segMessagingInTransitController.selectedsysRegionMstrDTODES}" valueChangeListener="#{segMessagingInTransitController.getSiteOfRegionORG}" filter="true" filterMatchMode="startsWith" styleClass="full-width input-to-uppercase">
                                                                <f:selectItems value="#{segMessagingInTransitController.listRegionMstrDtoDES}" var="sysRegionMstrDTODES" itemValue="#{sysRegionMstrDTODES}" itemLabel="#{sysRegionMstrDTODES.regionName}"/>
                                                                <p:ajax process="cmbRegionDES" partialSubmit="true" event="valueChange"  update="cmbSiteDES" />
                                                                <p:ajax process="cmbRegionDES" partialSubmit="true" event="itemSelect"  update="cmbSiteDES" />
                                                            </p:selectOneMenu>

                                                        </div>

                                                        <div class="ui-grid-col-2 filtroCbx filtroGenericField">
                                                            <p:outputLabel for="cmbSiteDES" value="#{msgs['enginedata.page.general.label.plaza']}" styleClass="LabelBuzon" style="margin-top: 15px;" /> 
                                                            <p:selectOneMenu  id="cmbSiteDES" binding="#{segMessagingInTransitController.cmbSitesDes}" editable="true" converter="genericConverter" value="#{segMessagingInTransitController.selectedsysSiteMstrDTODES}" valueChangeListener="#{segMessagingInTransitController.getBranchOfsiteDES}" filter="true" filterMatchMode="startsWith" styleClass="full-width input-to-uppercase">
                                                                <f:selectItems value="#{segMessagingInTransitController.listSiteMstrDTODES}" var="sysSiteMstrDTODES" itemValue="#{sysSiteMstrDTODES}" itemLabel="#{sysSiteMstrDTODES.siteId}"/>
                                                                <p:ajax process="cmbSiteDES" partialSubmit="true" event="valueChange"  update="cmbBrncDES" />
                                                                <p:ajax process="cmbSiteDES" partialSubmit="true" event="itemSelect"  update="cmbBrncDES" />                
                                                            </p:selectOneMenu>  
                                                        </div>

                                                        <div class="ui-grid-col-2 filtroCbx filtroGenericField">
                                                            <p:outputLabel for="cmbBrncDES" value="#{msgs['enginedata.page.general.label.sucursal']}" styleClass="LabelBuzon" style="margin-top: 15px;" />
                                                            <p:selectOneMenu id="cmbBrncDES" binding="#{segMessagingInTransitController.cmbBranchesDes}" editable="true" converter="genericConverter" value="#{segMessagingInTransitController.selectedsysBrncMstrDTODES }" filter="true" filterMatchMode="startsWith" styleClass="full-width input-to-uppercase">
                                                                <f:selectItems value="#{segMessagingInTransitController.listBrncDTODES}" var="sysBrncMstrDTODES" itemLabel="#{sysBrncMstrDTODES.bmBrncID}" itemValue="#{sysBrncMstrDTODES}"/>
                                                                <p:column style="width:10%">
                                                                    <h:outputText value="#{sysBrncMstrDTODES.bmBrncID}" />
                                                                </p:column>
                                                            </p:selectOneMenu>   
                                                        </div>

                                        <div class="ui-grid-col-2 filtroButtonSearch filtroGenericField">
                                            <p:commandButton value="#{msgs['enginedata.page.search-button-label']}" style="margin-top: 22px;" update="dtBuzon , dtbHiddenSignSumm focus"  id="Buscar" actionListener="#{segMessagingInTransitController.searchMessagingInTransit()}" 
                                                             styleClass="fa fa-search-plus" onstart="PF('statusDialog').show()" 
                                                             onsuccess="PF('statusDialog').hide();" oncomplete="onControllerList()"
                                                             process="@this,cmbRegionSMIT,cmbBrncSMIT,cmbSiteSMIT,cmbRegionDES,cmbBrncDES,cmbSiteDES" 
                                                             rendered="#{segMessagingInTransitController.actionPermitido('SEARCH')}"/> <!-- buzonSRF_fechaInicial, buzonSRF_fechaFinal-->
                                        </div>
<!--                                        <div class="ui-grid-col-2 filtroCalendar filtroGenericField">
                                            <p:outputLabel for="buzonSRF_fechaInicial" value="{msgs['enginedata.page.label.startCreationDate']}" styleClass="LabelBuzon"/> 
                                            <p:calendar mask="true" value="{segMessagingInTransitController.filters.filterFecha}" binding="{segMessagingInTransitController.calIniDate}" id="buzonSRF_fechaInicial" pattern="dd/MM/yyyy" mode="popup" showOn="button" maxdate="{segMessagingInTransitController.filters.filterFecha}" required="true" lang="{securityEngineData.locale}" locale="{securityEngineData.locale}" />
                                        </div>
                                        <div class="ui-grid-col-2 filtroCalendar filtroGenericField">
                                            <p:outputLabel for="buzonSRF_fechaFinal" value="{msgs['enginedata.page.label.fechaFinal']}" styleClass="LabelBuzon"/> 
                                            <p:calendar mask="true" value="{segMessagingInTransitController.filters.filterFecha2}" binding="{segMessagingInTransitController.calEndDate}" id="buzonSRF_fechaFinal" pattern="dd/MM/yyyy" mode="popup" showOn="button" maxdate="{segMessagingInTransitController.filters.filterFecha}" required="true" lang="{securityEngineData.locale}" locale="{securityEngineData.locale}"/>
                                        </div>     -->
                                        
                                        <div class="colToggler" style="float: left">
                                            <p:dialog header="" id="dialog" position="right" widgetVar="dlg1" minHeight="40">
                                                <div class="checkbox">
                                                    <label><input width="150" onchange="onControllerList()" name="toogles" type="checkbox" id="region" /> #{msgs['enginedata.page.general.label.Region']}</label>
                                                </div>
                                                <div class="checkbox">
                                                <label ><input type="checkbox" onchange="onControllerList()" name="toogles" id="sucursal" /> #{msgs['enginedata.page.seg.SegMessagingInTransit.column.destBrncId']}</label>
                                                </div>
                                                <label><input width="150" type="checkbox"  name="toogles" onchange="onControllerList()" id="sucorigen" /> #{msgs['enginedata.page.seg.SegMessagingInTransit.column.orgnBrncId']}</label>
                                                <br></br>
                                                <label><input type="checkbox" id="fechad" onchange="onControllerList()" name="toogles" /> #{msgs['enginedata.page.general.label.fechaDocumentacion']}</label>
                                                <br></br>
                                                <label><input type="checkbox" id="rastreo" onchange="onControllerList()" name="toogles" /> #{msgs['enginedata.page.general.label.rastreo']}</label>
                                                <br></br>
                                                <label><input width="150" type="checkbox" onchange="onControllerList()" name="toogles" id="status" /> #{msgs['enginedata.page.seg.SegMessagingInTransit.column.guiaStus']}</label>
                                                <br></br>
                                                <input type="checkbox" name="toogles" onchange="onControllerList()" id="forma" /> #{msgs['enginedata.page.general.label.forma']}
                                                <br></br>
                                                <input type="checkbox" name="toogles" onchange="onControllerList()" id="cant" /> #{msgs['enginedata.page.general.label.cant']}
                                                <br></br>
                                                <input width="150" name="toogles" onchange="onControllerList()" type="checkbox" id="sucactual" /> #{msgs['enginedata.page.seg.SegMessagingInTransit.column.currentLocationBranch']}
                                                <br></br>
                                                <input type="checkbox" onchange="onControllerList()" name="toogles" id="destinatario" /> #{msgs['enginedata.page.seg.SegMessagingInTransit.column.des']}
                                                <br></br>
                                                
                                                <input type="checkbox" onchange="onControllerList()" name="toogles" id="pago" />
                                                <h:outputLabel escape="false" value="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.pag']}">
                                                </h:outputLabel>
                                                <br></br>
                                                <input width="150" onchange="onControllerList()" name="toogles" type="checkbox" id="cantidadpaq" /> #{msgs['enginedata.page.seg.SegMessagingInTransit.column.cant']}
                                                <br></br>
                                                <input type="checkbox" onchange="onControllerList()" name="toogles" id="mercancia" /> #{msgs['enginedata.page.seg.SegMessagingInTransit.column.merc']}
                                                <br></br>
                                                <input type="checkbox" onchange="onControllerList()" name="toogles" id="contenido" /> #{msgs['enginedata.page.seg.SegMessagingInTransit.column.cont']}
                                                <br></br>
                                                <input width="150" onchange="onControllerList()" name="toogles" type="checkbox" id="entrega" /> #{msgs['enginedata.page.seg.SegMessagingInTransit.column.ent']}
                                                <br></br>
                                                <input type="checkbox" onchange="onControllerList()" name="toogles" id="fc" /> #{msgs['enginedata.page.seg.SegMessagingInTransit.column.fc']}
                                                <br></br>
                                                <input type="checkbox" onchange="onControllerList()" name="toogles" id="ms" /> #{msgs['enginedata.page.seg.SegMessagingInTransit.column.ent']}
                                                <br></br>
                                                <input width="150" onchange="onControllerList()" name="toogles" type="checkbox" id="refv" /> #{msgs['enginedata.page.seg.SegMessagingInTransit.column.valsRef']}
                                                <br></br>
                                                <input type="checkbox" onchange="onControllerList()" name="toogles" id="va" /> #{msgs['enginedata.page.seg.SegMessagingInTransit.column.currTrip']}
                                                <br></br>
                                                <input type="checkbox" onchange="onControllerList()" name="toogles" id="ev" /> #{msgs['enginedata.page.seg.SegMessagingInTransit.column.esValija']}
                                                <p:commandButton type="button" id="cerrar"  value="Aceptar" onclick="PF('dlg1').hide();"></p:commandButton>
                                            </p:dialog>
                                        </div>
                                    </div>
                                </div>                                        
                            </div>
                        </div>
                    </div>
                    <p:treeTable  id="dtBuzon" widgetVar="table" 
                                  var="msgTrst" rendered="true" 
                                  selection="#{segMessagingInTransitController.selectedNode}"
                                  emptyMessage="#{msgs['enginedata.page.general.label.sinRegistros']}"
                                  styleClass="dt-export"
                                  value="#{segMessagingInTransitController.root}" selectionMode="single" 
                                  scrollable="true" >
                        <p:ajax event="expand" onstart="PF('statusDialog').show()" oncomplete="onControllerList()"  onsuccess="PF('statusDialog').hide()" />
                        <p:ajax event="collapse" onstart="PF('statusDialog').show()" oncomplete="onControllerList()" onsuccess="PF('statusDialog').hide()" />
                         <f:facet name="header" class="ui-datatable-header">
                            <div class="ui-grid ui-grid-responsive">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2"></div>
                                    <div class="ui-grid-col-5">
                                    </div>
                                    <div class="ui-grid-col-5" id="options">
                                        <h:commandLink rendered="#{segMessagingInTransitController.actionPermitido('EXPORT')}">
                                            <img src="../../../../../resources/images/excel.png" width="24"/>
                                            <p:dataExporter type="xls" target="form:dtbHiddenSignSumm" fileName="SegMessagingInTransitXLS"  pageOnly="false" />
                                        </h:commandLink>
                                        
                                        <h:commandLink rendered="#{segMessagingInTransitController.actionPermitido('EXPORT')}">
                                            <img src="../../../../../resources/images/csv.png" width="24"/>
                                            <p:dataExporter type="csv" target="form:dtbHiddenSignSumm" fileName="SegMessagingInTransitCSV" pageOnly="false" />
                                        </h:commandLink>
                                        <h:commandLink rendered="#{segMessagingInTransitController.actionPermitido('EXPORT')}">
                                            <img src="../../../../../resources/images/xml.png" width="24"/>
                                            <p:dataExporter type="xml" target="form:dtbHiddenSignSumm" fileName="SegMessagingInTransitXML" pageOnly="false" />
                                        </h:commandLink > 
                                        <p:commandButton id="toggler" type="button" onclick="PF('dlg1').show();" value="#{msgs['enginedata.page.general.label.columnas']}" style="float:right" icon="ui-icon-calculator" />
                                        
                                    </div>
                                </div>
                            </div>                        
                        </f:facet>               

                        <p:column headerText="#{msgs['enginedata.page.general.label.Region']}"  styleClass="width25 alginLeft region columnHeaderStyle" sortBy="#{msgTrst.regionId}" filterBy="#{msgTrst.regionId}">
                            <h:outputText value="#{msgTrst.regionId}" />
                        </p:column>


                        <p:column headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.destBrncId']}"  styleClass="width25 alginLeft sucursal columnHeaderStyle" sortBy="#{msgTrst.sucursal}" filterBy="#{msgTrst.sucursal}">
                            <h:outputText value="#{msgTrst.sucursal}" />
                        </p:column>
                        
                        <p:column headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.orgnBrncId']}"  styleClass="width25 alginLeft sucorigen columnHeaderStyle" sortBy="#{msgTrst.orgnBrncId}" filterBy="#{msgTrst.orgnBrncId}">
                            <h:outputText value="#{msgTrst.orgnBrncId}" />
                        </p:column>
                        
                        <p:column headerText="#{msgs['enginedata.page.general.label.fechaDocumentacion']}"  styleClass="width30 alginRight fechad columnHeaderStyle" sortBy="#{msgTrst.dia}" filterBy="#{msgTrst.dia}">
                            <h:outputText value="#{msgTrst.dia}">
                                <f:convertDateTime type="date" pattern="dd/MM/yyyy"/>
                            </h:outputText>
                        </p:column>

                        <p:column headerText="#{msgs['enginedata.page.general.label.rastreo']}"  styleClass="width30 alginCenter rastreo columnHeaderStyle" sortBy="#{msgTrst.guiaNo}" filterBy="#{msgTrst.guiaNo}">
                            <h:outputText value="#{msgTrst.guiaNo}" />
                        </p:column>
                        
                        <p:column headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.guiaStus']}"  styleClass="width25 alginCenter status columnHeaderStyle" sortBy="#{msgTrst.guiaStus}" filterBy="#{msgTrst.guiaStus}">
                            <h:outputText value="#{msgTrst.guiaStus}" id="msgTrst_guiaStus" />
                            
                            <p:tooltip rendered="#{msgTrst.guiaStus != null and !msgTrst.guiaStus.isEmpty()}" id="tt_msgTrst_stusDescr" for="msgTrst_guiaStus" value="#{msgTrst.stusDescr}" />
                        </p:column>
                        
                        <p:column headerText="#{msgs['enginedata.page.general.label.forma']}"  styleClass="width50 alginCenter forma columnHeaderStyle" sortBy="#{msgTrst.formNo}" filterBy="#{msgTrst.formNo}">
                            <h:outputText value="#{msgTrst.formNo}" />
                        </p:column>
                        
                        <p:column headerText="#{msgs['enginedata.page.general.label.cant']}"  styleClass="width25 alginCenter cant columnHeaderStyle" sortBy="#{msgTrst.cantidad}" filterBy="#{msgTrst.cantidad}">
                            <f:facet name="header">
                                <h:outputText value="#{msgs['enginedata.page.general.label.cant']}" title="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.cantv']}" />
                            </f:facet>
                            <h:outputText value="#{msgTrst.cantidad}" />
                        </p:column>
                        
                        <p:column headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.currentLocationBranch']}"  styleClass="width30 alginCenter sucactual columnHeaderStyle" sortBy="#{msgTrst.currLoca}" filterBy="#{msgTrst.currLoca}">
                            <h:outputText value="#{msgTrst.currLoca}" />
                        </p:column>
                       
                        
                        <p:column headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.fc']}" id="fc" styleClass="width25 alginCenter fc columnHeaderStyle" sortBy="#{msgTrst.fc}" filterBy="#{msgTrst.fc}">
                            <f:facet name="header">
                                <h:outputText value="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.fc']}" title="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.fct']}" />
                            </f:facet>
                            <h:outputText value="#{msgTrst.fc}" />
                        </p:column>
                        
                        
                        <p:column headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.medi']}"  styleClass="width25 alginCenter ms columnHeaderStyle" sortBy="#{msgTrst.tiempoRetraso}" filterBy="#{msgTrst.tiempoRetraso}">
                            <h:outputText value="#{msgTrst.tiempoRetraso}" styleClass="#{msgTrst.createLabel()}" rendered="#{msgTrst.tiempoRetraso != null}" />
                        </p:column>

                         <p:column headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.des']}" id="destinatario"  styleClass="width60 alginLeft destinatario columnHeaderStyle" sortBy="#{msgTrst.clienteNombre}" filterBy="#{msgTrst.clienteNombre}" visible="false">
                            <h:outputText value="#{msgTrst.clienteNombre}" id="destin" />
                                <p:tooltip rendered="#{msgTrst.clienteNombre != null and !msgTrst.clienteNombre.isEmpty()}" id="tt_destin" for="destin" value="#{msgTrst.clienteNombre}" />
                        </p:column>

                        <p:column headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.pag']}" id="pago"  styleClass="width25 alginRight pago columnHeaderStyle" sortBy="#{msgTrst.pago}" filterBy="t-show-at-start#{msgTrst.pago}">
                                <h:outputText value="#{msgTrst.pago}" />
                        </p:column>

                        <p:column headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.cant']}" id="cantidad"  styleClass="width25 alginRight cantidadpaq columnHeaderStyle" sortBy="#{msgTrst.cantPack}" filterBy="#{msgTrst.cantPack}">
                            <f:facet name="header">
                                <h:outputText value="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.cant']}" title="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.cantp']}" />
                            </f:facet>   
                            <h:outputText value="#{msgTrst.cantPack}" />
                        </p:column>
                        
                        <p:column headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.merc']}" id="mercancia"  styleClass="width25 alginLeft mercancia columnHeaderStyle" sortBy="#{msgTrst.mercancia}" filterBy="#{msgTrst.mercancia}">
                                <h:outputText value="#{msgTrst.mercancia}" />
                        </p:column>
                        
                        <p:column headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.cont']}" id="contenido"  styleClass="width60 alginLeft contenido columnHeaderStyle" sortBy="#{msgTrst.contenido}" filterBy="#{msgTrst.contenido}">
                                <h:outputText value="#{msgTrst.contenido}" />
                        </p:column>
                        
                        <p:column headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.ent']}" id="entrega"  styleClass="width25 alginLeft entrega columnHeaderStyle" sortBy="#{msgTrst.entnOnLoadrega}" filterBy="#{msgTrst.entrega}">
                                <h:outputText value="#{msgTrst.entrega}" />
                        </p:column>
                        
                        <p:column headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.valsRef']}"  styleClass="width40 alginCenter refv columnHeaderStyle" sortBy="#{msgTrst.valsRef}" filterBy="#{msgTrst.valsRef}">
                            <h:outputText value="#{msgTrst.valsRef}" />
                        </p:column>
                        
                        <p:column headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.currTrip']}"  styleClass="width40 alginCenter va columnHeaderStyle" sortBy="#{msgTrst.currTrip}" filterBy="#{msgTrst.currTrip}">
                            <h:outputText value="#{msgTrst.currTrip}" />
                        </p:column>
                        
                        <p:column headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.esValija']}"  styleClass="width40 alginCenter ev columnHeaderStyle" sortBy="#{msgTrst.esValija}" filterBy="#{msgTrst.esValija}">
                            <h:outputText value="#{msgTrst.esValija}" />
                        </p:column>
                        
<!--                        <p:column headerText="{msgs['enginedata.page.general.label.Porcentaje']}"  styleClass="width20 alginRight" sortBy="{msgTrst.firmaPor}" filterBy="{msgTrst.firmaPor}">
                            
                            <p:commandLink id="commandOpenDialog" actionListener="{segMessagingInTransitController.openSignaturesDetailDialog}" disabled="{msgTrst.dia == null}">
                                <f:param name="selectedRowKey" value="{component.clientId}" />
                                <h:outputText value="{msgTrst.firmaPor}" styleClass="{msgTrst.createLabel()}" > 
                                    <f:convertNumber type="number" pattern="#0.00"/>
                                </h:outputText>
                            </p:commandLink>
                            <p:tooltip rendered="{msgTrst.dia != null and !msgTrst.dia.isEmpty()}" id="toolTipFade" for="commandOpenDialog" value="Click para detalle de firma" />
                        </p:column>-->
                    </p:treeTable>
                    <p:dataTable id="dtbHiddenSignSumm" widgetVar="dtbHiddenSignSummWV" var="dtMsgTrst" 
                                 scrollable="true" stickyHeader="true" scrollHeight="20vh"
                                 styleClass="dtHeightRow40 dt-export generic100HeightGPS"  
                                 value="#{segMessagingInTransitController.listHiddenMessagingInTransitDTO}"  style="display: none;"
                                 lazy="true" >
                        <p:column headerText="#{msgs['enginedata.page.general.label.Region']}"  styleClass="width120 alginCenter" sortBy="#{dtMsgTrst.regionId}" filterBy="#{dtMsgTrst.regionId}">
                            <h:outputText value="#{dtMsgTrst.regionId}" />
                        </p:column>

<!--                        <p:column headerText="{msgs['enginedata.page.seg.SegMessagingInTransit.column.regionName']}"  styleClass="width60 alginCenter" sortBy="{dtMsgTrst.regionName}" filterBy="{dtMsgTrst.regionName}">
                            <h:outputText value="{dtMsgTrst.regionName}" />
                        </p:column>-->
                        <p:column headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.destBrncId']}"  styleClass="width70 alginCenter" sortBy="#{dtMsgTrst.sucursal}" filterBy="#{dtMsgTrst.sucursal}">
                            <h:outputText value="#{dtMsgTrst.sucursal}" />
                        </p:column>
                        
                        <p:column headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.orgnBrncId']}"  styleClass="width25 alginCenter" sortBy="#{dtMsgTrst.orgnBrncId}" filterBy="#{dtMsgTrst.orgnBrncId}">
                            <h:outputText value="#{dtMsgTrst.orgnBrncId}" />
                        </p:column>
                        
                        <p:column headerText="#{msgs['enginedata.page.general.label.fechaDocumentacion']}"  styleClass="width25 alginCenter" sortBy="#{dtMsgTrst.dia}" filterBy="#{dtMsgTrst.dia}">
                            <h:outputText value="#{dtMsgTrst.dia}">
                                <f:convertDateTime type="date" pattern="dd/MM/yyyy"/>
                            </h:outputText>
                        </p:column>
                        
                        <p:column headerText="#{msgs['enginedata.page.general.label.rastreo']}"  styleClass="width25 alginCenter" sortBy="#{dtMsgTrst.guiaNo}" filterBy="#{dtMsgTrst.guiaNo}">
                            <h:outputText value="#{dtMsgTrst.guiaNo}" />
                        </p:column>
                        
<!--                        <p:column headerText="{msgs['enginedata.page.general.label.fechaDocumentacion']}"  styleClass="width30 alginCenter" sortBy="{dtMsgTrst.isseDate}" filterBy="{dtMsgTrst.isseDate}">
                            <h:outputText value="{dtMsgTrst.isseDate}">
                                <f:convertDateTime type="both" pattern="dd/MM/yyyy HH:mm"/>
                            </h:outputText>
                        </p:column>-->
                        
                        <p:column headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.guiaStus']}"  styleClass="width25 alginCenter" sortBy="#{dtMsgTrst.guiaStus}" filterBy="#{dtMsgTrst.guiaStus}">
                            <h:outputText value="#{dtMsgTrst.guiaStus}" />
                        </p:column>
                        
                        <p:column headerText="#{msgs['enginedata.page.general.label.forma']}"  styleClass="width25 alginCenter" sortBy="#{dtMsgTrst.formNo}" filterBy="#{dtMsgTrst.formNo}">
                            <h:outputText value="#{dtMsgTrst.formNo}" />
                        </p:column>
                        
                        <p:column headerText="#{msgs['enginedata.page.general.label.cant']}"  styleClass="width25 alginCenter" sortBy="#{dtMsgTrst.cantidad}" filterBy="#{dtMsgTrst.cantidad}">
                            <h:outputText value="#{dtMsgTrst.cantidad}" />
                        </p:column>
                        
                        <p:column headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.destBrncId']}"  styleClass="width25 alginCenter" sortBy="#{dtMsgTrst.destBrncId}" filterBy="#{dtMsgTrst.destBrncId}">
                            <h:outputText value="#{dtMsgTrst.destBrncId}" />
                        </p:column>
                        
                        <p:column headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.currentLocationBranch']}"  styleClass="width25 alginCenter" sortBy="#{dtMsgTrst.currLoca}" filterBy="#{dtMsgTrst.currLoca}">
                            <h:outputText value="#{dtMsgTrst.currLoca}" />
                        </p:column>

                        <p:column headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.des']}" visible="false"  styleClass="width60 alginLeft" sortBy="#{dtMsgTrst.clienteNombre}" filterBy="#{dtMsgTrst.clienteNombre}">
                                <h:outputText value="#{dtMsgTrst.clienteNombre}" />
                        </p:column>

                        <p:column headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.pag']}" visible="false"  styleClass="width25 alginRight" sortBy="#{dtMsgTrst.pago}" filterBy="#{dtMsgTrst.pago}">
                            <h:outputText  value="#{dtMsgTrst.pago}">
                                <f:convertNumber type="currency" pattern="$ 0.00" currencySymbol="$"></f:convertNumber>
                            </h:outputText>
                        </p:column>

                        <p:column headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.cant']}" visible="false"  styleClass="width25 alginRight" sortBy="#{dtMsgTrst.cantPack}" filterBy="#{dtMsgTrst.cantPack}">
                                <h:outputText value="#{dtMsgTrst.cantPack}" />
                        </p:column>
                        
                        <p:column headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.merc']}" visible="false"  styleClass="width25 alginLeft" sortBy="#{dtMsgTrst.mercancia}" filterBy="#{dtMsgTrst.mercancia}">
                                <h:outputText value="#{dtMsgTrst.mercancia}" />
                        </p:column>
                        
                        <p:column headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.cont']}" visible="false"  styleClass="width60 alginLeft" sortBy="#{dtMsgTrst.contenido}" filterBy="#{dtMsgTrst.contenido}">
                                <h:outputText value="#{dtMsgTrst.contenido}" />
                        </p:column>
                        
                        <p:column headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.ent']}" visible="false"  styleClass="width25 alginLeft" sortBy="#{dtMsgTrst.entrega}" filterBy="#{dtMsgTrst.entrega}">
                                <h:outputText value="#{dtMsgTrst.entrega}" />
                        </p:column>
                        
                        <p:column headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.fc']}"  styleClass="width25 alginCenter" sortBy="#{msgTrst.fc}" filterBy="#{msgTrst.fc}">
                            <h:outputText value="#{dtMsgTrst.fc}" />
                        </p:column>
                        
                        <p:column headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.medi']}"  styleClass="width25 alginCenter" sortBy="#{msgTrst.tiempoRetraso}" filterBy="#{msgTrst.tiempoRetraso}">
                            <h:outputText value="#{dtMsgTrst.tiempoRetraso}" styleClass="#{dtMsgTrst.createLabel()}" />
                        </p:column>
                        
                        <p:column headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.orgnBrncId']}"  styleClass="width25 alginCenter" sortBy="#{dtMsgTrst.orgnBrncId}" filterBy="#{dtMsgTrst.orgnBrncId}">
                            <h:outputText value="#{dtMsgTrst.orgnBrncId}" />
                        </p:column>
                        
                        <p:column headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.valsRef']}"  styleClass="width25 alginCenter" sortBy="#{dtMsgTrst.valsRef}" filterBy="#{dtMsgTrst.valsRef}">
                            <h:outputText value="#{dtMsgTrst.valsRef}" />
                        </p:column>
                        
                        <p:column headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.currTrip']}"  styleClass="width25 alginCenter" sortBy="#{dtMsgTrst.currTrip}" filterBy="#{dtMsgTrst.currTrip}">
                            <h:outputText value="#{dtMsgTrst.currTrip}" />
                        </p:column>
                        
                        <p:column headerText="#{msgs['enginedata.page.seg.SegMessagingInTransit.column.esValija']}"  styleClass="width25 alginCenter" sortBy="#{dtMsgTrst.esValija}" filterBy="#{dtMsgTrst.esValija}">
                            <h:outputText value="#{dtMsgTrst.esValija}" />
                        </p:column>
                        
<!--                        <p:column headerText="{msgs['enginedata.page.general.label.Porcentaje']}"  styleClass="width100 alginRight" sortBy="{dtMsgTrst.firmaPor}" filterBy="{dtMsgTrst.firmaPor}">
                            <h:outputText value="{dtMsgTrst.firmaPor}" styleClass="{dtMsgTrst.createLabel()}" >   
                                <f:convertNumber type="number" pattern="#0.00"/>
                            </h:outputText>
                        </p:column>-->

                    </p:dataTable>

                </p:panel>

                <!-- <div style="text-align: center;">
                    <div style="display: inline-block; text-align: left; font-size: small;">
                        <div style="width: auto; display: table-row">
                            <div style="display: table-cell; font-weight: bold;">
                                key1-1:
                            </div>
                            <div style="display: table-cell; width: 1em;"> </div>
                            <div style="display: table-cell; text-align: right;">
                                value1-1
                            </div>
                            
                             <div style="display: table-cell; width: 3em;"> </div>
                            
                            <div style="display: table-cell; font-weight: bold;">
                                key1-2:
                            </div>
                            <div style="display: table-cell; width: 1em;"> </div>
                            <div style="display: table-cell; text-align: right;">
                                value1-2
                            </div>
                        </div>
                        
                        <div style="width: auto; display: table-row">
                            <div style="display: table-cell; font-weight: bold;">
                                key2-1:
                            </div>
                            <div style="display: table-cell; width: 1em;"> </div>
                            <div style="display: table-cell; text-align: right;">
                                value2-1
                            </div>
                            
                            <div style="display: table-cell; width: 3em;"> </div>
                            
                            <div style="display: table-cell; font-weight: bold;">
                                key2-2:
                            </div>
                            <div style="display: table-cell; width: 1em;"> </div>
                            <div style="display: table-cell; text-align: right;">
                                value2-2
                            </div>
                        </div>
                    </div>
                </div> -->

            </h:form>
        </f:view>

        <p:dialog widgetVar="statusDialog" style="border-radius: 50%;text-align: center;" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <img src="../../../../../resources/images/i_g_fleet.gif" style="width: 200px;"/>
            <strong style="display: block;">Cargando...</strong>
        </p:dialog>
        <div id="result"></div>
        <div id="anotations"></div>
        <h:outputScript name="test/tableExport.js" library="exportDT" />
        <h:outputScript name="libs/FileSaver/FileSaver.min.js" library="exportDT" />
        <h:outputScript name="libs/jsPDF/jspdf.min.js" library="exportDT" />
        <h:outputScript name="libs/jsPDF-AutoTable/jspdf.plugin.autotable.js" library="exportDT" />
    </h:body>
</html>
